<template>
    <div class="empty-stage">
        <div class="stage-wrapper">
            <div class="stage-thumb" v-if="$route.name === 'Journal' || $route.name === 'Dashboard'"><img src="/assets/images/stage/blank-journal.png" alt="" class="img-fluid img-stage"></div>
            <div class="stage-thumb" v-if="$route.name === 'Progress'"><img src="/assets/images/stage/blank-progress.png" alt="" class="img-fluid img-stage"></div>
            <div class="stage-info" v-if="$route.name === 'Journal' || $route.name === 'Dashboard'">
                <div class="stage-title">The Start of a Better You!</div>
                <div class="stage-desc">Habits are like dominos. As one is formed, all others will follow!</div>
            </div>

            <div class="stage-info" v-if="$route.name === 'Progress'">
                <div class="stage-title">Your Progress in Numbers</div>
                <div class="stage-desc">A clearer mind or a healthier body all began with one small habit.</div>
            </div>

            <div class="btn-actions text-center">
                <button class="btn btn-create-habit" @click.prevent="showCreateHabit()" type="button">Create Your First Habit</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import appUtils from'@/utils/appUtils'
import { eventNames, limitOfFreeUser, upgradeKey } from '@/configs'

export default {
    name: 'EmptyStage',
    props: ['eventShowCreateDialog'],
    computed: {
        ...mapGetters(['habits', 'userPremiumData', 'lang']),
    },
    data() {
        return {

        }
    },
    methods: {
        showCreateHabit() {
            let cannotCreatehabit = Object.keys(this.habits).length >= limitOfFreeUser.habits
                let premium = appUtils.isPremium(this.userPremiumData)

                if (!premium) {
                    if (cannotCreatehabit) {
                        this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.habit)
                        return false
                    }
                }
                this.$bus.$emit(this.eventShowCreateDialog)
        }
    }
}
</script>

<style>
.btn.btn-create-habit {
    background: #437CFF;
    border: 1px solid #437CFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 10px 20px;
    max-width: 300px;
    width: 100%;
    display: inline-block
}
.btn-actions{
    margin-top: 25px
}
</style>

