<template>
    <div class="load-block">
        <div class="loading-wrapper">
            <div class="loading-sidebar">
                <div class="block block-loading block-sz-1 animated-sidebar"></div>
                <div class="block block-loading block-sz-1 animated-sidebar"></div>

                <div class="block block-loading block-sz-half animated-sidebar"></div>
                <div class="block block-loading block-sz-1 animated-sidebar"></div>
                <div class="block block-loading block-sz-1 animated-sidebar"></div>
                <div class="block block-loading block-sz-1 animated-sidebar"></div>
                <div class="block block-loading block-sz-1 animated-sidebar"></div>
                <div class="block block-loading block-sz-1 animated-sidebar"></div>
            </div>
            <div class="loading-right-panel">
                <div class="right-panel-wrapper">
                    <div class="loading-topbar">
                        <div class="block block-loading block-sz-half animated-background"></div>
                    </div>
                    <div class="loading-main-content">
                        <div class="loading-main-content-wrapper">
                            <div class="loading-content-block">
                                <div class="loading-title">{{ quote.msg }}</div>
                                <div class="loading-desc">
                                    <span class="loading-content">{{ quote.auth }}</span>
                                    <span class="loading-divider"></span>
                                </div>

                                <div class="loader-circle">
                                    <svg class="circular-loader" viewBox="25 25 50 50" >
                                    <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke="#437CFF" stroke-width="4.5" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'LoadBlock',
    computed: {
        ...mapGetters(['lang']),
        quote() {
            let data = {
                en: {min: 1, max: 24},
                vi: {min: 1, max: 24},
                tr: {min: 1, max: 24},
                sv: {min: 1, max: 24},
                ru: {min: 1, max: 12},
                ro: {min: 1, max: 24},
                "pt-pt": {min: 1, max: 24},
                "pt-br": {min: 1, max: 24},
                pl: {min: 1, max: 24},
                nl: {min: 1, max: 24},
                ko: {min: 1, max: 24},
                ja: {min: 1, max: 8},
                it: {min: 1, max: 24},
                fr: {min: 1, max: 13},
                es: {min: 1, max: 24},
                "es-mx": {min: 1, max: 24},
                "es-419": {min: 1, max: 24},
                de: {min: 1, max: 24},
                da: {min: 1, max: 24},
                ca: {min: 1, max: 24},
            }
            
            let language = this.lang !== null || this.lang !== undefined ? this.lang.toLowerCase() : 'en'
            
            let keys = Object.keys(data);
            let index = keys.indexOf(language)
            
            let currLang = data.hasOwnProperty(language) ? data[language] : data.en;
            
            let quoteIndex = _.random(currLang.min, currLang.max)
            return {
                msg: this.$i18n.t(`quote.widget.${quoteIndex}.msg`),
                auth: this.$i18n.t(`quote.widget.${quoteIndex}.auth`),
            }
        }
    }
}
</script>

<style scoped>

</style>


