<template>
    <div class="loader">
        <div class="wrapper">
            <img src="/assets/images/loader-1.gif" alt="" class="img-fluid">
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Loader',
        props: ['isLoading']
    }
</script>

<style scoped="">
    .loader {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 1);
        top: 0;
        left: 0;
        z-index: 999;
    }
    .loader .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>