<template>
    <div class="checkin-time-item" v-if="itemIndex < currentRange">
        <div class="wrapper">
            <div class="habit-name">{{ habit.name }}</div>
            <div class="habit-hours">
                <span class="hour-item"
                v-for="(hourvalue, hour) in habitMeta.hours" :key="hour" :data-hour="hour" :data-value="hourvalue"
                :style="getStyle(hour)"
                ></span>
            </div>
        </div>
    </div>
</template>

<script>
import SVG from 'svg.js'
export default {
    name: 'CheckinTimeItem',
    props: ['habit', 'habitMeta', 'habitId', 'itemIndex', 'currentRange'],
    methods: {
        getStyle (hour) {
            let max = this.habitMeta.max
            let hourValue = this.habitMeta.hours[hour]
            let _style = {}
            if (hourValue <= 0) {
                _style['background'] = '#E9EAF1'
            } else {
                _style['background'] = `rgba(67, 124, 255, ${hourValue/max})`
            }
            
            return _style
        }
    }
}
</script>
