<template>
    <li class="habit-item" v-show="itemIndex <  currentRange">
        <a href="#" @click.prevent="selectHabit">
            <span class="habit-info-left">
                <span class="circle-progress">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120">
                    <circle r="50" cx="60" cy="60" fill="none" stroke="rgba(67,124,255,.2)" stroke-width="13"></circle>
                    <circle r="50" cx="60" cy="60" fill="none" 
                        :stroke-dashoffset="progressOfHabit" stroke-dasharray="314.1592653589793" stroke-linecap="round" stroke="#437cff" stroke-width="13"
                        transform="matrix(6.123233995736766e-17,-1,1,6.123233995736766e-17,-7.105427357601002e-15,120)"></circle>
                    </svg>
                </span>
                <span class="habit-progress-name">{{ currentHabit.name }}</span>
            </span>
            <span class="habit-info-right">{{ habit.actual }}/{{ habit.expect }}</span>
        </a>
    </li>
</template>

<script>
import { habitMixins } from '@/utils/mixins'
import {eventNames} from '@/configs'
import moment from 'moment'

export default {
    name: 'HabitProgressItem',
    props: ['habit', 'itemIndex', 'currentRange'],
    mixins: [habitMixins],
    computed: {
        progressOfHabit () {
            let cv = Math.PI * 2 * 50
            let rate = parseFloat(this.habit.rate)
            let progress = cv * (1-rate)

            return progress
        },
        currentHabit () {
            return this.habit.data
        }
    },
    methods: {
        selectHabit () {
            this.$bus.$emit(eventNames.progressSetHabitDetail, this.currentHabit, this.habit.id)
        }
    },
    mounted () {
        $(window).trigger('resize')
        setTimeout(() => {
            $(window).trigger('resize')
        }, 100)
    }
}
</script>
