<template>
    <div class="habit-review-item" v-show="itemIndex <  currentRange" @click.prevent="selectHabit">
        <div class="habit-review-item-wrapper">
            <div class="habit-info">
                <span class="habit-name">{{ habit.name }}</span>
                <span class="habit-done">{{ habitCheckins[checkinType].checkinsDone }}</span>
            </div>
            <div class="habit-progress-review" :id="habitId"></div>
        </div>
    </div>
</template>

<script>
import SVG from 'svg.js'
import {habitStatus, eventNames} from '@/configs'
import appUtils from '@/utils/appUtils'
export default {
    name: 'HabitReviewItem',
    props: ['habit', 'habitId', 'habitCheckins', 'checkinType', 'itemIndex', 'currentRange'],
    computed: {
    },
    data () {
        return {
            
        }
    },
    mounted () {
        setTimeout(this.drawProgressBar, 100)
        $(window).on('resize', () => {
            this.drawProgressBar()
        })
        this.$bus.$on(eventNames.mainAppChangeHabit, key => {
            if (key === this.habitId) {
                $(window).trigger('resize')
                setTimeout(() => {
                    $(window).trigger('resize')
                }, 100)
            }
        })
    },
    methods: {
        drawProgressBar () {
            let target = $('#' + this.habitId)
            if (!target.length)
                return false
            target.html(null)
            let maxWidth = target.width()
            let maxHeight = 20

            let drawTypeObject = this.habitCheckins[this.checkinType]
            let days = drawTypeObject.days
            let dataCheckin = drawTypeObject.data

            
            let itemBarWidth = maxWidth/days
            let rounder = (100/3) * itemBarWidth
            let colorEmpty = '#E9EAF1'
            let colorFill = '#437CFF'

            let drawing = SVG(this.habitId)
            drawing.rect(maxWidth, maxHeight).fill(colorEmpty).radius(3)

            let move = 0
            dataCheckin.forEach((item, key)=> {
                let color = item.status === habitStatus.done ? colorFill : colorEmpty
                let _width = itemBarWidth*item.length
                drawing.rect(_width, maxHeight).fill(color).move(move, 0)
                move += _width
            })
            
            drawing.viewbox(0, 0, maxWidth, maxHeight)
        },
        selectHabit () {
            this.$bus.$emit(eventNames.progressSetHabitDetail, this.habit, this.habitId)
        }
    }
}
</script>