.checkin-time
    *
        user-select: none
    .box-habit
        .box-body
            > .wrapper
                padding: 0
    .checkin-times-chart
        border-bottom: solid 1px $color-border-blue-light
        padding: 30px 20px 6px 
    .checkin-time-item
        padding-left: 24px
        .wrapper
            padding: 17px 20px 17px 0
            border-bottom: solid 1px $color-border-blue-light
        &:last-child
            .wrapper
                border-bottom: none
        .habit-name
            font-weight: $fz-medium
            font-size: 15px
            color: $color-blue-gray
            letter-spacing: 0
            margin-bottom: 15px
        .habit-hours
            .hour-item
                display: inline-block
                border-radius: 3px
                width: calc(100%/24 - 3px)
                height: 27px
                margin-right: 3px
                transition: all ease-in-out 300ms
                &:last-child
                    margin-right: 0px
        &.item-show-more
            .habit-name
                font-weight: $fz-regular
                font-size: 17px
                color: $color-blue-light
                letter-spacing: 0
                margin: 0
                cursor: pointer
    .habit-item-showmore 
        a
            border-top: none