.daily-performance
    .box-body
        .wrapper
            padding: 4px 20px 4px 13px
    .item-day-length
        .progress-wrapper
            display: flex
            align-items: center
            .progress-bar-item
                display: inline-block
                flex: 1
                background: $color-blue-app
                border-radius: 3px
                max-width: 100%
                height: 20px
                margin-right: 10px
            .progress-percent
                white-space: nowrap
                color: $color-blue-app
                font-weight: 600
    .daily-performance-days
        .daily-day-item
            padding-top: 15px
            padding-bottom: 15px
            .item-wrapper
                display: flex
                width: 100%
                align-item: center
            .item-day-label
                font-weight: $fz-medium
                font-size: 11px
                @include color-streak(.5)
                letter-spacing: 0
                padding-right: 10px
                while-space: no-wrap
                line-height: 21px
                min-width: 40px
                text-align: right
            .item-day-length
                flex: 1
            .progress-bar-item
                transition: all ease-in-out 500ms

