.habit-this-week
    svg circle, svg line
        transition: stroke-dashoffset ease-in-out 300ms
    
    .box-title
        .title-option
            svg
                width: 100px
                height: 15px

    .box-body
        *
            user-select: none
        .wrapper
            padding: 0
    .habit-list-this-week
        list-style: none
        padding: 0
        margin: 0
        .habit-item
            display: block
            width: 100%
            padding-left: 20px
            &.last, &.lastItem
                a
                    border-bottom: none
            a
                font-weight: $fz-medium
                font-size: 15px
                color: $color-streak
                letter-spacing: 0
                line-height: 18px
                text-decoration: none
                padding: 16px 20px 17px 0
                display: inline-block
                width: 100%
                border-bottom: solid 1px $color-border-blue-light
                display: flex
                align-items: center
                justify-content: space-between
                .circle-progress
                    margin-right: 15px
                    svg
                        max-width: 38px
                        height: auto
                .habit-info-right
                    font-weight: $fz-medium
                    font-size: 17px
                    @include color-streak(.5)
                    letter-spacing: 4px
                    text-align: right
                    line-height: 20px
                    float: right
                    margin-right: 6px
                .habit-info-left
                    display: flex
                    align-items: center
                    max-width: 90%
                .habit-progress-name
                    text-overflow: ellipsis
                    overflow: hidden
                    white-space: nowrap
                .circle-progress
                    display: inline-block
                    min-width: 38px
                    min-height: 38px