.habit-review
    .box-habit-review
        .box-body
            .wrapper
                padding: 0
    .habit-review-list
        *
            user-select: none
        .habit-review-item
            padding-left: 20px
            cursor: pointer
            .habit-review-item-wrapper
                padding: 15px 20px 15px 0
                border-bottom: solid 1px $color-border-blue-light
            &.last, &.lastItem
                .habit-review-item-wrapper
                    border-bottom: none
            .habit-progress-review
                border-radius: 3px
                overflow: hidden
                max-height: 20px
                svg
                    vertical-align: baseline
            .habit-info
                font-weight: $fz-medium
                font-size: 15px
                color: $color-streak
                letter-spacing: 0
                margin-bottom: 12px
            .habit-name
                font-weight: $fz-medium
                font-size: 15px
                color: $color-streak
                letter-spacing: 0
            .habit-done
                font-weight: $fz-medium
                font-size: 15px
                color: $color-blue-app
                letter-spacing: 0
                float: right
                background: url('/assets/images/progress/checkin-point.svg') no-repeat left center
                padding-left: 20px
