.today-task
    .wrapper
        background-color: $white
        border: solid 1px $color-border-blue-light
        border-radius: 3px
        overflow: hidden
        background-image: url(/assets/images/progress/bg-progress.svg)
        background-repeat: no-repeat
        background-position: bottom right -40px
        padding: 13px 25px 16px 22px
        transition: all ease 200ms
        .task-number
            font-weight: $fz-semibold
            font-size: 50px
            color: $color-blue-app
            letter-spacing: 0
            line-height: 60px
        .task-title
            font-weight: $fz-medium
            font-size: 15px
            color: $color-streak
            letter-spacing: 0
            line-height: 18px
            margin-top: 8px
        .task-desc
            margin-top: 7px
            font-weight: $fz-regular
            font-size: 13px
            @include color-streak(.5)
            letter-spacing: 0
            line-height: 19px
            display: inline-block

@media (min-width: 768px)
    .today-task
        .wrapper
            background-position: bottom right 20px