<template>
    <div class="checkin-time">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">{{ $t('progress.preview.checkin.time.title') }}</div>
                <div class="title-option">
                    <div class="dropdown" v-if="!isMobile">
                        <a class="option-value" data-offset="0,15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ listRange[currentType] }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" v-for="(value, key) in listRange" :key="key" @click.prevent="changeListType(key)" :class="{active: key === currentType}">{{ value }}</a>
                        </div>
                    </div>

                    <div class="dropdown" v-if="isMobile">
                        <a class="option-value" href="#" @click.prevent="">
                            {{ listRange[currentType] }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <select class="selectOptions" @change="selectListType">
                            <option v-for="(value, key) in listRange" :key="key" :value="key">{{ value }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask" v-show="Object.keys(habits).length">
                    <div class="checkin-times-chart">
                        <checkin-time-chart :chartData="newChartData" :options="chartConfigs" :styles="{height: '300px', position: 'relative'}"/>
                    </div>
                    <div class="checkin-time-habits">
                        <div class="checkin-habit-list">
                            <checkin-time-item v-for="(habit, habitId) in habits" 
                            :itemIndex="indexHabits.indexOf(habitId)" :currentRange="itemDisplay"
                            :habit="habit" :habitMeta="getHabitMetaData(habitId)" :key="habitId" :habitId="habitId"/>

                            <li class="habit-item-showmore"  :key="'itemDisplay'" v-if="itemDisplay < indexHabits.length">
                                <a href="#" @click.prevent="changeDisplayItem">Show More</a>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="wrapper wrapper-mask wrapper-empty" v-if="!Object.keys(habits).length">
                    <wrapper-empty/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/**
 * case habitId = "h"
 * case targetDate = "td"
 * case status = "st"
 * case timestamp = "t"
 * case deviceId = "d"
 * case source = "s"
 */
import CheckinTimeItem from '@/components/includes/progress/CheckinTimeItem'
import WrapperEmpty from '@/components/commons/WrapperEmpty'
import { mapGetters } from 'vuex'
import _ from 'lodash'
import moment from 'moment'
import { habitStatus, eventNames, tooltipChart } from '@/configs'
import storage from 'store2'
import appUtils from '@/utils/appUtils'

import CheckinTimeChart from '@/components/includes/progress/CheckinTimeChart'

export default {
    name: 'CheckinTime',
    components: {CheckinTimeItem, WrapperEmpty, CheckinTimeChart},
    props: ['habits'],
    computed: {
        ...mapGetters(['user', 'isMobile']),
        chartLabels () {
            return [
                '12AM', '1AM', '2AM', '3AM', '4AM', '5AM', '6AM', '7AM', '8AM', '9AM', '10AM', '11AM', 
                '12PM', '1PM', '2PM', '3PM', '4PM', '5PM', '6PM', '7PM', '8PM', '9PM', '10PM', '11PM', 
            ]
        },
        filterMetaData () {
            return this.getCheckinMetaDataByRange()
        },
        indexHabits () {
            return this.habits ? Object.keys(this.habits) : []
        },
        currentType: {
            get () {return this.$store.getters.progress_checkin_time},
            set (type) {this.$store.dispatch('setProgressCheckinTimeType', type)}
        },
        dataForChart () {
            return this.getDataForChart()
        },

        newChartData() {
            let data = {
                labels: this.dataForChart.labels,
                datasets: [{
                    data: this.dataForChart.datas,
                    backgroundColor: 'rgba(67, 124, 255, 1)',
                    borderColor: 'rgba(67, 124, 255, 1)',
                    fill: false,
                    pointRadius: 5
                }],
            }

            return data
        },
        chartConfigs() {
            return this.getChartConfigs()
        },
        listRange() {
            let list = {
                last30day: this.$i18n.tc("plurals.passed.days", 30, {num: 30}),
                last60day: this.$i18n.tc("plurals.passed.days", 60, {num: 60}),
                last90day: this.$i18n.tc("plurals.passed.days", 90, {num: 90}),
                last180day: this.$i18n.tc("plurals.passed.days", 180, {num: 180}),
            }    
            
            return list
        },
    },
    data () {
        return {
            // listRange: {
            //     last30day: 'Last 30 days',
            //     last60day: 'Last 60 days',
            //     last90day: 'Last 90 days',
            //     last180day: 'Last 180 days',
            // },
            formatDateMeta: 'YYYY-MM-DDTHH:mm:ssZ',
            metaData: {},
            itemDisplay: 4
        }
    },
    mounted () {
        let type = storage.get('progress_checkin_time', 'last30day')
        this.currentType = type

        // this.initChart()

        this.$bus.$on(eventNames.fetchUserData, () => {
            this.$nextTick(() => {
                this.fetchData()
            })
        })

        this.$bus.$on('changeHabitMetaData', (data) => {
            this.$nextTick(() => {
                this.processChangeMetaData(data)
            })
        })

        setTimeout(() => {
            this.$nextTick(() => {
                this.fetchData()
            })
        }, 1)
    },
    methods: {
        initChart () {
            var showZeroPlugin = {
                beforeRender: function (chartInstance) {
                    var datasets = chartInstance.config.data.datasets;

                    for (var i = 0; i < datasets.length; i++) {
                        var meta = datasets[i]._meta;
                        // It counts up every time you change something on the chart so
                        // this is a way to get the info on whichever index it's at
                        var metaData = meta[Object.keys(meta)[0]];
                        var bars = metaData.data;

                        for (var j = 0; j < bars.length; j++) {
                            var model = bars[j]._model;

                            if (metaData.type === "horizontalBar" && model.base === model.x) {
                                model.x = model.base + 2;
                            } else if (model.base === model.y) {
                                model.y = model.base - model.base;
                                model.backgroundColor = 'rgba(0, 0, 0, 0)'
                            }
                        }
                    }

                },
            };
            Chart.pluginService.register(showZeroPlugin);

            Chart.defaults.BarWithLine = Chart.defaults.bar;
            Chart.controllers.BarWithLine = Chart.controllers.bar.extend({
                draw: function(ease) {
                    Chart.controllers.bar.prototype.draw.call(this, ease);

                    if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
                        var activePoint = this.chart.tooltip._active[0],
                            ctx = this.chart.ctx,
                            x = activePoint.tooltipPosition().x,
                            topY = this.chart.scales['y-axis-0'].top,
                            bottomY = this.chart.scales['y-axis-0'].bottom;

                        // draw line
                        ctx.save();
                        ctx.beginPath();
                        ctx.moveTo(x, topY);
                        ctx.lineTo(x, bottomY);
                        ctx.lineWidth = 2;
                        ctx.strokeStyle = 'rgba(67, 124, 255, 1)'
                        ctx.stroke();
                        ctx.restore();
                    }
                }
            });

            let data = this.chartLabels
            let configs = {
                plugins: [showZeroPlugin],
                type: 'BarWithLine',
                data: {
                    labels: data,
                    datasets: [{
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        backgroundColor: 'rgba(67, 124, 255, 1)',
                        borderColor: 'rgba(67, 124, 255, 1)',
                        fill: false,
                        pointRadius: 5
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                    },
                    tooltips: tooltipChart.chartCheckinTime,
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                            },
                            gridLines: {
                                display: false,
                                color: "#E5EAFA",
                                zeroLineColor: "#E5EAFA",
                            },
                            maxBarThickness: 8,
                            ticks: {
                                beginAtZero:true,
                                fontColor: 'rgba(84, 92, 119, .3)',
                                maxRotation: 0,
                                minRotation: 0,
                                fontSize: 9,
                                fontWeight: 500,
                                autoSkip: false,
                                callback: function(value, index, values) {
                                    if (
                                        value.indexOf('12AM') >= 0 || value.indexOf('5AM') >= 0 || value.indexOf('11AM') >= 0
                                        || value.indexOf('11PM') >= 0 || value.indexOf('5PM') >= 0
                                    )
                                        return value
                                    else
                                        return '';
                                }
                            },
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                            },
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#545C77',
                                fontSize: 10,
                                maxTicksLimit: 5,
                                display: false
                            },
                            gridLines: {
                                drawBorder: false,
                                color: "#E5EAFA",
                                borderDash: [5, 5],
                                zeroLineColor: "#E5EAFA",
                            },
                        }]
                    },
                    animation: false,
                    elements: {
                        point: {
                            pointStyle: 'circle'
                        },
                        line: {
                            tension: 0
                        }
                    }
                }
            }
            let chart = new Chart('productivehour', configs);
            window.barChart = chart
        },
        fetchData () {
            if (!this.user) {
                return false
            }
            let _refMetadata = this.$firebase.database().ref('/checkinMetadata/' + this.user.uid)
            _refMetadata.on('value', (snapshot) => {
                let val = snapshot.val()
                this.$bus.$emit('changeHabitMetaData', val)
            })
        },
        changeListType (type) {
            this.currentType = type
            this.$bus.$emit('changeHabitMetaData', this.metaData)
        },
        processChangeMetaData (metas) {
            this.metaData = metas
            let chartNewData = this.getCheckinMetaDataByRange()
            let datas = Object.values(chartNewData.chartData)

            // if (window.barChart) {
            //     let chartLabels = barChart.data.labels
            //     let chartData = barChart.data.datasets[0].data
            //     datas.forEach((num, index) => {
            //         barChart.data.datasets[0].data[index] = num
            //     })
            //     barChart.update()
            // }
        },
        getCheckinMetaDataByRange() {
            // map add day and hour
            let mapMeta = _.map(this.metaData, (meta, metaKey) => {
                let tmp = meta
                let _tmpDate = moment(tmp.t, this.formatDateMeta).locale('en')
                let _tmpTargetDate = moment(tmp.td, this.formatDateMeta).locale('en')

                tmp.targetDateFMT = _tmpTargetDate.format('YYYYMMDD')
                tmp.targetDateSecondFMT = parseInt(_tmpTargetDate.format('X'))

                tmp.dayFMT = _tmpDate.format('YYYYMMDD')
                tmp.secondsFMT = parseInt(_tmpDate.format('X'))
                tmp.hourFMT = _tmpDate.format('hA')
                return tmp
            })

            let rangeDate = {
                last30day: parseInt(moment().endOf('day').subtract(30, 'days').startOf('day').format('X')),
                last60day: parseInt(moment().endOf('day').subtract(60, 'days').startOf('day').format('X')),
                last90day: parseInt(moment().endOf('day').subtract(90, 'days').startOf('day').format('X')),
                last180day: parseInt(moment().endOf('day').subtract(180, 'days').startOf('day').format('X')),
            }
            let minDate = rangeDate[this.currentType]
            let maxDate = parseInt(moment().endOf('day').format('X'))

            // group by habit
            let resultHabitCheckin = []
            let groupHabit = _.groupBy(mapMeta, 'h')
            
            _.forIn(groupHabit, (_metaData, habitId) => {
                // skip habit archive
                if (this.indexHabits.indexOf(habitId) < 0) {
                    delete groupHabit[habitId]
                    return
                }
                // group by day of habit
                let metaCheckin = {}
                let _groupMetaByDay = _.groupBy(_metaData, 'targetDateFMT')
                _.forIn(_groupMetaByDay, (_metasInDay, day) => {
                    let _lastCheckin = _.maxBy(_metasInDay, 'secondsFMT')
                    if (appUtils.isOutOfRangeDate(this.habits[habitId], moment(_lastCheckin, 'X'))) {
                        return
                    }

                    if (_lastCheckin.targetDateSecondFMT < minDate || _lastCheckin.targetDateSecondFMT > maxDate)
                        return
                    
                    // unset if not done
                    if (_lastCheckin.st === habitStatus.done) {
                        metaCheckin[day] = _lastCheckin
                        resultHabitCheckin.push(_lastCheckin)
                    }
                })

                if (!metaCheckin || !Object.keys(metaCheckin).length) {
                    delete groupHabit[habitId]
                } else {
                    groupHabit[habitId] = metaCheckin
                }
            })

            // init temp hour
            let resultByHour = {}
            this.chartLabels.forEach(hour => {
                resultByHour[hour] = 0
            })
            
            // ======================= group for habit list
            let groupForHabitList = _.assign({}, groupHabit)
            console.log(';groupForHabitList: ', groupForHabitList)
            
            _.forIn(groupForHabitList, (_metaData, habitId) => {
                let _groupHours = _.groupBy(_metaData, 'hourFMT')
                let max = 0
                let _hourMap = {}
                _.forIn(_groupHours, (metaCheckin, hour) => {
                    max = metaCheckin.length > max ? metaCheckin.length : max
                    _hourMap[hour] = metaCheckin.length
                })
                let tmpHour = _.assign({}, resultByHour)
                _hourMap = _.merge(tmpHour, _hourMap)
                groupForHabitList[habitId] = {
                    max: max,
                    hours: _hourMap
                }
            })

            // ======================== group for chart
            // group by hour
            let groupHours = _.groupBy(resultHabitCheckin, 'hourFMT')
            groupHours = _.map(groupHours, (hourCheckin, hourKey) => {
                let tmp = {}
                tmp[hourKey] = hourCheckin.length
                return tmp
            })

            groupHours.forEach(hour => {
                resultByHour = _.merge(resultByHour, hour)
            })

            return {
                chartData: resultByHour,
                habitData: groupForHabitList
            }
        },
        getHabitMetaData(habitId) {
            let tmpHours = {}
            this.chartLabels.forEach(hour => {
                tmpHours[hour] = 0
            })
            let result = {max: 0, hours: tmpHours}
            if (!this.filterMetaData || !this.filterMetaData.hasOwnProperty('habitData'))
                return result

            if (!this.filterMetaData.habitData.hasOwnProperty(habitId))
                return result
            return this.filterMetaData.habitData[habitId]
        },
        changeDisplayItem () {
            this.itemDisplay += 3

            $(window).trigger('resize')
            setTimeout(() => {
                $(window).trigger('resize')
            }, 300)
        },
        selectListType (evt) {
            this.changeListType(evt.target.value)
        },
        getChartConfigs() {
            var showZeroPlugin = {
                beforeRender: function (chartInstance) {
                    var datasets = chartInstance.config.data.datasets;

                    for (var i = 0; i < datasets.length; i++) {
                        var meta = datasets[i]._meta;
                        // It counts up every time you change something on the chart so
                        // this is a way to get the info on whichever index it's at
                        var metaData = meta[Object.keys(meta)[0]];
                        var bars = metaData.data;

                        for (var j = 0; j < bars.length; j++) {
                            var model = bars[j]._model;

                            if (metaData.type === "horizontalBar" && model.base === model.x) {
                                model.x = model.base + 2;
                            } else if (model.base === model.y) {
                                model.y = model.base - model.base;
                                model.backgroundColor = 'rgba(0, 0, 0, 0)'
                            }
                        }
                    }

                },
            };
            Chart.pluginService.register(showZeroPlugin);

            let maxTicks = 10
            let stepSize = _.max(this.dataForChart.datas)/maxTicks

            let configs = {
                cornerRadius: 20,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                tooltips: tooltipChart.chartCheckinTime,
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        },
                        gridLines: {
                            display: false,
                            color: "#E5EAFA",
                            zeroLineColor: "#E5EAFA",
                        },
                        maxBarThickness: 8,
                        ticks: {
                            beginAtZero:true,
                            fontColor: 'rgba(84, 92, 119, .3)',
                            maxRotation: 0,
                            minRotation: 0,
                            fontSize: 12,
                            fontWeight: 400,
                            autoSkip: false,
                            callback: function(value, index, values) {
                                if (
                                    value.indexOf('12AM') >= 0 || value.indexOf('5AM') >= 0 || value.indexOf('11AM') >= 0
                                    || value.indexOf('11PM') >= 0 || value.indexOf('5PM') >= 0
                                )
                                    return value
                                else
                                    return '';
                            }
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            fontColor: '#545C77',
                            fontSize: 10,
                            maxTicksLimit: maxTicks,
                            stepSize: stepSize,
                            display: false
                        },
                        gridLines: {
                            drawBorder: false,
                            color: "#E5EAFA",
                            borderDash: [5, 5],
                            zeroLineColor: "#E5EAFA",
                        },
                        afterBuildTicks: function(axis, ticks) {
                            let newData = _.cloneDeep(ticks)
                            let _max = _.max(newData)

                            let newStep = _max/(maxTicks - 1)
                            let last = 0
                            newData = []
                            for (let i = 0; i <= maxTicks; i++) {
                                newData.push(i*newStep)
                            }
                            
                            if (_.max(newData)) {
                                newData = newData.sort()
                                axis.max = _.max(newData)
                                axis.end = _.max(newData)

                                axis.min = _.min(newData)
                                axis.start = _.min(newData)
                                
                                axis.ticks = newData
                            }
                        }
                    }]
                },
                animation: false,
                elements: {
                    point: {
                        pointStyle: 'circle'
                    },
                    line: {
                        tension: 0
                    }
                },
                plugins: [showZeroPlugin],
            }
            
            return configs
        },
        getDataForChart(metas) {
            let chartNewData = this.getCheckinMetaDataByRange()
            console.log('chartNewData: ', chartNewData)
            let datas = Object.values(chartNewData.chartData)
            let chartLabels = this.chartLabels
            let chartData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            datas.forEach((num, index) => {
                chartData[index] = num
            })

            return {labels: chartLabels, datas: chartData}
        }
    }
}
</script>

<style>
.tooltip-c-content {
    color: #fff; 
    white-space: nowrap; 
    border-radius: 5px; 
    padding: 5px 15px; 
    background: rgba(67, 124, 255, 1)
}
.tooltip-c-title {
    opacity: .5; 
    margin-right: 10px;
}
</style>

