<template>
    <div class="progress-completionrate">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">{{ $t('common.completion.rate') }}</div>
                <div class="title-option" v-if="!isMobile">
                    <div class="dropdown">
                        <a class="option-value" data-offset="0,15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ byWeekly ? $t('common.weekly') : $t('common.monthly') }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" :class="{active: byWeekly}" href="#" @click.prevent="changeTypeChart">{{ $t('common.weekly') }}</a>
                            <a class="dropdown-item" :class="{active: !byWeekly}" href="#" @click.prevent="changeTypeChart">{{ $t('common.monthly') }}</a>
                        </div>
                    </div>
                </div>

                <div class="title-option" v-if="isMobile">
                    <div class="dropdown">
                        <a class="option-value" href="#" @click.prevent="">
                            {{ byWeekly ? displayWeeks + ' Weeks' : displayWeeks == 12 ? 1 + ' Year' : displayWeeks + ' Months' }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>

                            <select class="selectOptions" :value="selectMobile" @change="selectStatusBox">
                                <optgroup label="Weekly">
                                    <option :value="'0-4'">4 Weeks</option>
                                    <option :value="'0-8'">8 Weeks</option>
                                    <option :value="'0-12'">12 Weeks</option>
                                </optgroup>
                                <optgroup label="Monthly">
                                    <option :value="'1-3'">3 Months</option>
                                    <option :value="'1-6'">6 Months</option>
                                    <option :value="'1-1'">1 Year</option>
                                </optgroup>
                            </select>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-toolbox" v-if="Object.keys(habits).length && !isMobile">
                <div class="wrapper">
                    <div class="list-toolbox" v-if="byWeekly">
                        <div class="toolbox-item" :class="{active: displayWeeks === 4}" @click="navigateChart(4)"><span>4 Weeks</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 8}" @click="navigateChart(8)"><span>8 Weeks</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 12}" @click="navigateChart(12)"><span>12 Weeks</span></div>
                    </div>
                    <div class="list-toolbox" v-if="!byWeekly">
                        <div class="toolbox-item" :class="{active: displayWeeks === 3}" @click="navigateChart(3)"><span>3 Months</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 6}" @click="navigateChart(6)"><span>6 Months</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 12}" @click="navigateChart(12)"><span>1 Year</span></div>
                    </div>
                </div>
            </div>
            
            <div class="box-body" v-show="Object.keys(habits).length">
                <div class="wrapper wrapper-mask wrapper-chart" style="padding-top: 40px">
                    <chart-completion-rate :chartData="newChartData" :options="chartConfigs" :styles="{height: '300px', position: 'relative'}" />
                </div>
            </div>

            <div class="box-body" v-if="!Object.keys(habits).length">
                <div class="wrapper wrapper-mask wrapper-empty">
                    <wrapper-empty />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ChartCompletionRate from '@/components/includes/progress/ChartCompletionRate'

import { habitMixins } from '@/utils/mixins'
import { eventNames, tooltipChart } from '@/configs'
import WrapperEmpty from '@/components/commons/WrapperEmpty'
import _ from 'lodash'
import app from '@/app'
import { mapGetters } from 'vuex'
import storage from 'store2'

export default {
    name: 'ProgressCompletionRate',
    props: ['habits'],
    mixins: [habitMixins],
    data () {
        return {
            startShow: null,
            endShow: null
        }
    },
    computed: {
        ...mapGetters(['iso', 'isMobile']),
        completionRates () {
            return this.getCompletionRates()
        },
        byWeekly: {
            get () {return this.$store.getters.progress_completion_rate_type},
            set (type) {this.$store.dispatch('setProgressComType', type)}
        },
        displayWeeks: {
            get () {return this.$store.getters.progress_completion_rate_num},
            set (num) {this.$store.dispatch('setProgressComNum', num)}
        },
        selectMobile () {
            return (this.byWeekly ? '0-' : '1-') + this.displayWeeks
        },
        dataForChart () {
            return this.getDataForChart()
        },

        newChartData() {
            let data = {
                labels: this.dataForChart && this.dataForChart.labels ? this.dataForChart.labels : [],
                datasets: [{
                    data: this.dataForChart && this.dataForChart.datas ? this.dataForChart.datas : [],
                    backgroundColor: 'rgba(67, 124, 255, 1)',
                    borderColor: 'rgba(67, 124, 255, 1)',
                    fill: false,
                    pointRadius: 5
                }],
            }

            return data
        },
        chartConfigs() {
            return this.getChartConfigs()
        }
    },
    components: {WrapperEmpty, ChartCompletionRate},
    methods: {
        changeTypeChart () {
            this.byWeekly = !this.byWeekly
            this.displayWeeks = this.byWeekly ? 4 : 3
            this.$bus.$emit('redrawChart')
        },
        getDataForChart () {
            if (!this.completionRates || Object.keys(this.completionRates).length <= 0) {
                return false
            }

            let labelList = this.byWeekly ? this.completionRates.weekLabels : this.completionRates.monthLabels
            let dataList = this.byWeekly ? this.completionRates.weekDatas : this.completionRates.monthDatas

            let newLabels = []
            let newData = []
            if (labelList.length <= this.displayWeeks) {
                newLabels = labelList
                newData = dataList
            } else {
                let startShow = labelList.length - this.displayWeeks
                let endShow = dataList.length
                newLabels = labelList.slice(startShow, endShow)
                newData =  dataList.slice(startShow, endShow)
            }

            return {labels: newLabels, datas: newData}
        },
        navigateChart (num) {
            this.displayWeeks = num
            let _data = this.getDataForChart()
            if (!_data) {
                return false
            }
            this.$bus.$emit('changeChartData', _data)
        },
        updateChartData (data) {
            if (!window.lineChart)
                return false
            this.$nextTick(() => {
                window.lineChart.data.datasets[0].data = data.datas
                window.lineChart.data.labels = data.labels
                window.lineChart.update()
            })
        },
        getCompletionRates () {
            let listRates = []
            let habitRates = []
            _.forIn(this.habits, (habit, habitId) => {
                let rate = this.getCompletionRate(habit, {}, false)
                let dayData = rate.dayDatas
                listRates.push(dayData)
                habitRates.push(rate)
            })

            let newYearRates = {}
            habitRates.forEach(habitRate => {
                let dayRates = habitRate.dayRateDatas
                let yearKeys = Object.keys(dayRates)
                
                yearKeys.forEach(year => {
                    if (!newYearRates.hasOwnProperty(year))
                        newYearRates[year] = {}

                    let monthKeys = Object.keys(dayRates[year])
                    monthKeys.forEach(month => {
                        if (!newYearRates[year].hasOwnProperty(month))
                            newYearRates[year][month] = {}

                        let weekKeys = Object.keys(dayRates[year][month])
                        weekKeys.forEach(week => {
                            if (!newYearRates[year][month].hasOwnProperty(week))
                                newYearRates[year][month][week] = dayRates[year][month][week]
                            else
                                newYearRates[year][month][week] += dayRates[year][month][week]
                        })
                    })
                })
            })

            let newWeekList = {}
            let newMonthList = {}
            let rateYearKeys = Object.keys(newYearRates)
            
            rateYearKeys.forEach(year => {
                let monthKeys = Object.keys(newYearRates[year])
                monthKeys.forEach(month => {
                    let startMonth = moment([year, month].join(''), 'YYYYM').startOf('month').startOf('day').startOf(this.iso ? 'W' : 'w')
                    let endMonth = moment([year, month].join(''), 'YYYYM').endOf('month').endOf('day').endOf(this.iso ? 'W' : 'w')
                    let weeks = Math.round(moment.duration(endMonth.diff(startMonth)).as('weeks'))

                    // append to list month rate
                    let avgRates = _.sum(Object.values(newYearRates[year][month]))/weeks
                    let keyMonth = [year, month].join('-')
                    if (!newMonthList.hasOwnProperty(keyMonth))
                        newMonthList[keyMonth] = avgRates
                    else
                        newMonthList[keyMonth] += avgRates


                    // append to list week rate
                    let weekKeys = Object.keys(newYearRates[year][month])
                    weekKeys.forEach(week => {
                        let key = [year, week].join('-')
                        if (!newWeekList.hasOwnProperty(key))
                            newWeekList[key] = newYearRates[year][month][week]
                        else
                            newWeekList[key] += newYearRates[year][month][week]
                    })
                })
            })

            // global variable
            let totalHabit = Object.keys(this.habits).length

            // generate data for week and label week
            let newWeekDatas = []
            let newWeekLabels = []
            _.forIn(newWeekList, (data, label) => {
                let [year, week] = label.split('-')
                newWeekDatas.push(data/totalHabit)
                newWeekLabels.push(parseInt(week) === 1 ? year : 'W' + week)
            })

            let newMonthDatas = []
            let newMonthLabels = []
            _.forIn(newMonthList, (data, label) => {
                let [year, month] = label.split('-')
                let monthName = moment(label, 'YYYY-M').format('MMM').toUpperCase()
                newMonthDatas.push(data/totalHabit)
                newMonthLabels.push(parseInt(month) === 1 ? year : monthName)
            })

            return {
                weekLabels: newWeekLabels,
                weekDatas: newWeekDatas,
                monthLabels: newMonthLabels,
                monthDatas: newMonthDatas
            }

            //---------------end loop new

            let resultList = {}
            listRates.forEach((rateOfHabit, index) => {
                if (index == 0) {
                    resultList = rateOfHabit
                    return
                }
                
                _.forIn(rateOfHabit, (year, yearIndex) => {
                    if (!resultList.hasOwnProperty(yearIndex))
                        resultList[yearIndex] = {}
                    _.forIn(year, (month, monthIndex) => {
                        if (!resultList[yearIndex].hasOwnProperty(monthIndex))
                            resultList[yearIndex][monthIndex] = {}
                        
                        _.forIn(month, (weekValue, weekIndex) => {
                            
                            if (!resultList[yearIndex][monthIndex].hasOwnProperty(weekIndex))
                                resultList[yearIndex][monthIndex][weekIndex] = weekValue
                            else
                                resultList[yearIndex][monthIndex][weekIndex] = resultList[yearIndex][monthIndex][weekIndex] + weekValue
                        })
                    })
                })
            })

            let monthLabels = []
            let weekLabels = []
            let monthDatas = []
            let weekDatas = []
            _.forIn(resultList, (year, yearIndex) => {
                _.forIn(year, (month, monthIndex) => {
                    let _monthName = moment(monthIndex, 'M').format('MMMM').toLowerCase()
                        _monthName = _monthName === 'january' ? yearIndex : app.$i18n.t('calendar.short.month.'+_monthName)
                    monthLabels.push(_monthName)
                    if (monthLabels[monthLabels.length - 1] !== _monthName) {
                        monthLabels.push(_monthName)
                    }

                    let rateMonth = 0
                    // check duplicate month end of year
                    if (parseInt(monthIndex) === 12) {
                        let newYear = parseInt(yearIndex) + 1
                        let _keyWeek = _.map(Object.keys(month), (value) => {
                            if (value < 10)
                                return parseInt([newYear,1].join(''))
                            else
                                return value
                        })
                        _keyWeek = _keyWeek.sort(function(a, b){return a-b})
                        _keyWeek.forEach(weekIndex => {
                            let tmpWeek = (weekIndex+"").replace(newYear, '')
                            let weekLabel = parseInt(tmpWeek) <= 1 ? newYear+"" : 'W' + tmpWeek

                            if (weekLabels[weekLabels.length - 1] !== weekLabel) {
                                weekLabels.push(weekLabel)
                                weekDatas.push(month[tmpWeek])
                                rateMonth += month[tmpWeek]
                            }
                        })
                    } else {
                        _.forIn(month, (weekValue, weekIndex) => {
                            let weekLabel = parseInt(weekIndex) <= 1 ? yearIndex : 'W' + weekIndex
                            if (weekLabels[weekLabels.length - 1] !== weekLabel) {
                                weekLabels.push(weekLabel)
                                weekDatas.push(weekValue)
                                rateMonth += weekValue
                            }
                        })
                    }
                    monthDatas.push(rateMonth/Object.keys(month).length) 
                })
            })

            return {
                listRates: listRates,
                resultList: resultList,
                monthLabels: monthLabels,
                weekLabels: weekLabels,
                monthDatas: monthDatas,
                weekDatas: weekDatas,
            }
        },
        selectStatusBox (evt) {
            let value = evt.target.value
            let values = value.split('-')
            this.byWeekly = parseInt(values[0]) === 0
            this.displayWeeks = parseInt(values[1])

            this.$bus.$emit('redrawChart')
        },

        getChartConfigs () {
            let maxTicks = 4
            let options = {
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                tooltips: tooltipChart.chartRateDetail,
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        // type: 'xAxesCustom',
                        display: true,
                        scaleLabel: {
                            display: false,
                        },
                        gridLines: {
                            display: false,
                            color: "#E5EAFA",
                            zeroLineColor: "#E5EAFA",
                        },
                        ticks: {
                            padding: 8,
                            fontSize: 12,
                            fontWeight: 400,
                            beginAtZero:true,
                            fontColor: 'rgba(84, 92, 119, .5)',
                            maxTicksLimit: 7,
                            callback: function(value, index, values) {
                                return (value + "").toUpperCase();
                            }
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        },
                        ticks: {
                            padding: 6,
                            fontSize: 12,
                            fontWeight: 400,
                            beginAtZero: true,
                            fontColor: 'rgba(84, 92, 119, .5)',
                            maxTicksLimit: maxTicks,
                            stepSize: 10,
                            autoSkip: false
                        },
                        gridLines: {
                            color: "#E5EAFA",
                            borderDash: [5, 5],
                            zeroLineColor: "#E5EAFA",
                        },
                        afterBuildTicks: function(axis, ticks) {
                            let newData = _.cloneDeep(ticks)
                            let _max = _.max(newData)

                            let newStep = _max/(maxTicks - 1)
                            let last = 0
                            newData = []
                            for (let i = 0; i <= maxTicks; i++) {
                                newData.push(parseInt(i*newStep))
                            }

                            let checkDuplicate = _.uniq(newData)
                            if (checkDuplicate.length < 2) {
                                newData = [0, 25, 50, 75, 100]
                            } else if (checkDuplicate.length < 3) {
                                let _otherStep = Math.abs(checkDuplicate[0] -  checkDuplicate[1])
                                newData = []
                                for (let i = newData.length; i <= maxTicks; i++) {
                                    newData.push(parseInt(i*_otherStep))
                                }
                            }
                            
                            if (_.max(newData)) {
                                newData = newData.sort()
                                axis.max = _.max(newData)
                                axis.end = _.max(newData)

                                axis.min = _.min(newData)
                                axis.start = _.min(newData)
                                
                                axis.ticks = newData
                            }
                        }
                    }]
                },
                animation: false,
                elements: {
                    point: {
                        pointStyle: 'circle'
                    },
                    line: {
                        tension: 0
                    }
                }
            }

            return options
        }
    },
    activated() {
        console.log('reinit chart')
        // this.$nextTick(() => {
        //     this.initChart()
        // })
    },
    mounted () {
        let displayType = storage.get('progress_completion_rate_type', true)
        this.byWeekly = displayType

        let displayNum = storage.get('progress_completion_rate_num', this.byWeekly ? 4 : 3)
        this.displayWeeks = displayNum


        // this.initChart()
        setTimeout(() => {
            // this.$nextTick(() => {
                this.navigateChart(this.displayWeeks)
            // })
        }, 100)
        
        this.$bus.$on('changeChartData', (data) => {
            this.$nextTick(() => {
                this.updateChartData(data)
            })
        })
        this.$bus.$on('redrawChart', () => {
            this.$nextTick(() => {
                let data = this.getDataForChart()
                this.updateChartData(data)
            })
        })

        this.$bus.$on(eventNames.mainAppChangeHabitList, () => {
            this.$nextTick(() => {
                this.navigateChart(this.displayWeeks)
            })
        })

        this.$bus.$on('updateSingleHabit', () => {
            this.$nextTick(() => {
                this.navigateChart(this.displayWeeks)
            })
        })
    },
    beforeDestroy() {
        if (window.lineChart)
            window.lineChart.destroy()

        window.lineChart = null

        let events = [
            'changeChartData',
            'redrawChart',
            eventNames.mainAppChangeHabitList,
            'singleHabitUpdateCheckins'
        ]

        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    destroyed () {
        
    }
}
</script>

<style>

</style>
