<template>
    <div class="daily-performance">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">{{ $t('progress.preview.daily.performance.title') }}</div>
                <div class="title-option">
                    <div class="dropdown" v-if="!isMobile">
                        <a class="option-value" data-offset="0,15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ listRange[currentType] }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" v-for="(value, key) in listRange" :key="key" @click.prevent="changeListType(key)" :class="{active: key === currentType}">{{ value }}</a>
                        </div>
                    </div>

                    <div class="dropdown" v-if="isMobile">
                        <a class="option-value" href="#" @click.prevent="" >
                            {{ listRange[currentType] }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>

                            <select class="selectOptions" @change="selectListType">
                                <option v-for="(value, key) in listRange" :key="key" :value="key">{{ value }}</option>
                            </select>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask" :class="{'wrapper-empty': !maxCheckin}">
                    <div class="daily-performance-days" v-if="maxCheckin">
                        <div class="daily-day-item" v-for="(weekday, key) in weekdaysByRage" :key="key">
                            <div class="item-wrapper">
                                <span class="item-day-label">{{ weekday.day.toUpperCase() }}</span>
                                <span class="item-day-length">
                                    <div class="progress-wrapper">
                                        <span class="progress-bar-item" :style="getMaxWidthOfDay(weekday)" :id="'weekday-perform-' + weekday.day"></span>
                                        <span class="progress-percent" :style="textMinWidth">{{ weekday.value }}</span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <wrapper-empty v-else=""/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import { habitStatus } from '@/configs'
import WrapperEmpty from '@/components/commons/WrapperEmpty'
import { mapGetters } from 'vuex'
import moment from 'moment'
import storage from 'store2'

export default {
    name: 'DailyPerformance',
    props: ['habits'],
    data () {
        return {
            // listRange: {
            //     last30day: 'Last 30 days',
            //     last60day: 'Last 60 days',
            //     last90day: 'Last 90 days',
            //     last180day: 'Last 180 days',
            // },
            // currentType: 'last30day'
        }
    },
    components: {WrapperEmpty},
    computed: {
        ...mapGetters(['lang', 'isMobile']),
        dailyHabitList () {
            return this.getHabitCheckin()
        },
        weekdaysByRage () {
            return this.getWeekdaysByRage()
        },
        textMinWidth () {
            let min = 10
            let maxValue = _.maxBy(this.weekdaysByRage, 'value').value
            let minWidth = (maxValue + '').length * min
            return {minWidth: minWidth + 'px'}
        },
        maxCheckin () {
            let max = 0
            if (!this.weekdaysByRage || !this.weekdaysByRage.length)
                return max
            let maxValue = _.maxBy(this.weekdaysByRage, 'value').value
            return maxValue
        },
        currentType: {
            get () {return this.$store.getters.progress_daily_performance},
            set (type) {
                this.$store.dispatch('setProgressDailyPerformanceType', type)
            }
        },
        listRange() {
            let list = {
                last30day: this.$i18n.tc("plurals.passed.days", 30, {num: 30}),
                last60day: this.$i18n.tc("plurals.passed.days", 60, {num: 60}),
                last90day: this.$i18n.tc("plurals.passed.days", 90, {num: 90}),
                last180day: this.$i18n.tc("plurals.passed.days", 180, {num: 180}),
            }    
            
            return list
        },
    },
    mounted () {
        let type = storage.get('progress_daily_performance', 'last30day')
        this.currentType = type
    },
    methods: {
        changeListType (type) {
            this.currentType = type
        },

        getHabitCheckin () {
            let result = []
            let tmpCheckins = {}
            let key = 0
            _.forIn(this.habits, (habit, id) => {
                let _checkins = habit.hasOwnProperty('checkins') ? habit.checkins : {}
                _checkins = _.map(_checkins, (value, key) => {
                    let _status = habitStatus.done === value
                    let _obj = {
                        key: key,
                        value: _status ? 1 : 0,
                        dow: moment(key, 'DDMMYYYY').locale(this.lang).format('ddd').toLowerCase(),
                        seconds: parseInt(moment(key, 'DDMMYYYY').format('X'))
                    }
                    return _obj
                })
                let filterCheckins = _.filter(_checkins, (obj) => {
                    return obj.value
                })
                
                tmpCheckins = this.mergeCheckins(filterCheckins, tmpCheckins)
            })

            return tmpCheckins
        },
        mergeCheckins (newObj, oldObj) {
            newObj.forEach((value) => {
                if (oldObj.hasOwnProperty(value.key)) {
                    oldObj[value.key].value = oldObj[value.key].value + value.value
                } else {
                    oldObj[value.key] = value
                }
            })

            return oldObj
        },
        getWeekdaysByRage () {
            let today = moment().endOf('day')
            let todaySecond = parseInt(today.format('X'))
            let oneday = 60*60*24

            moment.locale(this.lang)
            let transDay = moment.weekdaysShort()

            let results = {}
            transDay.forEach(day => {
                let tmpDay = day.toLowerCase()
                results[tmpDay] = [{day: tmpDay, value: 0}]
            })

            let timers = {
                last30day: todaySecond - (oneday * 30),
                last60day: todaySecond - (oneday * 60),
                last90day: todaySecond - (oneday * 90),
                last180day: todaySecond - (oneday * 180),
            }
            let minSeconds = timers[this.currentType]

            let performance = _.filter(this.dailyHabitList, (obj) => {
                return obj.seconds <= todaySecond && obj.seconds >= minSeconds
            })

            let groups = _.groupBy(performance, 'dow')
            groups = _.merge(results, groups)
            groups = _.map(groups, (listGroup, dayOfWeek) => {
                return {day: dayOfWeek, value: _.sumBy(listGroup, 'value')}
            })
            groups = _.orderBy(groups, ['value'], ['desc'])

            return groups
        },
        getMaxWidthOfDay (item) {
            let maxWidth = $('.daily-performance-days').width()
            let maxValue = _.maxBy(this.weekdaysByRage, 'value').value
            
            let oneWidth = maxWidth/maxValue
            let _width = maxValue > 0 ? ((item.value/maxValue) * 100) + '%' : 0
            let mr = item.value > 0 ? '6px' : 0
            let d = item.value > 0 ? 'inline-block' : 'none'
            return {width: _width, maxWidth: _width, marginRight: mr, display: d}
        },
        selectListType (evt) {
            this.changeListType(evt.target.value)
        }
    }
}
</script>

