<template>
    <div class="progress-ui habit-this-week">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">{{ $t('common.this.week') }}</div>
                <div class="title-option">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 20">
                        <line x1="10" y1="10" x2="110" y2="10" stroke-linecap="round" stroke="rgba(67,124,255,.2)" stroke-width="13"></line>
                        <line id="SvgjsLine1013" x1="10" y1="10" x2="110" y2="10" :stroke-dashoffset="rateCurrentWeek" 
                            stroke-dasharray="100" stroke-linecap="round" stroke="#437cff" stroke-width="13" v-if="habitProgress.length"></line>
                    </svg>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper" :class="{'wrapper-empty': !habitProgress.length}">
                    <ul class="habit-list-this-week" v-if="habitProgress.length">
                    <!-- <transition-group name="habit-this-week-list" tag="ul" class="habit-list-this-week" v-if="habits"> -->
                            <habit-progress-item v-for="(habit, key) in habitProgress" :habit="habit" :key="habit.id" 
                                :itemIndex="key" :currentRange="itemDisplay" :class="{last: key === habitProgress.length - 1, lastItem: key === (itemDisplay - 1)}"/>
                            <li class="habit-item-showmore" v-show="itemDisplay < habitProgress.length" :key="'see-more-key'">
                                <a href="#" @click.prevent="itemDisplay+=4">Show More</a>
                            </li>
                    <!-- </transition-group> -->
                    </ul>

                    <wrapper-empty v-else=""/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HabitProgressItem from '@/components/includes/progress/HabitProgressItem'
import WrapperEmpty from '@/components/commons/WrapperEmpty'

import moment from 'moment'

export default {
    name: 'HabitThisWeek',
    components: {
        HabitProgressItem,
        WrapperEmpty
    },
    props: ['habitProgress', 'habits'],
    computed: {
        rateCurrentWeek () {
            let _rate = 0
            if (!this.habitProgress.length)
                _rate = 0
            else {
                let currentRate = _.meanBy(this.habitProgress, 'rate')
                _rate = 100 * (1 - currentRate)
            }

            return _rate
        }
    },
    data () {
        return {
            itemDisplay: 4
        }
    },
    mounted () {
    },
    methods: {
        
    }
}
</script>

<style>
    .habit-this-week-list-move {
        transition: transform 500ms;
    }
</style>
