<template>
    <div class="habit-review">
        <div class="box box-habit box-habit-review">
            <div class="box-title">
                <div class="title-name">{{ checkinDate[currentType] }}</div>
                <div class="title-option" v-if="!isMobile">
                    <div class="dropdown">
                        <a class="option-value" data-offset="0,15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ checkinTimes[currentType] }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a href="#" class="dropdown-item" v-for="(value, key) in checkinTimes" 
                            :key="key" :class="{active: currentType === key}"
                            @click.prevent="changeFilterType(key)"
                            >{{ value }}</a>
                        </div>
                    </div>
                </div>

                <div class="title-option" v-if="isMobile">
                    <div class="dropdown">
                        <a class="option-value" href="#">
                            {{ checkinTimes[currentType] }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>

                            <select class="selectOptions" @change="selectFilterType">
                                <option v-for="(value, key) in checkinTimes" :key="key" :value="key">{{ value }}</option>
                            </select>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask" :class="{'wrapper-empty': !habitSortedList.length}">
                    <div class="habit-review-list" v-if="habitSortedList.length">
                        <!-- <transition-group name="habit-review" tag="div"> -->
                            <habit-review-item v-for="(habitCheckin, checkinKey) in habitSortedList" 
                                :key="habitCheckin.habitId" :habit="habitCheckin.habit" :habitId="habitCheckin.habitId"
                                :habitCheckins="habitCheckin"
                                :checkinType="currentType"
                                :itemIndex="checkinKey" :currentRange="itemDisplay"
                                :class="{last: checkinKey === habitSortedList.length - 1, lastItem: checkinKey === (itemDisplay - 1)}"
                            />
                            <li class="habit-item-showmore" v-show="itemDisplay < habitSortedList.length" :key="'itemDisplay'">
                                <a href="#" @click.prevent="changeDisplayItem">Show More</a>
                            </li>
                        <!-- </transition-group> -->
                    </div>

                    <wrapper-empty v-else=""/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HabitReviewItem from '@/components/includes/progress/HabitReviewItem'
import WrapperEmpty from '@/components/commons/WrapperEmpty'

import _ from 'lodash'
import moment from 'moment'
import {habitStatus} from '@/configs'
import appUtils from '@/utils/appUtils'

import { mapGetters } from 'vuex'
import storage from 'store2'

export default {
    name: 'HabitReview',
    components: {HabitReviewItem, WrapperEmpty},
    props: ['habits'],
    data () {
        return {
            checkinDate: {
                thisMonth: moment().format('MMMM YYYY'),
                lastMonth: moment().startOf('month').subtract(1, 'month').format('MMMM YYYY'),
                thisYear: moment().format('YYYY'),
                lastYear: moment().subtract(1, 'year').format('YYYY')
            },
            itemDisplay: 4
        }
    },
    computed: {
        ...mapGetters(['isMobile']),
        habitCheckins () {
            // return this.getCheckins()
        },
        habitList () {
            return this.sortHabitList()
        },
        habitSortedList () {
            let tmpList = _.filter(this.habitList, (o) => {
                return o[this.currentType]['isValid']
            })
            return _.orderBy(tmpList, (o) => {return o[this.currentType]['checkinsDone']}, ['desc'])
        },
        checkinTimes() {
            return {
                thisMonth: this.$i18n.t('common.this.month'),
                lastMonth: this.$i18n.t('common.last.month'),
                thisYear: this.$i18n.t('common.this.year'),
                lastYear: this.$i18n.t('common.last.year')
            }
        },
        currentType: {
            get () {return this.$store.getters.progress_habit_review},
            set (type) {
                this.$store.dispatch('setProgressHabitReviewType', type)
            }
        }
    },
    mounted () {
        let type = storage.get('progress_habit_review', 'thisMonth')
        this.currentType = type
    },
    methods: {
        sortHabitList () {
            let _tmpList = []
            _.forIn(this.habits, (habit, id) => {
                let tmpHabit = this.getCheckins(habit)
                tmpHabit['habit'] = habit
                tmpHabit['habitId'] = id
                _tmpList.push(tmpHabit)
            })

            return _tmpList
        },
        getCheckins (habit) {
            let checkins = habit.hasOwnProperty('checkins') ? habit.checkins : {}
            let startDate = appUtils.getStartTime(habit.startDate)

            let checkinDones = _.map(checkins, (value, key) => {
                return {key: key, value: value, seconds: parseInt(moment(key, 'DDMMYYYY').format('X'))}
            })
            checkinDones = _.filter(checkinDones, ['value', habitStatus.done])
            checkinDones = _.filter(checkinDones, (o) => {
                return o.seconds >= parseInt(startDate.format('X'))
            })
            checkinDones = _.orderBy(checkinDones, ['seconds'], ['asc'])

            //get data for this month
            let startThisMonth = parseInt(moment().startOf('month').format('X'))
            let endThisMonth = parseInt(moment().endOf('month').format('X'))

            //get data for last month
            let startLastMonth = parseInt(moment().startOf('month').subtract(1, 'months').format('X'))
            let endLastMonth = parseInt(moment(startLastMonth, 'X').endOf('month').format('X'))

            //get data for this year
            let startThisYear = parseInt(moment().startOf('year').format('X'))
            let endThisYear = parseInt(moment().endOf('year').format('X'))

            //get data for last year
            let startLastYear = parseInt(moment().startOf('year').subtract(1, 'year').format('X'))
            let endLastYear = parseInt(moment(startLastYear, 'X').endOf('year').format('X'))

            let result = {
                thisMonth: this.getDiffDay(habit, checkinDones, startThisMonth, endThisMonth),
                lastMonth: this.getDiffDay(habit, checkinDones, startLastMonth, endLastMonth),
                thisYear: this.getDiffDay(habit, checkinDones, startThisYear, endThisYear),
                lastYear: this.getDiffDay(habit, checkinDones, startLastYear, endLastYear),
            }
            
            return result
        },
        getDiffDay (habit, checkins, start, end) {
            let startDate = parseInt(appUtils.getStartTime(habit.startDate).format('X'))
            let filteredCheckins =  _.filter(checkins, (item) => {
                return item.seconds >= start && item.seconds <= end
            })

            let oneday = 60*60*24

            let dayLength = parseInt((end - start) / oneday) + 1
            let result = {
                days: dayLength,
                checkins: filteredCheckins,
                checkinsDone: filteredCheckins.length,
                isValid: startDate <= start || (startDate >= start && startDate <= end),
                data: []
            }

            // empty checkins
            if (filteredCheckins.length <= 0) {
                result.data = [{
                    status: habitStatus.none,
                    length: dayLength
                }]
                return result
            } else if (filteredCheckins.length === 1){ // if only has one checkin
                result.data = [
                    {
                        status: habitStatus.none,
                        length: parseInt((filteredCheckins[0].seconds - start) / oneday)
                    },
                    {
                        status: habitStatus.done,
                        length: 1
                    }
                ]

                return result
            }

            let lastDate = null
            let tmpData = []
            let count = 0
            _.forIn(filteredCheckins, (item, key) => {
                let _index = parseInt(key)
                // first item
                if (_index == 0) {
                    count++
                    lastDate = item.seconds
                    tmpData.push({
                        status: habitStatus.none,
                        length: parseInt((item.seconds - start)/oneday)
                    })
                    return
                }

                if (item.seconds - lastDate > oneday) {
                    // push done length
                    tmpData.push({
                        status: habitStatus.done,
                        length: count
                    })
                    // space between item and prev last date not checkin
                    tmpData.push({
                        status: habitStatus.none,
                        length: parseInt((item.seconds - lastDate)/oneday) - 1
                    })
                    count = 1
                    lastDate = item.seconds
                } else {
                    count++
                    lastDate = item.seconds
                }

                if (_index >= (filteredCheckins.length - 1)) {
                    tmpData.push({
                        status: habitStatus.done,
                        length: count
                    })
                }
            })

            result.data = tmpData

            return result
        },
        changeFilterType (type) {
            this.currentType = type
            let tmp = this.habitSortedList
            $(window).trigger('resize')
            setTimeout(() => {
                $(window).trigger('resize')
            }, 100)
        },
        changeDisplayItem () {
            this.itemDisplay+=4

            $(window).trigger('resize')
            setTimeout(() => {
                $(window).trigger('resize')
            }, 300)
        },
        selectFilterType (evt) {
            this.changeFilterType(evt.target.value)
        }
    }
}
</script>

<style>
    .habit-review-move {
        transition: transform 200ms;
    }
</style>

