<template>
    <div class="progress-ui today-task">
        <div class="wrapper">
            <div class="task-number">{{ todayTaskInfo.done }}/{{ todayTaskInfo.total }}</div>
            <div class="task-title">{{ $t('progress.today.habits') }}</div>
            <today-task-quote class="task-desc" :todayTaskInfo="todayTaskInfo"/>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { habitMixins } from '@/utils/mixins'
import { timeOfDay } from '@/configs'
import appUtils from '@/utils/appUtils'
import moment from 'moment'

import TodayTaskQuote from '@/components/ui/progress/TodayTaskQuote'

export default {
    name: 'TodayTask',
    props: ['habits'],
    mixins: [habitMixins],
    components: {TodayTaskQuote},
    computed: {
        todayTaskInfo () {
            return this.getTodayTaskInfo()
        }
    },
    mounted () {

    },
    methods: {
        getTodayTaskInfo () {
            let result = {total: 0, done: 0}
            if (!this.habits || !Object.keys(this.habits).length)
                return result
            let _habits = this.getHabitByDay(moment(), this.habits, timeOfDay.anyTime, false)
            
            let total = _habits.length
            let totalDone = 0
            _habits.forEach(habit => {
                totalDone += appUtils.isHabitDone(habit.content, moment()) ? 1 : 0
            })
            return {total: total, done: totalDone}
        }
    }
}
</script>
