<template>
    <span>
        {{ quote }}
    </span>
</template>

<script>
export default {
    name: 'TodayTaskQuote',
    props: ['todayTaskInfo'],
    computed: {
        quote () {
            return this.getQuote()
        }
    },
    methods: {
        getQuote () {
            let completedCount = this.todayTaskInfo.done
            let requiredCount = this.todayTaskInfo.total
            let messages = []
            if (completedCount === 0) {
                messages = ['progress.today.message.empty.1', 'progress.today.message.empty.2']
            } else if (completedCount === (requiredCount - 1)) {
                messages = ['progress.today.message.one.left.1', 'progress.today.message.one.left.2']
            } else if (completedCount >= requiredCount) {
                messages = [
                    'progress.today.message.completed.1',
                    'progress.today.message.completed.2',
                    'progress.today.message.completed.3'
                ]
            } else if (completedCount === 1) {
                messages = ['progress.today.message.one']
            } else if (completedCount >= 2 && completedCount < (requiredCount/2)) {
                messages = [
                    'progress.today.message.two.half.1',
                    'progress.today.message.two.half.2',
                    'progress.today.message.two.half.3',
                    'progress.today.message.two.half.4',
                    'progress.today.message.two.half.5',
                    'progress.today.message.two.half.6'
                ]
            } else if (completedCount === (requiredCount / 2)) {
                messages = ['progress.today.message.half.1']
            } else if (completedCount >= (requiredCount / 2) && completedCount < (requiredCount - 1)) {
                messages = [
                    'progress.today.message.half.completed.1',
                    'progress.today.message.half.completed.2',
                    'progress.today.message.half.completed.3',
                    'progress.today.message.half.completed.4'
                ]
            }

            let resultKey = messages.length ? messages[Math.floor(Math.random()*messages.length)] : 'progress.today.message.two.half.1'

            return this.$i18n.t(resultKey)
        }
    }
}
</script>

<style>

</style>
