<template>
    <div class="manager-habit-list habit-list">
        <draggable v-model="habitResult" handle=".item-drag" tag="div" class="habit-list-of-day" v-if="habitResult" @end="onEnd" :options="{animation: 250}">
            <!-- <ul class="habit-list-of-day"> -->
            <!-- <transition-group name="habit-list" tag="ul" class="habit-list-of-day"> -->
                <li class="habit-item" v-for="(habit, key) in habitResult" :key="habit.key" 
                    :data-id="habit.key" @click.prevent="selectHabit($event, habit)" 
                    :class="[isSelected(habit), getPositionClass(habit)]">
                    <a href="javascript:void(0)">
                        <span class="habit-information">
                            <span class="habit-name" v-text="habit.content.name"></span>
                            <span class="habit-times" v-if="habit.content">
                                {{ getCurrentRegularlyText(habit.content.regularly, lang) }}
                                {{ habit.content | habitFormatTimeTriggers(currentDate, iso, lang) }}
                            </span>
                        </span>
                        <span class="habit-actions">
                            <span class="action-item item-drag">
                                <i class="icon-icon-bar"></i>
                            </span>
                        </span>
                    </a>
                </li>
            <!-- </transition-group> -->
            <!-- </ul> -->
        </draggable>
    </div>
</template>

<script>
import { habitStatus, eventNames } from '@/configs'
import moment from 'moment'
import draggable from 'vuedraggable'
import {mapGetters} from 'vuex'
import { habitMixins } from '@/utils/mixins'
import appUtils from '@/utils/appUtils'

import Vue from 'vue'

export default {
    name: 'ManagerHabitList',
    props: {
        habits: {
            type: [Object, Array],
            default: []
        },
        currentDate: {
            type: [Object],
            default: moment()
        },
        selectedList: Array
    },
    mixins: [habitMixins],
    computed: {
        ...mapGetters(['user', 'lang']),
        habitSortList: {
            get () {
                if (this.habitResult.length <= 0)
                    this.habitResult = this.habits
                return this.habitResult
            },
            set (value) {
                this.habitResult = value
            }
        },
        habitIdSortList() {
            let sorted = []
            this.habitSortList.forEach(obj => {
                sorted.push(obj.key)
            })

            return sorted
        },
        flatRegularlyList () {
            return this.flatRegularly(this.lang, 'full')
        }
    },
    components: {draggable},
    data () {
        return {
            habitStatus: habitStatus,
            habitResult: []
        }
    },
    mounted () {
        this.habitResult = this.habits
        
        this.$bus.$on(eventNames.mainAppChangeHabitList, (key) => {
            this.$nextTick(() => {
                let newIndex = []
                this.habits.forEach(habit => {
                    newIndex.push(habit.key)
                })
                let orderedIndex = []
                this.habitResult.forEach(habit => {
                    orderedIndex.push(habit.key)
                })

                if (newIndex.join('') !== orderedIndex.join('')) {
                    this.habitResult = this.habits
                }
            })
        })
        
        this.$bus.$on('updateSingleHabit', (key) => {
            this.$nextTick(() => {
                let newIndex = []
                this.habits.forEach(habit => {
                    newIndex.push(habit.key)
                })
                let orderedIndex = []
                this.habitResult.forEach(habit => {
                    orderedIndex.push(habit.key)
                })

                if (newIndex.join('') !== orderedIndex.join('')) {
                    this.habitResult = this.habits
                }

                let indexHabitResult = _.findIndex(this.habitResult, {key: key})
                let indexHabitList = _.findIndex(this.habits, {key: key})

                if (indexHabitResult >= 0 && indexHabitList >= 0) {
                    this.habitResult[indexHabitResult].content = this.habits[indexHabitList].content
                }
            })
        })

        this.$bus.$on('updateSingleHabitOtherField', (key) => {
            this.habitResult = this.habits
            this.$nextTick(() => {
                this.habitResult = this.habits
            })
        })

        this.$bus.$on(eventNames.managerResetData, (key) => {
            this.habitResult = this.habits
            this.$nextTick(() => {
                this.habitResult = this.habits
            })
        })
    },
    beforeDestroy() {
        let events = [
            eventNames.mainAppChangeHabitList,
            'updateSingleHabit',
            'updateSingleHabitOtherField',
            eventNames.managerResetData
        ]
        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    methods: {
        getPositionClass (habit) {
            let currentHabitSelected = this.selectedList.indexOf(habit.key) >= 0
            if (!currentHabitSelected) {
                return ''
            }

            let currentIndex = this.habitIdSortList.indexOf(habit.key)
            let nextHabit = this.habitIdSortList[currentIndex + 1]
            let nextHabitSelected = this.selectedList.indexOf(nextHabit) >= 0

            if (currentIndex === 0 && !nextHabitSelected) {
                return 'position-single'
            } else if (currentIndex === 0 && nextHabitSelected) {
                return 'position-first'
            }

            let prevHabit = this.habitIdSortList[currentIndex - 1]
            let prevHabitSelected = this.selectedList.indexOf(prevHabit) >= 0

            if (!prevHabitSelected && !nextHabitSelected) {
                return 'position-single'
            } else if (!prevHabitSelected && nextHabitSelected) {
                return 'position-first'
            } else if (prevHabitSelected && !nextHabitSelected) {
                return 'position-last'
            } else if (prevHabitSelected && nextHabitSelected) {
                return 'position-middle'
            }
        },
        onEnd (a, b) {
            this.habitResult.forEach((habit, index) => {
                let _ref = ['/habits', this.user.uid, habit.key, 'priority'].join('/')
                this.$firebase.database().ref(_ref).set(index)
            })
        },
        isSelected (habit) {
            let result = ['habit-item-none']
            if (this.selectedList.indexOf(habit.key) >= 0) {
                result = ['habit-item-select']
            }

            return result
        },
        selectHabit(event, habit) {
            let isDrag = $(event.target).closest('.item-drag')
            let isItem = $(event.target).closest('.icon-status')
            if (isDrag.length)
                return false

            if (isItem) {
                this.$bus.$emit(eventNames.managerSelectHabit, habit)
            }
        },
    }
}
</script>
<style>
    .habit-list-move {
        transition: transform 100ms;
    }
</style>
