.dropdown-box
    background: $white
    box-shadow: 0 1px 4px 0 rgba(84,92,119,0.30)
    position: absolute
    top: 100%
    left: 0
    min-width: 250px
    z-index: 100
    &.no-shadow
        box-shadow: none
    .dropdown-pick-list
        list-style: none
        margin: 0
        padding: 0
    .dropdown-pick-item
        &.pick-custom
            border-top: solid 1px $color-border-blue-light
        a
            display: flex
            justify-content: space-between
            padding: 10px 20px
            transition: all ease-in-out 200ms
            text-decoration: none
        &:hover, &.active
            a
                @include bg-blue-app(.05)
                color: $color-blue-app
                svg, span
                    color: $color-blue-app
                    fill: currentColor

.dropdown-calendar-pick, .topbar-calendar-pick
    .pick-custom
        position: relative

.topbar-calendar-pick
    .pick-main-dropdown
        width: 100%
        display: inline-block
        position: fixed
        height: 100%
        top: 50px
        left: 0
        background: rgba(0, 0, 0, .5)
    .dropdown-pick-list
        background: $white
    .dropdown-pick-item
        border-bottom: solid 1px $color-border-top-date
    .form-check-inline, .form-check-inline *
        cursor: pointer
        .form-check-input
            cursor: pointer
            margin-right: 11px


@media (min-width: 1024px)
    .topbar-calendar-pick
        .pick-main-dropdown
            position: absolute
            top: 100%
            left: 0
            min-width: 250px
            z-index: 100
            height: auto
        .dropdown-pick-item
            border: none


        
