.habitify-datepicker
    .vdp-datepicker__calendar
        header
            padding: 15px
            border-bottom: solid 1px $color-border-blue-light
            display: flex
            align-items: center
            justify-content: space-between
            .day__month_btn, .month__year_btn
                font-weight: $fz-medium
                font-size: 17px
                color: $color-streak
                letter-spacing: 0
                line-height: 20px
            span.pick-nav
                width: 31px
                height: 31px
                border-radius: 1000px
                background: transparent
                display: inline-block
                text-align: center
                transition: all ease-in-out 200ms
                svg
                    color: $color-streak
                    fill: currentColor
                    width: 12px
                    height: auto
                    transition: all ease-in-out 200ms
                &:hover
                    @include bg-blue-app(.05)
                    svg
                        color: $color-blue-app
        .calendar-body
            .cell
                display: inline-block
                padding: 0 5px
                width: (100/7) + 0%
                height: 40px
                line-height: 40px
                text-align: center
                vertical-align: middle
                cursor: pointer
                &.day-header
                    font-weight: $fz-medium
                    font-size: 11px
                    @include color-streak(.3)
                    letter-spacing: 0
                    text-align: center
                    text-transform: uppercase
                    height: 20px
                    line-height: 20px
                    white-space: nowrap
                &.day
                    font-weight: $fz-medium
                    font-size: 15px
                    color: $color-streak
                    letter-spacing: 0
                    text-align: center
                    cursor: pointer
                    &:hover, &.selected
                        background: url(/assets/images/calendar/calendar-day.svg) no-repeat
                        background-size: contain
                        background-position: center
                        color: $color-blue-app
                &.blank, &.disabled
                    cursor: auto
                    background: none
                    opacity: .5
                    cursor: not-allowed
                    background: none !important
                &.month, &.year
                    width: 33.333%
                    font-weight: $fz-medium
                    font-size: 13px
                    color: $color-streak
                    &:hover, &.selected
                        @include bg-blue-app(.05)
                        color: $color-blue-app

