<template>
    <div class="login-page">
        <div class="banner-left d-none d-lg-block"><img src="/assets/images/authenticate/banner-left.svg" alt="Login img left"></div>
        <div class="login-container">
            <div class="logo">
                <a href="#"><img src="/assets/images/authenticate/d54bc8e70ac47796d29ed9d2590244ae.svg" alt="Logo Habitify"></a>
            </div>
            <div class="form-type-login" v-if="formType === 'signin'">
                <div class="login-form">
                    <h1 class="title-section">Sign in to Habitify</h1>
                    <p class="error-notice text-center" v-if="error"><span>{{ error }}</span>
                        <br><a href="#">Forgot your password?</a></p>
                    <form action="#" @submit.prevent="onFormSubmit">
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" required v-model="form.email" :placeholder="$t('common.pseudocode.email.placeholder')">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="form-control-password" :type="typePassword" required name="password" v-model="form.password" placeholder="Password">
                            <a class="btn-show-password" href="#" @click.prevent="toggleTypePassword()">
                                <img class="icon-eye-grey" src="/assets/images/authenticate/a8e6b0cfa39c36647cbb422be9b59599.svg" alt="Eye grey">
                                <img class="icon-eye-red" src="/assets/images/authenticate/6e70cede0c75a264e9045610e6a8751f.svg" alt="Eye red"></a>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="rememberMe" type="checkbox">
                            <label class="form-check-label rememberMe" for="rememberMe">Remember me</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sign-in w-100" type="submit">Sign in</button>
                        </div>
                        <div class="text-center"><a class="link-dark forgot-password" href="#">Forgot your password?</a></div>
                    </form>
                </div>
                <p class="register-notice">Not registered yet?
                    <br class="d-lg-none"><a href="#" @click.prevent="changeTypeForm('signup')">Create a new account</a></p>
            </div>

            <div class="form-type-login" v-if="formType === 'signup'">
                <div class="login-form">
                    <h1 class="title-section">Sign up for Habitify</h1>
                    <p class="sub-title-section">Sign up to sync your data across devices and restore your password</p>
                    <p class="error-notice text-center" v-if="error"><span>{{ error }}</span></p>
                    <form action="#" @submit.prevent="onFormSubmit">
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" required v-model="form.email" :placeholder="$t('common.pseudocode.email.placeholder')">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="form-control-password" :type="typePassword" required name="password" v-model="form.password" placeholder="Password">
                            <a class="btn-show-password" href="#" @click.prevent="toggleTypePassword()">
                                <img class="icon-eye-grey" src="/assets/images/authenticate/a8e6b0cfa39c36647cbb422be9b59599.svg" alt="Eye grey">
                                <img class="icon-eye-red" src="/assets/images/authenticate/6e70cede0c75a264e9045610e6a8751f.svg" alt="Eye red"></a>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="rememberMe" type="checkbox">
                            <label class="form-check-label rememberMe" for="rememberMe">Have the latest news, giveaways & tips delivered to my inbox weekly</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sign-in w-100" type="submit">Create new account</button>
                        </div>
                        <div class="text-center">
                            <p class="signup-desc">
                                By clicking the "Create new account" button, I expressly agree the Habitify Terms of Use and Privacy Policy
                            </p>
                        </div>
                    </form>
                </div>
                <p class="register-notice">Already have an account? 
                    <br class="d-lg-none"><a href="#" @click.prevent="changeTypeForm('signin')">Sign in</a></p>
            </div>
        </div>
    </div>
</template>

<script>
    import { eventNames } from '@/configs'
    import Alert from '@/components/ui/common/Alert'
    export default {
        name: 'Authenticate',
        components: {
            Alert
        },
        data () {
            return {
                form: {
                    email: null,
                    password: null
                },
                isLogin: true,
                error: null,
                typePassword: 'password',
                formType: 'signin'
            }
        },
        methods: {
            onFormSubmit () {
                console.log(this.form)
                if (this.isLogin) {
                    this._loginWithPassword()
                } else {
                    this._registerWithPassword()
                }
            },
            _loginWithPassword () {
                this.$firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password).then(res => {
                    // window.location.href = location.protocol +'//'+ location.host
                })
                .catch((error) => {
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
                
            },
            _registerWithPassword () {
                this.$firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password)
                .catch((error) =>  {
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
            },
            loginWithFacebook () {
                let provider = new this.$firebase.auth.FacebookAuthProvider()

                provider.addScope('email')
                provider.setCustomParameters({
                    'display': 'popup'
                })

                this.$firebase.auth().signInWithPopup(provider)
                    .then(function(result) {
                        // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                        var token = result.credential.accessToken;
                        // The signed-in user info.
                        var user = result.user;
                        console.log('success', result)
                    }).catch(function(error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // The email of the user's account used.
                        var email = error.email;
                        // The firebase.auth.AuthCredential type that was used.
                        var credential = error.credential;
                        console.log('error', error)
                    });
            },
            toggleTypePassword() {
                this.typePassword = this.typePassword === 'password' ? 'text' : 'password'
            },
            changeTypeForm(type) {
                this.formType = type ? type : 'signin'
            }
        },
        mounted () {
            this.$bus.$on('clearError', () => {
                this.error = null
            })

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.loaderIsLoaded)
            })
        }
    }
</script>