<template>
    <div class="authenticate">
        <div class="row">
            <div class="col-12 col-md-6 auth-col">
                <div class="wrapper">
                    <img src="/assets/images/login.svg" alt="" class="img-fluid img-login" v-if="isLogin">
                    <img src="/assets/images/register.svg" alt="" class="img-fluid img-register" v-else="!isLogin">
                </div>
            </div>
            <div class="col-12 col-md-6 auth-col">
                <div class="wrapper wrapper-form">
                    <div class="auth-content">
                        <h1 v-if="isLogin">{{ $t('authentication.sign.in.title') }}</h1>
                        <h1 v-else="">Register</h1>
                        <form action="" class="form-auth" @submit.prevent="onFormSubmit">
                            <div class="form-group">
                                <alert :msg="error" :type="'alert-danger'"/>
                            </div>
                            <div class="form-group">
                                <label for="email">{{ $t('common.email') }}:</label>
                                <input type="email" id="email" class="form-control" v-model="form.email" required :placeholder="$t('common.pseudocode.email.placeholder')">
                            </div>
                            <div class="form-group">
                                <label for="password">{{ $t('common.password') }}:</label>
                                <input type="password" id="password" class="form-control" v-model="form.password" required minlength="6">
                            </div>
                            <div class="form-group text-center">
                                <a href="javascript:void(0);" v-text="isLogin ? 'Don\'t have account?' : 'Have account?'" @click.prevent="isLogin = !isLogin"></a>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-auth" v-text="isLogin ? $t('common.sign.in') : $t('common.sign.up')"></button>
                            </div>

                            <div class="form-group text-center">
                                <button type="button" class="btn btn-auth btn-auth-facebook" @click.prevent="loginWithFacebook">{{ $t('authentication.connect-facebook') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { eventNames } from '@/configs'
    import Alert from '@/components/ui/common/Alert'
    export default {
        name: 'Authenticate',
        components: {
            Alert
        },
        data () {
            return {
                form: {
                    email: null,
                    password: null
                },
                isLogin: true,
                error: null
            }
        },
        methods: {
            onFormSubmit () {
                console.log(this.form)
                if (this.isLogin) {
                    this._loginWithPassword()
                } else {
                    this._registerWithPassword()
                }
            },
            _loginWithPassword () {
                this.$firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password).then(res => {
                    // window.location.href = location.protocol +'//'+ location.host
                })
                .catch((error) => {
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
                
            },
            _registerWithPassword () {
                this.$firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password)
                .catch((error) =>  {
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
            },
            loginWithFacebook () {
                let provider = new this.$firebase.auth.FacebookAuthProvider()

                provider.addScope('email')
                provider.setCustomParameters({
                    'display': 'popup'
                })

                this.$firebase.auth().signInWithPopup(provider)
                    .then(function(result) {
                        // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                        var token = result.credential.accessToken;
                        // The signed-in user info.
                        var user = result.user;
                        console.log('success', result)
                    }).catch(function(error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // The email of the user's account used.
                        var email = error.email;
                        // The firebase.auth.AuthCredential type that was used.
                        var credential = error.credential;
                        console.log('error', error)
                    });
            }
        },
        mounted () {
            this.$bus.$on('clearError', () => {
                this.error = null
            })

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.loaderIsLoaded)
            })
        }
    }
</script>

<style scoped="">
    .auth-col {
        height: 100vh;
        overflow: hidden;
    }
    .auth-col .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .auth-content {
        max-width: 80%;
        width: 100%
    }
    .wrapper-form {
        background: #fff
    }

    .btn-auth {
        background: #5d9cff;
        color: #fff;
        padding: 10px 0;
        width: 100%;
        max-width: 250px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .btn-auth.btn-auth-facebook {
        background: #4267b2
    }
    .wrapper-form .form-control {
        border: solid 1px #eaf0fb;
        border-radius: 5px;
        padding: 10px 20px;
        height: auto;
        background: #cacaca1f;
        outline: none;
        box-shadow: none
    }
</style>