<template>
    <div class="main__tab--content">
        <slick
            ref="slick"
            class="main__slider"
            :options="slickOptions"
            :v-if="isShow"
            @reInit="handleReInit"
            >
            <data-item :dataStock="dataStock" v-for="(dataStock, key) in dataStocks" :key="key"/>
        </slick>
    </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import SockJS from '@/plugins/sockjs/sock'
import _ from 'lodash'
import Slick from 'vue-slick'

import DataItem from '@/components/includes/dataitem/DataItem'

export default {
    name: 'ChangeData',
    computed: {
        stocks: {
            get () {
                return this.$store.getters.stocks;
            },
            set (stocks) {
                this.$store.dispatch('setStocks', stocks)
            }
        }
    },
    components: {Slick, DataItem},
    data() {
        return {
            user: null,
            newStocks: [],
            oldStocks: [],
            dataStocks: [],
            slickOptions: {
                dots: true,
                infinite: false,
                slidesToScroll: 1,
                slidesToShow: 4,
                rows: 0,
                prevArrow: '<div class="slick-prev" aria-label="Previous">Previous</div>',
                nextArrow: '<div class="slick-next" aria-label="Next">Next</div>',
                responsive: [
                    {"breakpoint":1024,"settings":{"slidesToShow":3,"slidesToScroll":1,"draggable":true,"infinite":true,"arrows":false,"dots":true}},
                    {"breakpoint":768,"settings":{"slidesToShow":2,"slidesToScroll":1,"draggable":true,"infinite":false,"arrows":false,"dots":true}},
                    {"breakpoint":600,"settings":{"slidesToShow":1,"infinite":false,"arrows":false,"draggable":true,"centerMode":true,"centerPadding":"30px 30px 20px","slidesToScroll":1}},
                    {"breakpoint":480,"settings":{"slidesToShow":1,"infinite":false,"arrows":false,"draggable":true,"centerMode":true,"centerPadding":"30px 30px 20px","slidesToScroll":1}}
                ]
            },
            isShow: false
        }
    },
    methods : {
        async getServerKey () {
            let serverData = await axios.get('https://ism.ec2.prod.finevotech.net/api/public/v1/code?application=m4&metadata=abcd1234')
                .then(async response => {
                    return response.data
                })
                .catch(error => {
                    console.log(error)
                })

            if (!serverData) {
                console.log('error server data')
                return false
            }

            let oauthData = await this.oauth(serverData.data)
            if (!oauthData) {
                console.log('error oauth data')
                return false
            }

            this.user = oauthData

            this.initSock()

            console.log("response server key: ", serverData)
            console.log("response oauth data: ", oauthData)
        },

        async oauth (serverKey) {
            let dataRequest = {
                grant_type: 'password',
                username: 'client-1',
                password: '1234',
                schema: 'public',
            }
            let headerRequest = {
                headers: {
                    Authorization: 'Basic ' + serverKey,
                    "Content-Type": 'multipart/form-data'
                }
            }
            let fdata = new FormData()
            fdata.append('grant_type', 'password')
            fdata.append('username', 'client-1')
            fdata.append('password', '1234')
            fdata.append('schema', 'public')

            let data = await axios.post('https://ism.ec2.prod.finevotech.net/oauth/token', fdata, headerRequest)
                .then (async response => {
                    return response.data
                })
                .catch(error => {
                    console.log(error)
                })

            return data
        },
        initSock () {
            let sock = new SockJS('https://mdd.ec2.prod.finevotech.net/api-sjs?access_token=' + this.user.access_token)

            sock.onopen = () => {
                console.log('open');
                let stockLists = this.prepareParamToGetStocks()
                sock.send(JSON.stringify(stockLists))
            };

            sock.onmessage = (e) => {
                //console.log('message', e);
                // console.log('e: ', e)
                let message = JSON.parse(e.data)
                this.processSockResponse(message, sock)
            };

            sock.onclose = () => {
                console.log('close');
            };
        },

        prepareParamToGetStocks () {
            let data = {
                "msgType": "subscription",
                "subscribe": [
                    {
                        "api": {
                            "name": "movers",
                            "clause": "TOP.TOTAL-VOLUME",
                            "interval": 10,
                            "limit": 10
                        },
                        "topics": [
                            "NM.BM"
                        ] 
                    }
                ]
            }

            return data
        },

        subscribeNewStocks (_newTopics, sock) {
            console.log('subscribe old: ', _newTopics)
            if (!_newTopics || !_newTopics.length) {
                console.log('no topics for subscribe')
                return false
            }

            let data = {
                "msgType": "subscription",
                "subscribe": [
                    {
                        "api": {
                            "name": "instrument"
                        },
                        "topics": _newTopics
                    }
                ]
            }

            sock.send(JSON.stringify(data))
        },

        unSubscribeNewStocks (_oldTopics, sock) {
            // console.log('unsubscribe old: ', _oldTopics)
            if (!_oldTopics || !_oldTopics.length) {
                console.log('no topics for unsubscribe')
                return false
            }

            let data = {
                "msgType": "subscription",
                "unsubscribe": [
                    {
                        "api": {
                            "name": "instrument"
                        },
                        "topics": _oldTopics 
                    }
                ] 
            }

            sock.send(JSON.stringify(data))
        },

        processSockResponse (message, sock) {
            if (message.hasOwnProperty('msgType') && message.msgType === "movers") {
                this.oldStocks = _.cloneDeep(this.newStocks)
                this.newStocks = []
                message.data.forEach(stock => {
                    this.newStocks.push([stock.id, stock.type, 'BM'].join('.')) 
                })

                this.processListStocks()

                this.unSubscribeNewStocks(this.oldStocks, sock)
                this.subscribeNewStocks(this.newStocks, sock)
                
            } else if (message.hasOwnProperty('msgType') && message.msgType === "instrument") {
                let iData = message.data
                console.log("instrument of " + iData[48], true)
                this.compareDataWhenChange(iData, true)
            
            } else if (message.hasOwnProperty('msgType') && message.msgType === "instrumentDelta") {
                let idData = message.data
                console.log("instrumentDelta of " + idData[48], false)
                this.compareDataWhenChange(idData, false)
            }
        },

        processListStocks () {
            let newData = {}
            // this.reInit()
            if (this.newStocks.join('') === this.oldStocks.join('')) {
                console.log('dont update')
                return false
            }
            this.isShow = false

            this.newStocks.forEach(value => {
                let params = value.split('.')
                newData[params[0]] = {
                    id: params[0],
                    code: params[1],
                    composite: value,
                    current: 0,
                    prev: 0,
                    name: null,
                    symbol: null
                }
            })

            this.dataStocks = newData
            this.reInit()
        },
        compareDataWhenChange (item, first) {
            let stockId = item[48]
            let prevPercent = item[2045] ? item[2045] : 0
            // let newData = item[1150]
            let newData = parseFloat(_.random(-5.9, 5.9))

            let stockItem = _.cloneDeep(this.dataStocks[stockId])
            stockItem.old = stockItem.current
            stockItem.new = newData

            if (first) {
                stockItem.prev = prevPercent
                stockItem.current = newData
                let growFlow = newData - prevPercent
                console.log('growFlow first: ', growFlow, newData, prevPercent, item)
                stockItem.change = growFlow
                stockItem.up = growFlow >= 0

                stockItem.symbol = item[55]
                stockItem.name = item[3004]
            } else {
                let growFlow = newData - stockItem[1150]
                console.log('growFlow second: ', growFlow)
                stockItem.current = newData
                stockItem.change = growFlow
                stockItem.up = growFlow >= 0
            }
            
            this.dataStocks[stockId] = stockItem
        },
        reInit() {
            // Helpful if you have to deal with v-for to update dynamic lists
            this.$nextTick(() => {
                this.$refs.slick.reSlick();
            });
        },
        handleReInit(event, slick) {
            console.log('handleReInit', event, slick);
        },
    },
    mounted () {
        this.getServerKey()
    }
}
</script>
