<template>
    <div class="dashboard-page">
        <loader></loader>
    </div>
</template>

<script>
    import storage from 'store2'
    import { eventNames, labelTimeOfDayPath, timeOfDay, preferences} from '@/configs'
    import appUtils from '@/utils/appUtils'
    import Loader from '@/components/commons/Loader'

    export default {
        name: 'Dashboard',
        components: {Loader},
        data() {
            return {
                input: null,
            }
        },
        activated() {
            this.checkCurrentTimeOfDay()
        },
        mounted () {
            this.checkCurrentTimeOfDay()
        },
        methods: {
            checkCurrentTimeOfDay () {
                if (this.$route.name !== 'Dashboard')
                    return false

                let _timeOfDay = appUtils.getGreetingTime()
                let localTimeOfDay = storage.get(preferences.timeofday, null)
                let resultTimeOfDay = localTimeOfDay === timeOfDay.anyTime ? localTimeOfDay : _timeOfDay

                let timePath = labelTimeOfDayPath[resultTimeOfDay]
                this.$router.push({name: 'Journal', params: {time: timePath}})
            },
        }
    }
</script>

