<template>
    <div class="login-page">
        <div class="banner-left d-none d-lg-block"><img src="/assets/images/authenticate/banner-left.svg" alt="Login img left"></div>
        <div class="login-container">
            <div class="logo">
                <a href="#"><img src="/assets/images/authenticate/d54bc8e70ac47796d29ed9d2590244ae.svg" alt="Logo Habitify"></a>
            </div>
            <div class="login-form">
                <h1 class="title-section">Forgot your password</h1>
                <p class="error-notice text-center" v-if="error"><span>{{ error }}</span></p>
                <p class="text-center" v-if="stageSucess">Check your email for a password reset link!</p>
                <form action="#" @submit.prevent="onFormSubmit">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" required v-model="form.email" :placeholder="$t('common.pseudocode.email.placeholder')">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sign-in w-100" type="submit" v-html="getStageButton"></button>
                    </div>
                    <div class="text-center">Already have an account? <router-link :to="{name: 'Signin'}" class="link-dark forgot-password">Sign in</router-link></div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import { eventNames } from '@/configs'
    import Alert from '@/components/ui/common/Alert'
    export default {
        name: 'Forgot',
        components: {
            Alert
        },
        data () {
            return {
                form: {
                    email: null,
                    password: null
                },
                isLogin: true,
                error: null,
                typePassword: 'password',
                stageBtn: 'send',
                stageSucess: false
            }
        },
        computed: {
            getStageButton() {
                let label = 'Send'
                if (this.stageBtn == 'send') {
                    label = 'Send'
                } else if (this.stageBtn == 'error') {
                    label = 'Try again'
                } else if (this.stageBtn == 'process') {
                    label = `<img src="/assets/images/authenticate/loading.svg" class="img-fluid img-stage-loading"/>`
                }

                return label
            }
        },
        methods: {
            onFormSubmit () {
                this.stageBtn = 'process'
                this._loginWithPassword()
            },
            _loginWithPassword () {
                this.$firebase.auth().sendPasswordResetEmail(this.form.email).then(res => {
                    this.stageSucess = true
                    this.stageBtn = 'send'
                }).catch(function(error) {
                    this.stageBtn = 'error'
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
                
            },
        },
        mounted () {
            this.$bus.$on('clearError', () => {
                this.error = null
            })

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.loaderIsLoaded)
            })
        }
    }
</script>