<template>
    <div class="habit-detail" :class="{'has-notes': openNote}" v-if="currentHabit">
        <div class="row-habit-detail">
            <div class="detail-habit-panel">
                <div class="detail-wrapper">
                    <div class="detail-column col-detail-left">
                        <div class="habit-row habit-row-flex">
                            <div class="col-habit-6 col-streak col-consecutive habit-detail-bock">
                                <div class="streak-wrapper">
                                    <div class="streak-number">{{ consecutiveDays }}</div>
                                    <div class="streak-info">
                                        <div class="streak-title">{{ $t('progress.streaks') }}</div>
                                        <current-streak-quote class="streak-desc" :currentStreak="consecutiveDays" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-habit-6 col-streak col-target habit-detail-bock">
                                <div class="streak-wrapper">
                                    <div class="streak-number">{{ actualCheckinThisWeek + '/' + expectCheckinThisWeek }}</div>
                                    <div class="streak-info">
                                        <div class="streak-title">{{ $t('progress.weekly.goal') }}</div>
                                        <current-week-streak-quote class="streak-desc" :completedCount="actualCheckinThisWeek" :numberOfRequiredHabit="expectCheckinThisWeek" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="habit-row habit-row-flex">
                            <div class="col-habit-12 col-habit-calendar habit-detail-bock">
                                <habit-calendar :currentHabit="currentHabit" 
                                                :currentDate="currentDate" 
                                                :preferences="preferences" 
                                                :calendarDOWMon="calendarDOWMon" 
                                                :calendarDOWSun="calendarDOWSun"
                                                :yearCalendar="yearCalendar"
                                                :isMobile="isMobile"
                                                ></habit-calendar>
                            </div>
                        </div>
                        <div class="habit-row habit-row-flex">
                            <div class="col-habit-12 col-habit-weekday habit-detail-bock">
                                <weekday-box :yearCalendar="yearCalendar" :preferences="preferences" :isMobile="isMobile"></weekday-box>
                            </div>
                        </div>
                    </div>
                    <div class="detail-column col-detail-right">
                        <div class="habit-row">
                            <habit-complete-rate :class="'col-habit-12 habit-detail-bock'" :yearCalendar="yearCalendar" :currentHabit="habit" :preferences="preferences" :isMobile="isMobile"></habit-complete-rate>
                        </div>
                        <div class="habit-row">
                            <habit-streak :class="'col-habit-12 habit-detail-bock'" :yearCalendar="yearCalendar" :currentHabit="currentHabit" :preferences="preferences" :currentDate="currentDate"></habit-streak>
                        </div>
                    </div>
                </div>
            </div>
            <notebar></notebar>
        </div>
        <dialog-update-habit 
            :habitOriginData="habit"
            :habitData="habitEditClone"
            :habitId="currentHabitId"
            v-if="habitEditClone && Object.keys(habitEditClone).length && isOpenDialogEdit"/>
    </div>
</template>

<script>
    import HabitCalendar from '@/components/ui/habit/HabitCalendar'
    import WeekdayBox from '@/components/ui/habit/WeekdayBox'
    import HabitStreak from '@/components/ui/habit/HabitStreak'
    import HabitCompleteRate from '@/components/ui/habit/HabitCompleteRate'
    import Notebar from '@/components/includes/Notebar'
    import CurrentStreakQuote from '@/components/includes/habit-detail/CurrentStreakQuote'
    import CurrentWeekStreakQuote from '@/components/includes/habit-detail/CurrentWeekStreakQuote'

    import DialogUpdateHabit from '@/components/ui/dialogs/DialogUpdateHabit'

    import { mapGetters } from 'vuex'
    import { habitMixins } from '@/utils/mixins'
    import appUtils from '@/utils/appUtils'
    import { eventNames, deviceTypes, breakpoints } from '@/configs'
    import storage from 'store2'

    export default {
        name: 'HabitDetail',
        components: {
            HabitCalendar, 
            WeekdayBox, 
            HabitStreak, 
            HabitCompleteRate, 
            Notebar, 
            DialogUpdateHabit,
            CurrentStreakQuote,
            CurrentWeekStreakQuote},
        mixins: [habitMixins],
        data () {
            return {
                calendarDOWMon: [
                    'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'
                ],
                calendarDOWSun: [
                    'SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'
                ],
                isOpenDialogEdit: false,
                isOpenNotes: false,
                prevWidth: window.innerWidth,
                // yearCalendar: {},
                originalPrefer: null
            }
        },
        computed: {
            ...mapGetters(['user', 'currentHabit', 'currentDate', 'preferences', 'currentHabitId', 'deviceType', 'userPremiumData']),
            expectCheckinThisWeek () {
                return this.getExpectCheckinOfWeek(this.habit, moment())
            },
            actualCheckinThisWeek () {
                return this.getActualCheckinOfWeek(this.habit, moment())
            },
            consecutiveDays () {
                return this.getConsecutiveDays(this.habit, moment())
            },
            habit: {
                get() {return this.$store.getters.currentHabit},
                set(value) {
                    this.$store.dispatch('setCurrentHabit', {
                        key: this.currentHabitId,
                        content: value
                    })
                }
            },
            yearCalendar () {
                if (!this.currentHabit || !Object.keys(this.currentHabit).length)
                    return {}//[]

                return this.generateYearCalendar()
            },
            notes: {
                get() {return this.$store.getters.notes},
                set(value) {
                    this.$store.dispatch('setNotes', value)
                }
            },
            openNote: {
                get () {
                    return this.$store.getters.openNote
                },
                set(status) {
                    this.$store.dispatch('setOpenNote', status)
                }
            },
            isMobile () {
                return parseInt(this.deviceType) !== parseInt(deviceTypes.pc)
            },
            habitDirect: {
                get () {return this.$store.getters.habitDirect;},
                set(payload) {
                    this.$store.dispatch('setHabitDirect', payload)
                }
            },
            habitEditClone: {
                get() {return this.$store.getters.habitEditClone},
                set(value) {
                    this.$store.dispatch('setCurrentHabitEditClone', value)
                }
            },
            isPremium () {
                return appUtils.isPremium(this.userPremiumData)
            }
        },
        activated() {
            // this.$nextTick(() => {
            //     this.$bus.$emit(eventNames.loaderIsLoaded)
            // })
        },
        mounted () {
            // this.$nextTick(() => {
            //     this.$bus.$emit(eventNames.loaderIsLoaded)
            // })
            this.habitDirect = this.$route.params.id

            let storageNote = storage.get('openNote', null)
            if (storageNote === null || storageNote === undefined) {
                this.openNote = true
            } else {
                this.openNote = storageNote
            }

            this.fetchHabitData()
            this.$bus.$on(eventNames.mainAppChangeHabitList, () => {
                this.$nextTick(() => {
                    this.fetchHabitData()

                    // trick for update list display month or year
                    this.$bus.$emit(eventNames.singleHabitUpdateStartDate)
                    this.$bus.$emit('redrawChart')
                })
            })
            this.$bus.$on(eventNames.toggleDialogEdit, this.toggleDialogEdit)
            this.$bus.$on(eventNames.toggleNotesHabit, this.toggleNotesHabit)
            this.$bus.$on(eventNames.singleHabitUpdateStartDate, () => {
                setTimeout(() => {
                    this.$nextTick(() => {
                        this.$bus.$emit('redrawCalendar')
                    })
                }, 1)
            })

            this.$bus.$on(eventNames.singleHabitUpdateCheckins, () => {
                setTimeout(() => {
                    this.$nextTick(() => {
                        this.$bus.$emit('redrawWeekDayChart')
                        this.$bus.$emit('redrawChart')
                    })
                }, 1)
            })

            this.$bus.$on(eventNames.habitDetailForceClosePopup, () => {
                if (this.isOpenDialogEdit) {
                    this.handleHideEditDialog()
                }
            })
        },
        beforeDestroy () {
            let listEvents = [
                eventNames.toggleDialogEdit,
                eventNames.toggleNotesHabit,
                eventNames.singleHabitUpdateStartDate,
                eventNames.singleHabitUpdateCheckins,
                eventNames.mainAppChangeHabitList,
                eventNames.habitDetailForceClosePopup
            ]
            
            listEvents.forEach(event => {
                this.$bus.$off(event)
            })

            let _refHabit = this.$firebase.database().ref('/habits/' + this.user.uid + '/' + this.currentHabitId);
            let _refNote = this.$firebase.database().ref('/notes2/' + this.user.uid + '/' + this.currentHabitId);
            _refHabit.off()
            _refNote.off()
        },
        methods: {
            generateYearCalendar () {
                let _currentDate = moment(this.currentDate.toDate())
                let _minDate = moment(appUtils.getStartTime(this.habit.startDate))
                let _startMinDate = moment(_minDate.toDate()).startOf('month')
                let _endMaxDate = moment(_currentDate.toDate()).endOf('month')
                let diffDays = moment.duration(_endMaxDate.diff(_startMinDate)).as('days')

                // let checkins = this.habit.hasOwnProperty('checkins') ? this.habit.checkins : {}

                let result = {}
                for (let day = 0; day < diffDays; day++) {
                    let tmpDay = moment(_startMinDate.toDate()).add(day, 'days')
                    let _yearFMT = tmpDay.format('YYYY')
                    let _monthFMT = tmpDay.format('MM')
                    let _dayFMT = tmpDay.format('DDMMYYYY')
                    if (!result.hasOwnProperty(_yearFMT)) {
                        result[tmpDay.format('YYYY')] = {}
                    }

                    if (!result[_yearFMT].hasOwnProperty(_monthFMT)) {
                        result[_yearFMT][_monthFMT] = {
                            month: tmpDay,
                            days: []
                        }
                    }

                    result[_yearFMT][_monthFMT].days.push({
                        day: tmpDay,
                        status: appUtils.getHabitStatus(this.habit, tmpDay)
                    })
                }

                return result
            },
            fetchHabitData () {
                if (!this.user) {
                    return
                }

                let _refHabit = this.$firebase.database().ref('/habits/' + this.user.uid + '/' + this.currentHabitId);
                _refHabit.on('value', (snapshot) => {
                    let habit = snapshot.val() ? snapshot.val() : null
                    let _localHabit = this.habit
                    
                    if (!habit) {
                        this.habit = null
                        // this.$router.push({ name: 'Dashboard' })
                        return false
                    } else {
                        this.habit = habit

                        this.openEditIfHasParam()
                    }

                    this.hideLoader()
                })

                let _refNote = this.$firebase.database().ref('/notes2/' + this.user.uid + '/' + this.currentHabitId);
                _refNote.on('value', (snapshot) => {
                    let _notes = snapshot.val() ? snapshot.val() : {}
                    this.notes = _notes
                    this.$bus.$emit('updateNoteList', _notes)
                })
            },
            toggleDialogEdit (open = false) {
                if (open || !this.isOpenDialogEdit) {
                    this.habitEditClone = _.cloneDeep(this.habit)
                }

                if (open !== null || open !== undefined) {
                    this.isOpenDialogEdit = open
                } else {
                    this.isOpenDialogEdit = !this.isOpenDialogEdit
                }

                let urlDetail = [location.origin, 'progress', this.currentHabitId].join('/')
                let urlEdit = [location.origin, 'progress', this.currentHabitId, 'edit'].join('/')
                if (this.isOpenDialogEdit) {
                    if (!location.href.endsWith('/edit'))
                        window.history.replaceState(null, 'Edit habit', urlEdit)
                } else
                    window.history.replaceState(null, this.habit.name + ' Progress', urlDetail)
            },
            toggleNotesHabit (open) {
                if (open !== null && open !== undefined) {
                    this.openNote = open
                } else {
                    let currentStatus = !this.openNote
                    this.openNote = currentStatus
                }
                $(window).trigger('resize')
                setTimeout(() => {
                    $(window).trigger('resize')
                }, 300)
            },
            openEditIfHasParam() {
                if (this.$route.params.edit) {
                    this.$nextTick(() => {
                        this.$bus.$emit(eventNames.toggleDialogEdit, true)
                    })
                }
            },
            handleHideEditDialog() {
                if (!appUtils.compareSameObjectData(this.habit, this.habitEditClone)) {
                    if (confirm(this.$i18n.t('common.dialog.edit.close')))
                        this.toggleDialogEdit(false)
                } else
                    this.toggleDialogEdit(false)
            },
            hideLoader() {
                this.$nextTick(() => {
                    this.$bus.$emit(eventNames.loaderIsLoaded)
                })
            }
        },
        metaInfo() {
            let title = `Single Progress`
            if (this.currentHabit) {
                title = this.currentHabit.name ? `${this.currentHabit.name} Progress` : title
                title = this.isOpenDialogEdit ? `Edit ${this.currentHabit.name}` : title
            }

            return {
                title: title
            }
        }
    }
</script>