<template>
    <div class="dashboard-page">
        <habit-list v-show="habitToday && Object.keys(habitToday).length" :habits="habitToday" :transitionGroup="transitionGroup" :currentDate="currentDate" :iso="iso"></habit-list>
        <empty-stage :eventShowCreateDialog="configEventNames.journalShowCreateDialog" v-if="!habits || !Object.keys(habits).length"/>

        <dialog-create-habit v-if="showDialogCreate"></dialog-create-habit>

        <dialog-update-habit :habitOriginData="habitEdit" :habitData="habitEditClone"
            :habitId="currentHabitIdEdit"
            :eventCloseDialogEdit="configEventNames.journalCloseEditDialog"
            v-if="habitEditClone && Object.keys(habitEditClone).length && isOpenDialogEdit"/>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { habitMixins } from '@/utils/mixins'

    import HabitList from '@/components/ui/dashboard/HabitList'

    import DialogCreateHabit from '@/components/ui/dialogs/DialogCreateHabit'
    import DialogUpdateHabit from '@/components/ui/dialogs/DialogUpdateHabit'

    import DropdownRepeat from '@/components/ui/common/DropdownRepeat'

    import EmptyStage from '@/components/commons/EmptyStage'

    import { eventNames, timeOfDayPath, timeOfDay, labelTimeOfDays } from '@/configs'
    import appUtils from '@/utils/appUtils'
    export default {
        name: 'Journal',
        data () {
            return {
                transitionGroup: 'habit-list',
                showDialogCreate: false,
                isOpenDialogEdit: false,
                tod: null,
                newHabit: null,
                configEventNames: eventNames
            }
        },
        components: {HabitList, DialogCreateHabit, DialogUpdateHabit, DropdownRepeat, EmptyStage},
        mixins: [habitMixins],
        computed: {
            ...mapGetters([
                'habits', 'currentDate', 'currentDateDDMMYYYY', 'currentHabitIdEdit', 'currentOtherTOD', 
                'stageMounted', 'originalBlankHabit', 'blankHabit',
                'habitEditClone', 'isShowCompletedHabits'
            ]),
            habitToday () {
                let _habits = this.getHabitByDay(this.currentDate, this.habits, this.currentTimeOfDay, true, this.isShowCompletedHabits)
                return _habits
            },
            habitEdit: {
                get() {return this.$store.getters.habitEdit},
                set(value) {
                    this.$store.dispatch('setCurrentHabitEdit', value)
                }
            },
            habitEditClone: {
                get() {return this.$store.getters.habitEditClone},
                set(value) {
                    this.$store.dispatch('setCurrentHabitEditClone', value)
                }
            },
            currentTimeOfDay: {
                get () {return this.$store.getters.currentTimeOfDay},
                set (value) {
                    this.$store.dispatch('setCurrentTimeOfDay', value)
                }
            }
        },
        watch: {
            '$route' (to, from) {
                this.checkCurrentJournal()
            }
        },
        beforeRouteLeave (to, from, next) {
            if (to.name === 'HabitDetail')
                this.$bus.$emit(eventNames.loaderIsLoading)
            next()
        },
        activated() {
            this.reCheckStageEmpty()
            this.$bus.$on(eventNames.toggleDialogEdit, this.toggleDialogEdit)
            this.$bus.$on(eventNames.topbarToggleShowCompleted, () => {
                this.reCheckStageEmpty()
            })
        },
        mounted () {

            this.checkCurrentJournal()

            this.$bus.$on(eventNames.commonCloseDialogCreateHabit, this.hideDialogCreateHabit)
            this.$bus.$on(eventNames.journalShowCreateDialog, this.showDialogCreateHabit)

            this.$bus.$on('setCurrentHabitEdit', this.setCurrentHabitEdit)
            
            this.$bus.$on(eventNames.updateSingleHabit, () => {
                this.updateCurrentHabitEdit()
                this.reCheckStageEmpty()
            })

            this.$bus.$on(eventNames.journalForceClosePopup, this.handleForceClosePopup)
            this.$bus.$on(eventNames.mainAppChangeHabitList, () => {
                this.reCheckStageEmpty()
            })

            this.$bus.$on(eventNames.mainAppSetSelectedDate, (date) => {
                this.transitionGroup = 'habit-list-blank'
                this.reCheckStageEmpty()
            })

            this.$bus.$on(eventNames.singleHabitUpdateCheckins, (date) => {
                this.reCheckStageEmpty()
            })

            this.$bus.$on(eventNames.singleHabitUpdateStartDate, () => {
                this.reCheckStageEmpty()
            })

            this.$bus.$on(eventNames.singleHabitUpdateArchive, () => {
                this.reCheckStageEmpty()
            })
        },
        beforeDestroy() {
            let events = [
                eventNames.commonCloseDialogCreateHabit,
                eventNames.commonShowDialogCreateHabit,
                'Edit',
                eventNames.toggleDialogEdit,
                eventNames.updateSingleHabit,
                eventNames.journalForceClosePopup,
                eventNames.mainAppSetSelectedDate,

                eventNames.singleHabitUpdateStartDate,
                eventNames.singleHabitUpdateArchive,
                eventNames.singleHabitUpdateCheckins,
            ]

            events.forEach(event => {
                this.$bus.$off(event)
            })
        },
        deactivated() {
            let events = [
            //     eventNames.commonCloseDialogCreateHabit,
            //     eventNames.commonShowDialogCreateHabit,
            //     'setCurrentHabitEdit',
                eventNames.toggleDialogEdit,
                // eventNames.topbarToggleShowCompleted
            //     eventNames.updateSingleHabit,
            //     eventNames.journalForceClosePopup,
            //     'setSelectedDate',

            //     eventNames.singleHabitUpdateStartDate,
            //     eventNames.singleHabitUpdateArchive,
            //     eventNames.singleHabitUpdateCheckins,
            ]

            events.forEach(event => {
                this.$bus.$off(event)
            })
        },
        methods: {
            hideDialogCreateHabit () {
                this.showDialogCreate = false
            },
            showDialogCreateHabit () {
                this.showDialogCreate = true
            },
            toggleDialogEdit (open = false) {
                if (open !== null || open !== undefined) {
                    this.isOpenDialogEdit = open
                } else {
                    this.isOpenDialogEdit = !this.isOpenDialogEdit
                }
            },
            setCurrentHabitEdit (habit) {
                this.habitEdit = habit
                this.habitEditClone = _.cloneDeep(habit.content)
                this.toggleDialogEdit(true)
            },
            updateCurrentHabitEdit (id) {
                if (id !== this.currentHabitIdEdit)
                    return false

                let habit = this.habits[id]
                if (!habit || !Object.keys(habit).length) {
                    this.habitEdit = null
                    this.toggleDialogEdit(false)
                    return false
                }

                this.habitEdit = {
                    content: habit,
                    key: id
                }
            },
            checkCurrentJournal () {
                if (this.$route.name !== 'Journal')
                    return false
                
                let time = this.$route.params.time ? this.$route.params.time : null
                let _timeOfDay = timeOfDayPath.hasOwnProperty(time) ? timeOfDayPath[time] : null
                if (!_timeOfDay) {
                    this.$router.push({name: 'Journal', params: {time: 'allHabits'}})
                } else {
                    this.currentTimeOfDay = _timeOfDay
                    this.$bus.$emit('setCurrentTimeOfDay', _timeOfDay)
                    this.$bus.$emit(eventNames.mainAppSetSelectedDate, new Date(), 'set current date today from journal checkCurrentJournal')
                }
            },
            handleForceClosePopup () {
                // if (this.$route.name != 'Journal' || this.$route.name != 'Dashboard') {
                //     return false
                // }

                if (!appUtils.compareSameObjectData(this.blankHabit, this.originalBlankHabit)) {
                    if (confirm(this.$i18n.t('common.dialog.create.close'))) {
                        this.hideDialogCreateHabit()
                    }
                } else {
                    this.hideDialogCreateHabit()
                }
                
                if (!appUtils.compareSameObjectData(this.habitEdit, this.habitEditClone)) {
                    if (confirm(this.$i18n.t('common.dialog.edit.close'))) {
                        this.toggleDialogEdit(false)
                    }
                } else {
                    this.toggleDialogEdit(false)
                }
            },
            getPageTitle() {
                let label = labelTimeOfDays[this.currentTimeOfDay]
                let result = null
                if (this.showDialogCreate) {
                    result = ' Create new habit'
                } else if (this.isOpenDialogEdit) {
                    result = ` Edit ${this.habitEdit.name}`
                } else {
                    result = this.$i18n.t(label)
                }
                return result
            },
            reCheckStageEmpty() {
                
                this.$nextTick(() => {
                    if (!this.stageMounted)
                        this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true, true, Object.keys(this.habitToday).length, this.habitToday, 'Journal')

                    setTimeout(() => {
                        this.transitionGroup = 'habit-list'

                    }, 1000)
                })
            }
        },
        metaInfo() {
            return {
                title: this.getPageTitle()
            }
        }
    }
</script>

