<template>
    <div class="manager-habit-page" :class="{'show-detail': isShowDetail}">
        <div class="habit-page-left">
            <div class="app-topbar">
                <div class="topbar-wrapper topbar-progress" v-if="isMobile">
                    <div class="toggle-bar" @click.prevent="openSidebar">
                        <i class="icon-icon-bar icon-b"></i>
                    </div>
                    <div class="topbar-title">{{ $t('settings.reorder.habit') }}</div>
                </div>
                <div class="topbar-wrapper topbar-wrapper-tab">
                    <div class="topbar-col topbar-tabs two-tabs" :class="{'active-first': isShowActive, 'active-second': !isShowActive}">
                        <span class="tab-active" :class="{active: isShowActive}" @click.prevent="changeActiveTab(true)">
                            <span class="tab-name">{{ $t('manage.active.count', {num: numActive}) }}</span>
                        </span>
                        <span class="tab-active" :class="{active: !isShowActive}" @click.prevent="changeActiveTab(false)">
                            <span class="tab-name">{{ $t('manage.archived.count', {num: numArchived}) }}</span>
                        </span>
                        <div class="tab-border"></div>
                    </div>
                </div>
            </div>
            <manager-habit-list :habits="habitToday" :currentDate="currentDate" :iso="iso" :selectedList="selectedList"/>
        </div>
        <div class="habit-page-right" v-if="selectedList">
            <!-- <div class="habit-page-right-wrapper"> -->
                <div class="app-topbar">
                    <div class="topbar-wrapper" v-if="!isMobile">
                        <div class="left-topbar topbar-col">
                            <div class="topbar-title" v-text="getHabitTitle()"></div>
                        </div>
                        <div class="right-topbar topbar-col">
                            <div class="topbar-actions">
                                <a href="#" class="action-item action-archive" @click.prevent="setArchiveHabit"><i class="icon-icon-archive"></i> {{ isShowActive ? $t('common.archive') : $t('common.unarchive') }}</a>
                                <a href="#" class="action-item action-delete" @click.prevent="deleteHabit"><i class="icon-icon-trash"></i> {{ $t('common.delete') }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="topbar-wrapper topbar-progress" v-if="isMobile">
                        <div class="toggle-bar" @click.prevent="closeEditDialog">
                            <i class="icon-icon-back icon-b"></i>
                        </div>
                        <div class="topbar-title">Edit Habit</div>
                        <div class="right-topbar topbar-col">
                            <div class="topbar-actions">
                                <a href="#" class="action-item action-archive" @click.prevent="setArchiveHabit"><i class="icon-icon-archive"></i></a>
                                <a href="#" class="action-item action-delete" @click.prevent="deleteHabit"><i class="icon-icon-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <habit-form :selectedList="selectedList" :habits="habitToday" v-if="selectedList.length === 1" :isMobile="isMobile"/>
                <button class="btn btn-save-dialog btn-blue-app btn-radius-3 btn-block" @click.prevent="onClickBtnUpdate">Save Changes</button>
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { habitMixins } from '@/utils/mixins'
    import _ from 'lodash'
    import { deviceTypes, eventNames } from '@/configs'

    import ManagerHabitList from '@/components/includes/manager-habit/ManagerHabitList'
    import HabitForm from '@/components/ui/form/HabitForm'
    import Vue from 'vue'
    import storage from 'store2'
    import appUtils from '@/utils/appUtils'

    export default {
        name: 'ManagerHabit',
        data () {
            return {
                isShowDetail: false,
                isShowActive: true,
                selectedList: [],
                listDataHabit: {}
            }
        },
        mixins: [habitMixins],
        computed: {
            ...mapGetters(['habits', 'currentDate', 'currentDateDDMMYYYY', 'currentTimeOfDay', 'iso', 'deviceType', 'userPremiumData', 'isShowPremium']),
            selectedHabit: {
                get() { return this.$store.getters.selectedHabit },
                set(value) {
                    this.$store.dispatch('setSelectedHabit', value)
                }
            },
            habitEditManager: {
                get() { return this.$store.getters.habitEditManager },
                set(value) {
                    this.$store.dispatch('setHabitEditManager', value)
                }
            },
            habitList () {
                let list = this.$store.getters.habits
                return list
            },
            habitToday () {
                return this.getHabitTodayByStatus(this.isShowActive)
            },
            isMobile () {
                return parseInt(this.deviceType) !== parseInt(deviceTypes.pc)
            },
            managerHabitType: {
                get() {return this.$store.getters.manager_habit_type},
                set(type) {
                    this.$store.dispatch('setManagerHabitType', type)
                }
            },
            numActive() {
                return this.getHabitTodayByStatus(true).length
            },
            numArchived () {
                return this.getHabitTodayByStatus(false).length
            }
        },
        components: {ManagerHabitList, HabitForm},
        watch: {
            '$route' (to, from) {
                this.getTypeManagerHabit()
            }
        },
        activated() {
            this.$bus.$on(eventNames.mainAppChangeHabitList, () => {
                this.$nextTick(() => {
                    this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true)
                })
            })
        },
        mounted () {
            this.getTypeManagerHabit()
            if (!this.parseTypeFromRouter()) {
                return false
            }

            this.listDataHabit = this.habits
            setTimeout(() => {
                this.listDataHabit = this.habits
            }, 200)

            this.toggleHabitDetail()

            this.$bus.$on(eventNames.managerSelectHabit, this.processSelectedHabit)

            this.$bus.$on(eventNames.managerResetData, this.resetData)

            this.$bus.$on(eventNames.mainAppChangeHabit, () => {
                this.$nextTick(() => {
                    this.setSelectedHabitOnStore()
                })
            })

            this.$bus.$on('updateSingleHabit', (id) => {
                this.$nextTick(() => {
                    this.setSelectedHabitOnStore()
                    this.listDataHabit = this.habits
                    Vue.set(this, 'listDataHabit', this.habits)
                })
            })

            this.$bus.$on(eventNames.managerHabitForceClosePopup, () => {
                if (!this.isShowPremium) {
                    this.resetData()
                }
            })

            $(window).on('resize', () => {
                this.toggleHabitDetail()
                setTimeout(() => {
                    this.toggleHabitDetail()
                }, 300)
            })
        },
        beforeDestroy () {
            let events = [
                eventNames.managerSelectHabit,
                eventNames.mainAppChangeHabit,
                eventNames.managerResetData,
                'updateSingleHabit',
                eventNames.mainAppChangeHabitList
            ]

            events.forEach(event => {
                this.$bus.$off(event)
            })
        },
        deactivated() {
            let events = [
                eventNames.mainAppChangeHabitList
            ]

            events.forEach(event => {
                this.$bus.$off(event)
            })
        },
        methods: {
            changeActiveTab (status) {
                this.$router.push({name: 'ManagerHabitType', params: {type: status ? 'active' : 'archived'}})
            },
            toggleHabitDetail () {
                let maxWidth = $('.main-content').width()
                let left = $('.habit-page-left')
                let right = $('.habit-page-right')
                let half = maxWidth/2 + 'px'
                // show

                let rightWidth;
                let rightTrans;
                let leftWidth;
                if (this.isMobile) {
                    leftWidth = '100%'
                    rightWidth = this.selectedList.length === 1 ? '100%' : half
                    rightTrans = this.selectedList.length === 1 ? 0 : half
                } else {
                    leftWidth = this.isShowDetail ? half : '100%'
                    rightWidth = half
                    rightTrans = this.isShowDetail ? 0 : half
                }

                let leftCss = {
                    width: leftWidth
                }

                let rightCss = {
                    width: rightWidth,
                    transform: `translate3d(${rightTrans}, 0px, 0px)`,
                    opacity: this.isShowDetail ? 1 : 0
                }

                left.css(leftCss)
                right.css(rightCss)
            },
            processSelectedHabit (habit) {
                let key = habit.key
                let index = this.selectedList.indexOf(key)
                if (index >= 0) {
                    this.selectedList.splice(index, 1)
                } else {
                    this.selectedList = [key]//.push(key)
                }

                if (this.selectedList.length <= 0) {
                    this.isShowDetail = false
                } else if (this.selectedList.length === 1) {
                    this.isShowDetail = true
                }

                this.setSelectedHabitOnStore()
                
                if (this.selectedList.length <= 0 || this.selectedList.length === 1)
                    this.toggleHabitDetail()
            },
            getHabitTitle () {
                let title = ''
                if (this.selectedList.length <= 0)
                    return ''

                if (this.selectedList.length === 1) {
                    let firstHabit = _.find(this.habitToday, (habit) => {
                        return habit.key === this.selectedList[0]
                    })
                    title = this.habitEditManager.content.name //firstHabit.content.name
                } else {
                    title = `Selected ${this.selectedList.length} habits`
                }

                return title
            },
            setArchiveHabit () {
                if (this.selectedList.length <= 0)
                    return
                this.selectedList.forEach(habitId => {
                    this.$bus.$emit(eventNames.mainAppSetArchiveHabit, habitId, this.isShowActive)
                })

                let canArchive = appUtils.userCanArchive(this.userPremiumData)
                if (!this.isShowActive || canArchive)
                    this.$bus.$emit(eventNames.managerResetData)
            },
            deleteHabit () {
                if (this.selectedList.length <= 0)
                    return
                if (confirm(this.$i18n.t('manage.confirm.delete'))) {
                    this.selectedList.forEach(habitId => {
                        this.$bus.$emit('removeHabit', habitId)
                    })

                    this.$bus.$emit(eventNames.managerResetData)
                }
            },
            setSelectedHabitOnStore () {
                if (this.selectedList.length !== 1) {
                    this.selectedHabit = {}
                    this.habitEditManager = {}
                }

                if (this.selectedList.length === 1) {
                    let firstHabit = _.find(this.habitToday, (habit) => {
                        return habit.key === this.selectedList[0]
                    })

                    this.selectedHabit = firstHabit
                    console.log('setSelectedHabitOnStore: ', this.selectedList, this.selectedHabit, firstHabit)
                    // if (!this.habitEditManager || !Object.keys(this.habitEditManager).length)
                        // this.habitEditManager = _.cloneDeep(firstHabit)

                    this.habitEditManager = _.cloneDeep(firstHabit)
                }
            },
            resetData () {
                this.selectedList = []
                this.isShowDetail = false
                this.toggleHabitDetail()
            },
            openSidebar () {
                this.$bus.$emit('toggleSidebar', true)
            },
            closeEditDialog() {
                this.$bus.$emit(eventNames.managerSelectHabit, this.selectedHabit)
            },
            onClickBtnUpdate() {
                this.$bus.$emit(eventNames.managerUpdateHabit)
            },
            parseTypeFromRouter() {
                let type = this.$route.params.hasOwnProperty('type') ? this.$route.params.type : null
                return type
            },
            getTypeManagerHabit() {
                if (this.$route.name !== 'ManagerHabit' && this.$route.name !== 'ManagerHabitType')
                    return false
                    
                let type = this.parseTypeFromRouter()
                let storeType = storage.get('manager_habit_type', 'active')
                    storeType = storeType === 'active' || storeType === 'archived' ? storeType : 'active'

                let validType = type === 'active' || type === 'archived'

                if (!validType) {
                    this.$router.push({name: 'ManagerHabitType', params: {type: storeType}})
                } else {
                    this.isShowActive = type === 'active'
                    this.managerHabitType = type
                    this.$bus.$emit(eventNames.managerResetData)
                }
            },
            getHabitTodayByStatus (status) {
                let _habits = this.habits
                _habits = _.map(_habits, (habit, key) => {
                    return {
                        key: key,
                        content: habit
                    }
                })

                if (status) {
                    _habits = _.filter(_habits, (habit) => {
                        return !habit.content.isArchived
                    })
                } else {
                    _habits = _.filter(_habits, (habit) => {
                        return habit.content.isArchived
                    })
                }
                _habits = _.orderBy(_habits, (item) => {return item.content.priority}, ['asc'])
                _habits = Object.keys(_habits).length > 0 ? _habits : []
                return _habits
            }
        },
        metaInfo() {
            return {
                title: 'Manage Habits'
            }
        }
    }
</script>
<style>
    .habit-page-left {
        flex: 1 0 auto;
        transition: width 0.3s ease 0s;
    }
</style>

