<template>
    <div class="progress-page">
        <div class="progress-row" v-show="listHabit && Object.keys(listHabit).length">
            <div class="col-progress col-left">
                <div class="progress-ui-row">
                    <today-task :habits="habits"/>
                </div>
                <div class="progress-ui-row">
                    <habit-this-week :habits="habits" :habitProgress="habitProgress"/>
                </div>
                <div class="progress-ui-row">
                    <progress-completion-rate v-if="renderRate" :habits="habits"/>
                </div>
                <div class="progress-ui-row">
                    <habit-review :habits="habits" />
                </div>
            </div>
            <div class="col-progress col-right">
                <div class="progress-ui-row">
                    <checkin-time :habits="habits"/>
                </div>
                <div class="progress-ui-row">
                    <daily-performance :habits="habits"/>
                </div>
            </div>
        </div>
        <empty-stage :eventShowCreateDialog="configEvents.progressShowCreateDialog" v-if="!listHabit || (listHabit && !Object.keys(listHabit).length)"/>

        <dialog-create-habit v-if="showDialogCreate"></dialog-create-habit>
    </div>
</template>
<script>
import TodayTask from '@/components/ui/progress/TodayTask'
import HabitThisWeek from '@/components/ui/progress/HabitThisWeek'
import DailyPerformance from '@/components/ui/progress/DailyPerformance'
import CheckinTime from '@/components/ui/progress/CheckinTime'
import HabitReview from '@/components/ui/progress/HabitReview'
import ProgressCompletionRate from '@/components/ui/progress/CompletionRate'

import { mapGetters } from 'vuex'
import { habitMixins } from '@/utils/mixins'
import { timeOfDay, eventNames } from '@/configs'
import moment from 'moment'
import DialogCreateHabit from '@/components/ui/dialogs/DialogCreateHabit'

import EmptyStage from '@/components/commons/EmptyStage'

import appUtils from '@/utils/appUtils'

export default {
    name: 'Progress',
    components: {
        TodayTask, HabitThisWeek, DailyPerformance, CheckinTime, HabitReview, ProgressCompletionRate, EmptyStage, DialogCreateHabit
    },
    mixins: [habitMixins],
    data() {
        return {
            showDialogCreate: false,
            renderRate: false,
            configEvents: eventNames
        }
    },
    computed: {
        ...mapGetters(['stageMounted', 'originalBlankHabit', 'blankHabit',]),
        listHabit: {
            get() {
                return this.$store.getters.habits;
            }
        },
        habitProgress () {
            let length = this.getHabitsProgress()
            return length
        },
        habits () {
            let items = {}
            _.forIn(this.listHabit, (item, key) => {
                if (!item.isArchived)
                    items[key] = item
            })

            return items
        },
        habitRefer: {
            get() {return this.$store.getters.habitRefer},
            set (name) {this.$store.dispatch('setHabitDetailRefer', name)}
        }
    },
    methods: {
        getHabitsProgress () {
            let result = []
            if (!this.habits || !Object.keys(this.habits).length)
                return result
            
            let keys = Object.keys(this.habits)
            keys.forEach(key => {
                let tmpHabit = this.habits[key]
                if (tmpHabit.isArchived)
                    return false
                let expect = this.getExpectCheckinOfWeek(tmpHabit, moment())
                let actual = this.getActualCheckinOfWeek(tmpHabit, moment())
                let rate = actual >= expect ? 1 : (actual/expect)
                result.push({
                    data: tmpHabit,
                    id: key,
                    rate: rate,
                    expect: expect,
                    actual: actual
                })
            })

            return _.orderBy(result, ['rate'], ['asc'])
        },
        hideDialogCreateHabit () {
            this.showDialogCreate = false
        },
        showDialogCreateHabit () {
            this.showDialogCreate = true
        },
        handleForceClosePopup () {
            if (!appUtils.compareSameObjectData(this.blankHabit, this.originalBlankHabit)) {
                if (confirm(this.$i18n.t('common.dialog.create.close'))) {
                    this.hideDialogCreateHabit()
                }
            } else {
                this.hideDialogCreateHabit()
            }
        },
        setHabitDetailItem(habit, id) {
            this.$bus.$emit('setCurrentHabit', {
                habit: habit,
                key: id
            }, true)

            this.habitRefer = {name: 'Progress'}
        }
    },
    mounted () {
        this.renderRate = false
        this.$nextTick(() => {
            this.renderRate = true
        })

        this.$bus.$on(eventNames.mainAppChangeHabitList, () => {
            this.renderRate = false
            this.$nextTick(() => {
                this.renderRate = true

                this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true, true, this.habitProgress.length, "progress")
            })
        })

        this.$bus.$on(eventNames.progressShowCreateDialog, this.showDialogCreateHabit)
        this.$bus.$on(eventNames.commonCloseDialogCreateHabit, this.hideDialogCreateHabit)
        this.$bus.$on(eventNames.progressForceClosePopup, this.handleForceClosePopup)

        this.$bus.$on(eventNames.singleHabitUpdateArchive, () => {
            this.$nextTick(() => {
                this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true, true, this.habitProgress.length, this.habitProgress, 'Progress')
            })
        })

        this.$bus.$on(eventNames.progressSetHabitDetail, this.setHabitDetailItem)
    },
    activated() {
        this.$nextTick(() => {
            if (!this.stageMounted)
                this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true, true, this.habitProgress.length, 'Progress')
        })
    },
    beforeDestroy() {
        let events = [
            eventNames.mainAppChangeHabitList,
            eventNames.progressShowCreateDialog,
            eventNames.commonCloseDialogCreateHabit,
            eventNames.journalForceClosePopup,
            eventNames.singleHabitUpdateArchive,
            eventNames.progressForceClosePopup,
            eventNames.progressSetHabitDetail
        ]

        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    metaInfo() {
        return {
            title: 'Overall Progress'
        }
    }
}
</script>

<style>

</style>

