<template>
    <div class="setting-page">
        <div class="setting-containter">
            <div class="block-section">
                <div class="block-section-head">{{ $t("settings.general.information") }}</div>
                <div class="block-section-body">
                    <div class="block-form form-horizoltal custom-form form-setting">
                        <div class="form-group">
                            <label class="label-control">{{ $t("settings.profile.picture") }}</label>
                            <div class="form-input-group">
                                <img :src="userPremiumData.profileImage ? userPremiumData.profileImage : '/assets/images/sidebar/default-avatar.png'" alt="" class="img-avatar">
                                <div class="box-upload-avatar">
                                    <input type="file" name="select-file" class="file-avatar" accept="image/jpeg, image/png" @change="changeAvatar">
                                    <button class="btn btn-setting btn-setting-default btn-color-blue btn-upload" type="button">{{ $t("settings.upload.from.computer") }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="label-control">{{ $t('common.full.name') }}</label>
                                    <input type="text" class="form-control input-control" placeholder="Display name" :value="userPremiumData.name" @input="changeDisplayName">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="label-control">{{ $t('common.email') }}</label>
                                    <input type="email" class="form-control input-control" placeholder="email" readonly :value="user.email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-section">
                <div class="block-section-head">{{ $t("settings.app.settings") }}</div>
                <div class="block-section-body">
                    <div class="block-form form-horizoltal">
                        <div class="form-group">
                            <label class="label-control">{{ $t('settings.first.day.of.week') }}</label>
                            <div class="form-input-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" :checked="!iso" :value="firstWeekDay.startSunday" @click="changeFirstDay(firstWeekDay.startSunday)">
                                    <label class="form-check-label" for="inlineRadio1">{{ getMomentWeekDay(6) }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" :checked="iso" :value="firstWeekDay.startMonday" @click="changeFirstDay(firstWeekDay.startMonday)">
                                    <label class="form-check-label" for="inlineRadio1">{{ getMomentWeekDay(0) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-section">
                <div class="block-section-head">{{ $t('settings.plan.title') }}</div>
                <div class="block-section-body">
                    <div class="premium-info" v-if="isUserPremium">
                        <div class="premium-label" v-if="hasExpiredDate">{{ $t('settings.plan.subscription.renew', {msg: hasExpiredDate}) }}</div>
                        <div class="premium-label" v-else="">{{ $t('settings.plan.lifetime.renew') }}</div>
                        <div class="premium-action" v-if="hasExpiredDate">
                            <button class="btn btn-setting btn-setting-default btn-color-blue" type="button" @click.prevent="changePlan">Change Plan</button>
                            <button class="btn btn-setting btn-setting-default btn-color-red" type="button">Cancel Subscription</button>
                        </div>
                    </div>
                    <div class="premium-info" v-if="!isUserPremium">
                        <div class="premium-label">{{ $t('settings.status.free') }}</div>
                        <div class="premium-action">
                            <button class="btn btn-setting btn-setting-default btn-color-blue" type="button" @click.prevent="showUpgradeDialog">{{ $t('settings.upgrade') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block-section">
                <div class="block-section-head">Language</div>
                <div class="block-section-body">
                    <select :value="lang" class="form-control" @change="changeLang">
                        <option value="en">EN</option>
                        <option value="vi">VI</option>
                        <option value="uk">UK</option>
                        <option value="ja">JA</option>
                    </select>
                </div>
            </div>
           
            <!-- 
            <div class="block-section">
                <div class="block-section-head">{{ $t('settings.sign.out') }}</div>
                <div class="block-section-body">
                    <button class="btn btn-setting btn-setting-default btn-color-blue" type="button" @click.prevent="logout()">{{ $t('settings.sign.out') }}</button>
                </div>
            </div> -->
        </div>
    </div>
</template>
<script>
import { eventNames, firstWeekDay, premiumStatus, dateConfigFormat, preferences, paddleAlertNames } from '@/configs'
import { mapGetters } from 'vuex'
import appUtils from '@/utils/appUtils'
import moment from 'moment'

import app from '@/app'
import storage from 'store2'

export default {
    name: 'Setting',
    computed: {
        ...mapGetters(['user', 'userPremiumData', 'iso', 'isUserPremium', 'lang', 'preferences', 'packages', 'history']),
        isUserPremium () {
            return appUtils.isPremium(this.userPremiumData)
        },
        hasExpiredDate () {
            let lang = this.lang ? this.lang : 'en'
            if (
                parseInt(this.userPremiumData.premiumStatusAndroid) === premiumStatus.androidPremium 
                || this.userPremiumData.premiumStatus === premiumStatus.iosPremium
                || !this.userPremiumData.hasOwnProperty('premiumExpireDate')
            ) {
                return null
            }
            
            let tmp = moment(this.userPremiumData.premiumExpireDate, dateConfigFormat.FORMAT_EXPIRED_DATE).locale(lang)

            return tmp.format('MMM DD, YYYY')
        },
        lang: {
            get () {return this.$store.getters.lang},
            set (value) {
                this.$store.dispatch('setLang', value)
            }
        },
        notifyToken: {
            get () {return this.$store.getters.notifyToken},
            set (token) {
                this.$store.dispatch('setNotifyToken', token)
            }
        },
        lastBuyPackageId () {
            if (!this.history || !Object.keys(this.history).length || !this.isUserPremium)
                return null

            let lastPackId = null
            let timers = Object.keys(this.history).sort()
            timers.forEach(time => {
                let order = this.history[time]
                if (
                    order.alert_name === paddleAlertNames.payment_succeeded ||
                    order.alert_name === paddleAlertNames.subscription_payment_succeeded
                )
                    lastPackId = parseInt(order.subscription_plan_id || order.product_id)
            });

            return lastPackId
        },
        lastBuyPackage () {
            let _package = {}
            if (
                !this.history || !Object.keys(this.history).length || !this.isUserPremium
                || !this.packages || !Object.keys(this.packages).length || !this.lastBuyPackageId
            )
                return _package

            _package = _.findLast(this.packages, (o) => {return o.product_id == this.lastBuyPackageId})
            _package = _package && _package != undefined ? _package : {}

            return _package
        },
    },
    data () {
        return {
            firstWeekDay,
            packageBuy: null
        }
    },
    activated() {
        this.handleSettingPath()
    },
    mounted() {
        this.$nextTick(() => {
            this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true,false)
        })

        this.$bus.$on(eventNames.changeUserPremiumData, this.handlePremiumOnBuy)
    },
    watch: {
        '$route' (to, from) {
            this.handleSettingPath(to, from)
        }
    },
    beforeDestroy () {
        let events = [
            eventNames.mainAppUpdatePageStatus
        ]

        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    methods: {
        logout () {
            this.$bus.$emit(eventNames.commonSignout)
        },
        changeDisplayName (evt) {
            let ref = `/users/${this.user.uid}/name`
            let displayName = evt.target.value + ""
            displayName = displayName.length > 0 ? displayName : null

            this.$firebase.database().ref(ref).set(displayName)
        },
        changeAvatar (evt) {
            let input = evt.target
            
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = (e) => {
                    $('.img-avatar')
                        .attr('src', e.target.result);

                    let ref = `/${this.user.uid}/profileImage.jpg`
                    this.$firebase.storage().ref(ref).putString(e.target.result, 'data_url').then(res => {
                        console.log(res.task)
                    })

                    this.$firebase.storage().ref(ref).getDownloadURL().then(res => {
                        let refAvatar = `/users/${this.user.uid}/profileImage`
                        this.$firebase.database().ref(refAvatar).set(res)
                    })
                };

                reader.readAsDataURL(input.files[0]);
            }
        },
        changeFirstDay (day) {
            let ref = `/preferences/${this.user.uid}/firstWeekDay`
            this.$firebase.database().ref(ref).set(day)
        },
        showUpgradeDialog () {
            this.$bus.$emit(eventNames.toggleUpgradePremium, true)
        },
        changePlan () {
            this.showUpgradeDialog()
        },
        changeLang (evt) {
            this.$bus.$emit('updateLanguage', evt.target.value)
        },
        getMomentWeekDay (index) {
            return appUtils.getMomentWeekDay(index, this.lang, true)
        },
        handleSettingPath() {
            if (this.$router.currentRoute.name !== 'Setting')
                return true
            let packageId = this.$route.params.package
            this.packageBuy = packageId
            if (!packageId) {
                this.$router.push({name: 'Setting'})
            }
        },
        handlePremiumOnBuy() {
            this.$nextTick(() => {
                let packageId = this.$route.params.package
                if (this.isUserPremium && !this.hasExpiredDate && packageId) {
                    this.$router.push({name: 'Setting'})
                    return false
                }

                let packageExists = _.filter(this.packages, (o) => {return parseInt(o.product_id) == parseInt(this.packageBuy)})

                if (packageExists && packageExists.length) {
                    this.$bus.$emit(eventNames.toggleUpgradePremium, true)
                    this.$bus.$emit(eventNames.upgradePremiumSetPackage, this.packageBuy)
                } else {
                    this.$router.push({name: 'Setting'})
                }
            })
         }
    },
    metaInfo() {
        return {
            title: 'Settings'
        }
    }
}
</script>

