<template>
    <div class="register-page auth-page">
        <div class="banner-left d-none d-lg-block">
            <img src="/assets/images/authenticate/login-img-left.svg" alt="Login img left">
        </div>
        <div class="register-container">
            <div class="logo">
                <a href="/"><img src="/assets/images/branding/logo.svg" alt="Logo Habitify"></a>
            </div>
            <div class="register-form">
                <h1 class="title-section">{{ $t("authentication.web.sign.up.for.habitify") }}</h1>
                <p class="title-description">{{ $t("authentication.web.singin.to.sync") }}</p>
                <p class="text-error text-center" v-if="error"><span>{{ error }}</span></p>
                <form action="#" @submit.prevent="onFormSubmit">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" required v-model="form.email" :placeholder="$t('common.pseudocode.email.placeholder')">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="form-control-password" :type="typePassword" required name="password" v-model="form.password" :placeholder="$t('common.password')">
                        <a class="btn-show-password" href="#" @click.prevent="toggleTypePassword()">
                            <img class="icon-eye-grey" v-if="typePassword === 'password'" src="/assets/images/authenticate/a8e6b0cfa39c36647cbb422be9b59599.svg" alt="Eye grey">
                            <img class="icon-eye-red" v-if="typePassword === 'password'" src="/assets/images/authenticate/6e70cede0c75a264e9045610e6a8751f.svg" alt="Eye red">
                            <img class="icon-eye-grey" v-if="typePassword === 'text'" src="/assets/images/authenticate/icon-show.svg" alt="Eye grey">
                            <img class="icon-eye-red" v-if="typePassword === 'text'" src="/assets/images/authenticate/icon-show-red.svg" alt="Eye red">
                        </a>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" id="agreeRules" type="checkbox">
                        <label class="form-check-label agreeRules" for="agreeRules">{{ $t("authentication.web.have.the.latest.news") }}</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sign-up w-100" type="submit">{{ $t("authentication.sign.up.title") }}</button>
                    </div>
                    <div class="text-center rule-description" v-html="getTermAndPolicy()"></div>
                </form>
            </div>
            <p class="register-notice">
                {{ $t("onboarding.welcome.sign.in", {msg1: ''}) }} <br class="d-lg-none"> <router-link :to="{name: 'Signin'}">{{ $t("common.sign.in") }}</router-link>
            </p>
        </div>
    </div>
</template>

<script>
    import { eventNames } from '@/configs'
    import Alert from '@/components/ui/common/Alert'
    export default {
        name: 'Signup',
        components: {
            Alert
        },
        data () {
            return {
                form: {
                    email: null,
                    password: null
                },
                isLogin: true,
                error: null,
                typePassword: 'password',
                stageBtn: 'create'
            }
        },
        computed: {
            getStageButton() {
                let label = 'Create new account'
                if (this.stageBtn == 'create') {
                    label = this.$i18n.t("authentication.sign.up.title")
                } else if (this.stageBtn == 'error') {
                    label = this.$i18n.t("common.retry")
                } else if (this.stageBtn == 'process') {
                    label = `<img src="/assets/images/authenticate/loading.svg" class="img-fluid img-stage-loading"/>`
                }

                return label
            }
        },
        methods: {
            getTermAndPolicy() {
                let label = this.$i18n.t("authentication.sign.up.title")
                let term = `<a href="https://habitify.me/terms-of-use.html" class="hight-light">${this.$i18n.t("common.terms.of.use")} </a>`
                let policy = `<a href="https://habitify.me/privacy-policy.html" class="hight-light">${this.$i18n.t("common.privacy.policy")}</a>`
                
                return this.$i18n.t("authentication.web.agree.terms.and.policy", {label: label,term: term, policy: policy})
            },
            onFormSubmit () {
                this.stageBtn = 'process'
                this._registerWithPassword()
            },
            _registerWithPassword () {
                this.$firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password)
                .catch((error) =>  {
                    this.stageBtn = 'error'
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
            },
            toggleTypePassword() {
                this.typePassword = this.typePassword === 'password' ? 'text' : 'password'
            },
            
        },
        mounted () {
            this.$bus.$on('clearError', () => {
                this.error = null
            })

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.loaderIsLoaded)
            })
        }
    }
</script>