<template>
    <div class="login-page signup-page">
        <div class="banner-left d-none d-lg-block"><img src="/assets/images/authenticate/banner-left.svg" alt="Login img left"></div>
        <div class="login-container">
            <div class="logo">
                <a href="#"><img src="/assets/images/authenticate/d54bc8e70ac47796d29ed9d2590244ae.svg" alt="Logo Habitify"></a>
            </div>
            <div class="login-form">
                <h1 class="title-section">Sign up for Habitify</h1>
                <p class="sub-title-section">Sign up to sync your data across devices and restore your password</p>
                <p class="error-notice text-center" v-if="error"><span>{{ error }}</span></p>
                <form action="#" @submit.prevent="onFormSubmit">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" required v-model="form.email" :placeholder="$t('common.pseudocode.email.placeholder')">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="form-control-password" :type="typePassword" required name="password" v-model="form.password" placeholder="Password">
                        <a class="btn-show-password" href="#" @click.prevent="toggleTypePassword()">
                            <img class="icon-eye-grey" v-if="typePassword === 'password'" src="/assets/images/authenticate/a8e6b0cfa39c36647cbb422be9b59599.svg" alt="Eye grey">
                            <img class="icon-eye-red" v-if="typePassword === 'password'" src="/assets/images/authenticate/6e70cede0c75a264e9045610e6a8751f.svg" alt="Eye red">
                            <img class="icon-eye-grey" v-if="typePassword === 'text'" src="/assets/images/authenticate/icon-show.svg" alt="Eye grey">
                            <img class="icon-eye-red" v-if="typePassword === 'text'" src="/assets/images/authenticate/icon-show-red.svg" alt="Eye red">
                        </a>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" id="rememberMe" type="checkbox">
                        <label class="form-check-label rememberMe" for="rememberMe">Have the latest news, giveaways & tips delivered to my inbox weekly</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sign-in w-100" type="submit" v-html="getStageButton"></button>
                    </div>
                    <div class="text-center">
                        <p class="signup-desc">
                            By clicking the "Create new account" button, I expressly agree the <a href="https://habitify.me/terms-of-use.html" target="_blank">Habitify Terms of Use</a> and <a href="https://habitify.me/privacy-policy.html" target="_blank">Privacy Policy</a>
                        </p>
                    </div>
                </form>
            </div>
            <p class="register-notice">Already have an account? 
                <br class="d-lg-none"><router-link :to="{name: 'Signin'}">Sign in</router-link></p>
        </div>
    </div>
</template>

<script>
    import { eventNames } from '@/configs'
    import Alert from '@/components/ui/common/Alert'
    export default {
        name: 'Signup',
        components: {
            Alert
        },
        data () {
            return {
                form: {
                    email: null,
                    password: null
                },
                isLogin: true,
                error: null,
                typePassword: 'password',
                stageBtn: 'create'
            }
        },
        computed: {
            getStageButton() {
                let label = 'Create new account'
                if (this.stageBtn == 'create') {
                    label = 'Create new account'
                } else if (this.stageBtn == 'error') {
                    label = 'Try again'
                } else if (this.stageBtn == 'process') {
                    label = `<img src="/assets/images/authenticate/loading.svg" class="img-fluid img-stage-loading"/>`
                }

                return label
            }
        },
        methods: {
            onFormSubmit () {
                this.stageBtn = 'process'
                this._registerWithPassword()
            },
            _registerWithPassword () {
                this.$firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password)
                .catch((error) =>  {
                    this.stageBtn = 'error'
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
            },
            
        },
        mounted () {
            this.$bus.$on('clearError', () => {
                this.error = null
            })

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.loaderIsLoaded)
            })
        }
    }
</script>