<template>
    <div class="login-page">
        <div class="banner-left d-none d-lg-block"><img src="/assets/images/authenticate/banner-left.svg" alt="Login img left"></div>
        <div class="login-container">
            <div class="logo">
                <a href="#"><img src="/assets/images/authenticate/d54bc8e70ac47796d29ed9d2590244ae.svg" alt="Logo Habitify"></a>
            </div>
            <div class="login-form">
                <h1 class="title-section">Sign in to Habitify</h1>
                <p class="error-notice text-center" v-if="error"><span>{{ error }}</span>
                    <br><router-link :to="{name: 'Forgot'}">Forgot your password?</router-link></p>
                <form action="#" @submit.prevent="onFormSubmit">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" required v-model="form.email" :placeholder="$t('common.pseudocode.email.placeholder')">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="form-control-password" :type="typePassword" required name="password" v-model="form.password" placeholder="Password">
                        <a class="btn-show-password" href="#" @click.prevent="toggleTypePassword()">
                            <img class="icon-eye-grey" v-if="typePassword === 'password'" src="/assets/images/authenticate/a8e6b0cfa39c36647cbb422be9b59599.svg" alt="Eye grey">
                            <img class="icon-eye-red" v-if="typePassword === 'password'" src="/assets/images/authenticate/6e70cede0c75a264e9045610e6a8751f.svg" alt="Eye red">
                            <img class="icon-eye-grey" v-if="typePassword === 'text'" src="/assets/images/authenticate/icon-show.svg" alt="Eye grey">
                            <img class="icon-eye-red" v-if="typePassword === 'text'" src="/assets/images/authenticate/icon-show-red.svg" alt="Eye red">    
                        </a>
                    </div>
                    <div class="form-group form-check">
                        <input class="form-check-input" id="rememberMe" type="checkbox">
                        <label class="form-check-label rememberMe" for="rememberMe">Remember me</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sign-in w-100" type="submit" v-html="getStageButton"></button>
                    </div>
                    <div class="text-center"><router-link :to="{name: 'Forgot'}" class="link-dark forgot-password">Forgot your password?</router-link></div>
                </form>
            </div>
            <p class="register-notice">Not registered yet?
                <br class="d-lg-none"><router-link :to="{name: 'Signup'}">Create a new account</router-link></p>
        </div>
    </div>
</template>

<script>
    import { eventNames } from '@/configs'
    import Alert from '@/components/ui/common/Alert'
    export default {
        name: 'Signin',
        components: {
            Alert
        },
        data () {
            return {
                form: {
                    email: null,
                    password: null
                },
                isLogin: true,
                error: null,
                typePassword: 'password',
                stageBtn: 'signin'
            }
        },
        computed: {
            getStageButton() {
                let label = 'Sign in'
                if (this.stageBtn == 'signin') {
                    label = 'Sign in'
                } else if (this.stageBtn == 'error') {
                    label = 'Try again'
                } else if (this.stageBtn == 'process') {
                    label = `<img src="/assets/images/authenticate/loading.svg" class="img-fluid img-stage-loading"/>`
                }

                return label
            }
        },
        methods: {
            onFormSubmit () {
                this.stageBtn = 'process'
                this._loginWithPassword()
            },
            _loginWithPassword () {
                this.$firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password).then(res => {
                    // window.location.href = location.protocol +'//'+ location.host
                })
                .catch((error) => {
                    this.stageBtn = 'error'
                    console.log('error: ', error.code, error.message)
                    this.error = error.message
                });
                
            },
            toggleTypePassword() {
                this.typePassword = this.typePassword === 'password' ? 'text' : 'password'
            },
        },
        beforeRouteLeave (to, from, next) {
            this.$bus.$emit(eventNames.loaderIsLoading)
            next()
        },
        mounted () {
            this.$bus.$on('clearError', () => {
                this.error = null
            })

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.loaderIsLoaded)
            })
        }
    }
</script>