<template>
  <div class="setting-page">
      <div id="hitarea"></div>
    <div class="swipe-list">
      <div class="swipe-wrapper">
          <div class="swipe-item" v-for="(item, key) in items" :key="key">
            <div class="swipe-item-wrapper">{{ item }}</div>
        </div>
      </div>
    </div>


    <div class="list-block">
        <ul>
            <li class="swipeout">
                <div class="swipeout-actions-left">
                    <a href="#" class="task1 bg-green">Skip</a>
                    <a href="#" class="task1 bg-green">Fail</a>
                </div>
                <div class="swipeout-content item-content">
                    <div class="item-inner">
                        <div class="item-title">abc</div>
                    </div>
                </div>
                <div class="swipeout-actions-right">
                    <a href="#" class="task1 bg-green">Add Note</a>
                </div>
            </li>
        </ul>
    </div>

  </div>
</template>
<script>
import { eventNames } from "@/configs";
export default {
    name: "Swipe",
    data() {
        return {
            items: ["item 1", "item 2", "item 3"]
        };
    },
    activated() {
        this.$nextTick(() => {
            this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true, false);
        });
    },
    mounted() {
        this.$nextTick(() => {
            this.$bus.$emit(eventNames.mainAppUpdatePageStatus, true, false);
            this.initData()
        });

        // var myApp = new Framework7();
    },
    methods: {
        initData() {
            var el = document.querySelector("#hitarea");

            var mc = new Hammer.Manager(el);
            mc.add(new Hammer.Pan({ threshold: 0, pointers: 0 }));
            mc.add(new Hammer.Swipe()).recognizeWith(mc.get('pan'));

            mc.on("swipe", onSwipe);

            function onSwipe(ev) {
                var angle = 50;
                transform.ry = (ev.direction & Hammer.DIRECTION_HORIZONTAL) ? 1 : 0;
                transform.rx = (ev.direction & Hammer.DIRECTION_VERTICAL) ? 1 : 0;
                transform.angle = (ev.direction & (Hammer.DIRECTION_RIGHT | Hammer.DIRECTION_UP)) ? angle : -angle;

                clearTimeout(timer);
                timer = setTimeout(function () {
                    resetElement();
                }, 300);

                logEvent(ev);
                requestElementUpdate();
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.swipe-item {
    padding: 10px 20px;
    background: #fff;
    border-bottom: solid 1px #ececec;
    cursor: pointer;
}
.animate {
    transition: transform 0.3s ease-out;
}
#hitarea {
    widows: 100px;
    height: 100px;
    background: blue;
    display: block
}
</style>

