<template>
    <div id="app" :class="[currentPage, isLoading ? 'loading' : 'non-loading', emptyStage]">
        <load-block v-if="isLoading" />
        <div class="container-fluid" v-if="currentPage !== 'Signin' && currentPage !== 'Signup' && currentPage !== 'Forgot'">
            <div class="row-app">
                <div class="sidebar-app" :class="{active: isShowSidebar}">
                    <sidebar></sidebar>
                </div>
                <div class="main-app">
                    <topbar v-if="$route.name !== 'ManagerHabit' && (!habits || Object.keys(habits).length)"></topbar>
                    <div class="main-content">
                        <keep-alive :exclude="['HabitDetail']">
                            <router-view :key="$route.name"></router-view>
                        </keep-alive>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluidd" v-else="">
            <router-view></router-view>
        </div>
        <div class="sidebar-backdrop" v-show="isShowSidebar" @click="toggleSidebar(false)"></div>
        <upgrade-premium v-if="isShowPremium" :defaultPackage="defaultPackage"/>
    </div>
</template>

<script>
    import { mapGetters, mapState } from 'vuex'
    import Sidebar from '@/components/includes/Sidebar'
    import Topbar from "@/components/includes/Topbar"
    import Loader from '@/components/commons/Loader'
    import UpgradePremium from '@/components/ui/dialogs/UpgradePremium'

    import LoadBlock from '@/components/commons/LoadBlock'

    import * as configs from '@/configs'
    import _ from 'lodash'

    import { dateMixins, checkHabit } from '@/utils/mixins'
    import appUtils from '@/utils/appUtils'

    import storage from 'store2'
    import moment from 'moment'
    import app from '@/app'

    export default {
        name: 'App',
        metaInfo: {
            title: 'Habitify Web',
            titleTemplate: '%s | Habitify',
        },
        components: {
            Topbar,
            Sidebar,
            Loader,

            UpgradePremium,
            LoadBlock
        },
        data () {
            return {
                isLoading: true,
                currentPage: null,
                isShowSidebar: false,
                queue: [],
                emptyStage: '',
                messaging: null,
                defaultPackage: null
            }
        },
        computed: {
            ...mapGetters(['user', 'currentDate', 'currentDateDDMMYYYY', 'currentHabit', 'habits', 'userPremiumData', 'deviceType']),
            currency: {
                get () {return this.$store.getters.currency},
                set (value) {
                    this.$store.dispatch('setCurrenry', value)
                }
            },
            packages: {
                get () {return this.$store.getters.packages},
                set (value) {
                    this.$store.dispatch('setPackages', value)
                }
            },
            currentPageName () {
                this.setCurrentPage()
                return this.$router.currentRoute.name
            },
            openNote: {
                get () {
                    return this.$store.getters.openNote
                },
                set(status) {
                    this.$store.dispatch('setOpenNote', status)
                }
            },
            habitDirect: {
                get () {return this.$store.getters.habitDirect;},
                set(payload) {
                    this.$store.dispatch('setHabitDirect', payload)
                }
            },
            currentLang: {
                get () {return this.$store.getters.lang},
                set (value) {
                    this.$store.dispatch('setLang', value)
                }
            },
            sliderType: {
                get () {return this.$store.getters.sliderType},
                set (type) {
                    this.$store.dispatch('setUpgradeType', type)
                }
            },
            notifyToken: {
                get () {return this.$store.getters.notifyToken},
                set (token) {
                    this.$store.dispatch('setNotifyToken', token)
                }
            },
            isShowPremium: {
                get () {return this.$store.getters.isShowPremium},
                set (status) {
                    this.$store.dispatch('setPopupPremium', status)
                }
            },
            stageMounted: {
                get () {return this.$store.getters.stageMounted},
                set (stage) {
                    this.$store.dispatch('setStageMounted', stage)
                }
            },
            isShowCompletedHabits: {
                get () {return this.$store.getters.isShowCompletedHabits},
                set (status) {
                    this.$store.dispatch('setShowCompletedHabit', status)
                }
            },
        },
        watch: {
            '$route' (to, from) {
                this.setCurrentPage(to, from)
            }
        },
        mixins: [dateMixins, checkHabit],
        created () {
            this.$bus.$on('changeLang', (lang) => {
                this.$store.dispatch('setLang', lang)
            })

            let lang = storage.get('locale', 'en')
            this.loadLanguageAsync(lang)

            this.initDataFromStorage()

            try {
                this.messaging = this.$firebase.messaging()
                this.messaging.usePublicVapidKey(process.env.MIX_FIREBASE_MESSAGE_KEY)
            } catch(error) {
                console.log('error: ', error)
            }
        },
        mounted () {
            //reset data when reload
            this.$store.dispatch('setCurrentDate', moment())

            console.log(process.env)
            Paddle.Setup({ vendor: parseInt(process.env.MIX_PADDLE_VENDOR_ID) });
            this.currency = appUtils.getSystemCurrency()
            setTimeout(() => {
                this.$paddle.getProducts(this.currency).then(response => {
                    if (response && response.length)
                        this.packages = response
                })
            }, 50)
            this.setCurrentPage()

            this.$firebase.auth().onAuthStateChanged((user) => {
                if (user) {
                    let _user = {
                        displayName: user.displayName,
                        email: user.email,
                        emailVerified: user.emailVerified,
                        isAnonymous: user.isAnonymous,
                        phoneNumber: user.phoneNumber,
                        photoURL: user.photoURL,
                        refreshToken: user.refreshToken,
                        uid: user.uid,
                    }

                    this.sendTokenToServer(this.notifyToken, user.uid)

                    this.$store.dispatch('setUser', _user)

                    let existRedirect = storage.get('saveRedirectAfterLogin', null)
                    let isSettingPage = this.$route.name == 'Setting'
                    if (existRedirect && !isSettingPage) {
                        location.href = existRedirect
                        storage.remove('saveRedirectAfterLogin')
                    }

                    if (this.$router.currentRoute.name === 'Signin' || this.$router.currentRoute.name === 'Signup' || this.$router.currentRoute.name === 'Forgot') {
                        this.$router.push({name: 'Dashboard'})
                    }
                    this.$bus.$emit(configs.eventNames.fetchUserData)
                } else {
                    let currentUrl = location.href
                    let isBuyPage = currentUrl.indexOf('settings/') >= 0
                    if (this.$route.name == 'Setting' && isBuyPage) {
                        storage.set('saveRedirectAfterLogin', currentUrl)
                    }

                    this.$store.dispatch('setUser', {})
                    this.setCurrentPage()
                    if (this.$router.currentRoute.name !== 'Signin' && this.$router.currentRoute.name !== 'Signup' && this.$router.currentRoute.name !== 'Forgot') {
                        this.$router.push({name: 'Signin'})
                    }
                }

                // if (!this.$route.query.hasOwnProperty('habit')) {
                //     this.$nextTick(() => {
                //         this.$bus.$emit('loaded')
                //     })
                // }
            });

            this.$bus.$on(configs.eventNames.fetchUserData, () => {
                this.fetchUserData()
            })

            this.$bus.$on(configs.eventNames.loaderIsLoading, () => {
                this.isLoading = true
            })

            this.$bus.$on(configs.eventNames.loaderIsLoaded, () => {
                console.log('hide loader')
                this.isLoading = false
            })

            this.$bus.$on(configs.eventNames.mainAppSetSelectedDate, (date) => {
                this.$store.dispatch('setCurrentDate', this.momentParseFromDate(date))
            })

            this.$bus.$on(configs.eventNames.mainAppToggleHabit, (habit, key) => {
                this.toggleStatusHabit(habit, key)
            })

            this.$bus.$on(configs.eventNames.mainAppSetHabitStatus, (habit, key, status, date = null) => {
                this.setHabitStatus(habit, key, status, date)
            })

            this.$bus.$on(configs.eventNames.mainAppSetArchiveHabit, (key, isArchive) => {
                this.setArchiveHabit(key, isArchive)
            })

            this.$bus.$on('removeHabit', (key) => {
                this.removeHabit(key)
            })

            this.$bus.$on('setCurrentHabit', (habit, redirect = false) => {
                this.$store.dispatch('setCurrentHabit', habit)
                redirect = redirect && this.$route.name !== 'HabitDetail'
                if (redirect) {
                    this.$nextTick(() => {
                        this.$router.push({ name: 'HabitDetail', params: {id: habit.key}})
                    })
                }
            })

            this.$bus.$on('toggleSidebar', this.toggleSidebar)
            if (window.innerWidth >= 768)
                this.isShowSidebar = false

            this.$bus.$on(configs.eventNames.toggleUpgradePremium, this.toggleUpgradePremium)
            this.$bus.$on(configs.eventNames.commonForceClosePopup, () => {
                if ($('.sdl-menuopen').length) {
                    this.$bus.$emit(configs.eventNames.mainAppForceCloseDropdown)
                } else if (this.isShowPremium) {
                    let eventClosePaddle = new MessageEvent('message', {data: {action: 'close'}})
                    window.dispatchEvent(eventClosePaddle);
                    this.toggleUpgradePremium(false)
                } else {
                    if (this.$route.name == 'Journal' || this.$route.name == 'Dashboard')
                        this.$bus.$emit(configs.eventNames.journalForceClosePopup)

                    if (this.$route.name == 'HabitDetail')
                        this.$bus.$emit(configs.eventNames.habitDetailForceClosePopup)

                    if (this.$route.name == 'Progress')
                        this.$bus.$emit(configs.eventNames.progressForceClosePopup)

                    if (this.$route.name == 'ManagerHabit' || this.$route.name == 'ManagerHabitType')
                        this.$bus.$emit(configs.eventNames.managerHabitForceClosePopup)
                }
            })

            $(window).on('resize', () => {
                this.checkDeviceType()
            })
            this.checkDeviceType()

            this.$bus.$on('updateLanguage', this.loadLanguageAsync)

            this.$bus.$on('setCurrentTimeOfDay', this.setCurrentTimeOfDay)

            this.$bus.$on(configs.eventNames.authRemoveNotifyToken, this.removeNotifyToken)

            this.$bus.$on(configs.eventNames.mainAppUpdatePageStatus, (hideLoad, isCheck, data) => {
                this.processPageStage(hideLoad, isCheck, data)
            })

            this.$bus.$on(configs.eventNames.commonSignout, this.signOut)

            this.$bus.$on(configs.eventNames.topbarToggleShowCompleted, () => {
                this.isShowCompletedHabits = !this.isShowCompletedHabits
            })

            this.$bus.$on(configs.eventNames.upgradePremiumSetPackage, (id) => {
                this.defaultPackage = id
            })

            $(document).on('keyup', (e) => {
                if (e.key === "Escape" || e.key === 27) {
                    this.$bus.$emit(configs.eventNames.commonForceClosePopup)
                }
            })

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        },
        methods: {
            async requestNotification () {
                let messaging = this.$firebase.messaging()
                // messaging.usePublicVapidKey(process.env.MIX_FIREBASE_MESSAGE_KEY)
                
                let is_safari = navigator.vendor.indexOf("Apple") > -1
                if (is_safari || !messaging)
                    return false

                // messaging.usePublicVapidKey(process.env.MIX_FIREBASE_MESSAGE_KEY)

                messaging.requestPermission().then(() => {
                    return messaging.getToken()
                })
                .then((token) => {
                    if (this.user && this.user.uid)
                        this.sendTokenToServer(token, this.user.uid)
                })
                .catch(function(err) {
                    console.log('Unable to get permission to notify.', err);
                });

                messaging.getToken().then((currentToken) => {
                    
                    this.notifyToken = currentToken
                    if (this.user && this.user.uid)
                        this.sendTokenToServer(this.notifyToken, this.user.uid)
                }).catch(function(err) {
                    console.log('An error occurred while retrieving token. ', err);
                });
                
                messaging.onMessage((payload) => {
                    var notificationTitle = payload.notification.title;
                    var notificationOptions = {
                        body: payload.notification.body,
                        icon: 'https://webbeta.habitify.me/assets/images/icons/icon-192.png'
                    };
                    var notification = new Notification(notificationTitle, notificationOptions);

                    notification.onclick = function () {
                        // event.preventDefault(); // prevent the browser from focusing the Notification's tab
                        var host = self.location.protocol + '//' + self.location.host
                        window.open(host);
                    };
                })
            },
            sendTokenToServer(token, uid, remove = false) {
                let tokenPrefix = token ? token.split(":")[0] : token
                token = remove ? null : token
                let tokens = {}
                    tokens[tokenPrefix] = token
                this.$firebase.database().ref('/notifications/' + uid + '/token').set(tokens)
                this.$firebase.database().ref('/notifications/' + uid + '/firstTime').set(true)
                this.$firebase.database().ref('/notifications/' + uid + '/timezone').set(moment().format('Z'))
            },
            setCurrentPage (to, from) {
                this.currentPage = this.$router.currentRoute.name
                $('body').removeClass().addClass('page-' + this.currentPage)
                this.$bus.$emit('toggleSidebar', false)

                if (this.currentPage !== 'HabitDetail' || this.currentPage !== 'Authenticate') {
                    this.$store.dispatch('setCurrentPathName', this.currentPage)
                }
            },
            fetchUserData () {
                let _refPreference = this.$firebase.database().ref('/preferences/' + this.user.uid);
                let _refHabits = this.$firebase.database().ref('/habits/' + this.user.uid);
                let _refUserData = this.$firebase.database().ref('/users/' + this.user.uid);
                let _refHistory = this.$firebase.database().ref('/logs/web/' + this.user.uid);

                _refPreference.on('value', (snapshot) => {
                    this.$store.dispatch('setPreferences', snapshot.val())
                })

                _refHistory.on('value', (snapshot) => {
                    this.$store.dispatch('setHistory', snapshot.val())
                })

                _refUserData.on('value', (snapshot) => {
                    let oldUserData = this.userPremiumData
                    let newUserData = snapshot.val()

                    this.$store.dispatch('setUserPremiumData', snapshot.val())
                    this.$bus.$emit(configs.eventNames.changeUserPremiumData)
                })

                _refHabits.once('value', (snapshot) => {

                    let val = snapshot.val()
                    let flagNotify = false

                    this.stageMounted = false

                    
                    _.forIn(val, (item, key) => {
                        if (this.habits && this.habits.hasOwnProperty(key)) {
                            let newHabit = val[key]
                            let oldHabit = this.habits[key]

                            if (newHabit.priority !== oldHabit.priority) {
                                this.$bus.$emit('changePriority', key)
                            } else if (JSON.stringify(val[key]) !== JSON.stringify(this.habits[key])) {
                                this.$bus.$emit(configs.eventNames.mainAppChangeHabit, key)
                            }
                        }

                        if (item && item.remind && item.remind.hasOwnProperty('timeTriggers') && !item.isArchived) {
                            let triggers = Object.keys(item.remind.timeTriggers)
                            triggers.forEach(hour => {
                                if (item.remind.timeTriggers[hour])
                                    flagNotify = true
                            })
                        }
                    })
                    this.$store.dispatch('setHabits', val)
                    this.$bus.$emit(configs.eventNames.mainAppChangeHabitList)
                    // this.$bus.$emit(configs.eventNames.loaderIsLoaded)

                    if (flagNotify) {
                        this.requestNotification()
                    }

                    // if (this.$route.query.hasOwnProperty('habit'))
                    //     this.$bus.$emit('loaded')

                    if (!this.habitDirect)
                        return false

                    this.$bus.$emit('setCurrentHabit', {key: this.habitDirect, content: val[this.habitDirect]}, true)
                    this.habitDirect = null
                })

                _refHabits.on('child_changed', (snapshot) => {
                    let habitUpdated = snapshot.val()
                    let oldHabit = this.habits[snapshot.key]

                    if (habitUpdated.isArchived !== oldHabit.isArchived) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateArchive, snapshot.key)

                    } else if (habitUpdated.name !== oldHabit.name) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateName, snapshot.key)

                    } else if (habitUpdated.priority !== oldHabit.priority) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdatePriority, snapshot.key)

                    } else if (habitUpdated.regularly !== oldHabit.regularly) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateRegularly, snapshot.key)

                    } else if (habitUpdated.startDate !== oldHabit.startDate) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateStartDate, snapshot.key)

                    } else if (habitUpdated.timeOfDay !== oldHabit.timeOfDay) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateTimeOfDay, snapshot.key)

                    } else if (JSON.stringify(oldHabit.checkins) !== JSON.stringify(habitUpdated.checkins)) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateCheckins, snapshot.key)

                    } else if (
                        ( oldHabit.remind && oldHabit.remind.hasOwnProperty('timeTriggers') && habitUpdated.remind && !habitUpdated.remind.hasOwnProperty('timeTriggers') ) ||
                        ( oldHabit.remind && !oldHabit.remind.hasOwnProperty('timeTriggers') && habitUpdated.remind && habitUpdated.remind.hasOwnProperty('timeTriggers') ) ||
                        ( JSON.stringify(oldHabit.remind) !== JSON.stringify(habitUpdated.remind) )
                    ) {
                        this.$bus.$emit(configs.eventNames.singleHabitUpdateReminders, snapshot.key)

                    } else {
                        this.$bus.$emit('updateSingleHabitOtherField', snapshot.key)
                    }
                    this.$store.dispatch('updateHabitById', {key: snapshot.key, value: snapshot.val()})
                    this.$bus.$emit(configs.eventNames.updateSingleHabit, snapshot.key)
                })

                _refHabits.on('child_added', (snapshot) => {
                    if (!this.habits || !Object.keys(this.habits).length) {
                        let newObj = {}
                        newObj[snapshot.key] = snapshot.val()
                        this.$store.dispatch('setHabits', newObj)
                    }
                    
                    this.$store.dispatch('addHabitById', {key: snapshot.key, value: snapshot.val()})
                    this.$bus.$emit(configs.eventNames.mainAppAddNewHabit, snapshot.key)
                    this.$bus.$emit(configs.eventNames.updateSingleHabit, snapshot.key)

                    // this.$nextTick(() => {
                    //     this.$bus.$emit(configs.eventNames.mainAppUpdatePageStatus, true, true, 1, 'child added')
                    // })

                    this.requestNotification()
                })

                _refHabits.on('child_removed', (snapshot) => {
                    this.$store.dispatch('deleteHabitById', snapshot.key)
                    this.$bus.$emit(configs.eventNames.updateSingleHabit, snapshot.key)

                    // this.$nextTick(() => {
                    //     this.$bus.$emit(configs.eventNames.mainAppUpdatePageStatus, true, true, Object.keys(this.habits).length - 1, 'removed')
                    // })
                })
            },
            toggleStatusHabit (habit, habitId) {
                let isDone = this.isHabitDoneToday(habit, this.currentDateDDMMYYYY)
                let status = isDone > 0 ? configs.HABIT_STATUS_NONE : configs.HABIT_STATUS_DONE
                let _ref = ['/habits', this.user.uid, habitId, 'checkins', this.currentDateDDMMYYYY].join('/')
                this.$firebase.database().ref(_ref).set(status)

                this.logCheckinMetaData(habitId, this.currentDateDDMMYYYY, status)
            },
            setHabitStatus (habit, habitId, status, dateFMT = null) {
                let canSet = true
                if (status == configs.habitStatus.skip)
                    canSet = appUtils.userCanSkip(this.userPremiumData)

                if(!dateFMT)
                    dateFMT = this.currentDateDDMMYYYY

                if (!canSet) {
                    this.$bus.$emit(configs.eventNames.toggleUpgradePremium, true, configs.upgradeKey.skip)
                    return false
                }

                this.logCheckinMetaData(habitId, this.currentDateDDMMYYYY, status)

                let _ref = ['/habits', this.user.uid, habitId, 'checkins', dateFMT].join('/')
                this.$firebase.database().ref(_ref).set(status)
            },
            setArchiveHabit (habitId, isArchive) {
                let canArchive = appUtils.userCanArchive(this.userPremiumData)
                if (!canArchive && isArchive) {
                    this.$bus.$emit(configs.eventNames.toggleUpgradePremium, true, configs.upgradeKey.archive)
                    return false
                }

                let _ref = ['/habits', this.user.uid, habitId, 'isArchived'].join('/')
                this.$firebase.database().ref(_ref).set(isArchive)
                
            },
            removeHabit (habitId) {
                let _ref = ['/habits', this.user.uid, habitId].join('/')
                this.$firebase.database().ref(_ref).remove()
            },
            toggleSidebar (show = true) {
                if (show !== undefined || show !== null) {
                    this.isShowSidebar = show
                } else {
                    this.isShowSidebar = !this.isShowSidebar
                }
            },
            toggleUpgradePremium (show = false, type = 'habit') {
                this.sliderType = type
                if (show !== undefined || show !== null) {
                    this.isShowPremium = show
                } else {
                    this.isShowPremium = !this.isShowPremium
                }
            },
            checkDeviceType () {
                let size = window.innerWidth
                let type = configs.deviceTypes.pc
                
                if (size >= configs.breakpoints.pc) {
                    type = configs.deviceTypes.pc
                } else if (size >= configs.breakpoints.tablet) {
                    type = configs.deviceTypes.tablet
                } else {
                    type = configs.deviceTypes.mobile
                }

                let oldState = _.cloneDeep(this.deviceType)
                this.$store.dispatch('setDeviceType', type)

                if (oldState !== configs.deviceTypes.pc && type === configs.deviceTypes.pc) {
                    this.$bus.$emit(configs.eventNames.toggleNotesHabit, true)
                } else if (oldState === configs.deviceTypes.pc && type !== configs.deviceTypes.pc) {
                    this.$bus.$emit(configs.eventNames.toggleNotesHabit, false)
                }
                
            },
            loadLanguageAsync (lang) {
                return import(/* webpackChunkName: "lang-[request]" */ `@/i18n/${lang}.json`).then(msgs => {
                    app.$i18n.setLocaleMessage(lang, msgs.default)
                    return this.setI18nLanguage(lang)
                })
                return Promise.resolve(this.setI18nLanguage(lang))
            },
            setI18nLanguage (lang) {
                this.currentLang = lang
                this.$bus.$emit('mainAppChangeLang', lang);
                document.querySelector('html').setAttribute('lang', lang)
                return lang
            },
            setCurrentTimeOfDay (tod) {
                this.$store.dispatch('setCurrentTimeOfDay', tod)
            },
            logCheckinMetaData (habitId, targetDate, status) {
                let _refMetadata = this.$firebase.database().ref('/checkinMetadata/' + this.user.uid)
                let checkinModel = {}

                let source = ''
                let name = this.$route.name
                if (name === 'Dashboard' || name === 'Journal')
                    source = configs.checkinSources.journal
                else if (name === 'HabitDetail')
                    source = configs.checkinSources.singleProgress

                checkinModel[configs.modelMetaData.habitId] = habitId
                checkinModel[configs.modelMetaData.targetDate] = moment(targetDate, configs.dateConfigFormat.DDMMYYYY).format(configs.dateConfigFormat.META_DATA)
                checkinModel[configs.modelMetaData.status] = status
                checkinModel[configs.modelMetaData.timestamp] = moment().format(configs.dateConfigFormat.META_DATA)
                checkinModel[configs.modelMetaData.deviceId] = ''
                checkinModel[configs.modelMetaData.source] = source

                _refMetadata.push(checkinModel)
            },
            removeNotifyToken () {
                this.sendTokenToServer(this.notifyToken, this.user.uid, true)
            },
            processPageStage(hideLoad = true, isCheck = false, data) {
                console.log(`isCheck: ${isCheck}, data: ${data}`, this.habits)
                // this.emptyStage = this.habits && Object.keys(this.habits).length ? data ? null : 'emptyToday' : 'emptyPage'

                this.emptyStage = this.habits && Object.keys(this.habits).length ? null : 'emptyPage'
                if (isCheck) {
                    this.emptyStage = data > 0 ? null : 'emptyToday' 
                }

                if (hideLoad)
                    this.$bus.$emit(configs.eventNames.loaderIsLoaded)

                this.stageMounted = false
            },
            signOut() {
                if (!confirm(this.$i18n.t('settings.sign.out.confirmation')))
                    return false

                this.$bus.$emit(configs.eventNames.authRemoveNotifyToken)

                let storageKeys = Object.values(configs.preferences)
                storageKeys.forEach(key => {
                    storage.remove(key)
                })

                this.$bus.$emit('setCurrentHabit', null, false)
                    
                this.$firebase.auth().signOut()
                .then(() => {
                }).catch(function(error) {
                })
            },
            initDataFromStorage() {
                let storageShowCompleted = storage.get(configs.preferences.show_completed_habits, false)
                this.isShowCompletedHabits = storageShowCompleted

            },
            intergrateThirdparty() {
                branch.init(process.env.MIX_BRANCH_KEY, function(err, data) {
                    console.log(err, data);
                });
            }
        },
        metaInfo: {
            title: 'Habitify Web',
            titleTemplate: '%s – Habitify Web'
        }
    }
</script>

<style>
.row-app {
    display: flex
}
</style>
