<template>
    <div class="note-habit-panel">
        <div class="note-bar-wrapper">
            <div class="note-head">{{ $t('progress.notes') }}</div>
            <div class="note-content" :class="{'note-list-empty': !listNotes.length}">
                <div class="note-list" v-if="listNotes.length">
                    <note-item v-for="(note, key) in listNotes" :key="key" :note="note" :user="user" :currentHabitId="currentHabitId" :lang="lang"></note-item>
                </div>
                <div class="note-list" v-else="">
                    <img src="/assets/images/stage/empty-notes.png" alt="" class="img-fluid img-empty-note" style="max-width: 80%">
                    <div class="empty-title">{{ $t('progress.empty.note.title') }}</div>
                    <div class="empty-note-desc">{{ $t('progress.empty.note.message.web') }}</div>
                </div>
            </div>
            <div class="note-type-message">
                <div class="note-type-wrapper">
                    <textarea class="form-control note-new" rows="5" :placeholder="$t('progress.empty.note.placeholder.web')" v-model="newNoteValue"></textarea>
                    <div class="send-note" @click.prevent="addNewNote">{{ $t("progress.notebar.send") }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {eventNames, upgradeKey, dateConfigFormat} from '@/configs'
    import NoteItem from '@/components/ui/notes/NoteItem'
    import { mapGetters } from 'vuex'
    import appUtils from '@/utils/appUtils'

    import chrono from 'chrono-node'

    export default {
        name: 'Notebar',
        data () {
            return {
                newNoteValue: null
            }
        },
        components: {NoteItem},
        computed: {
            ...mapGetters(['user', 'notes', 'currentHabitId', 'lang', 'userPremiumData']),
            listNotes () {
                return appUtils.sortNoteList(this.notes)
            }
        },
        mounted () {
            $(".note-new").keydown((e) => {
                if (e.keyCode == 13 && !e.shiftKey)
                {
                    // prevent default behavior
                    e.preventDefault();
                    this.addNewNote()
                    return false;
                }
            });
        },
        methods: {
            updateNote (id, event) {
                let _refNote = '/notes2/' + this.user.uid + '/' + this.currentHabitId + '/' + id + '/content'
                
                this.$firebase.database().ref(_refNote).set(event.target.value)
            },
            addNewNote() {
                let premium = appUtils.isPremium(this.userPremiumData)
                if (!premium) {
                    this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.notes)
                    return false
                }

                if (!this.newNoteValue || !this.newNoteValue.length) {
                    return false
                }

                let parseDate = chrono.parseDate(this.newNoteValue)
                let createdAt = parseDate ? moment(parseDate).format(dateConfigFormat.note) : appUtils.getCurrentTime()

                let _refNote = '/notes2/' + this.user.uid + '/' + this.currentHabitId + '/'
                this.$firebase.database().ref(_refNote).push({
                    content: this.newNoteValue,
                    created: createdAt
                })

                this.newNoteValue = null
            }
        }
    }
</script>
