<template>
    <div class="main-sidebar">
        <div class="sidebar-wrapper">
            <div class="sidebar-top">
                <div class="sidebar-content">
                    <ul class="sidebar-nav">
                        <li class="item-profile">
                            <div class="item-profile-wrapper">
                                <div class="profile-content" @click.prevent="toggleDropdownProfile">
                                    <img :src="userPremiumData.profileImage ? userPremiumData.profileImage : '/assets/images/sidebar/default-avatar.png'" onerror="this.src= '/assets/images/sidebar/default-avatar.png'" alt="" class="profile-avatar img-fluid">
                                    <div class="user-informations">
                                        <span class="user-display-name">{{ userPremiumData.name ? userPremiumData.name : 'Guest' }}</span>
                                        <span class="user-display-email">{{ user.email }}</span>
                                    </div>
                                </div>

                                <div class="dropdown-profile" v-show="dropdownProfile">
                                    <li class="profile-item" @click.prevent="handleProfileItem(profileActions.upgradePremium)" v-if="!isPremium"><a href="#">{{ $t('settings.status.free') }}</a></li>
                                    <li class="profile-item"><a href="#" class="profile-item-premium" @click.prevent="hideDropdownProfile()" v-if="premiumDate">{{ premiumDate }}</a></li>
                                    <li class="profile-item" 
                                        @click.prevent="handleProfileItem(profileActions.profileSettings)"
                                        >
                                        <a href="#" :class="{active: $route.name == 'Setting'}">{{ $t('settings.sidebar.menu.title') }}</a>
                                    </li>
                                    <li class="profile-item" @click.prevent="handleProfileItem(profileActions.signOut)"><a href="#">{{ $t("settings.sign.out") }}</a></li>
                                </div>
                            </div>
                        </li>
                        <li class="has-sub-menu menu-hide" :class="getCurrentClass('Journal')" v-if="deviceType === deviceTypes.pc">
                            <router-link :to="{name: 'Journal', params: {time: labelTimeOfDayPath[getOtherTime.time]}}">
                                <span class="icon-sidebar" v-if="getOtherTime.time === configs.morning"><i class="icon-b icon-icon-morning"></i></span>
                                <span class="icon-sidebar" v-if="getOtherTime.time === configs.afternoon"><i class="icon-b icon-icon-afternoon"></i></span>
                                <span class="icon-sidebar" v-if="getOtherTime.time === configs.night"><i class="icon-b icon-icon-night"></i></span>
                                {{ getOtherTime.label }}
                            </router-link>
                            <ul class="sidebar-sub-nav">
                                <li :class="{active: currentTimeOfDay === configs.morning}">
                                    <router-link :to="{name: 'Journal', params: {time: labelTimeOfDayPath[configs.morning]}}">{{ $t(labelTimeOfDays[configs.morning]) }}</router-link>
                                </li>
                                <li :class="{active: currentTimeOfDay === configs.afternoon}">
                                    <router-link :to="{name: 'Journal', params: {time: labelTimeOfDayPath[configs.afternoon]}}">{{ $t(labelTimeOfDays[configs.afternoon]) }}</router-link>
                                </li>
                                <li :class="{active: currentTimeOfDay === configs.night}">
                                    <router-link :to="{name: 'Journal', params: {time: labelTimeOfDayPath[configs.night]}}">{{ $t(labelTimeOfDays[configs.night]) }}</router-link>
                                </li>
                            </ul>
                        </li>
                        <li class="" :class="getCurrentClass('Journal')" v-if="deviceType !== deviceTypes.pc">
                            <router-link :to="{name: 'Journal', params: {time: labelTimeOfDayPath[greetingTime]}}">{{ $t(labelTimeOfDays[greetingTime]) }}</router-link>
                        </li>
                        <li :class="getCurrentClass('Journal', configs.anyTime)">
                            <router-link :to="{name: 'Journal', params: {time: labelTimeOfDayPath[configs.anyTime]}}">
                                <span class="icon-sidebar"><i class="icon-b icon-icon-all-habit"></i></span>
                                {{ $t('common.all.habit') }}
                            </router-link>
                        </li>
                        <li class="link-more">
                            <a href="#" @click.prevent="">{{ $t("common.sidebar.more") }}</a>
                        </li>
                        <li :class="{active: $route.name == 'Progress'}">
                            <router-link :to="{name: 'Progress'}">
                                <span class="icon-sidebar"><i class="icon-b icon-icon-progress"></i></span>
                                {{ $t('progress.screen.name') }}
                            </router-link>
                        </li>
                        <li :class="{active: $route.name == 'ManagerHabit' || $route.name == 'ManagerHabitType'}">
                            <router-link :to="{name: 'ManagerHabit'}">
                                <span class="icon-sidebar"><i class="icon-b icon-icon-manager"></i></span>
                                {{ $t('settings.reorder.habit') }}
                            </router-link>
                        </li>
                        <li class="has-sub-menu" @mouseover="handleHoverMenu">
                            <a href="#">
                                <span class="icon-sidebar"><i class="icon-b icon-icon-resources"></i></span>
                                {{ $t('sidebar.resources') }}
                            </a>
                            <ul class="sidebar-sub-nav">
                                <li><a href="https://community.habitify.me" target="_blank">{{ $t('settings.community') }}</a></li>
                                <li><a href="https://crowdin.com/project/habitify" target="_blank">{{ $t('settings.translate') }}</a></li>
                                <li><a href="https://help.habitify.me" target="_blank">{{ $t('sidebar.tips.tricks') }}</a></li>
                                <li><a href="https://twitter.com/Habitifyapp" target="_blank">{{ $t('sidebar.follow.twitter') }}</a></li>
                                <li><a href="https://www.instagram.com/habitify.me" target="_blank">{{ $t('sidebar.follow.instagram') }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { timeOfDay, labelTimeOfDays, labelTimeOfDayPath, deviceTypes, profileActions, eventNames, premiumStatus, dateConfigFormat } from '@/configs'
    import appUtils from '@/utils/appUtils'
    export default {
        name: 'Sidebar',
        data () {
            return {
                configs: timeOfDay,
                labelTimeOfDays,
                timeOfDay,
                deviceTypes,
                labelTimeOfDayPath,
                profileActions,
                dropdownProfile: false
            }
        },
        computed: {
            ...mapGetters(['user', 'currentTimeOfDay', 'deviceType', 'currentOtherTOD', 'userPremiumData']),
            greetingTime () {
                return appUtils.getGreetingTime()
            },
            premiumDate() {
                if (!this.isPremium)
                    return null

                if (
                    parseInt(this.userPremiumData.premiumStatusAndroid) === premiumStatus.androidPremium 
                    || this.userPremiumData.premiumStatus === premiumStatus.iosPremium
                    || !this.userPremiumData.hasOwnProperty('premiumExpireDate')
                ) {
                    return this.$i18n.t('settings.plan.lifetime.renew')
                }
                
                let tmp = moment(this.userPremiumData.premiumExpireDate, dateConfigFormat.FORMAT_EXPIRED_DATE)

                return this.$i18n.t('settings.plan.subscription.renew', {msg: tmp.format('MMM DD, YYYY')})
            },
            isPremium() {
                return appUtils.isPremium(this.userPremiumData)
            },
            getOtherTime () {
                let pickTime = this.currentTimeOfDay == timeOfDay.anyTime ? this.currentOtherTOD : this.currentTimeOfDay
                let label = this.$i18n.t(labelTimeOfDays[pickTime])
                let time = pickTime
                // if (this.currentTimeOfDay == timeOfDay.anyTime) {
                //     label = this.$i18n.t(labelTimeOfDays[this.greetingTime])
                //     time = this.greetingTime
                // }

                return {label: label, time: time}
            }
        },
        methods: {
            setCurrentTimeOfDay (value) {
                this.$store.dispatch('setCurrentTimeOfDay', value)
                $('.has-sub-menu').addClass('menu-hide')
                
                this.$bus.$emit('toggleSidebar', false)

                if (this.$router.currentRoute.name !== 'Dashboard') {
                    this.$router.push({name: 'Dashboard'})
                }
            },
            getCurrentClass (page, status) {
                let _status = this.currentTimeOfDay
                let _page = this.$route.name

                let result = []
                if (!status && _page === 'Journal' && _status !== timeOfDay.anyTime) {
                    return {active: _page === page}
                }
                
                if (parseInt(_status) === parseInt(status) && _page === page)
                    result.push('active')
                return result
            },
            handleHoverMenu (evt) {
                let target = $(evt.target)
                let liTag = $(evt.target).closest('li')
                let eventType = evt.type

                if (eventType === 'mouseover') {
                    liTag.removeClass('menu-hide')
                }
            },
            toggleDropdownProfile() {
                this.dropdownProfile = !this.dropdownProfile
            },
            hideDropdownProfile () {
                this.dropdownProfile = false
            },
            handleProfileItem(action) {
                if (action == profileActions.profileSettings) {
                    this.$router.push({name: 'Setting'})
                } else if (action == profileActions.upgradePremium) {
                    this.$bus.$emit(eventNames.toggleUpgradePremium, true)
                } else if (action == profileActions.signOut) {
                    this.$bus.$emit(eventNames.commonSignout)
                }

                this.hideDropdownProfile()
            }
        },
        mounted () {
            $('.sidebar-sub-nav li').on('click', function() {
                $(this).closest('.has-sub-menu').addClass('menu-hide')
            })

            $('.has-sub-menu').on('mouseover', function(evt) {
                $(this).removeClass('menu-hide')
            })

            $(window).on('click', (e) => {
                let isClickProfile = $(e.target).closest('.item-profile').length
                if (!isClickProfile)
                    this.hideDropdownProfile()
            })
        }
    }
</script>
