<template>
    <div class="app-topbar">
        <div class="topbar-wrapper" v-if="$route.name === 'Dashboard' || $route.name === 'Journal'">
            <div class="topbar-timeofday" @click.prevent="openSidebar">
                <div class="topbar-timeofday-wrapper">
                    <span class="icon">
                        <i class="icon-icon-bar"></i>
                        {{ $t(labelTimeOfDays[currentTimeOfDay]) }}
                    </span>
                </div>
            </div>
            <div class="left-topbar left-topbar-date topbar-col">
                <div class="topbar-date">
                    <div class="topbar-label-date position-relative sdl-menu-topbar topbar-date-dropdown"> 
                        <span class="date-dropdown sld-trigger" @click.prevent="toggleDropdown()">
                            <span class="label-date" v-text="currentDateNamed"></span>
                            <span class="icon icon-select">
                                <i class="icon-icon-down icon-b"></i>
                            </span>
                        </span>
                        <calendar-pick 
                            :isShowDatePicker="isShowDatePicker" 
                            :showDropdown="showDropdown"
                            :mondayFirst="iso" 
                            :convertedCurrentDate="convertedCurrentDate"
                            :currentDate="currentDate"
                            :styleOfDropdown="styleOfDropdown"
                            :classStyle="[showDropdown ? 'sdl-menuopen' : '']"
                            />
                    </div>
                </div>
            </div>

            <div class="right-topbar topbar-col">
                <div class="right-wrapper">
                    <a href="#" class="btn-new-habit" @click.prevent="showDialogCreateHabit">
                        <span class="text-icon"><i class="icon-icon-plus icon-b"></i></span>
                        <span class="text-label">{{ $t("topbar.button.new.habit") }}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="topbar-wrapper topbar-wrapper-detail" v-if="$route.name === 'HabitDetail' && currentHabit">
            <a href="#" @click.prevent="goBack()" class="topbar-title detail-pc-title" v-if="!isMobile">
                <i class="icon-icon-back icon-b fz-15"></i> <span class="back-label">{{ currentHabit.name }}</span>
            </a>

            <div class="detail-pc-edit" v-if="!isMobile">
                <a href="#" class="btn-habit-detail btn-edit-habit" :title="$t('common.edit')" @click.prevent="openDialogEditHabit">
                    <span>{{ $t('common.edit') }}</span>
                </a>
                <a href="#" class="btn-habit-detail hide-notes" :title="$t('progress.notes')" @click.prevent="toggleNotesHabit">
                    <i class="icon-icon-hide icon-b"></i>
                </a>
            </div>

            <a href="#" @click.prevent="goBack()" class="habit-nav-link habit-nav-link-dark detail-back" v-if="isMobile">
                <i class="icon-icon-back icon-b fz-15"></i>
            </a>

            <div class="topbar-title detail-name" v-if="isMobile">{{ currentHabit.name }}</div>

            <a href="#" class="habit-nav-link habit-nav-link-dark detail-edit" :title="$t('common.edit')" v-if="isMobile" @click.prevent="openDialogEditHabit">
                <i class="icon-icon-more icon-b fz-15"></i>
            </a>
        </div>
        <div class="topbar-wrapper topbar-wrapper-tabs" v-if="$route.name === 'HabitDetail' && isMobile">
            <div class="topbar-tabs two-tabs" :class="{'active-first': !openNote, 'active-second': openNote}">
                <span class="tab-active" :class="{active: !openNote}" @click.prevent="selectTab(true)">
                    <span class="tab-name">{{ $t('progress.screen.name') }}</span>
                </span>
                <span class="tab-active" :class="{active: openNote}" @click.prevent="selectTab(false)">
                    <span class="tab-name" :title="$t('progress.notes')">{{ $t('progress.notes') }}</span>
                </span>
                <div class="tab-border"></div>
            </div>
        </div>

        <div class="topbar-wrapper toggle-bar-mobile" v-if="$route.name === 'Progress'">
            <div class="toggle-bar" @click.prevent="openSidebar">
                <i class="icon-icon-bar icon-b"></i>
            </div>
            <div class="left-topbar topbar-col">
                <div class="topbar-habit-nav">
                    <div class="topbar-title">{{ $t('progress.screen.name') }}</div>
                </div>
            </div>
        </div>

        <div class="topbar-wrapper toggle-bar-mobile" v-if="$route.name === 'Setting'">
            <div class="toggle-bar" @click.prevent="openSidebar">
                <i class="icon-icon-bar icon-b"></i>
            </div>
            <div class="left-topbar topbar-col">
                <div class="topbar-habit-nav">
                    <div class="topbar-title">{{ $t('settings.sidebar.menu.title') }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { dateMixins } from '@/utils/mixins'
    import { labelTimeOfDays, eventNames, deviceTypes, breakpoints, limitOfFreeUser, upgradeKey } from '@/configs'
    import appUtils from'@/utils/appUtils'

    import CalendarPick from '@/components/includes/topbar/CalendarPick'

    export default {
        name: 'Topbar',
        mixins: [dateMixins],
        computed : {
            ...mapGetters(['user', 'currentDate', 'currentHabit', 'iso', 'currentTimeOfDay', 'deviceType', 'habits', 'userPremiumData', 'lang']),
            convertedCurrentDate () {
                return this.currentDate.toDate()
            },
            currentDateNamed () {
                let name = this.getNameOfCurrentDate(this.currentDate, this.lang)
                let windowWidth = window.innerWidth
                if (this.deviceType === deviceTypes.mobile) {
                    if (windowWidth <= 320)
                        name = name.length > 9 ? name.substring(0, 8) + '...' : name
                    else if (windowWidth <= 480)
                        name = name.length > 10 ? name.substring(0, 10) + '...' : name
                }

                return name
            },
            habit () {
                return this.currentHabit
            },
            isMobile () {
                return parseInt(this.deviceType) !== parseInt(deviceTypes.pc)
            },
            openNote: {
                get () {
                    return this.$store.getters.openNote
                },
                set(status) {
                    this.$store.dispatch('setOpenNote', status)
                }
            },
            styleOfDropdown() {
                let _height = 0
                let status = this.showDropdown

                if (this.isShowDatePicker)
                    _height = 'auto'
                else
                    _height = $('.block-pick-top-main').height() +'px'

                return {height: _height}
            },
            habitRefer: {
                get() {return this.$store.getters.habitRefer},
                set (name) {this.$store.dispatch('setHabitDetailRefer', name)}
            }
        },
        data () {
            return {
                isShowDatePicker: false,
                labelTimeOfDays,
                deviceTypes: deviceTypes,
                selectTabProgress: true,
                showDropdown: false,
            }
        },
        components: {CalendarPick},
        methods: {
            goBack () {
                if (this.habitRefer !== null) {
                    let _name = 
                    this.$router.push(this.habitRefer)
                } else {
                    this.$router.push({ name: 'Dashboard' })
                }

                this.habitRefer = null
            },
            logout () {
                this.$firebase.auth().signOut()
                .then(() => {
                    console.log('signout success')
                }).catch(function(error) {
                    console.log('signout error')
                })

            },
            showDialogCreateHabit() {
                let cannotCreatehabit = Object.keys(this.habits).length >= limitOfFreeUser.habits
                let premium = appUtils.isPremium(this.userPremiumData)

                if (!premium) {
                    if (cannotCreatehabit) {
                        this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.habit)
                        return false
                    }
                }
                if (this.$route.name == 'Journal' || this.$route.name == 'Dashboard') {
                    this.$bus.$emit(eventNames.journalShowCreateDialog)
                } else
                    this.$bus.$emit(eventNames.commonShowDialogCreateHabit)
            },
            openSidebar () {
                this.$bus.$emit('toggleSidebar', true)
            },
            openDialogEditHabit () {
                this.$bus.$emit(eventNames.toggleDialogEdit, true)
            },
            toggleNotesHabit () {
                console.log('call from topbar')
                this.$bus.$emit(eventNames.toggleNotesHabit)
            },
            selectTab (status) {
                if (!appUtils.isPremium(this.userPremiumData) && !status) {
                    this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.notes)
                    return false
                }

                this.selectTabProgress = status
                this.$bus.$emit(eventNames.changeTabHabitDetail, status)
                this.openNote = !status
            },
            toggleDropdown() {
                this.showDropdown = !this.showDropdown
                this.isShowDatePicker = false
            },
            hideDropdown() {
                this.showDropdown = false
                this.isShowDatePicker = false
            }
        },
        mounted () {
            // this.openNote = !this.isMobile

            this.$bus.$on(eventNames.mainAppSetSelectedDate, (date) => {
                this.hideDropdown()
            })

            this.$bus.$on(eventNames.topbarToggleShowCompleted, () => {
                this.hideDropdown()
            })

            this.$bus.$on(eventNames.mainAppForceCloseDropdown, () => {
                this.hideDropdown()
            })

            $(window).on('click', (e) => {
                let target = $(e.target)
                let parent = '.topbar-label-date'
                let isClickInside = target.closest(parent).length

                if (!isClickInside) {
                    this.hideDropdown()
                }
            })

            this.$bus.$on(eventNames.toggleTopbarDatePicker, (status) => {
                this.isShowDatePicker = status
            })
        },
        destroyed() {
            let events = [
                eventNames.toggleTopbarDatePicker,
                eventNames.mainAppForceCloseDropdown
            ]

            events.forEach(event => {
                this.$bus.$off(event)
            })
        }
    }
</script>

