
// Body
$body-bg: #f8fafc

// Typography
$font-family-sans-serif: "Nunito", sans-serif
$font-size-base: 0.9rem
$line-height-base: 1.6

// Colors
$blue: #3490dc
$indigo: #6574cd
$purple: #9561e2
$pink: #f66D9b
$red: #e3342f
$orange: #f6993f
$yellow: #ffed4a
$green: #38c172
$teal: #4dc0b5
$cyan: #6cb2eb

$fz-thin: 100
$fz-light: 200
$fz-regular: 400
$fz-medium: 500
$fz-semibold: 600
$fz-bold: 700
$fz-heavy: 800
$fz-black: 900

$regular:                                        400
$semi-bold:                                      600
$bold:                                           700
$extra-bold:                                     800

$bg-sidebar: #242F3C
$bg-sidebar-active-item: #437CFF
$bg-sidebar-profile: #39434E

$color-black-app: #3E3F42
@mixin black-app($opaticy)
	color: rgba(62, 63, 66, $opaticy)

$color-blue-app: #5179FD
@mixin blue-app($opacity)
	color: rgba(81, 121, 253, $opacity)

@mixin blue-app-all-border($type, $width, $opacity)
	border: $type $width rgba(81, 121, 253, $opacity)
@mixin blue-app-only-border($pos, $type, $width, $opacity)
	border-#{$pos}: $type $width rgba(81, 121, 253, $opacity)

@mixin transparent-only-border($pos, $type, $width, $opacity)
	border-#{$pos}: $type $width transparent

@mixin bg-blue-app($opacity)
	background-color: rgba(81, 121, 253, $opacity)

$color-black-light: #6B6C6F
@mixin black-light($opacity)
	color: rgba(107, 108, 111, $opacity)

$color-border-sidebar: #EAEDF3
$color-border-blue-light: #E5EAFA
$color-bg-body: #F8F9FA
@mixin bg-body($opacity)
	background-color: rgb(248, 249, 250, $opacity)
$color-streak: #545C77
@mixin color-streak($opacity)
	color: rgba(84, 92, 119, $opacity)

@mixin bg-color-streak($opacity)
	background-color: rgba(84, 92, 119, $opacity)
	
$color-blue-light: #437CFF
@mixin color-blue-light($opacity)
	color: rgba(67, 124, 255, $opacity)
@mixin bg-blue-light($opacity)
	background-color: rgba(67, 124, 255, $opacity)
$color-delete: #E93D27

@mixin bg-streak($opacity)
	background-color: rgba(84, 92, 119, $opacity)
$color-status-done: #437CFF
$color-status-skip: rgba(156, 192, 255, 100)
$color-status-fail: #545c77
$color-blue-gray: #535C79
$color-topbar-hover: #F6F8FF
$color-delete: #DB4424
$color-border-top-date: #DFDFDF
$color-boder-habit-item: #E9EDF4
@mixin border-habit-item-all-border($type, $width, $opacity)
	border: $type $width rgba(81, 121, 253, $opacity)

@mixin border-habit-item-only-border($pos, $type, $width, $opacity)
	border-#{$pos}: $type $width rgba(233, 237, 244, $opacity)

@mixin color-delete($opaticy)
	color: rgba(219, 68, 36, $opaticy)

@for $i from 1 through 50
	.fz-#{$i}
		font-size: 0px + $i

// z-index area

$z-topbar: 100
$z-sidebar: 200
$z-index-dropdown-profile: 210
$z-sidebar-backdrop: 150
$z-dialog: 300
$z-index-edit-manager: 400
$z-upgrade: 7000
$z-input-fake: 250

.bg-white
	background-color: #fff
.box-shadown-1
	box-shadow: 0 1px 4px 0 rgba(84,92,119,0.30)


$ha-primary-dark:                                #2361e6
$ha-primary:                                     #426eff
$ha-primary-light:                               #5192fb
$ha-primary-lightest:                            #c6d5ff
$ha-primary-lightest-opacity-30:                 rgba(198, 213, 255, 0.3)

$ha-neutral-dark:                                #31364a
$ha-neutral:                                     #3d4359
$ha-neutral-light:                               #7f869a
$ha-neutral-lightest:                            #ced1e0

$ha-secondary-dark:                              #ec605c
$ha-secondary:                                   #f86c68
$ha-secondary-light:                             #ff8d8a
$ha-secondary-lightest:                          #fee2e1

$ha-background-dark:                             #e4e7f0
$ha-background:                                  #f0f2f8
$ha-background-light:                            #f8f9fd
$ha-background-lightest:                         #fff

$ha-warning-dark:                                #f0b700
$ha-warning:                                     #fec200
$ha-warning-light:                               #ffe798
$ha-warning-lightest:                            #fff6d9

$ha-positiv-darke:                               #1cbc89
$ha-positive:                                    #2dd29d
$ha-positive-light:                              #56eebd
$ha-positive-lightest:                           #c9ece2

$ha-negative-dark:                               #f13d49
$ha-negative:                                    #ff5661
$ha-negative-light:                              #ff838b
$ha-negative-lightest:                           #ffe6e8

$text-color-dark:                                $ha-neutral-dark
$text-color-base:                                $ha-neutral
$text-color-light:                               $ha-neutral-lightest

$border:                                         $ha-background-dark

