
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto')

// Variables
@import 'variables'
@import 'animate.css'

// import plugins
@import 'plugins/slideDropdown'

// import common
@import 'includes/commons/dropdown'


/** =================== START OF PLUGINS ================**/
@import '~bootstrap/scss/bootstrap'
@import "~jquery-contextmenu/dist/jquery.contextMenu.css"
@import "../assets/fonts/style.css"
@import '../js/plugins/slick-carousel/slick/slick.css'
/** =================== END OF PLUGINS ================**/


/** =================== START OF RESET ================**/
body, html
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
    background: $color-bg-body

[class^="icon-"].icon-b, [class*=" icon-"].icon-b
    font-weight: bold

.tooltip, .tooltip-inner
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
/** =================== END OF RESET ================**/


/** =================== COMMON CHART =================**/
    


/** list component:
 ** _box
 ** _list-habit
 ** _dropdown
 ** _context-menu
 ** 
 ** 
 ** 
 **
 **/
/** =================== START OF COMPONENT ================**/
@import 'common/box'
@import 'common/dropdown'
@import 'common/form'
@import 'common/dialog'
@import 'common/buttons'
@import 'common/block-section'
@import 'common/empty-stage'

@import "layouts/custom-grid"
// @import "ui/dialogs/dialog-create-habit"
@import "ui/dialogs/dialog-upgrade-premium"

@import "ui/dropdown-input"
@import "ui/dropdown-repeat"
@import "ui/dropdown-calendar"
@import "ui/dropdown-reminder"
@import "ui/dropdown-pick"

@import "ui/calendar-month"
@import "ui/weekday"
@import "ui/streak-list"
@import "ui/completion-rate"
@import "ui/habit-form"


@import "components/habit-list"
@import "components/context-menu"
/** =================== END OF COMPONENT ================**/

/** =================== START OF LAYOUT ================**/
@import "layouts/layout"
@import "layouts/sidebar"
@import "layouts/topbar"
@import "layouts/notebar"
@import "layouts/main-content"
/** =================== END OF LAYOUT ================**/


/** =================== END OF COMMON ================**/
@import "includes/loading"
@import "ui/topbar-tab"
/** =================== END OF COMMON ================**/


/** =================== START OF PAGE ================**/
@import "page/dashboard"
@import "page/habit-detail"
@import "page/settings"

@import "page/progress"
@import "page/manager-habit"

@import "page/authenticate"
/** =================== END OF PAGE ================**/


.popover
    color: white
    .popover-body
            padding: 0
            .ul-popover 
                    list-style: none
                    padding: 0
                    margin: 0
                    min-width: 150px
                    li
                        display: inline-block
                        width: 50%
                        background: rgba(0, 0, 0, .8)
                        transition: all ease-in-out 200ms
                        float: left
                        &:hover
                            background: rgba(0, 0, 0, .6)
                        a
                            display: inline-block
                            width: 100%
                            text-align: center
                            padding-top: 5px
                            padding-bottom: 5px
                            color: $white
                            font-weight: $fz-medium
                            font-size: 14px
                            text-decoration: none
                            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    

  
    .popover-content 
        padding: 0

.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^=top] .arrow::after
    border-top-color: rgba(0, 0, 0, .8)


@import "./authenticate/custom"
// @import "~bootstrap/scss/bootstrap"

.auth-page
    @import "./authenticate/button"

@import "./authenticate/input"
@import "./authenticate/login"
@import "./authenticate/title"