.context-habit-list.context-menu-list
	background: $white
	box-shadow: 0 1px 4px 0 rgba(84,92,119,0.30)
	border: none
	padding: 0
	min-width: 283px
	padding: 3px 0
	.context-menu-item
		padding: 11px 20px 11px 50px
		transition: all ease-in-out 200ms
		font-weight: $fz-medium
		font-size: 15px
		color: $color-streak
		letter-spacing: 0
		background-repeat: no-repeat
		background-position: center left 17px
		&.context-item-complete
			background-image: url(/assets/images/habit/icon-done.svg)
		&.context-item-skip
			background-image: url(/assets/images/habit/icon-skip.svg)
		&.context-item-fail
			background-image: url(/assets/images/habit/icon-fail.svg)
		&.context-item-edit
			border-top: solid 1px $color-border-blue-light
			background-image: url(/assets/images/habit/icon-edit.svg)
		&.context-item-archive
			background-image: url(/assets/images/habit/icon-archive.svg)
		&:hover
			background-color: $color-topbar-hover
			color: $color-blue-app
			&.context-item-complete
				background-image: url(/assets/images/habit/icon-done-active.svg)
			&.context-item-skip
				background-image: url(/assets/images/habit/icon-skip-active.svg)
			&.context-item-fail
				background-image: url(/assets/images/habit/icon-fail-active.svg)
			&.context-item-edit
				background-image: url(/assets/images/habit/icon-edit-active.svg)
			&.context-item-archive
				background-image: url(/assets/images/habit/icon-archive-active.svg)