.habit-list
	*
		user-select: none
	.habit-list-of-day
		list-style: none
		padding: 0
		margin: 0
		.habit-item
			background: $white
			// padding: 5px 15px 5px 19px
			min-height: 64px
			display: flex
			align-items: center
			border: solid 2px transparent
			border-bottom: solid 1px rgba(233, 237, 244, 0.5)
			&.habit-item-selected
				border: solid 2px $color-blue-app
				border-radius: 0 !important
			&:first-child
				border-radius: 3px 3px 0 0
			a
				padding: 5px 15px 5px 0
				display: flex
				align-items: center
				text-decoration: none
				width: 100%
				position: relative
				.area-click-status
					padding-left: 19px
					height: 100%
				.icon-status
					margin-right: 13px
					width: 28px
					height: 28px
					border-radius: 1000px
					text-align: center
					display: flex
					align-items: center
					justify-content: center
					min-width: 28px
					&.habit-item-none
						border: solid 2px $color-border-blue-light
						background: $white
					&.habit-item-done
						background: $color-status-done
					&.habit-item-skip
						background: $color-status-skip
					&.habit-item-fail
						background: $color-status-fail
					img
						width: 50%
						display: inline-block

				span.habit-information
					display: inline-block
					max-width: calc(100% - 50px)
					.habit-name, .habit-times
						display: block
						width: 100%
						white-space: nowrap
						text-overflow: ellipsis
						overflow: hidden
					.habit-name
						font-weight: $fz-medium
						font-size: 14px
						color: $color-black-app
						line-height: 22px
					.habit-times
						font-weight: $fz-regular
						font-size: 12px
						color: $color-black-light
						line-height: 22px
				span.habit-actions
					position: absolute
					right: 0
					top: 0
					display: flex
					align-items: center
					justify-content: center
					height: 100%
					font-weight: $fz-medium
					visibility: hidden
					opacity: 0
					transition: all ease-in-out 300ms
					.action-item
						padding: 5px 15px
						border-radius: 3px
						margin-right: 10px
						transition: all ease-in-out 300ms
						color: $color-blue-app
						background-color: $color-topbar-hover
						*
							cursor: pointer
						&:hover
							@include bg-blue-app(.05)
							color: $color-blue-app
							svg
								fill: currentColor
								color: $color-blue-app
								transition: all ease-in-out 300ms
					.icon-action
						height: auto
						width: 15px
						margin-right: 5px
						display: inline-block

@media (min-width: 1024px)
	.habit-list
		.habit-list-of-day
			.habit-item
				&:hover
					span.habit-actions
						opacity: 1
						visibility: visible
					span.habit-information
						max-width: calc(100% - 300px)