<template>
    <div class="habit-form custom-form">
        <div class="form-group fake-input-control">
            <label class="label-control">{{ $t('edithabit.name') }}</label>
            <input type="text" class="form-control input-control" v-model="habitEditManager.content.name" @input="updateNameHabit" placeholder="eg: Run 1km per day">
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label class="label-control">{{ $t('edithabit.repeat') }}</label>
                <dropdown-repeat :eventName="eventSetRegularly" :regularly="this.habitEditManager.content.regularly"/>
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="label-control w-100">
                    <span class="d-flex align-items-center justify-content-between">
                        <span class="label-input">{{ $t('edithabit.start.date') }}</span>
                        <span class="icon-tooltip" data-toggle="tooltip" data-placement="left" :title="$t('common.dialog.tooltip.start.date')"><i class="icon-b icon-icon-ask"></i></span>
                    </span>
                </label>
                <dropdown-start :eventName="eventSelectedStartDate" :date="this.habitEditManager.content.startDate" :isMobile="isMobile" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label class="label-control w-100">
                    <span class="d-flex align-items-center justify-content-between">
                        <span class="label-input">{{ $t('edithabit.time.of.day') }}</span>
                        <span class="icon-tooltip" data-toggle="tooltip" data-placement="left" :title="$t('common.dialog.tooltip.tomeofday')"><i class="icon-b icon-icon-ask"></i></span>
                    </span>
                </label>
                <dropdown-input :selectIndex="habitEditManager.content.timeOfDay" :options="labelTimeDropdownOfDays" :eventName="'selectedTimeOfDay'"/>
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="label-control">{{ $t('edithabit.reminder') }}</label>
                <!-- <dropdown-reminder v-for="(reminder, key) in availableReminder" :key="key" :reminder="reminder"/> -->
                <dropdown-reminder-new v-for="(reminder, key) in availableReminder" :key="key" :reminder="reminder"/>
                
                <div class="dropdown-repeat-list topbar-label-date fake-input-control">
                    <div class="fake-input form-control input-add-remider input-control" @click.prevent="addRandomReminder">
                        <div class="fake-input-wrapper">
                            <i class="input-icon icon-icon-plus"></i> {{ $t('edithabit.add.reminder') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { labelTimeDropdownOfDays, labelTimeOfDays, eventNames, upgradeKey} from '@/configs'
import DropdownInput from '@/components/ui/common/DropdownInput'
import DropdownRepeat from '@/components/ui/common/DropdownRepeat'
import DropdownStart from '@/components/ui/common/DropdownStart'
import DropdownReminder from '@/components/ui/common/DropdownReminder'
import DropdownReminderNew from '@/components/ui/common/DropdownReminderNew'

import {mapGetters} from 'vuex'
import moment from 'moment'
import Vue from 'vue'
import appUtils from '@/utils/appUtils'

export default {
    name: 'HabitForm',
    props: ['selectedList', 'habits', 'isMobile'],
    components: {DropdownInput, DropdownRepeat, DropdownStart, DropdownReminder, DropdownReminderNew},
    data () {
        return {
            labelTimeOfDays: labelTimeOfDays,
            labelTimeDropdownOfDays: labelTimeDropdownOfDays,
            eventSelectedStartDate: 'dropdownStartSelected',
            eventSetRegularly: 'setRegularly'
        }
    },
    computed: {
        ...mapGetters(['user', 'userPremiumData']),
        selectedHabit: {
            get() { return this.$store.getters.selectedHabit },
            set(value) {
                this.$store.dispatch('setSelectedHabit', value)
            }
        },
        habitEditManager: {
            get() { return this.$store.getters.habitEditManager },
            set(value) {
                this.$store.dispatch('setHabitEditManager', value)
            }
        },
        availableReminder () {
            if (!this.habitEditManager.content.hasOwnProperty('remind') || !this.habitEditManager.content.remind.hasOwnProperty('timeTriggers'))
                return []
            let list = Object.keys(this.habitEditManager.content.remind.timeTriggers)
            let sortList = []
            list.forEach(hour => {
                let _day = moment(hour, 'H:m')
                sortList.push({
                    key: hour,
                    seconds: parseInt(_day.format('X'))
                })
            })

            sortList = _.orderBy(sortList, ['seconds'], ['asc'])
            return sortList
        }
    },
    mounted () {
        this.$bus.$on('selectedTimeOfDay', this.updateTimeOfDay)
        this.$bus.$on(this.eventSelectedStartDate, this.updateStartDate)
        this.$bus.$on('deleteReminder', this.deleteReminder)

        this.$bus.$on('saveReminder', this.saveRemider)
        this.$bus.$on(this.eventSetRegularly, this.setRegularly)
        this.$bus.$on(eventNames.managerUpdateHabit, this.managerProcessUpdateHabit)

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    },
    beforeDestroy () {
        let events = [
            'selectedTimeOfDay', 
            this.eventSelectedStartDate, 
            'deleteReminder',
            'saveReminder', 
            this.eventSetRegularly,
            eventNames.managerUpdateHabit
        ]

        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    methods: {
        getRefHabit () {
            if (Object.keys(this.selectedHabit).length <= 0)
                return null
            return ['/habits', this.user.uid, this.selectedHabit.key]
        },
        updateNameHabit (evt) {
            let name = evt.target.value
            Vue.set(this.habitEditManager.content, 'name', name)
        },
        updateTimeOfDay (tod) {
            Vue.set(this.habitEditManager.content, 'timeOfDay', tod)
        },
        updateStartDate (date) {
            let convertDate = parseInt(moment(date).format('X'))
            Vue.set(this.habitEditManager.content, 'startDate', convertDate)
        },
        addRandomReminder () {
            let currentTime = moment()
            let duplicate = true
            do {
                currentTime = currentTime.add(5, 'minutes')
                let find = _.find(this.availableReminder, (item) => {
                    return item.key === currentTime.format('H:m')
                })
                duplicate = find ? true : false
            } while(duplicate === true)

            this.$bus.$emit('saveReminder', currentTime.format('H:m'))
        },
        saveRemider (newHour, origin = null) {
            let splits = newHour.split(':')
            let _hour = parseInt(splits[0])
            let _minute = parseInt(splits[1])
            let hourFormat = _hour + ':' + _minute

            if (!this.habitEditManager.content.remind) {
                Vue.set(this.habitEditManager.content, 'remind', {
                    soundName: "Default",
                    timeTriggers: {}
                })
            }

            if (!this.habitEditManager.content.remind.timeTriggers) {
                Vue.set(this.habitEditManager.content.remind, 'timeTriggers', {})
            }

            if (origin) {
                delete this.habitEditManager.content.remind.timeTriggers[origin]
                Vue.delete(this.habitEditManager.content.remind.timeTriggers, origin)
                this.$store.dispatch('deleteHabitEditManagerReminder', origin)
            }

            let canAdd = appUtils.userCanAddReminder(this.userPremiumData)
            let countReminder = Object.keys(this.habitEditManager.content.remind.timeTriggers).length
            
            if (!canAdd && countReminder >= 1) {
                this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.reminder)
                return false
            }

            Vue.set(this.habitEditManager.content.remind.timeTriggers, hourFormat, true)
        },
        deleteReminder (reminder) {
            Vue.delete(this.habitEditManager.content.remind.timeTriggers, reminder.key)
        },
        setRegularly (regularly) {
            Vue.set(this.habitEditManager.content, 'regularly', regularly)
        },
        managerProcessUpdateHabit () {
            let updateData = {
                name: this.habitEditManager.content.name,
                regularly: this.habitEditManager.content.regularly,
                startDate: this.habitEditManager.content.startDate,
                timeOfDay: this.habitEditManager.content.timeOfDay,
                remind: {
                    timeTriggers: this.habitEditManager.content.remind.timeTriggers
                }
            }

            let rootRef = this.getRefHabit()
            this.$firebase.database().ref(rootRef.join('/')).update(updateData)
            this.$bus.$emit(eventNames.managerResetData)
        }
    }
}
</script>
