<template>
    <div class="habit-form custom-form" :class="classForm">
        <div class="form-group fake-input-control">
            <label class="label-control text-uppercase">{{ $t('edithabit.name') }}</label>
            <input type="text" class="form-control input-control input-name" autofocus :value="habitData.name" @input="updateNameHabit" :placeholder="$t('edithabit.name')">
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label class="label-control text-uppercase">{{ $t('edithabit.repeat') }}</label>
                <dropdown-repeat :eventName="eventFormChangeRegularly" :regularly="habitData.regularly"/>
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="label-control text-uppercase w-100">
                    <span class="d-flex align-items-center justify-content-between">
                        <span class="label-input">{{ $t('edithabit.start.date') }}</span>
                        <span class="icon-tooltip" data-toggle="tooltip" data-placement="left" :title="$t('common.dialog.tooltip.start.date')"><i class="icon-b icon-icon-ask"></i></span>
                    </span>
                </label>
                <dropdown-start :eventName="eventFormChangeStartDate" :date="habitData.startDate" :isMobile="isMobile" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label class="label-control text-uppercase w-100">
                    <span class="d-flex align-items-center justify-content-between">
                        <span class="label-input">{{ $t('edithabit.time.of.day') }}</span>
                        <span class="icon-tooltip" data-toggle="tooltip" data-placement="left" :title="$t('common.dialog.tooltip.tomeofday')"><i class="icon-b icon-icon-ask"></i></span>
                    </span>
                </label>
                <dropdown-input :selectIndex="habitData.timeOfDay" :options="labelTimeDropdownOfDays" :eventName="eventFormChangeTimeOfDay"/>
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="label-control text-uppercase">{{ $t('edithabit.reminder') }}</label>
                <!-- <dropdown-reminder v-for="(reminder, key) in availableReminder" :key="key" :reminder="reminder"/> -->
                <dropdown-reminder-new v-for="(reminder, key) in availableReminder" :key="key" :reminder="reminder"/>
                
                <div class="dropdown-repeat-list topbar-label-date fake-input-control">
                    <div class="fake-input form-control input-add-remider input-control" @click.prevent="addRandomReminder">
                        <div class="fake-input-wrapper">
                            <i class="input-icon icon-icon-plus"></i> {{ $t('edithabit.add.reminder') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {labelTimeDropdownOfDays} from '@/configs'
import DropdownRepeat from '@/components/ui/common/DropdownRepeat'
import DropdownStart from '@/components/ui/common/DropdownStart'
import DropdownInput from '@/components/ui/common/DropdownInput'
import DropdownReminder from '@/components/ui/common/DropdownReminder'
import DropdownReminderNew from '@/components/ui/common/DropdownReminderNew'

import {mapGetters} from 'vuex'
import moment from 'moment'
import {deviceTypes} from '@/configs'
import appUtils from '@/utils/appUtils'

export default {
    name: 'HabitCreateForm',
    props: [
        'habitData', 'eventFormChangeName', 'eventFormChangeRegularly',
        'eventFormChangeStartDate', 'eventFormChangeTimeOfDay', 'eventFormAddReminder',
        'eventFormDeleteReminder',
        'classForm'
    ],
    data () {
        return {
            labelTimeDropdownOfDays,
        }
    },
    components: {DropdownRepeat, DropdownStart, DropdownInput, DropdownReminder, DropdownReminderNew},
    computed: {
        ...mapGetters(['blankHabit', 'deviceType', 'userPremiumData']),
        availableReminder () {
            if (!this.habitData.hasOwnProperty('remind') || !this.habitData.remind.hasOwnProperty('timeTriggers'))
                return []
            let list = Object.keys(this.habitData.remind.timeTriggers)

            let sortList = []
            list.forEach(hour => {
                let _day = moment(hour, 'H:m')
                sortList.push({
                    key: hour,
                    seconds: parseInt(_day.format('X'))
                })
            })

            sortList = _.orderBy(sortList, ['seconds'], ['asc'])
            return sortList
        },
        isMobile () {
            return parseInt(this.deviceType) !== parseInt(deviceTypes.pc)
        },
    },
    mounted () {
        this.$bus.$on('saveReminder', this.saveReminder)
        this.$bus.$on('deleteReminder', this.deleteReminder)
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    },
    destroyed() {
        let events = ['saveReminder', 'deleteReminder']

        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    methods: {
        updateNameHabit (evt) {
            this.$bus.$emit(this.eventFormChangeName, evt.target.value)
        },
        addRandomReminder () {
            let currentTime = moment()
            let duplicate = true
            do {
                currentTime = currentTime.add(5, 'minutes')
                let find = _.find(this.availableReminder, (item) => {
                    return item.key === currentTime.format('H:m')
                })
                duplicate = find ? true : false
            } while(duplicate === true)

            this.$bus.$emit(this.eventFormAddReminder, currentTime.format('H:m'), null, 'addRandomReminder')
        },
        saveReminder (newHour, origin = null) {
            let splits = newHour.split(':')
            let _hour = parseInt(splits[0])
            let _minute = parseInt(splits[1])
            let hourFormat = _hour + ':' + _minute

            this.$bus.$emit(this.eventFormAddReminder, hourFormat, origin, 'saveReminder of HabitCreateForm')
        },
        deleteReminder (_reminder) {
            this.$bus.$emit(this.eventFormDeleteReminder, _reminder.key)
        },
    }
}
</script>
