<template>
    <div class="habit-calendar-month">
        <div class="calendar-dow">
            <div class="calendar-item" v-for="(dow, key) in weekDays" :key="key" v-text="dow"></div>
        </div>

        <div class="swiper-container" id="swipe-zone-month">
            <div class="calendar-days" v-for="(month, key) in listDay" :key="key">
                <div class="calendar-item item-day" 
                    :class="generateClassForDay(day)" v-for="(day, key) in month" 
                    :key="key" @click.prevent="clickOnDate(day)"
                    :data-day="day.format('DDMMYYYY')"
                >
                    <a class="item-wrapper day-item-wrapper">
                        <span class="item-content">
                            {{ day.format('DD') }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { firstWeekDay, habitStatus, eventNames } from '@/configs'
import appUtils from '@/utils/appUtils'

export default {
    name: 'CalendarMonth',
    props: ['currentHabit', 'calendarCurrentDate', 'preferences', 'calendarDOWSun', 'calendarDOWMon', 'listMonth'],
    data () {
        return {
            firstWeekDay: firstWeekDay,
            compareFormat: 'DDMMYYYY',
            displayDate: moment(),
            activeIndex: 0,
            habitStatus: habitStatus,
            formatKeyMonth: 'YYYYMM'
        }
    },
    computed: {
        ...mapGetters(['user', 'currentHabitId', 'iso', 'lang']),
        listDay () {
            let data = this.calculateMonthFromNow()//{calendar: results, months: months}
            return data.calendar
        },
        weekDays () {
            return appUtils.getMomentWeekDays(this.lang, this.iso, 'short')
        },
        pickFormatDate () {
            return this.generatePickFormatDate()
        },
        calendarYear () {
            return this.generateYearCalendar()
        },
        currentDisplayDate () {
            return this.displayDate
        },
        // listMonth () {
        //     let list = this.calculateListMonths()
        //     return list
        // }
    },
    methods: {
        initializeData () {
            let currentComponent = this
            this.setItemDaySize()
            $(window).on('resize', () => {
                this.setItemDaySize()
            })

            $('#swipe-zone-month').contextMenu({
                selector: '.item-day:not(.item-disabled)', 
                className: 'context-habit-list',
                events: {
                    show: function (options) {
                        console.log(options, this);
                    }
                },
                callback: function (key, options, e) {
                    let currentDay = $(this)
                    let dayData = currentDay.attr('data-day')
                    if (!key || !dayData) {
                        return
                    }
                    let status = key === 'skip' ? habitStatus.skip : habitStatus.fail
                    let dateItem = moment(dayData, currentComponent.compareFormat)
                    currentComponent.checkinOnDate(dateItem, status)
                },
                items: {
                    skip: {name: this.$i18n.t('common.skip'), className: "context-item context-item-skip"},
                    fail: {name: this.$i18n.t('common.fail'), className: "context-item context-item-fail"},
                }
            });
        },
        setItemDaySize () {
            let dayWidth = $('.item-day').width()
            let lineHeight = window.innerWidth >= 500 ? dayWidth - 30 : dayWidth
            lineHeight = lineHeight > 40 ? 40 : lineHeight

            let originMarB = 25
            let ratioMargin = 0.04229223937407486
            let widthBox = $('#swipe-zone-month').width()
            
            $('.item-day').css({
                lineHeight: lineHeight + 'px',
                'margin-bottom': (ratioMargin * widthBox) + 'px'
            })
        },
        calculateListMonths () {
            let minDate = appUtils.getStartTime(this.currentHabit.startDate).startOf('month')
            let maxDate = moment().endOf('month')
            let diffMonth = Math.round(moment.duration(maxDate.diff(minDate)).as('months'))

            let months = {}
            for(let i = 0; i < diffMonth; i++) {
                let generateDate = moment(minDate.toDate()).add(i, 'months')
                months[generateDate.format(this.formatKeyMonth)] = generateDate.format('MMMM YYYY')
            }

            return months
        },
        calculateMonthFromNow () {
            let minDate = appUtils.getStartTime(this.currentHabit.startDate).startOf('month')
            let maxDate = moment().endOf('month')
            let diffMonth = Math.round(moment.duration(maxDate.diff(minDate)).as('months'))

            let results = [];
            let months = {}
            // for(let i = 0; i < diffMonth; i++) {
            //     let generateDate = moment(minDate.toDate()).add(i, 'months')
            //     months[generateDate.format(this.formatKeyMonth)] = generateDate.format('MMMM YYYY')
            //     results.push(this.generateDateInMonth(generateDate))
            // }

            // generate for only calendarCurrentDate
            let generateDate = moment(this.calendarCurrentDate.toDate())
            months[generateDate.format(this.formatKeyMonth)] = generateDate.format('MMMM YYYY')
            results.push(this.generateDateInMonth(generateDate))

            this.activeIndex = results.length - 1

            return {calendar: results, months: months}
        },
        generateDateInMonth (generateDate) {
            let _currentDate = moment(generateDate.toDate()).startOf('month')
            let _daysInMonth = _currentDate.daysInMonth()
            let _dayOfWeek = _currentDate.format('ddd')

            let _weekDay = this.weekDays
            let _prependNum = _weekDay.indexOf(_dayOfWeek) <= 0 ? 7 : _weekDay.indexOf(_dayOfWeek)

            let addDayLeft = (42 - _prependNum)
            
            let daysResult = []
            for (let i = _prependNum; i > 0; i--) {
                let _tmpDate = moment(_currentDate.toDate())
                daysResult.push(_tmpDate.subtract(i, 'days'))
            }
            
            for (let i = 0; i < addDayLeft; i++) {
                let _tmpDate = moment(_currentDate.toDate())
                daysResult.push(_tmpDate.add(i, 'days'))
            }
            
            return daysResult
        },
        generateClassForDay (day) {
            let classList = []
            let prevMoment = moment(day.toDate()).subtract(1, 'days')
            let prevDay = prevMoment.format(this.compareFormat)
            let today = moment(day.toDate()).format(this.compareFormat)
            let nextMoment = moment(day.toDate()).add(1, 'days')
            let nextDay = moment(day.toDate()).add(1, 'days').format(this.compareFormat)

            let existsPrev = this.pickFormatDate.indexOf(prevDay) >= 0 && !appUtils.dateIsFeatureOrPast(this.currentHabit.startDate, prevMoment)
            let existsToday = this.pickFormatDate.indexOf(today) >= 0
            let existsNext = this.pickFormatDate.indexOf(nextDay) >= 0 && !appUtils.dateIsFeatureOrPast(this.currentHabit.startDate, nextMoment)

            let todayStatus = appUtils.getHabitStatus(this.currentHabit, day)
            if (
                this.isDisabledDate(day)
            ) {
                classList.push('item-disabled')
                return classList
            }
            
            if (todayStatus === habitStatus.fail) {
                classList.push('pick-item pick-fail')
            } else if (todayStatus === habitStatus.skip) {
                classList.push('pick-item pick-skip')
            }

            if (this.pickFormatDate.indexOf(today) >= 0) {
                classList.push('pick-item')
            }

            if (existsPrev && existsNext) {
                classList.push('pick-middle')
            } else if (existsPrev && !existsNext) {
                classList.push('pick-last')
            } else if (!existsPrev && existsNext) {
                classList.push('pick-first')
            } else if (this.pickFormatDate.indexOf(today) >= 0) {
                classList.push('pick-single')
            }

            return classList
        },
        clickOnDate (date) {
            if (this.isDisabledDate(date)) {
                return false
            }

            let _curStatusOnDate = appUtils.getHabitStatus(this.currentHabit, date)
            let setStatus = _curStatusOnDate > 0 ? habitStatus.none : habitStatus.done
            
            this.checkinOnDate(date, setStatus)
        },
        generatePickFormatDate () {
            let _picked = []
            let checkins = this.currentHabit.hasOwnProperty('checkins') ? this.currentHabit.checkins : {}
            Object.keys(checkins).forEach(dateFMT => {
                if (parseInt(checkins[dateFMT]) === habitStatus.done) {
                    _picked.push(dateFMT)
                }
            })

            return _picked
        },
        isDisabledDate (compareDate) {
            return appUtils.dateIsFeatureOrPast(this.currentHabit.startDate, compareDate)
        },
        checkinOnDate (date, status) {
            let validStatus = [habitStatus.done, habitStatus.skip, habitStatus.fail, habitStatus.none]
            if (validStatus.indexOf(status) >= 0) {
                this.$bus.$emit(eventNames.mainAppSetHabitStatus, this.habit, this.currentHabitId, parseInt(status), date.format(this.compareFormat))
            }
        },
    },
    mounted () {
        this.$bus.$on(eventNames.habitDetailReDrawCalendar, () => {
            this.displayDate = moment()
            this.$nextTick(() => {
                this.$bus.$emit(eventNames.habitDetailChangeDisplayDate, this.displayDate )
            })
        })

        this.$bus.$on(eventNames.habitDetailSetMonth, (index, month) => {
            this.displayDate = moment(month, 'MMMM YYYY')
        })

        this.$bus.$on(eventNames.singleHabitUpdateStartDate, () => {
            setTimeout(() => {
                this.$nextTick(() => {
                    // this.$bus.$emit(eventNames.habitDetailSetListMonth, this.listMonth)

                    // if don't have current month, set to month of today
                    if (!this.listMonth.hasOwnProperty(this.displayDate.format(this.formatKeyMonth))) {
                        this.displayDate = moment()
                        this.$bus.$emit(eventNames.habitDetailChangeDisplayDate, moment())
                    }
                })
            }, 1)
        })

        this.initializeData()

        // setTimeout(() => {
        //     this.$nextTick(() => {
        //         this.$bus.$emit(eventNames.habitDetailSetListMonth, this.listMonth)
        //     })
        // }, 1)
    },
    destroyed () {
        let listEvents = [
            eventNames.habitDetailReDrawCalendar,
            eventNames.habitDetailSetMonth,
            // eventNames.habitDetailChangeDisplayDate,
            eventNames.singleHabitUpdateStartDate,
            eventNames.habitDetailSetListMonth
        ]

        listEvents.forEach(event => {
            this.$bus.$off(event)
        })
    }
}
</script>

