<template>
    <div class="habit-calendar-year">
        <div class="calendar-year">
            <div class="swiper-container" id="swipe-zone-year">
                <div class="swiper-mask">
                    <div class="year-block" v-for="(year, index) in yearSorted" :key="index">
                        <div v-if="currentYearData[year]">
                            <div class="calendar-month" v-for="(month, monthKey) in Object.keys(currentYearData[year]).sort()" :key="monthKey">
                                <div class="calendar-month-name">
                                    {{ currentYearData[year][month].month.format('MMM')}}
                                </div>
                                <div class="calendar-checkin-days" >
                                    <div class="day-checkin-item"
                                        :style="itemStyle"
                                        :class="{checkedin: day.status === habitStatus.done, skipped: day.status === habitStatus.skip, failed: day.status === habitStatus.fail}" 
                                        v-for="(day, dayIndex) in currentYearData[year][month].days" 
                                        :key="dayIndex"
                                        >
                                        <div class="calendar-item-content"></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { firstWeekDay, habitStatus, eventNames } from '@/configs'
import appUtils from '@/utils/appUtils'

export default {
    name: 'CalendarYear',
    props: ['currentDate', 'currentHabit', 'yearCalendar'],
    computed: {
        yearDisplay () {
            this.$bus.$emit('setDisplayListYear', this.yearCalendar)
            return this.yearCalendar
        },
        currentYearData () {
            let currentSelectYear = moment(this.displayDate.toDate()).format('YYYY')
            let newYearData = {}
            newYearData[currentSelectYear] = this.yearCalendar[currentSelectYear]

            return newYearData
        },
        yearSorted () {
            return this.currentYearData ? Object.keys(this.currentYearData).sort() : []
        },
        itemStyle () {
            var _containerWidth = $('#swipe-zone-year').width()
            let item = '.day-checkin-item'
            let itemMargin = 1 * 16
            var _size = (_containerWidth - itemMargin) / 16

            return {
                width: _size + 'px',
                height: _size + 'px',
                'margin-right': 1,
                transition: 'all ease 100ms'
            }
        }
    },
    data () {
        return {
            habitStatus: habitStatus,
            displayDate: moment(),
            formatKeyYear: 'YYYY'
        }
    },
    methods: {
        initializeData () {
            $('.day-checkin-item').css({height: $('.day-checkin-item').width() + 'px'})
            $(window).on('resize', () => {
                $('.day-checkin-item').css({height: $('.day-checkin-item').width() + 'px'})
            })
        },
        resizeSlide() {
            let swipeTarget = $('#swipe-zone-year')
            let item = '.year-block'
            let _itemWidth = swipeTarget.width()
            let _itemHeight = swipeTarget.height()
            let _itemCount = $(item).length
            let _scrollerWidth = _itemCount * _itemWidth

            $(item).css({ width: _itemWidth + 'px' });
        },
        resizeItem () {
            var _containerWidth = $('.calendar-checkin-days')
            let item = '.day-checkin-item'
            let itemMargin = 1 * 16
            var _size = (_containerWidth.width() - itemMargin) / 16

            $(item).css({
                width: _size + 'px',
                height: _size + 'px',
                'margin-right': 1
            })
        }
    },
    mounted () {
        this.$bus.$on(eventNames.habitDetailReDrawCalendar, () => {
            this.displayDate = moment()

            this.$nextTick(() => {
                this.$bus.$emit(eventNames.habitDetailChangeDisplayDate, this.displayDate )
            })
        })

        this.$bus.$on(eventNames.habitDetailSetYear, (index, year) => {
            this.displayDate = moment(year, 'YYYY')
        })

        this.$bus.$on(eventNames.singleHabitUpdateStartDate, () => {
            setTimeout(() => {
                this.$nextTick(() => {
                    // if don't have current month, set to month of today
                    if (!this.yearCalendar.hasOwnProperty(this.displayDate.format(this.formatKeyYear))) {
                        this.displayDate = moment()
                        this.$bus.$emit(eventNames.habitDetailChangeDisplayDate, moment())
                    }
                })
            }, 1)
        })

        this.initializeData()
    },
    destroyed () {
        let events = [
            // eventNames.habitDetailChangeDisplayDate
        ]

        events.forEach(event => {
            this.$bus.off(event)
        })
    }
}
</script>

<style>
.year-block {
    display: inline-block;
    width: 100%
}
</style>

