<template>
    <div class="habit-weekday-box">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">Streak</div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask" v-if="streakList && streakList.list && streakList.list.length">
                    <div class="streak-list" :data-max="streakList.max">
                        <div class="streak-item" v-for="(streak, key) in streakList.list" :key="key" :data-length="streak.length">
                            <span class="start-date streak-label">{{ streak.start.format(dateFormat.STREAK_CHART) }}</span>
                            <span class="streak-length streak-width" :data-length="streak.length">{{ streak.length }}</span>
                            <span class="end-date streak-label">{{ streak.end.format(dateFormat.STREAK_CHART) }}</span>
                        </div>
                    </div>
                </div>
                <div class="wrapper wrapper-mask wrapper-empty" v-else="">
                    <wrapper-empty />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { habitMixins } from '@/utils/mixins'
import { dateConfigFormat } from '@/configs'
import WrapperEmpty from '@/components/commons/WrapperEmpty'

export default {
    name: 'HabitStreak',
    props: ['yearCalendar', 'currentHabit', 'preferences', 'currentDate'],
    mixins: [habitMixins],
    components: {WrapperEmpty},
    data () {
        return {
            dateFormat: dateConfigFormat
        }
    },
    computed: {
        habit () {
            return this.currentHabit
        },
        streakList () {
            return this.calculateStreak()
        }
    },
    methods: {
        calculateStreak () {
            return this.getStreaksFromStart(this.habit, this.currentDate)
        },
        initChart () {
            setTimeout(() => {
                $('.streak-list').streakChart({
                    item: '.streak-item',
                    label: '.streak-label',
                    streakWidth: '.streak-width',
                })
            }, 500)
        }
    },
    mounted () {
        this.initChart()
        this.$bus.$on('redrawWeekDayChart', () => {
            this.initChart()
        })
    }
}
</script>

