<template>
    <div class="habit-calendar">
        <div class="box box-habit box-habit-calendar">
            <div class="box-title">
                <div class="title-name" v-if="isShowMonth">
                    <div class="dropdown" v-if="!isMobile">
                        <a class="calendar-list" data-offset="0,10px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ monthName }} <span class="title-small">{{ yearName }}</span>
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="currentColor" stroke="currentColor" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-calendar" aria-labelledby="dropdownMenuButton">
                            <div class="wrapper">
                                <a class="dropdown-item" v-for="(month, key) in listMonth" :key="key" :class="{active: month === displayDate.format('MMMM YYYY')}" 
                                    @click.prevent="changeDisplayFromDropdown(Object.keys(listMonth).indexOf(key), month)">{{ month }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" v-if="isMobile">
                        <a class="calendar-list" @click.prevent="">
                            {{ monthName }} <span class="title-small">{{ yearName }}</span>
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="currentColor" stroke="currentColor" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <select class="selectOptions" v-model="selectOptionMonth" @change="selectDisplayDropdown">
                            <option v-for="(month, key) in listMonth" :value="key" :key="key">{{ month }}</option>
                        </select>
                    </div>
                </div>
                <div class="title-name" v-if="!isShowMonth">
                    <div class="dropdown" v-if="!isMobile">
                        <a class="calendar-list" data-offset="0 10px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ yearName }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="currentColor" stroke="currentColor" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-calendar" aria-labelledby="dropdownMenuButton">
                            <div class="wrapper">
                                <a class="dropdown-item" v-for="(year, key) in listDisplayYear" :key="key" :class="{active: year === displayDate.format('YYYY')}"
                                    @click.prevent="changeDisplayFromDropdown(key, year)">{{ year }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" v-if="isMobile">
                        <a class="calendar-list" @click.prevent="">
                            {{ yearName }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="currentColor" stroke="currentColor" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <select class="selectOptions" v-model="selectOptionYear" @change="selectDisplayDropdown">
                            <option v-for="(year, key) in listDisplayYear" :key="key" :value="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div class="title-option"  v-if="!isMobile">
                    <div class="dropdown">
                        <a class="option-value" data-offset="0 15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ isShowMonth ? $t('common.monthly') : $t('common.yearly') }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" :class="{active: isShowMonth}" href="#" @click.prevent="changeTypeCalendar(true)">{{ $t('common.monthly') }}</a>
                            <a class="dropdown-item" :class="{active: !isShowMonth}" href="#" @click.prevent="changeTypeCalendar(false)">{{ $t('common.yearly') }}</a>
                        </div>
                    </div>
                </div>
                <div class="title-option" v-if="isMobile">
                    <div class="dropdown">
                        <a class="option-value" @click.prevent="">
                            {{ isShowMonth ? $t('common.monthly') : $t('common.yearly') }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <select class="selectOptions" :value="isShowMonth" @change="selectDisplayType">
                            <option value="true">{{ $t('common.monthly') }}</option>
                            <option value="false">{{ $t('common.yearly') }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask">
                    <calendar-month :currentDate="today" :currentHabit="currentHabit" :preferences="preferences" v-if="isShowMonth" :calendarCurrentDate="displayDate" :listMonth="listMonth"></calendar-month>
                    <calendar-year :currentDate="today" :currentHabit="currentHabit" :yearCalendar="yearCalendar" v-if="!isShowMonth"></calendar-year>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { firstWeekDay, habitStatus, eventNames, upgradeKey } from '@/configs'
import appUtils from '@/utils/appUtils'
import CalendarYear from '@/components/ui/habit/CalendarYear'
import CalendarMonth from '@/components/ui/habit/CalendarMonth'
import Vue from 'vue'

export default {
    name: 'HabitCalendar',
    props: ['preferences', 'currentDate', 'currentHabit', 'yearCalendar', 'isMobile'],
    components: {CalendarYear, CalendarMonth},
    computed: {
        ...mapGetters(['user', 'currentHabitId', 'userPremiumData']),
        monthName () {
            return this.displayDate.format('MMMM')
        },
        yearName () {
            return this.displayDate.format('YYYY')
        },
        listDisplayYear () {
            return Object.keys(this.yearCalendar)
        },
        listMonth () {
            let list = this.calculateListMonths()
            return list
        },
        isPremium () {
            return appUtils.isPremium(this.userPremiumData)
        }
    },
    data () {
        return {
            isShowMonth: true,
            displayDate: moment(),
            selectOptionMonth: parseInt(moment().format('YYYYMM')),
            selectOptionYear: moment().format('YYYYMM'),
            today: moment(),
            listDisplayMonth: [],
            calendarCurrentDate: moment(),
            formatKeyMonth: 'YYYYMM'
        }
    },
    methods: {
        changeTypeCalendar (status) {
            if (!this.isPremium && !status) {
                this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.yearly)
                return false
            }

            this.isShowMonth = status
            this.setDateForCalendar(moment())
            
            this.$bus.$emit('changeCalendarType')
        },
        changeDisplayFromDropdown (index, date) {
            this.setDateForCalendar(moment(date, 'MMMM YYYY'))

            if (this.isShowMonth) {
                this.$bus.$emit(eventNames.habitDetailSetMonth, index, date)
            } else {
                this.$bus.$emit(eventNames.habitDetailSetYear, index, date)
            }
        },
        selectDisplayMonth (evt) {
            let values = (evt.target.value).split('-')
            let index = parseInt(values[0])
            let tmp = moment(values[1], 'DDMMYYYY').format('MMMM YYYY')

            this.changeDisplayFromDropdown(index, tmp)
        },
        selectDisplayType (evt) {
            let value = JSON.parse(evt.target.value)
            if (!this.isPremium && this.isShowMonth) {
                this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.yearly)
                evt.target.value = true
                return false
            }
            this.isShowMonth = value
            this.setDateForCalendar(moment())
            this.$bus.$emit('changeCalendarType')
        },
        selectDisplayDropdown (evt) {
            let date = parseInt(evt.target.value)
            this.setDateForCalendar(moment(date, 'YYYYMM'))

            if (this.isShowMonth) {
                let listMonth = Object.keys(this.listDisplayMonth)
                let index = listMonth.indexOf(date)
                this.$bus.$emit(eventNames.habitDetailSetMonth, index, date)
            } else {
                let listYear = Object.keys(this.listDisplayYear)
                let index = listYear.indexOf(date)
                this.$bus.$emit(eventNames.habitDetailSetYear, index, date)
            }
        },
        setDateForCalendar (date) {
            this.displayDate = date
            this.selectOptionMonth = parseInt(date.format('YYYYMM'))
            this.selectOptionYear = date.format('YYYY')
        },

        calculateListMonths () {
            let minDate = appUtils.getStartTime(this.currentHabit.startDate).startOf('month')
            let maxDate = moment().endOf('month')
            let diffMonth = Math.round(moment.duration(maxDate.diff(minDate)).as('months'))

            let months = {}
            for(let i = 0; i < diffMonth; i++) {
                let generateDate = moment(minDate.toDate()).add(i, 'months')
                months[generateDate.format(this.formatKeyMonth)] = generateDate.format('MMMM YYYY')
            }

            return months
        },
    },
    mounted () {
        this.$bus.$on(eventNames.habitDetailChangeDisplayDate, date => {
            this.setDateForCalendar(moment(date.toDate()))
        })

        // this.$bus.$on(eventNames.habitDetailSetListMonth, listMonth => {
        //     this.listDisplayMonth = listMonth
        //     this.$nextTick(() => {
        //         this.listDisplayMonth = listMonth
        //     })
        // })

    },
    destroyed () {
        let events = [
            eventNames.habitDetailSetListMonth
        ]
        events.forEach(event => {
            this.$bus.$off(event)
        })
    }
}
</script>



