<template>
    <div class="habit-weekday-box">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">{{ $t('common.completion.rate') }}</div>
                <div class="title-option" v-if="!isMobile">
                    <div class="dropdown">
                        <a class="option-value" data-offset="0,15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ byWeekly ? $t('common.weekly') : $t('common.monthly') }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" :class="{active: byWeekly}" href="#" @click.prevent="changeTypeChart">{{ $t('common.weekly') }}</a>
                            <a class="dropdown-item" :class="{active: !byWeekly}" href="#" @click.prevent="changeTypeChart">{{ $t('common.monthly') }}</a>
                        </div>
                    </div>
                </div>
                <div class="title-option" v-if="isMobile">
                    <div class="dropdown">
                        <a class="option-value" @click.prevent="">
                            {{ byWeekly ? displayWeeks + ' Weeks' :  displayWeeks == 12 ? '1 Year' : displayWeeks + ' Months' }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <select class="selectOptions" :value="selectMobile" @change="selectStatusBox">
                                <optgroup label="Weekly">
                                    <option :value="'0-4'">4 Weeks</option>
                                    <option :value="'0-8'">8 Weeks</option>
                                    <option :value="'0-12'">12 Weeks</option>
                                </optgroup>
                                <optgroup label="Monthly">
                                    <option :value="'1-3'">3 Months</option>
                                    <option :value="'1-6'">6 Months</option>
                                    <option :value="'1-12'">1 Year</option>
                                </optgroup>
                            </select>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-toolbox" v-if="!isMobile">
                <div class="wrapper">
                    <div class="list-toolbox" v-if="byWeekly">
                        <div class="toolbox-item" :class="{active: displayWeeks === 4}" @click="navigateChart(4)"><span>4 Weeks</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 8}" @click="navigateChart(8)"><span>8 Weeks</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 12}" @click="navigateChart(12)"><span>12 Weeks</span></div>
                    </div>
                    <div class="list-toolbox" v-if="!byWeekly">
                        <div class="toolbox-item" :class="{active: displayWeeks === 3}" @click="navigateChart(3)"><span>3 Months</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 6}" @click="navigateChart(6)"><span>6 Months</span></div>
                        <div class="toolbox-item" :class="{active: displayWeeks === 12}" @click="navigateChart(12)"><span>1 Year</span></div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask wrapper-chart" style="padding-top: 40px">
                    <!-- <canvas id="habitChartLine"></canvas> -->
                    <chart-completion-rate :chartData="newChartData" :options="chartConfigs" />
                </div>
            </div>
            <div class="box-footer">
                <div class="wrapper">
                    <div class="footer-row">
                        <div class="col-completion-rate">
                            <div class="col-label" v-if="byWeekly">{{ $t('common.this.week') }}</div>
                            <div class="col-label" v-if="!byWeekly">{{ $t('common.this.month') }}</div>
                            <div class="col-rates">{{ currentRateData.rate | displayFloatToFixed(1) }}%</div>
                        </div>
                        <div class="col-completion-rate">
                            <div class="col-label">{{ $t('common.average') }}</div>
                            <div class="col-rates">{{ currentRateData.avg | displayFloatToFixed(1) }}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { habitMixins } from '@/utils/mixins'
import appUtils from '@/utils/appUtils'
import { eventNames, tooltipChart } from '@/configs'
import storage from 'store2'

import ChartCompletionRate from '@/components/includes/habit-detail/ChartCompletionRate'

export default {
    name: 'HabitCompleteRate',
    props: ['currentHabit', 'preferences', 'yearCalendar', 'isMobile'],
    components: {ChartCompletionRate},
    mixins: [habitMixins],
    data () {
        return {
            // byWeekly: true,
            chart: null,
            startShow: null,
            endShow: null,
            chartData: null,
            // displayWeeks: 4
        }
    },
    computed: {
        habit () {
            return this.$store.getters.currentHabit
        },
        completionRatesOld () {
            return this.getCompletionRate(this.habit, this.yearCalendar)
        },
        completionRates () {
            return this.getCompletionRateNew(this.habit, this.yearCalendar)
        },
        currentRateData () {
            let data = {
                rate: 0,
                avg: 0
            }
            if (this.byWeekly) {
                data.rate = this.completionRates.rateCurrentWeek
                data.avg = this.completionRates.avgWeek
            } else {
                data.rate = this.completionRates.rateCurrentMonth
                data.avg = this.completionRates.avgMonth
            }

            return data
        },
        byWeekly: {
            get () {return this.$store.getters.detail_completion_rate_type},
            set (type) {this.$store.dispatch('setDetailComType', type)}
        },
        displayWeeks: {
            get () {return this.$store.getters.detail_completion_rate_num},
            set (num) {this.$store.dispatch('setDetailComNum', num)}
        },
        selectMobile () {
            return (this.byWeekly ? '0-' : '1-') + this.displayWeeks
        },
        dataForChart () {
            return this.getDataForChart()
        },

        newChartData() {
            let data = {
                labels: this.dataForChart && this.dataForChart.labels ? this.dataForChart.labels : [],
                datasets: [{
                    data: this.dataForChart && this.dataForChart.datas ? this.dataForChart.datas : [],
                    backgroundColor: 'rgba(67, 124, 255, 1)',
                    borderColor: 'rgba(67, 124, 255, 1)',
                    fill: false,
                    pointRadius: 5
                }],
            }

            return data
        },
        chartConfigs() {
            return this.getChartConfigs()
        }
    },
    methods: {
        initChart () {
            let _data = this.getDataForChart()
            // Chart.defaults.LineWithLine = Chart.defaults.line;
            // Chart.controllers.LineWithLine = Chart.controllers.line.extend({
            //     draw: function(ease) {
            //         Chart.controllers.line.prototype.draw.call(this, ease);

            //         if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
            //             var activePoint = this.chart.tooltip._active[0],
            //                 ctx = this.chart.ctx,
            //                 x = activePoint.tooltipPosition().x,
            //                 topY = this.chart.scales['y-axis-0'].top - 40,
            //                 bottomY = this.chart.scales['y-axis-0'].bottom;

            //             // draw line
            //             ctx.save();
            //             ctx.beginPath();
            //             ctx.moveTo(x, topY);
            //             ctx.lineTo(x, bottomY);
            //             ctx.lineWidth = 2;
            //             ctx.strokeStyle = 'rgba(67, 124, 255, 1)'
            //             ctx.stroke();
            //             ctx.restore();
            //         }
            //     }
            // });
            
            let configs = {
                type: 'LineWithLine',
                data: {
                    labels: _data.labels,
                    datasets: [{
                        data: _data.datas,
                        backgroundColor: 'rgba(67, 124, 255, 1)',
                        borderColor: 'rgba(67, 124, 255, 1)',
                        fill: false,
                        pointRadius: 5
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    title: {
                        display: false,
                    },
                    tooltips: tooltipChart.chartRateDetail,
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                            },
                            gridLines: {
                                display: false,
                                color: "#E5EAFA",
                                zeroLineColor: "#E5EAFA",
                            },
                            ticks: {
                                fontSize: 12,
                                fontWeight: 400,
                                beginAtZero:true,
                                fontColor: 'rgba(84, 92, 119, .3)',
                                maxTicksLimit: 5,
                                maxRotation: 0,
                                callback: function(value, index, values) {
                                    return (value + "").toUpperCase();
                                }
                            },
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: false,
                            },
                            ticks: {
                                fontSize: 12,
                                fontWeight: 400,
                                beginAtZero: true,
                                fontColor: 'rgba(84, 92, 119, .3)',
                                maxTicksLimit: 5,
                                minTicksLimit: 5,
                            },
                            gridLines: {
                                color: "#E5EAFA",
                                borderDash: [5, 5],
                                zeroLineColor: "#E5EAFA",
                            },
                        }]
                    },
                    animation: false,
                    elements: {
                        point: {
                            pointStyle: 'circle'
                        },
                        line: {
                            tension: 0
                        }
                    }
                }
            }
            window.lineChart = new Chart('habitChartLine', configs);
        },
        changeTypeChart () {
            this.byWeekly = !this.byWeekly
            this.displayWeeks = this.byWeekly ? 4 : 3
            this.$bus.$emit('redrawChart')
        },
        getDataForChart () {
            if (this.completionRates.length <= 0) {
                return false
            }

            let ignore = false
            let labelWeekList = this.byWeekly ? this.completionRates.labelWeek : this.completionRates.labelMonth
            let dataWeekList = this.byWeekly ? this.completionRates.dataWeek : this.completionRates.dataMonth

            if (labelWeekList.length <= this.displayWeeks)
                return this.getDataCompletion()

            this.startShow = labelWeekList.length - this.displayWeeks
            this.endShow = labelWeekList.length

            return this.getDataCompletion()
        },
        getDataCompletion () {
            let labelWeekList = this.byWeekly ? this.completionRates.labelWeek : this.completionRates.labelMonth
            let dataWeekList = this.byWeekly ? this.completionRates.dataWeek : this.completionRates.dataMonth

            let newLabels = []
            let newData = []
            if (labelWeekList.length <= this.displayWeeks) {
                newLabels = labelWeekList
                newData = dataWeekList
            } else {
                newLabels = labelWeekList.slice(this.startShow, this.endShow)
                newData =  dataWeekList.slice(this.startShow, this.endShow)
            }
            
            this.chartData = {labels: newLabels, datas: newData}
            return {labels: newLabels, datas: newData}
        },
        navigateChart (num) {
            this.displayWeeks = num
            let _data = this.getDataForChart()
            if (!_data) {
                return false
            }
            this.$bus.$emit('changeChartData', _data)
        },
        selectStatusBox (evt) {
            let value = evt.target.value
            let values = value.split('-')
            this.byWeekly = parseInt(values[0]) === 0
            this.displayWeeks = parseInt(values[1])

            this.$bus.$emit('redrawChart')
        },
        getChartConfigs () {
            let maxTicks = 4
            let options = {
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                tooltips: tooltipChart.chartRateDetail,
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        // type: 'xAxesCustom',
                        display: true,
                        scaleLabel: {
                            display: false,
                        },
                        gridLines: {
                            display: false,
                            color: "#E5EAFA",
                            zeroLineColor: "#E5EAFA",
                        },
                        ticks: {
                            fontSize: 12,
                            fontWeight: 400,
                            beginAtZero:true,
                            fontColor: 'rgba(84, 92, 119, .3)',
                            maxTicksLimit: 5,
                            maxRotation: 0,
                            padding: 10,
                            callback: function(value, index, values) {
                                return (value + "").toUpperCase();
                            }
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        },
                        ticks: {
                            fontSize: 12,
                            fontWeight: 400,
                            beginAtZero: true,
                            fontColor: 'rgba(84, 92, 119, .3)',
                            maxTicksLimit: 5,
                            minTicksLimit: 5,
                            padding: 8,
                        },
                        gridLines: {
                            color: "#E5EAFA",
                            borderDash: [5, 5],
                            zeroLineColor: "#E5EAFA",
                        },
                        afterBuildTicks: function(axis, ticks) {
                            let newData = _.cloneDeep(ticks)
                            let _max = _.max(newData)

                            let newStep = _max/(maxTicks - 1)
                            let last = 0
                            newData = []
                            for (let i = 0; i <= maxTicks; i++) {
                                let num = parseInt(i*newStep)
                                newData.push(num)
                            }

                            let checkDuplicate = _.uniq(newData)
                            if (checkDuplicate.length < 2) {
                                newData = [0, 25, 50, 75, 100]
                            } else if (checkDuplicate.length < 3) {
                                let _otherStep = Math.abs(checkDuplicate[0] -  checkDuplicate[1])
                                newData = []
                                for (let i = newData.length; i <= maxTicks; i++) {
                                    newData.push(parseInt(i*_otherStep))
                                }
                            }
                            
                            if (_.max(newData)) {
                                newData = newData.sort()
                                axis.max = _.max(newData)
                                axis.end = _.max(newData)

                                axis.min = _.min(newData)
                                axis.start = _.min(newData)
                                
                                axis.ticks = newData
                            }
                        }
                    }]
                },
                animation: false,
                elements: {
                    point: {
                        pointStyle: 'circle'
                    },
                    line: {
                        tension: 0
                    }
                }
            }

            return options
        }
    },
    mounted () {
        let displayType = storage.get('detail_completion_rate_type', true)
        this.byWeekly = displayType

        let displayNum = storage.get('detail_completion_rate_num', this.byWeekly ? 4 : 3)
        this.displayWeeks = displayNum
    },
    destroyed () {
        let events = [
            'changeChartData',
            'redrawChart',
            'updateSingleHabit',
            eventNames.toggleNotesHabit
        ]

        events.forEach(event => {
            this.$bus.$off(event)
        })
    }
}
</script>

