<template>
    <div class="habit-weekday-box habit-weekday-status">
        <div class="box box-habit">
            <div class="box-title">
                <div class="title-name">{{ $t('progress.preview.daily.performance.title') }}</div>
                <div class="title-option" v-if="!isMobile">
                    <div class="dropdown">
                        <a class="option-value" data-offset="0 15px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ getStatusText() }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" :class="{active: showStatus === habitStatus.done}" href="#" @click.prevent="changeStatusBox(habitStatus.done)">{{ $t('common.complete') }}</a>
                            <a class="dropdown-item" :class="{active: showStatus === habitStatus.skip}" href="#" @click.prevent="changeStatusBox(habitStatus.skip)">{{ $t('common.skip') }}</a>
                            <a class="dropdown-item" :class="{active: showStatus === habitStatus.fail}" href="#" @click.prevent="changeStatusBox(habitStatus.fail)">{{ $t('common.fail') }}</a>
                        </div>
                    </div>
                </div>

                <div class="title-option" v-if="isMobile">
                    <div class="dropdown">
                        <a class="option-value" href="#" @click.prevent="" v-if="isMobile">
                            {{ getStatusText() }}
                            <span class="icon-dropdown">
                                <svg viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-709.000000, -288.000000)" fill="#437CFF" stroke="#437CFF" stroke-width="0.5">
                                            <g id="Group-7" transform="translate(290.000000, 265.000000)">
                                                <g id="Group-5">
                                                    <g id="Group-4" transform="translate(362.000000, 19.000000)">
                                                        <g id="chevron-down" transform="translate(58.000000, 5.000000)">
                                                            <path d="M11.8047643,1.02403022 L6.47134824,5.82359508 C6.34658955,5.93651039 6.17695009,6 6.00000759,6 C5.82306509,6 5.65342563,5.93651039 5.52866695,5.82359508 L0.19525087,1.02403022 C0.0268570764,0.872491892 -0.0389081863,0.651619972 0.0227282201,0.444614771 C0.0843646264,0.23760957 0.264038666,0.0759201028 0.494068866,0.0204532264 C0.724099066,-0.03501365 0.969538368,0.0241688026 1.13793216,0.175707127 L6.00000759,4.55111045 L10.862083,0.175707127 C11.1223973,-0.0585508256 11.5444501,-0.0585508256 11.8047643,0.175707127 C12.0650786,0.40996508 12.0650786,0.789772264 11.8047643,1.02403022" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <select class="selectOptions" @change="selectStatusBox">
                                <option :value="habitStatus.done">{{ $t('common.complete') }}</option>
                                <option :value="habitStatus.skip">{{ $t('common.skip') }}</option>
                                <option :value="habitStatus.fail">{{ $t('common.fail') }}</option>
                            </select>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="wrapper wrapper-mask mask-weekday" :class="{'wrapper-empty': !isNotEmptyData}" :data-status="showStatus" >
                    <div class="rate-list" :data-status="showStatus" v-if="isNotEmptyData">
                        <div class="rate-item" v-for="(weekDay, key) in Object.keys(habitRateByStatus)" :key="key">
                            <div class="rate-circle">
                                <img src="/assets/images/circle-weekday-done.svg" alt="" class="img-fluid" :data-value="habitRateByStatus[weekDay]">
                            </div>
                            <div class="rate-day-of-week" v-text="weekDay"></div>
                        </div>
                    </div>
                    <wrapper-empty v-else=""/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { habitStatus } from '@/configs'
import appUtils from '@/utils/appUtils'
import { mapGetters } from 'vuex'
import WrapperEmpty from '@/components/commons/WrapperEmpty'

import storage from 'store2'

export default {
    name: 'WeekdayBox',
    props: ['yearCalendar', 'preferences', 'isMobile'],
    data() {
        return {
            // showStatus: habitStatus.done,
            habitStatus: habitStatus
        }
    },
    computed: {
        ...mapGetters(['iso', 'lang']),
        habitRates () {
            return this.getHabitRates()
        },
        habitRateByStatus () {
            let rates = this.getHabitByStatus(this.showStatus)
            setTimeout(() => {
                $(window).trigger('resize')
            }, 200)
            return rates
        },
        isNotEmptyData () {
            return _.max(Object.values(this.habitRateByStatus)) > 0
        },
        showStatus: {
            get () {
                return this.$store.getters.detail_weekday_status},
            set (status) {
                this.$store.dispatch('setDetailWeekdayStatus', status)}
        }
    },
    components: {WrapperEmpty},
    methods: {
        getStatusText () {
            if (this.showStatus === habitStatus.done)
                return this.$i18n.t('common.complete')
            if (this.showStatus === habitStatus.skip)
                return this.$i18n.t('common.skip')
            if (this.showStatus === habitStatus.fail)
                return this.$i18n.t('common.fail')
        },
        getStatusClass () {
            if (this.showStatus === habitStatus.done)
                return 'weekday-done'
            if (this.showStatus === habitStatus.skip)
                return 'weekday-skip'
            if (this.showStatus === habitStatus.fail)
                return 'weekday-fail'
        },
        changeStatusBox (status) {
            this.showStatus = status
            this.$bus.$emit('changeWeekdayStatus')
        },
        selectStatusBox (evt) {
            this.showStatus = parseInt(evt.target.value)
            this.$bus.$emit('changeWeekdayStatus')
        },
        getHabitRates () {
            let dayList = appUtils.getMomentWeekDays(this.lang, this.iso, 'short')
            let weekdays = {}//{"sunday": {1: 0, 2: 0,3: 0}, "monday": {1: 0, 2: 0,3: 0}, "tuesday": {1: 0, 2: 0,3: 0}, "wednesday": {1: 0, 2: 0,3: 0}, "thursday": {1: 0, 2: 0,3: 0}, "friday": {1: 0, 2: 0,3: 0}, "saturday": {1: 0, 2: 0,3: 0}}
            dayList.forEach(label => {
                weekdays[label.toLowerCase()] = {1: 0, 2: 0, 3: 0}
            })

            Object.keys(this.yearCalendar).forEach(year => {
                Object.keys(this.yearCalendar[year]).forEach(month => {
                    this.yearCalendar[year][month].days.forEach(dayInMonth => {
                        let dayOfWeek = moment(dayInMonth.day.toDate()).locale(this.lang).format('ddd').toLowerCase()
                        let _status = dayInMonth.status
                        if (_status === habitStatus.none)
                            return
                        if (!weekdays[dayOfWeek].hasOwnProperty(_status)) {
                            weekdays[dayOfWeek][_status] = 1
                        } else {
                            weekdays[dayOfWeek][_status] +=1
                        }
                    })
                })
            })

            return weekdays
        },

        getHabitByStatus (status) {
            let _weekDays = appUtils.getMomentWeekDays(this.lang, this.iso, 'short')
            let result = {}
            let max = 0
            Object.keys(this.habitRates).forEach(day => {
                result[day] = this.habitRates[day][status]
                max = this.habitRates[day][status] > max ? this.habitRates[day][status] : max
            })

            Object.keys(result).forEach(day => {
                result[day] = result[day] > 0 ? (result[day]/max)*100 : 0
            })

            let newResult = {}
            _weekDays.forEach(weekdayLabel => {
                newResult[weekdayLabel.toLowerCase()] = result[weekdayLabel.toLowerCase()]
            })

            return newResult
        },
        initChart () {
            setTimeout(() => {
                $('.rate-list').weekdayChart({
                    list: '.rate-list',
                    item: '.rate-item',
                    wrapperChart: '.rate-circle'
                })
            }, 500)
        }
    },
    mounted () {
        let weekStatus = storage.get('detail_weekday_status', habitStatus.done)
        this.showStatus = weekStatus

        this.$nextTick(() => {
            this.initChart()
        })
        this.$bus.$on('changeWeekdayStatus', () => {
            this.$nextTick(() => {
                this.initChart()
            })
        })
        this.$bus.$on('redrawWeekDayChart', () => {
            this.$nextTick(() => {
                this.initChart()
            })
        })
    }
}
</script>

