.btn {
  padding: 14px 30px;
  font-size: 18px;
  line-height: 1.45;
  border-radius: 28px;
}

.btn-sm {
  font-size: 14px;
  padding: 5px 16px;
}

.btn-primary {
  &:hover {
    background-color: $ha-primary-dark;
    border-color: $ha-primary-dark;
  }
}

.btn-primary {
  &:hover {
    background-color: $ha-primary-dark;
    border-color: $ha-primary-dark;
  }
}

.btn-outline-primary {
  border-width: 2px;
}

.btn-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0 10px;
  background: $ha-primary-lightest-opacity-30;
  color: $primary;
  border-radius: 12px;
  cursor: pointer;

  span {
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: $primary;
    margin-bottom: 3px;
    @include transition;

    &:last-child {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &.active {
    background: $ha-background;
    span {
      background: $ha-neutral-light;

      &:first-child {
        animation: btn-hamburger-first-span .3s ease-out;
        transform: translate(0, 5px) rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:last-child {
        width: 100%;
        animation: btn-hamburger-last-span .3s ease-out;
        transform: translate(0, -5px) rotate(-45deg);
      }
    }
  }
}

.btn-mouse-scroll {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 24px;
  border: 2px solid $primary;
  border-radius: 12px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 2px;
    height: 6px;
    background: $primary;
    border-radius: 2px;
  }

  &:after {
    content: url('/assets/images/authenticate/icon/icon-arrow-down-blue-lightest.svg');
    position: absolute;
    top: calc(100% - 6px);
    left: 50%;
    transform: translateX(-50%);
  }

  &.active {
    animation: mouse-scroll infinite .3s ease alternate-reverse; 
  }
}

@keyframes mouse-scroll {
  0%{
    transform: translateY(0);
  } 100% {
    transform: translateY(6px);
  }
}

@keyframes btn-hamburger-first-span {
  0% {
    transform: translateY(0px);
  } 50% {
    transform: translate(0, 4px);
    opacity: 0.5;
  } 100% {
    transform: translate(0, 5px) rotate(45deg);
    opacity: 1;
  }
}

@keyframes btn-hamburger-last-span {
  0% {
    transform: translateY(0px);
  } 50% {
    transform: translate(0, -4px);
    opacity: 0.5;
  } 100% {
    transform: translate(0, -5px) rotate(-45deg);
    opacity: 1;
  }
}
