// Gird layout extend
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

// Font-weight
$regular:                                        400;
$semi-bold:                                      600;
$bold:                                           700;
$extra-bold:                                     800;

// Color
$ha-primary-dark:                                #2361e6;
$ha-primary:                                     #426eff;
$ha-primary-light:                               #5192fb;
$ha-primary-lightest:                            #c6d5ff;
$ha-primary-lightest-opacity-30:                 rgba(198, 213, 255, 0.3);

$ha-neutral-dark:                                #31364a;
$ha-neutral:                                     #3d4359;
$ha-neutral-light:                               #7f869a;
$ha-neutral-lightest:                            #ced1e0;

$ha-secondary-dark:                              #ec605c;
$ha-secondary:                                   #f86c68;
$ha-secondary-light:                             #ff8d8a;
$ha-secondary-lightest:                          #fee2e1;

$ha-background-dark:                             #e4e7f0;
$ha-background:                                  #f0f2f8;
$ha-background-light:                            #f8f9fd;
$ha-background-lightest:                         #fff;

$ha-warning-dark:                                #f0b700;
$ha-warning:                                     #fec200;
$ha-warning-light:                               #ffe798;
$ha-warning-lightest:                            #fff6d9;

$ha-positiv-darke:                               #1cbc89;
$ha-positive:                                    #2dd29d;
$ha-positive-light:                              #56eebd;
$ha-positive-lightest:                           #c9ece2;

$ha-negative-dark:                               #f13d49;
$ha-negative:                                    #ff5661;
$ha-negative-light:                              #ff838b;
$ha-negative-lightest:                           #ffe6e8;

$white:                                          $ha-background-lightest;

// Tetx color
$text-color-dark:                                $ha-neutral-dark;
$text-color-base:                                $ha-neutral;
$text-color-light:                               $ha-neutral-lightest;

// Custome bootstrap color
$primary:                                        $ha-primary;
$secondary:                                      $ha-background;
$success:                                        $ha-positive;
$warning:                                        $ha-warning;
$danger:                                         $ha-secondary;

// border
$border:                                         $ha-background-dark;
