.form-control {
  padding: 27px;
  border-radius: 8px;
  border-color: $border;

  &::placeholder {
    color: $text-color-light !important;
  }

  &.is-invalid {
    background-image: none !important;
    background: rgba($ha-negative-lightest, 0.5);

    &::placeholder {
      color: $ha-negative !important;
    }
  }
}

.form-group {
  position: relative;

  .icon-eye-grey,
  .icon-eye-red {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
  }

  .icon-eye-red {
    opacity: 0;
    z-index: 2;
  }
}

.form-control.is-invalid ~ .btn-show-password{
  .icon-eye-red {
    opacity: 1;
  }
  .icon-eye-grey {
    opacity: 0;
  }
}

.form-check-label {
  padding-left: 4px;
  font-size: 16px;
  color: $text-color-base !important;
}
