.login-page,
.register-page {
  display: flex;
  min-height: 100vh;
  a {
    color: #426eff;
    text-decoration: none;
    background-color: transparent;
  }

  .banner-left {
    flex: 4;
  }

  .login-container,
  .register-container {
    flex: 5;
  }
}

.banner-left {
  background: #fbfcfe;
  padding-top: 140px;
  padding-left: 21px;
  padding-right: 56px;
}

.login-container,
.register-container {
  padding: 0 13px;
  @include media-breakpoint-up(lg) {
    padding-left: percentage(191/1440);
  }

  .logo {
    margin-top: 32px;
    margin-bottom: 40px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      max-width: 360px;
      margin-top: 64px;
      margin-bottom: 112px;
    }

    a {
      display: inline-block;
    }
  }
}

.login-form,
.register-form {
  margin: 0 auto;
  max-width: 500px;
  @include media-breakpoint-up(lg) {
    margin: unset;
    width: 360px;
  }

  .title-section {
    text-align: center;
    margin-bottom: 10px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 20px;
    }
  }

  form {
    padding-top: 18px;
    @include media-breakpoint-up(lg) {
      padding-top: 35px;
    }
  }

  .form-check {
    margin-bottom: 32px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 48px;
    }
  }

  .btn-sign-in,
  .btn-sign-up {
    margin-bottom: 24px;
  }

  .forgot-password {
    display: inline-block;
    font-size: 16px;
    color: $text-color-base;
    margin-bottom: 71px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 144px;
    }
  }

  .title-description {
    margin: 0 -65px;
    font-size: 16px;
    font-weight: $regular;
    text-align: center;
    color: rgba($text-color-base, 0.9);
  }

  .rule-description {
    font-size: 16px;
    color: rgba($ha-neutral-light, 0.9);
    margin-bottom: 71px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 144px;
    }

    .hight-light {
      color: rgba($text-color-base, 0.9);
    }
  }
}

.register-notice {
  max-width: 360px;
  font-size: 16px;
  text-align: center;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  
  a {
    font-size: 16px;
    font-weight: $bold;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }
}

.text-error {
  color: rgba($ha-negative, 0.9);
  font-size: 16px;
  padding-top: 6px;

  a {
    font-size: 16px;
    font-weight: $semi-bold;
    text-decoration: underline;
    color: rgba($ha-negative, 0.9);
  }
}
