.title-section {
  margin-bottom: 24px;
  text-align: center;
  font-weight: $extra-bold;
  font-size: 24px;
  color: $text-color-dark;
  @include media-breakpoint-up(lg) {
    margin-bottom: 32px;
    font-size: 32px;
  }
}

.subtitle-section {
  font-size: 16px;
  font-weight: $regular;
  margin-bottom: 0;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

.title-aside {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: $bold;
  @include media-breakpoint-up(lg) {
    margin-bottom: 32px;
    font-size: 32px;
  }
}

.title-main {
  margin-bottom: 40px;
  padding: 136px 0 0;
  font-weight: $extra-bold;
  text-align: center;
  @include media-breakpoint-up(lg) {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 32px;
    padding: 264px 0 0;
    font-size: 40px;
  }
}
