<template>
    <div class="dialog-create-habit dialog-habit" @click.prevent="clickOnBackground">
        <div class="dialog-habit-wrapper">
            <div class="dialog-content">
                <div class="dialog-habit-head">
                    <span class="title-name">{{ $t('common.dialog.create.title') }}</span>
                    <span class="btn-close" @click.prevent="handleCloseConfirm"><i class="icon-icon-fail icon-b"></i></span>
                </div>
                <div class="dialog-habit-body">
                    <habit-create-form  
                        :habitData="newHabit"
                        :eventFormChangeName="eventFormChangeName"
                        :eventFormChangeRegularly="eventFormChangeRegularly"
                        :eventFormChangeStartDate="eventFormChangeStartDate"
                        :eventFormChangeTimeOfDay="eventFormChangeTimeOfDay"
                        :eventFormAddReminder="eventFormAddReminder"
                        :eventFormDeleteReminder="eventFormDeleteReminder"
                        :classForm="['p-0 pt-3 pb-3']"
                        v-if="newHabit"
                    />
                </div>
                <div class="dialog-habit-footer">
                    <button class="btn btn-save-dialog btn-blue-app btn-radius-3 btn-block" @click.prevent="saveNewHabit">{{ $t("common.save.habit") }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HabitCreateForm from '@/components/ui/form/HabitCreateForm'
import appUtils from '@/utils/appUtils'
import {eventNames, upgradeKey} from '@/configs'
import Vue from 'vue'

export default {
    name: 'DialogCreateHabit',
    data () {
        return {
            eventFormChangeName: 'eventFormChangeName',
            eventFormChangeRegularly: 'eventFormChangeRegularly',
            eventFormChangeStartDate: 'eventFormChangeStartDate',
            eventFormChangeTimeOfDay: 'eventFormChangeTimeOfDay',
            eventFormAddReminder: 'eventFormAddReminder',
            eventFormDeleteReminder: 'eventFormDeleteReminder'
        }
    },
    components: {HabitCreateForm},
    computed: {
        ...mapGetters(['user', 'userPremiumData']),
        newHabit: {
            get () {return this.$store.getters.blankHabit},
            set (value) {
                this.$store.dispatch('setDataForBlank', value)
            }
        },
        originBlankHabit () {
            return this.$store.getters.originalBlankHabit
        }
    },
    mounted () {
        this.$bus.$on(this.eventFormChangeName, this.changeNameOfHabit)
        this.$bus.$on(this.eventFormChangeRegularly, this.changeFormChangeRegularly)
        this.$bus.$on(this.eventFormChangeStartDate, this.changeStartDate)
        this.$bus.$on(this.eventFormChangeTimeOfDay, this.changeTimeOfDay)
        this.$bus.$on(this.eventFormAddReminder, this.saveRemider)
        this.$bus.$on(this.eventFormDeleteReminder, this.deleteReminder)
    },
    destroyed () {
        let events = [
            this.eventFormChangeName,
            this.eventFormChangeRegularly,
            this.eventFormChangeStartDate,
            this.eventFormChangeTimeOfDay,
            this.eventFormAddReminder,
            this.eventFormDeleteReminder,
        ]

        events.forEach(event => {
            this.$bus.$off(event)
        })
        
        this.newHabit = _.cloneDeep(this.originBlankHabit)
    },
    methods: {
        changeNameOfHabit (name) {
            this.newHabit.name = name
        },
        changeFormChangeRegularly (_regularly) {
            this.newHabit.regularly = _regularly
        },
        changeStartDate (_startDate) {
            this.newHabit.startDate = parseInt(moment(_startDate).format('X'))
        },
        changeTimeOfDay (_tod) {
            this.newHabit.timeOfDay = _tod
        },
        saveRemider (newHour, origin = null) {
            let splits = newHour.split(':')
            let _hour = parseInt(splits[0])
            let _minute = parseInt(splits[1])
            let hourFormat = _hour + ':' + _minute

            if (origin) {
                delete this.newHabit.remind.timeTriggers[origin]
                this.$store.dispatch('deleteNewHabitReminder', origin)
            }

            let canAdd = appUtils.userCanAddReminder(this.userPremiumData)
            let countReminder = Object.keys(this.newHabit.remind.timeTriggers).length
            console.log('countReminder: ', countReminder, Object.keys(this.newHabit.remind.timeTriggers))
            if (!canAdd && countReminder >= 1) {
                this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.reminder)
                return false
            }

            this.$store.dispatch('addTimeTriggerForNewHabit', {key: hourFormat, value: true})
        },
        saveNewHabit () {
            if (!this.newHabit.name) {
                $(this.$el).find('.input-name').focus()
                return false
            }

            this.$bus.$emit(eventNames.mainAppSetSelectedDate, new Date())

            this.$firebase.database().ref('/habits/' + this.user.uid).push(this.newHabit)
            this.closeDialogCreateHabit()
        },
        closeDialogCreateHabit () {
            this.$bus.$emit(eventNames.commonCloseDialogCreateHabit)
        },
        deleteReminder (hour) {
            delete this.newHabit.remind.timeTriggers[hour]
            this.$store.dispatch('deleteNewHabitReminder', hour)
        },
        clickOnBackground (evt) {
            let target = $(evt.target)
            let isCloseBtn = target.closest('.btn-close')
            let dialog = target.closest('.dialog-content')
            if (isCloseBtn.length || dialog.length) {
                return
            } else {
                this.handleCloseConfirm()
            }
        },
        handleCloseConfirm() {
            if (!appUtils.compareSameObjectData(this.newHabit, this.originBlankHabit)) {
                if (confirm(this.$i18n.t('common.dialog.create.close'))) {
                    this.closeDialogCreateHabit()
                }
            } else
                this.closeDialogCreateHabit()
        }
    }
}
</script>
