<template>
    <div class="dialog-create-habit dialog-habit" @click.prevent="clickOnBackground">
        <div class="dialog-habit-wrapper">
            <div class="dialog-content">
                <div class="dialog-habit-head">
                    <span class="title-name">{{ $t('common.dialog.edit.title') }}</span>
                    <span class="btn-close" @click.prevent="handleCloseConfirm"><i class="icon-icon-fail icon-b"></i></span>
                </div>
                <div class="dialog-habit-body">
                    <habit-create-form  
                        :habitData="habitData"
                        :eventFormChangeName="eventFormChangeName"
                        :eventFormChangeRegularly="eventFormChangeRegularly"
                        :eventFormChangeStartDate="eventFormChangeStartDate"
                        :eventFormChangeTimeOfDay="eventFormChangeTimeOfDay"
                        :eventFormAddReminder="eventFormAddReminder"
                        :eventFormDeleteReminder="eventFormDeleteReminder"
                        :classForm="['p-0 pt-3 pb-3']"
                        v-if="habitData"
                    />
                </div>
                <div class="dialog-habit-footer">
                    <button class="btn btn-save-dialog btn-blue-app btn-radius-3 btn-block" @click.prevent="processUpdateHabit">{{ $t("common.save.changes") }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HabitCreateForm from '@/components/ui/form/HabitCreateForm'
import {eventNames, upgradeKey} from '@/configs'
import Vue from 'vue'
import appUtils from '@/utils/appUtils'

export default {
    name: 'DialogUpdateHabit',
    props: ['habitData', 'habitId', 'habitOriginData'],
    data () {
        return {
            eventCloseDialogEdit: 'eventCloseDialogEdit',
            eventFormChangeName: 'eventFormEditChangeName',
            eventFormChangeRegularly: 'eventFormEditChangeRegularly',
            eventFormChangeStartDate: 'eventFormEditChangeStartDate',
            eventFormChangeTimeOfDay: 'eventFormEditChangeTimeOfDay',
            eventFormAddReminder: 'eventFormEditAddReminder',
            eventFormDeleteReminder: 'eventFormEditDeleteReminder'
        }
    },
    components: {HabitCreateForm},
    computed: {
        ...mapGetters(['user', 'userPremiumData']),
        habitEditClone: {
            get() {return this.$store.getters.habitEditClone},
            set(value) {
                this.$store.dispatch('setCurrentHabitEditClone', value)
            }
        },
    },
    mounted () {
        this.$bus.$on(this.eventFormChangeName, this.changeNameOfHabit)
        this.$bus.$on(this.eventFormChangeRegularly, this.changeFormChangeRegularly)
        this.$bus.$on(this.eventFormChangeStartDate, this.changeStartDate)
        this.$bus.$on(this.eventFormChangeTimeOfDay, this.changeTimeOfDay)
        this.$bus.$on(this.eventFormAddReminder, this.saveRemider)
        this.$bus.$on(this.eventFormDeleteReminder, this.deleteReminder)
    },
    destroyed () {
        this.$bus.$off(this.eventFormChangeName)
        this.$bus.$off(this.eventFormChangeRegularly)
        this.$bus.$off(this.eventFormChangeStartDate)
        this.$bus.$off(this.eventFormChangeTimeOfDay)
        this.$bus.$off(this.eventFormAddReminder)
        this.$bus.$off(this.eventFormDeleteReminder)
    },
    methods: {
        getRefHabit () {
            if (Object.keys(this.habitData).length <= 0)
                return null
            return ['/habits', this.user.uid, this.habitId]
        },
        changeNameOfHabit (name) {
            if (!name || name.length <= 0)
                return false
            this.habitEditClone.name = name
            // let rootRef = this.getRefHabit()
            // rootRef.push('name')
            // this.$firebase.database().ref(rootRef.join('/')).set(name)
        },
        changeFormChangeRegularly (_regularly) {
            // let rootRef = this.getRefHabit()
            // rootRef.push('regularly')
            // this.$firebase.database().ref(rootRef.join('/')).set(_regularly)
            this.habitEditClone.regularly = _regularly
        },
        changeStartDate (_startDate) {
            // let rootRef = this.getRefHabit()
            // rootRef.push('startDate')
            let convertDate = parseInt(moment(_startDate).format('X'))
            // this.$firebase.database().ref(rootRef.join('/')).set(convertDate)
            this.habitEditClone.startDate = convertDate
        },
        changeTimeOfDay (_tod) {
            // let rootRef = this.getRefHabit()
            // rootRef.push('timeOfDay')
            // this.$firebase.database().ref(rootRef.join('/')).set(_tod)
            this.habitEditClone.timeOfDay = _tod
        },
        saveRemider (newHour, origin = null) {
            let splits = newHour.split(':')
            let _hour = parseInt(splits[0])
            let _minute = parseInt(splits[1])
            let hourFormat = _hour + ':' + _minute

            if (!this.habitEditClone.remind) {
                Vue.set(this.habitEditClone, 'remind', {
                    soundName: "Default",
                    timeTriggers: {}
                })
            }

            if (!this.habitEditClone.remind.timeTriggers) {
                Vue.set(this.habitEditClone.remind, 'timeTriggers', {})
            }

            if (origin) {
                // let rootRef = this.getRefHabit()
                // rootRef.push('remind/timeTriggers')
                // rootRef.push(origin)
                // this.$firebase.database().ref(rootRef.join('/')).remove()
                delete this.habitEditClone.remind.timeTriggers[origin]
                this.$store.dispatch('deleteHabitEditCloneReminder', origin)
            }

            // let rootRef = this.getRefHabit()
            // rootRef.push('remind/timeTriggers')
            // rootRef.push(hourFormat)
            // this.$firebase.database().ref(rootRef.join('/')).set(true)

            let canAdd = appUtils.userCanAddReminder(this.userPremiumData)
            let countReminder = Object.keys(this.habitEditClone.remind.timeTriggers).length
            console.log('countReminder: ', countReminder, Object.keys(this.habitEditClone.remind.timeTriggers))
            if (!canAdd && countReminder >= 1) {
                this.$bus.$emit(eventNames.toggleUpgradePremium, true, upgradeKey.reminder)
                return false
            }

            Vue.set(this.habitEditClone.remind.timeTriggers, hourFormat, true)
            // this.habitEditClone.remind.timeTriggers[hourFormat] = true
        },
        deleteReminder (_reminder) {
            // let rootRef = this.getRefHabit()
            // rootRef.push('remind/timeTriggers')
            // rootRef.push(_reminder)
            // this.$firebase.database().ref(rootRef.join('/')).remove()
            Vue.delete(this.habitEditClone.remind.timeTriggers, _reminder)
        },
        closeDialogHabit () {
            this.$bus.$emit(eventNames.toggleDialogEdit, false)
        },
        clickOnBackground (evt) {
            let target = $(evt.target)
            let isCloseBtn = target.closest('.btn-close')
            let dialog = target.closest('.dialog-content')
            if (isCloseBtn.length || dialog.length) {
                return
            } else {
                this.handleCloseConfirm()
            }
        },
        processUpdateHabit () {
            if (!this.habitEditClone.remind) {
                Vue.set(this.habitEditClone, 'remind', {
                    soundName: "Default",
                    timeTriggers: {}
                })
            }

            if (!this.habitEditClone.remind.timeTriggers) {
                Vue.set(this.habitEditClone.remind, 'timeTriggers', {})
            }
            
            let updateData = {
                name: this.habitEditClone.name,
                regularly: this.habitEditClone.regularly,
                startDate: this.habitEditClone.startDate,
                timeOfDay: this.habitEditClone.timeOfDay,
                remind: {
                    timeTriggers: this.habitEditClone.remind.timeTriggers
                }
            }

            let rootRef = this.getRefHabit()
            this.$firebase.database().ref(rootRef.join('/')).update(updateData)
            this.closeDialogHabit()
        },
        handleCloseConfirm() {
            if (!appUtils.compareSameObjectData(this.habitOriginData, this.habitEditClone)) {
                if (confirm(this.$i18n.t('common.dialog.edit.close'))) {
                    this.closeDialogHabit()
                }
            } else
                this.closeDialogHabit()
        }
    }
}
</script>
