<template>
    <div class="dialog-upgrade-premium" @click.prevent="detectClickDialog" :data-premium="isUserPremium">
        <div class="dialog-upgrade-container position-relative">
            <div class="dialog-header">
                <div class="dialog-head">{{ $t('newupgrade.title') }}</div>
                <div class="premium-slider">
                    <slick ref="slick" :options="slickOptions">
                        <div class="slick-item premium-item" v-for="(slide, key) in sliderItems" :key="key">
                            <div class="premium-item-wrapper">
                                <div class="premium-item-thumb">
                                    <img :src="slide.icon" alt="" class="img-fluid" style="width: 90px; height: 90px">
                                </div>
                                <div class="premium-item-info">
                                    <div class="premium-item-title">{{ $t(slide.title) }}</div>
                                    <div class="premium-item-desc">{{ $t(slide.content) }}</div>
                                </div>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
            <div class="dialog-body">
                <div class="wrapper">
                    <div class="pack-list" v-if="packages">
                        <div class="pack-item only-body" v-for="(item, key) in packages" :key="key" 
                            :class="getClassOfItem(item.product_id, key)" 
                            @click.prevent="switchPack(item.product_id)">
                            <div class="item-wrapper">
                                <div class="pack-head" v-text="getPackageHeader(item.product_id)" v-if="getPackageHeader(item.product_id)"></div>
                                <div class="pack-body">
                                    <div class="pack-label" v-text="getPackageTitle(item.product_id)"></div>
                                    <div class="pack-price" v-text="getPrice(item.price.gross)"></div>
                                    <div class="pack-select">
                                        <span class="pack-select-icon">
                                            <span class="pack-selected-mark"></span>
                                        </span>
                                        <span class="pack-select-mark-icon"><i class="icon-icon-done icon-b"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-footer">
                <div class="wrapper">
                    <button class="btn btn-go-premium" @click.prevent="openPremium">Go Premium</button>
                    <button class="btn btn-skip-premium" @click.prevent="hideUpgradePremium">Maybe Later</button>
                </div>
            </div>
            <loader v-if="isLoading" :class="['position-absolute', 'loading-premium']"></loader>    
        </div>
        
    </div>
</template>

<script>
import Slick from 'vue-slick'
import { eventNames, paddleAlertNames, dataUpgrades, upgradeKey } from '@/configs'
import { mapGetters } from 'vuex'
import appUtils from '@/utils/appUtils'
import Loader from '@/components/commons/Loader'

export default {
    name: 'UpgradePremium',
    components: { Slick, Loader },
    props: ['defaultPackage'],
    computed: {
        ...mapGetters(['user', 'packages', 'currency', 'currencyPrefixISO', 'userPremiumData', 'history', 'upgradeKey']),
        isUserPremium () {
            return appUtils.isPremium(this.userPremiumData)
        },
        lastBuyPackage () {
            if (!this.history || !Object.keys(this.history).length || !this.isUserPremium)
                return null

            let lastPackId = null
            let timers = Object.keys(this.history).sort()
            timers.forEach(time => {
                let order = this.history[time]
                if (
                    order.alert_name === paddleAlertNames.payment_succeeded ||
                    order.alert_name === paddleAlertNames.subscription_payment_succeeded
                )
                    lastPackId = parseInt(order.subscription_plan_id)
            });

            return lastPackId
        },
        sliderItems () {
            return this.dataSlider()
        }
    },
    data () {
        return {
            slickOptions: {
                slidesToShow: 1,
                infinite: false,
                adaptiveHeight: true,
                dots: true,
                prevArrow: `<button type="button" class="slick-prev"><img class="img-fluid" src="/assets/images/slider/prev.svg"/></button>`,
                nextArrow: `<button type="button" class="slick-next"><img class="img-fluid" src="/assets/images/slider/next.svg"/></button>`
            },
            selectedPackage: null,
            isLoading: false,
            isShowDialog: false,
        }
    },
    mounted () {
        if (this.packages && this.packages.length) {
            this.selectedPackage = this.isUserPremium ? null : this.packages[this.packages.length - 1].product_id
        }

        this.$bus.$on(eventNames.changeUserPremiumData, () => {
            this.$nextTick(() => {
                this.checkPremium()
            })
        })

        if (this.defaultPackage)
            this.selectedPackage = parseInt(this.defaultPackage)

        // this.$bus.$on(eventNames.toggleUpgradePremium, (status, type) => {
        //     console.log('check event trigger', status, type)
        //     this.sliderType = type && upgradeKey[type] ? upgradeKey[type] : upgradeKey[habit]
        // })
    },
    destroyed () {
        let events = [eventNames.changeUserPremiumData]
        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    methods: {
        getClassOfItem (productId, index) {
            let resutl = []
            let parseId = parseInt(productId)

            if (this.lastBuyPackage === parseId && !this.selectedPackage) {
                resutl.push('disabled active')
            }

            if (this.selectedPackage === parseId) {
                resutl.push('active')
            }

            if (index <= 0)
                resutl.push('single')
            
            return resutl
        },
        switchPack (index) {
            this.selectedPackage = index
        },
        hideUpgradePremium () {
            this.$bus.$emit(eventNames.toggleUpgradePremium)
        },
        detectClickDialog (evt) {
            let target = $(evt.target)
            let dialog = target.closest('.dialog-upgrade-container')
            if (!dialog.length)
                this.hideUpgradePremium()
        },
        getPackageHeader (title) {
            let index = _.findIndex(this.packages, ['product_id', title])
            if (!title || index <= 0)
                return false
            
            let result = false
            switch(index) {
                case 1:
                    result = 'Popular'
                    break;
                case 2:
                    result = 'Best Value'
                    break;
                default:
                    result = false
                    break;
            }
            
            return result
        },
        getPackageTitle (title) {
            let index = _.findIndex(this.packages, ['product_id', title])
            if (!title)
                return false
                
            let packItem = this.packages[index]
            let packageTitle = packItem.product_title
            let result = false
            
            if (packItem.hasOwnProperty('subscription'))
                if (packItem.subscription.interval.toLowerCase() == "month")
                    return "Monthly"
                else if (packItem.subscription.interval.toLowerCase() == "year")
                    return "Yearly"
            else {
                return 'Life-Time'
            }

            return null
        },

        getPrice (price) {
            let prefix = appUtils.getCurrencrPrefix(this.currency)
            return prefix + parseFloat(price).toFixed(2)
        },
        openPremium () {
            let appInstance = this
            Paddle.Checkout.open({ 
                product: this.selectedPackage,
                passthrough: this.user.uid,
                successCallback: (data) => {
                    console.log('paddle', data);
                    console.log('Thanks for your purchase.');

                    let event_and_custom_data = {
                        "transaction_id": data && data.hasOwnProperty('checkout') ? data.checkout.id : null,
                        "currency": appInstance.currencyPrefixISO,
                        "coupon": data && data.hasOwnProperty('checkout') && data.checkout.hasOwnProperty('coupon') ? data.checkout.coupon.coupon_code : null,
                        "revenue": data && data.hasOwnProperty('checkout') && data.checkout.hasOwnProperty('prices') ? parseFloat(data.checkout.prices.customer.total) : 0
                    };
                    branch.logEvent(
                        "PURCHASE",
                        event_and_custom_data,
                        [],
                        function(err) { console.log(err); }
                    );
                },
                closeCallback: (data) => {
                    // this.isLoading = false
                }
            });
        },
        checkPremium() {
            console.log('checkPremium', appUtils.isPremium(this.userPremiumData), this.userPremiumData)
            if (this.isUserPremium) {
                this.isLoading = false
                this.isShowDialog = false
                this.$bus.$emit(eventNames.toggleUpgradePremium, false)
            }
        },
        dataSlider () {
            let list = _.cloneDeep(dataUpgrades);
            let result = []

            result.push(list[this.upgradeKey])
            delete list[this.upgradeKey]
            let keys = Object.keys(list)
            keys.forEach(key => {
                result.push(list[key])
            })

            return result
        }
    }
}
</script>

<style scoped="">
    .loading-premium {
        width: 100%;
        height: 100%;
        opacity: .8
    }
</style>

