.dialog-upgrade-premium
    width: 100vw
    height: 100vh
    background: $white
    position: fixed
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    z-index: $z-upgrade
    .premium-item
        .premium-item-wrapper
            text-align: center
        .premium-item-thumb
            margin-bottom: 23px
            img
                display: inline-block

        .premium-item-title
            font-weight: $fz-medium
            font-size: 17px
            color: $color-streak
            text-align: center
        .premium-item-desc
            font-weight: $fz-regular
            font-size: 15px
            @include black-app(.5)
            text-align: center
            line-height: 26px
            max-width: 350px
            margin: 5px auto auto

    .premium-slider
        .slick-arrow
            display: none
            background: none
            border: none
            @include color-streak(.3)
            font-weight: bold
            font-size: 20px
            position: absolute
            top: 35%
            z-index: 15
            outline: none
            cursor: pointer
            &.slick-prev
                left: -18px
            &.slick-next
                right: -18px
        .slick-dots 
            padding: 10px 0
            display: flex
            align-items: center
            justify-content: center
            margin: 15px 0 0
            li
                @include bg-streak(.2)
                width: 8px
                height: 8px
                text-indent: -99999px
                display: inline-block
                border-radius: 1000px
                margin-right: 10px
                transition: all ease 200ms
                &.slick-active
                    background: $black
    .dialog-upgrade-container
        width: 100vw
        height: 100vh
        background: $white
        .dialog-header
            background: $color-bg-body
            padding: 22px 15px 10px
        .dialog-head
            font-weight: $fz-semibold
            font-size: 15px
            color: $color-blue-light
            text-align: center
            margin-bottom: 40px

    .dialog-body
        padding: 25px 15px
        .pack-list
            display: flex
            flex-wrap: wrap
            align-items: flex-end
            margin: 0 -7.5px
        .pack-item
            width: 33.33333%
            display: inline-block
            text-align: center
            padding: 0 7.5px
            .item-wrapper
                border-radius: 5px
                border: solid 4px $color-bg-body
                cursor: pointer
            .pack-label
                font-weight: $fz-medium
                font-size: 11px
                @include color-streak(.5)
                text-align: center
                text-transform: uppercase
            .pack-price
                font-weight: $fz-semibold
                font-size: 17px
                @include color-streak(1)
                text-align: center
                margin-top: 5px
            .pack-select
                margin-top: 24px
                .pack-select-mark-icon
                    font-weight: bold
                    font-size: 16px
                    color: $color-blue-light
                    visibility: hidden
                    opacity: 0
                .pack-select-icon
                    width: 21px
                    height: 21px
                    border: solid 2px $color-blue-light
                    display: inline-block
                    border-radius: 1000px
                    display: none
                    visibility: hidden
                    opacity: 0
                .pack-selected-mark
                    width: 16px
                    height: 16px
                    display: inline-block
                    background: $color-blue-light
                    border: solid 4px $white
                    border-radius: 1000px
                    opacity: 0
                    transition: all ease 200ms
            .pack-body
                @include bg-body(1)
                border-radius: 0 0 5px 5px
                padding-top: 10px
                padding-bottom: 10px
            &.single
                .pack-body
                    border-radius: 3px
            .pack-head
                font-weight: $fz-medium
                font-size: 13px
                color: $color-blue-light
                text-align: center
                padding: 4px 0 7px
                border-bottom: solid 1px $color-border-blue-light
                @include bg-body(1)
                border-radius: 5px 5px 0 0
            &.active
                .item-wrapper
                    background: $color-blue-light
                    border-radius: 3px
                    border: solid 4px $color-blue-light
                .pack-head
                    color: $white
                    background: $color-blue-light
                    border-bottom: none
                .pack-select
                    .pack-select-mark-icon
                        visibility: visible
                        opacity: 1
                    .pack-selected-mark
                        opacity: 1


    .dialog-footer
        padding: 0 15px
        text-align: center
        .btn-go-premium
            font-weight: $fz-medium
            font-size: 17px
            color: $white
            text-align: center
            background: $color-blue-light
            border-radius: 3px
            width: 100%
            padding: 13px 0
            transition: all ease 200ms
            &:hover
                @include bg-blue-light(.8) 
        .btn-skip-premium
            font-weight: $fz-medium
            font-size: 14px
            @include color-streak(.5)
            text-align: center
            padding-top: 10px
            padding-bottom: 0px
    


@media (min-width: 768px)
    .dialog-upgrade-premium
        width: 100vw
        height: 100vh
        background: rgba(0, 0, 0, .2)
        .premium-item
            .premium-item-wrapper
                text-align: center
            .premium-item-thumb
                margin-bottom: 15px
                img
                    display: inline-block
        .premium-slider
            .slick-arrow
                display: block
                background: none
                border: none
                @include color-streak(.3)
                font-weight: bold
                font-size: 20px
                position: absolute
                top: 35%
                z-index: 15
                outline: none
                cursor: pointer
                &.slick-prev
                    left: 0
                &.slick-next
                    right: 0
            .slick-dots 
                padding: 10px 0
                display: flex
                align-items: center
                justify-content: center
                li
                    @include bg-streak(.2)
                    text-indent: -99999px
                    display: inline-block
                    border-radius: 1000px
                    margin-right: 10px
                    transition: all ease 200ms
        .dialog-upgrade-container
            max-width: 643px
            height: auto
            border-radius: 3px
            overflow: hidden
            background: $white
            .dialog-header
                background: $color-bg-body
                padding: 22px 40px 10px
            .dialog-head
                font-size: 17px
                margin-bottom: 35px
            .premium-slider
                .premium-item-title
                    font-weight: $fz-semibold
                    font-size: 17px
                    color: $color-streak
                    text-align: center
                    line-height: 20px
                .premium-item-desc
                    font-weight: $fz-regular
                    font-size: 15px
                    @include black-app(.5)
                    text-align: center
                    line-height: 26px

        .dialog-body
            padding: 27px 42px
            .pack-list
                // padding: 10px 40px
            .pack-item
                padding: 0 10px
                .pack-label
                    font-size: 15px
                .pack-price
                    font-size: 22px
                    // margin-top: 10px
                .pack-select
                    margin-top: 40px
                    .pack-select-mark-icon
                        display: none
                    .pack-select-icon
                        width: 25px
                        height: 25px
                        display: inline-block
                        visibility: visible
                        opacity: 1
                    .pack-selected-mark
                        width: 21px
                        height: 21px
                // .pack-body
                //     padding-top: 20px
                //     padding-bottom: 20px
                // .pack-head
                    // font-size: 11px
                    // padding: 1px 0 5px
                    // border-radius: 3px 3px 0 0

        .dialog-footer
            padding: 0 45px 12px
            .btn-go-premium
                font-size: 20px
                font-weight: $fz-semibold
            .btn-skip-premium
                font-size: 17px
                font-weight: $fz-medium
                
        
            

