<template>
    <div class="topbar-calendar-pick dropdown-calendar-picker sdl-menu-content dropdown-common has-backdrop" :class="classStyle" :style="styleOfDropdown">
        <div class="wrapper" :class="[isShowDatePicker ? 'show-calendar' : '']">
            <div class="block-picker">
                <div class="block-picker-wrapper block-pick-top-main">
                    <ul class="dropdown-pick-list">
                        <li class="dropdown-pick-item" v-for="(item, key) in listDropdown" :key="key" :class="isActive(item)">
                            <a href="#" @click.prevent="selectedDate(item.date.toDate())">
                                <span class="dropdown-pick-label">{{ item.label }}</span>
                                <span class="dropdown-pick-format">{{ item.dateFormat }}</span>
                            </a>
                        </li>
                        <li class="dropdown-pick-item" v-if="deviceType === deviceTypes.pc">
                            <a href="#" @click.prevent="toggleCalendarPicker">
                                <span class="dropdown-pick-label">{{ $t('common.custom') }}</span>
                                <span class="dropdown-pick-icon"><i class="icon-icon-right icon-b"></i></span>
                            </a>
                        </li>
                        <li class="dropdown-pick-item item-custom pick-custom">
                            <a href="#" @click.prevent="toggleShowCompletedHabits">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="checkboxComplete" value="option1" :checked="isShowCompletedHabits">
                                    <label class="form-check-label" for="checkboxComplete">{{ $t("topbar.button.show.completed.habits") }}</label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block-picker block-calendar block-pick-top-calendar" v-if="deviceType === deviceTypes.pc">
                <div class="block-picker-wrapper">
                    <ul class="dropdown-pick-list">
                        <li class="dropdown-pick-item item-custom sdl-toggle sdl-back" @click.prevent="toggleCalendarPicker">
                            <a href="#">
                                <span class="dropdown-pick-label"><i class="icon-icon-left icon-b"></i> {{ $t('common.custom') }}</span>
                            </a>
                        </li>
                    </ul>
                    <date-picker 
                        :language="getLang" 
                        :inline="true" 
                        :monday-first="mondayFirst" 
                        :value="convertedCurrentDate" 
                        :disabledDates="disabledDates"
                        @selected="selectedDate"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import { deviceTypes, eventNames } from '@/configs'

import DatePicker from '@/plugins/vuejs-datepicker/src/components/Datepicker'
import * as language from '@/plugins/vuejs-datepicker/dist/locale'
import appUtils from '@/utils/appUtils'

export default {
    name: 'CalendarPick',
    props: ['showDropdown', 'isShowDatePicker', 'styleOfDropdown', 'mondayFirst', 'convertedCurrentDate', 'classStyle', 'currentDate'],
    components: {DatePicker},
    computed: {
        ...mapGetters(['deviceType', 'lang', 'isShowCompletedHabits']),
        listDropdown () {
            return this.getListDropdown()
        },
        getLang () {
            try {
                if (language && language[this.lang]) {
                    return language[this.lang]
                }
                return language.en
            } catch(error) {
                return language.en
            }
        }
    },
    data () {
        return {
            isShowCalendar: false,
            deviceTypes,
            disabledDates: {
                from: moment().add(1, 'days').toDate(),
                to: moment().subtract(2, 'months').toDate()
            }
        }
    },
    methods: {
        getListDropdown () {
            return appUtils.getListDropdown(this.$i18n, this.lang)
        },
        selectedDate (date) {
            this.$bus.$emit(eventNames.mainAppSetSelectedDate, date)
            this.isShowCalendar = false
        },
        isActive (item) {
            let className = []
            if (item.date.startOf('day').format('x') === this.currentDate.startOf('day').format('x'))
                className = ['active']

            return className
        },
        async getCalendarLang () {
            let moduleLang = await import(/* webpackChunkName: "lang-[request]" */ `@/plugins/vuejs-datepicker/dist/locale`).then(async module => {
                    return await module
                });

            return moduleLang
        },
        toggleCalendarPicker() {
            this.$bus.$emit('toggleTopbarDatePicker', !this.isShowDatePicker)
        },
        toggleShowCompletedHabits() {
            this.$bus.$emit(eventNames.topbarToggleShowCompleted, 'from calendar pick')
        }
    }
}
</script>
