.habit-calendar
    .swiper-container
        transform: translate3d(0, 0, 0)
        position: relative
        overflow: hidden
    
    .calendar-days, .year-block
        display: inline-block
        float: left
        width: 100%
        min-height: 1px

    .calendar-list
        padding: 5px 10px
        border-radius: 3px
        cursor: pointer
        color: $color-streak
        text-decoration: none
        display: inline-block
        transition: all ease .2s
        &:hover
            @include bg-blue-app(.05)
        .icon-dropdown
            width: 15px
            display: inline-block
            margin-left: 5px
            svg
                fill: currentColor !important
                color: $color-streak

    .dropdown-calendar
        .wrapper
            max-height: 250px
            overflow: hidden
            overflow-y: auto

.habit-calendar-year
    padding: 20px 0
.calendar-year
    .day-checkin-item
        width: 5%
        display: inline-block
        // background-image: url(/assets/images/year-status-none.svg)
        // background-size: contain
        // background-position: center
        // background-repeat: no-repeat
        background: none
        height: 20px
        // float: left
        // border-radius: 2px
        // margin: .5px
        position: relative
        float: left
        .calendar-item-content
            width: calc(100% - 1px)
            height: calc(100% - 1px)
            position: absolute
            top: .5px
            left: .5px
            border-radius: 2px
            background: #E9EAF1
        &.checkedin
            .calendar-item-content
                background: #437CFF
        &.skipped
            .calendar-item-content
                background: #9CC0FF
            // background-image: url(/assets/images/year-status-skip.svg)
            // background-color: none
        &.failed
            .calendar-item-content
                background: #3E3F42
            // background-image: url(/assets/images/year-status-fail.svg)
            // background-color: none
    .year-block
        margin-bottom: 8px
        &:last-child
            margin-bottom: 0
        .calendar-month
            display: flex
            flex-wrap: wrap
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0
        .calendar-month-name
            color: $color-streak
            opacity: .5
            font-weight: $fz-medium
            font-size: 11px
            letter-spacing: 0
            text-align: right
            flex: 0 0 10.6666666667%
            max-width: 10.6666666667%
            white-space: nowrap
            padding-right: 15px
        .calendar-checkin-days
            flex: 0 0 100%
            max-width: calc(100% - 10.6666666667%)
            padding-right: 15px
    