.habit-weekday-box
    *
        user-select: none
    .box-footer
        .wrapper
            padding: 0
        .footer-row
            display: flex
        .col-completion-rate
            flex: 0 0 50%
            max-width: 50%
            padding: 20px
            &:first-child
                border-right: solid 1px $color-border-blue-light
            .col-label
                font-weight: $fz-medium
                font-size: 13px
                line-height: 15px
                @include color-streak(.5)
                letter-spacing: 0
                text-transform: uppercase
            .col-rates
                font-weight: $fz-semibold
                font-size: 20px
                color: $color-streak
                letter-spacing: 0
                margin-top: 8px