.dropdown-reminder
    position: relative
    .dropdown-body
        .dropdown-input
            padding: 10px
            display: inline-block
            width: 100%
            .form-control.input-control
                min-height: 30px
                font-size: 15px
                &::placeholder
                    font-size: 15px
        .dropdown-pick-list
            max-height: 200px
            overflow: hidden
            overflow-y: auto
            padding: 10px 0 10px 25px
            border-top: solid 1px $color-border-blue-light
            border-bottom: solid 1px $color-border-blue-light
        .dropdown-pick-item
            font-weight: $fz-medium
            font-size: 15px
            @include color-streak(1)
            letter-spacing: 0
            display: inline-block
            width: 100%
            min-height: 35px
            vertical-align: middle
            cursor: pointer
            line-height: 35px
            &:last-child
                padding-bottom: 0
            &:hover, .active
                @include blue-app(1)
        .dropdown-footer
            .dropdown-item-delete
                @include color-delete(1)
                padding: 10px 0 10px 25px
                height: auto
                &:last-child
                    padding: 10px 0 10px 25px

        &.dropdown-top
            left: 0
            top: 100%
            bottom: inherit
        &.dropdown-bottom
            left: 0
            bottom: 100%
            top: inherit

    &.dropdown-reminder-new
        .icon-delete
            position: absolute
            top: 0
            right: 0
            height: 100%
            padding: 0 12px
            display: flex
            align-items: center
            cursor: pointer