.dropdown-pick-list, .dl-submenu
    list-style: none
    margin: 0
    padding: 0
    .dropdown-pick-item, .dl-back
        font-weight: $fz-medium
        font-size: 15px
        color: $color-streak
        letter-spacing: 0
        &.pick-custom
            border-top: solid 1px $color-border-blue-light
        a
            display: flex
            justify-content: space-between
            padding: 10px 20px
            transition: all ease-in-out 200ms
            text-decoration: none
            position: relative
            outline: none
            font-weight: $fz-medium
            font-size: 15px
            color: $color-streak
            letter-spacing: 0
        &:hover, &.active
            a
                @include bg-blue-app(.05)
            a, a span
                color: $color-blue-app

    .dropdown-pick-label
        font-weight: $fz-medium
        font-size: 15px
        color: $color-streak
        letter-spacing: 0
    .dropdown-pick-format
        font-weight: $fz-medium
        font-size: 13px
        @include color-streak(.5)
        letter-spacing: 0
    .dropdown-pick-icon
        font-size: 13px
