.habit-form
    padding: 18px 25px
    
    .fake-input
        display: flex
        align-items: center
        &.input-add-remider
            font-weight: $fz-medium
            font-size: 17px
            @include blue-app(1)
            letter-spacing: 0
            cursor: pointer
            &:hover
                @include bg-blue-app(.05)
            .input-icon
                font-weight: bold

