.streak-list
    .streak-item
        font-weight: $fz-regular
        font-size: 13px
        color: $color-streak
        letter-spacing: 0
        text-align: center
        margin-bottom: 16px
        display: flex
        align-items: center
        justify-content: center
        &:last-child
            margin-bottom: 0
        .streak-label
            white-space: nowrap
        .start-date
            text-align: right
            opacity: 0.5
        .end-date
            text-align: left
            opacity: 0.5
        .streak-length
            background: $color-blue-light
            border-radius: 3px
            color: #fff
            margin-left: 14px
            margin-right: 14px
            opacity: 1
            display: inline-block
            padding-top: 5px
            padding-bottom: 5px