.topbar-tabs
    position: relative
    .tab-active
        position: relative
        padding-left: 25px
        padding-right: 25px
        cursor: pointer
        &.active
            .tab-name
                color: $color-blue-app
    .tab-border
        position: absolute
        bottom: 0
        left: 0
        width: 50%
        border: 2px solid $color-blue-app
        transition: all ease-in-out 200ms
    .tab-name
        font-weight: $fz-medium
        font-size: 15px
        @include black-light(.5)
        transition: all ease-in-out 200ms
        line-height: 45px
        white-space: nowrap

    &.two-tabs
        &.active-first
            .tab-border
                left: 0
        &.active-second
            .tab-border
                left: 50%