.rate-list
    display: flex
    flex-wrap: wrap
    .rate-item
        display: inline-block
        flex: 0 0 14.285714285714286%
        max-width: 14.285714285714286%
        text-align: center
        padding: 0 13px
    .rate-circle
        display: flex
        align-items: center
        justify-content: center
    .rate-day-of-week
        @include color-streak(.8)
        text-transform: uppercase
        margin-top: 15px
        font-weight: $fz-medium
        font-size: 12px
        letter-spacing: 0

.habit-weekday-status
    *
        user-select: none
    .box-body
        .wrapper
            padding: 24px 0