.manager-habit-list.habit-list
    .habit-list-of-day 
        .habit-item
            cursor: pointer
            padding: 12px 10px 12px 23px
            border: solid 1.5px transparent
            @include border-habit-item-only-border(bottom, solid, 1.5px, .5)
            a
                padding: 0
                span.habit-actions
                    opacity: 1
                    visibility: visible
                    margin-right: 0
                    .action-item
                        color: #5179FD
                        margin-right: 0
                        background: none
                        &.item-drag
                            cursor: move
                            font-weight: bold
                            @include color-streak(.4)
                            font-size: 20px
                            padding-top: 5px
                        &:hover
                            background-color: $color-topbar-hover

                span.habit-information 
                    display: inline-block
                    max-width: calc(100% - 100px)
                    .habit-name
                        width: 100%
                        white-space: nowrap
                        text-overflow: ellipsis
                        overflow: hidden
                    .habit-times
                        font-weight: $fz-regular
                        font-size: 12px
                        color: $color-black-light
                        line-height: 22px
            &.habit-item-select
                background-color: $color-topbar-hover

            &.position-single
                @include blue-app-all-border(solid, 1.5px, .8)
            &.position-first, &.position-middle, &.position-last
                border-top: none
                border-bottom: none
            &.position-first
                @include blue-app-all-border(solid, 1.5px, .8)
                border-bottom: none
            &.position-middle
                @include blue-app-only-border(left, solid, 1.5px, .8)
                @include blue-app-only-border(right, solid, 1.5px, .8)
            &.position-last
                @include blue-app-all-border(solid, 1.5px, .8)
                border-top: none
            &.sortable-ghost
                background: transparent
                a
                    text-indent: -9999px
                    opacity: 0
                    background: transparent
