.login-page {
    display: flex;
    min-height: 100vh;

    .banner-left {
        flex: 4;
    }

    .login-container {
        flex: 5;
    }

    a {
        color: #426eff;
        text-decoration: none;
        background-color: transparent;
    }

    .btn {
        padding: 14px 30px;
        font-size: 18px;
        line-height: 1.45;
        border-radius: 28px;
    }

    .btn-sm {
        font-size: 14px;
        padding: 5px 16px;
    }

    .btn-primary {
        color: $ha-background-lightest;
        background-color: $ha-primary;
        border-color: $ha-primary;

        &:hover {
            background-color: $ha-primary-dark;
            border-color: $ha-primary-dark;
        }
    }

    .btn-secondary {
        color: $ha-neutral-light;
    }

    .btn-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0 10px;
        background: $ha-primary-lightest-opacity-30;
        color: $primary;
        border-radius: 12px;
        cursor: pointer;

        span {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background: $primary;
            margin-bottom: 3px;

            &:last-child {
                width: 50%;
                margin-bottom: 0;
            }
        }
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .was-validated .form-control:invalid, .form-control.is-invalid {
        border-color: #f86c68;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f86c68' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f86c68' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
        background-repeat: no-repeat;
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    .form-control {
        padding: 27px;
        border-radius: 8px;
        border-color: $border;

        &::placeholder {
            color: $text-color-light !important;
        }

        &.is-invalid {
            background-image: none !important;
            background: rgba($ha-negative-lightest, 0.5);

            &::placeholder {
                color: $ha-negative !important;
            }
        }
    }

    .form-group {
        position: relative;

        .icon-eye-grey,
        .icon-eye-red {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
        }

        .icon-eye-red {
            opacity: 0;
            z-index: 2;
        }
    }

    .form-control.is-invalid ~ .btn-show-password {
        .icon-eye-red {
            opacity: 1;
        }

        .icon-eye-grey {
            opacity: 0;
        }
    }

    .form-check-label {
        padding-left: 4px;
        font-size: 16px;
        color: $text-color-base !important;
    }
}

.banner-left {
    background: #fbfcfe;
    padding-top: 140px;
    padding-left: 21px;
    padding-right: 56px;
}

.login-container {
    padding: 0 13px;

    @include media-breakpoint-up(lg) {
        padding-left: percentage(191 / 1440);
    }


    .logo {
        margin-top: 32px;
        margin-bottom: 40px;
        text-align: center;

        @include media-breakpoint-up(lg) {
            max-width: 360px;
            margin-top: 64px;
            margin-bottom: 112px;
        }


        a {
            display: inline-block;
        }
    }
}

.login-form {
    margin: 0 auto;
    max-width: 500px;

    @include media-breakpoint-up(lg) {
        margin: unset;
        width: 360px;
    }


    .title-section {
        text-align: center;
        margin-bottom: 10px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
    }
    
    .sub-title-section {
        opacity: 0.9;
        font-size: 16px;
        color: $ha-neutral;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        margin-top: 8px;
    }

    form {
        padding-top: 18px;

        @include media-breakpoint-up(lg) {
            padding-top: 35px;
        }
    }

    .form-check {
        margin-bottom: 32px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 48px;
        }
    }

    .btn-sign-in {
        margin-bottom: 24px;
    }

    .forgot-password {
        display: inline-block;
        font-size: 16px;
        color: $text-color-base;
        margin-bottom: 71px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 144px;
        }
    }
}

.register-notice {
    font-size: 16px;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 20px;
        text-align: left;
    }


    a {
        font-size: 16px;
        font-weight: $fz-bold;

        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }
    }
}

.error-notice {
    font-size: 16px;
    color: $ha-negative;

    a {
        font-size: 16px;
        font-weight: $semi-bold;
        text-decoration: underline;
        color: $ha-negative;
    }
}

.img-stage-loading {
    animation: spin 1s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
