.page-Dashboard, .page-Journal
    overflow: hidden
.Dashboard, .Journal
    .main-app
        height: calc(100vh - 51px)
        overflow: hidden
        overflow-y: auto

@media (min-width: 1024px)
    .Dashboard, .Journal
        .main-content
            padding: 15px
