.page-HabitDetail
	overflow: hidden
#app.HabitDetail
	.main-app
		margin-top: 100px
.HabitDetail
	@import "../includes/habit-detail/detail-habit-panel"
	@import "../includes/habit-detail/habit-calendar"
	
	.main-content
		padding: 0
		height: calc(100vh - 100px)
	.row-habit-detail
		display: flex
		flex-wrap: nowrap
		transition: all ease 200ms
		height: calc(100vh - 100px)
	.note-habit-panel, .detail-habit-panel
		transition: all ease 200ms
	.note-habit-panel
		flex: 0 0 100%
		max-width: 100%
	.detail-habit-panel
		flex: 0 0 100%
		max-width: 100%
		visibility: visible
		opacity: 1

	.topbar-wrapper-tabs
		padding: 0

	.topbar-tabs
		display: flex
		width: 100%
		height: 100%
		.tab-active
			width: 50%
			height: 100%
			text-align: center

	.habit-detail
		width: 100vw
		overflow: hidden
		.detail-habit-panel
			height: 100%
			overflow: hidden
			overflow-y: auto
		&.has-notes
			.row-habit-detail
				transform: translate3d(-100%, 0, 0)
		

@media (min-width: 1024px)
	#app.HabitDetail
		.main-app
			margin-top: 50px
	.HabitDetail
		.habit-detail
			width: 100%
			.row-habit-detail
				height: calc(100vh - 50px)
			.detail-habit-panel
				height: 100%
			&.has-notes
				.row-habit-detail
					flex-wrap: wrap
					transform: translate3d(0, 0, 0)
					.detail-habit-panel
						flex: 0 0 75%
						max-width: 75%
				.note-habit-panel
					flex: 0 0 25%
					max-width: 25%