@import '../includes/manager-habit/habit-list'
.page-ManagerHabit, .page-ManagerHabitType
    overflow: hidden
.ManagerHabit, .ManagerHabitType
    .main-content
        padding: 0
    .manager-habit-page
        .tab-active, .tab-name, .topbar-tabs
            display: inline-block
            height: 100%
            text-align: center

        .topbar-progress
            justify-content: center
            position: relative
        .topbar-wrapper-tab
            padding: 0
            .topbar-tabs
                display: flex
                flex-wrap: wrap
                width: 100%
                .tab-active
                    max-width: 50%
                    flex: 0 0 50%

        .habit-page-left
            padding-top: 50px
            position: relative
            height: calc(100vh - 50px)
            *
                user-select: none
            .manager-habit-list
                height: 100%
                overflow: hidden
                overflow-y: auto
        //habit-page-right
        .habit-page-right
            height: 100vh
            overflow: hidden
            backface-visibility: hidden
            perspective: 1000px
            opacity: 0
            position: fixed
            right: 0px
            top: 0px
            background-color: rgb(253, 253, 253)
            box-shadow: rgba(0, 0, 0, 0.03) -1px 0px 0px 0px
            z-index: 1
            transition: all 0.3s ease 0s
            z-index: $z-index-edit-manager
            .app-topbar
                .topbar-wrapper
                    padding-left: 22px
                    padding-right: 22px
                .right-topbar
                    padding-right: 22px
            .habit-form.custom-form
                height: calc(100vh - 100px)
                margin-top: 50px
                overflow: hidden
                overflow-y: auto
            .btn-save-dialog
                height: 50px
                border-radius: 0
            .action-item
                border-radius: 3px
                margin-right: 10px
                @include bg-blue-app(.03)
                @include blue-app(1)
                text-decoration: none
                padding: 10px 15px
                font-weight: $fz-medium
                &.action-delete
                    color: $color-delete
                &:last-child
                    margin: 0
            .left-topbar
                flex: 0 0 100%
                max-width: calc(100% - 200px)
                .topbar-title
                    text-align: left

@media (min-width: 1024px)
    #app.ManagerHabit, #app.ManagerHabitType
        height: 100vh
        overflow: hidden
        .row-app
            .main-app
                margin-top: 0
    .ManagerHabit, .ManagerHabitType
        .manager-habit-page
            .tab-active, .tab-name, .topbar-tabs
                display: inline-block
                height: 100%
                text-align: center      
            .topbar-wrapper-tab
                padding: 0 15px
                .topbar-tabs
                    width: inherit

            .app-topbar
                position: absolute
                top: 0
                left: 0
                width: 100%

            .manager-habit-list
                padding: 15px

            .habit-page-right
                .habit-page-right-wrapper
                    overflow: hidden
                    position: relative
                    width: 100%
                    height: 100%
                    padding-top: 50px
                .habit-form.custom-form
                    overflow: hidden
                    overflow-y: hidden
            .habit-page-left
                height: 100vh
            
                
            