
@import "../includes/progress/habit-this-week"
@import "../includes/progress/today-task"
@import "../includes/progress/daily-performance"
@import "../includes/progress/habit-review"
@import "../includes/progress/checkinTime"
.page-Progress
    overflow: hidden
.Progress 
    .main-app
        height: calc(100vh - 51px)
        overflow: hidden
        overflow-y: auto
    
.habit-item-showmore
    display: block
    width: 100%
    padding-left: 20px
    a
        font-weight: $fz-regular
        font-size: 17px
        color: $color-blue-light
        letter-spacing: 0
        text-decoration: none
        border-bottom: none
        border-top: solid 1px $color-border-blue-light
        padding: 15px 20px 15px 0
        display: inline-block
        width: 100%
.Progress
    .main-content
        padding: 0
    .col-progress
        flex: 0 0 100%
        max-width: 100%
    .progress-row
        display: flex
        flex-wrap: wrap
        margin-left: -7.5px
        margin-right: -7.5px
    .col-left, .col-right
        flex: 0 0 100%
        max-width: 100%
        padding-left: 7.5px
        padding-right: 7.5px
    .progress-page
        padding: 15px
    .progress-ui-row
        margin-bottom: 15px

    .app-topbar
        .topbar-wrapper
            justify-content: center
            position: relative
            padding-left: 20px
            padding-right: 20px

@media (min-width: 1024px)
    .Progress
        .app-topbar
            .topbar-wrapper
                justify-content: space-between

        .col-left
            flex: 0 0 58.3333333333%
            max-width: 58.3333333333%
        .col-right
            flex: 0 0 41.6666666667%
            max-width: 41.6666666667%

        .progress-ui-row
            &:last-child
                margin-bottom: 0

