.page-Setting
    overflow: hidden
    background: $white
.Setting
    .main-app
        height: calc(100vh - 51px)
        overflow: hidden
        overflow-y: auto

    .app-topbar
        .topbar-wrapper
            padding-left: 20px
            padding-right: 20px
.setting-page
    .setting-containter
        max-width: 798px
        margin-left: auto
        margin-right: auto
        padding-left: 15px
        padding-right: 15px
        padding-top: 35px
    .img-avatar
        width: 94px
        height: 94px
        background: $color-topbar-hover
        border-radius: 3px
        overflow: hidden
        display: inline-block
        border: none

    .premium-info
        display: flex
        flex-direction: column
        .premium-label
            font-weight: $fz-regular
            font-size: 15px
            @include color-streak(.5)
            margin-bottom: 5px

    .box-upload-avatar
        margin-left: 25px
        display: inline-block
        position: relative
        .file-avatar
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            opacity: 0

.form-setting
    .form-control.input-control
        background: $white
        border: solid 1px $color-border-blue-light
        &:disabled, &[readonly]
            background-color: $color-bg-body
            border-color: $color-bg-body
    .label-control
        margin-bottom: 10px



@media (min-width: 1024px)
    .setting-page
        .premium-info
            flex-direction: row
            align-items: center
            justify-content: space-between
            .premium-label
                margin-bottom: 0