<template>
    <span>{{ quote }}</span>
</template>

<script>
export default {
    name: 'CurrentWeekStreakQuote',
    props: ['completedCount', 'numberOfRequiredHabit'],
    computed: {
        quote () {
            return this.getQuote()
        }
    },
    methods: {
        getQuote () {
            let message = null
            if (this.completedCount >= this.numberOfRequiredHabit) {
                message = 'progress.weekly.goal.reached'
            } else if (this.completedCount == 0) {
                message = 'progress.weekly.goal.not.started'
            } else {
                message = 'progress.weekly.goal.half'
            }

            return message ? this.$i18n.t(message) : null
        }
    }
}
</script>

<style>

</style>
