<template>
    <span>{{ quote }}</span>
</template>

<script>
export default {
    name: 'CurrentStreakQuote',
    props: ['currentStreak'],
    computed: {
        quote () {
            return this.getQuote()
        }
    },
    methods: {
        getQuote () {
            let currentStreak = this.currentStreak
            let messages = []
            switch (true) {
                case (currentStreak === 0):
                    messages = ['progress.streak.level.message.1']
                    break
                    
                case (currentStreak >= 1 && currentStreak <= 6):
                    messages = [
                        'progress.streak.level.message.2',
                        'progress.streak.level.message.3',
                        'progress.streak.level.message.5',
                        'progress.streak.level.message.6',
                        'progress.streak.level.message.7'
                    ]
                    break

                case (currentStreak === 7):
                    messages = ['progress.streak.level.message.8']
                    break

                case (currentStreak >= 8 && currentStreak <= 13):
                    messages = [
                        'progress.streak.level.message.2',
                        'progress.streak.level.message.10',
                        'progress.streak.level.message.11',
                        'progress.streak.level.message.12',
                        'progress.streak.level.message.13'
                    ]
                    break

                case (currentStreak === 14):
                    messages = ['progress.streak.level.message.14']
                    break

                case (currentStreak >= 15 && currentStreak <= 20):
                    messages = [
                        'progress.streak.level.message.16',
                        'progress.streak.level.message.17',
                        'progress.streak.level.message.18',
                        'progress.streak.level.message.19'
                    ]
                    break

                case (currentStreak === 20):
                    messages = ['progress.streak.level.message.20']
                    break

                case (currentStreak === 21):
                    messages = ['progress.streak.level.message.21']
                    break

                case (currentStreak >= 28 && currentStreak <= 62):
                    messages = ['progress.streak.level.message.22']
                    break

                case (currentStreak >= 63 && currentStreak <= 83):
                    messages = ['progress.streak.level.message.23']
                    break

                case (currentStreak >83):
                    messages = ['progress.streak.level.message.24']
                    break

                default:
                    messages = []
                    break
            }

            if (messages.length <= 0)
                return ""
            else if (messages.length === 1) {
                return this.$i18n.t(messages[0])
            } else if (messages.length > 1) {
                let index = [Math.floor(Math.random()*messages.length)]
                return this.$i18n.t(messages[index])
            }
        }
    }
}
</script>

<style>

</style>
