<template>
    <span class="habit-times">{{ displayStatus }}</span>
</template>

<script>
import appUtils from '@/utils/appUtils'
import { habitStatus, eventNames } from '@/configs'
import { habitMixins } from '@/utils/mixins'

export default {
    name: 'HabitCurrentStatus',
    props: ['habit', 'currentDate'],
    computed: {
        currentCheckinStatus () {
            let status = appUtils.getHabitStatus(this.habit.content, this.currentDate)
            return status
        },
        streaks () {
            return this.getStreaks()
        },
        consecutiveDays () {
            return this.getConsecutiveDays(this.habit.content, moment())
        },
        displayStatus () {
            return this.getDisplayStatus()
        }
    },
    mixins: [habitMixins],
    destroyed () {
        let events = [eventNames.updateSingleHabit]
        events.forEach(event => {
            this.$bus.$off(event)
        })
    },
    methods: {
        getDisplayStatus () {
            let checkinStatus = this.currentCheckinStatus
            let result = ''

            let maxStreak = this.streaks.max

            if (!this.$i18n) {
                return null
            }
            
            if (!this.habit.content.hasOwnProperty('checkins')) {
                result = this.$i18n.t('journal.habit.message.empty.checkins')

            } else if (checkinStatus === habitStatus.skip) { /* if skip, display text 'swipe to add note' */
                result = this.$i18n.t('journal.habit.message.skipped.web')

            } else if (checkinStatus === habitStatus.fail) { /** number 8 on doc */
                result = this.$i18n.t('journal.habit.message.failed')
            
            } else if (this.consecutiveDays > 0 || checkinStatus === habitStatus.done) {
                result = this.$i18n.tc('plurals.streak.day.journal', this.consecutiveDays, {num: this.consecutiveDays})

            } else if (checkinStatus === habitStatus.none) {
                result = this.$i18n.tc('plurals.streak.day.journal', 0, {num: 0})

            } else if (checkinStatus === habitStatus.done) {
                // if (this.consecutiveDays > 0) {
                //     result = this.$i18n.tc('plurals.streak.day', this.consecutiveDays, {num: this.consecutiveDays})

                //     let countLength = _.countBy(this.streaks.list, 'length')
                // }
            }

            return result
        },
        getStreaks () {
            return this.getStreaksFromStart(this.habit.content, moment())
        }
    }
}
</script>

<style>

</style>
