@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-afternoon:before {
  content: "\e911";
}
.icon-icon-all-habit:before {
  content: "\e912";
}
.icon-icon-manager:before {
  content: "\e913";
}
.icon-icon-morning:before {
  content: "\e914";
}
.icon-icon-night:before {
  content: "\e915";
}
.icon-icon-progress:before {
  content: "\e916";
}
.icon-icon-resources:before {
  content: "\e917";
}
.icon-icon-skip:before {
  content: "\e910";
}
.icon-icon-next:before {
  content: "\e900";
}
.icon-icon-back:before {
  content: "\e901";
}
.icon-icon-hide:before {
  content: "\e902";
}
.icon-icon-more:before {
  content: "\e903";
}
.icon-icon-archive:before {
  content: "\e904";
}
.icon-icon-ask:before {
  content: "\e905";
}
.icon-icon-bar:before {
  content: "\e906";
}
.icon-icon-done:before {
  content: "\e907";
}
.icon-icon-down:before {
  content: "\e908";
}
.icon-icon-edit:before {
  content: "\e909";
}
.icon-icon-fail:before {
  content: "\e90a";
}
.icon-icon-left:before {
  content: "\e90b";
}
.icon-icon-plus:before {
  content: "\e90c";
}
.icon-icon-point:before {
  content: "\e90d";
}
.icon-icon-right:before {
  content: "\e90e";
}
.icon-icon-trash:before {
  content: "\e90f";
}
