<template>
    <div class="alert alert-dismissible fade show" :class="alertClass" role="alert" v-if="msg">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click.prevent="closeError">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>
<script>
export default {
    name: 'Alert',
    props: ['msg', 'type'],
    computed: {
        alertClass () {
            return [this.type]
        }
    },
    methods: {
        closeError () {
            this.$bus.$emit('clearError')
        }
    }
}
</script>

