<template>
    <div class="fake-input-control fake-dropdown dropdown-start sdl-menu" id="dl-menu" @keyup.esc="hideDropdown()">
        <a class="form-control input-control sld-trigger" href="#" v-if="!isMobile" @click.prevent="toggleDropdown()">
            <div class="input-label-wrapper">
                <span class="fake-label" v-text="convertDisplayInput"></span>
                <span class="icon-dropdown">
                    <i class="icon-icon-down icon-b"></i>
                </span>
            </div>
        </a>
        <div class="sdl-menu-content" :class="[showDropdown ? 'sdl-menuopen' : '']" :style="styleOfDropdown">
            <div class="wrapper" :class="[isShowDatePicker ? 'show-calendar' : '']">
                <div class="block-picker block-main">
                    <div class="block-picker-wrapper block-pick-start-main">
                        <ul class="dropdown-pick-list">
                            <li class="dropdown-pick-item" v-for="(item, key) in listDropdown" :key="key" :class="getClassOfDate(item)">
                                <a href="#" @click.prevent="selectedDate(item.date.toDate())">
                                    <span class="dropdown-pick-label">{{ item.label }}</span>
                                    <span class="dropdown-pick-format">{{ item.dateFormat }}</span>
                                </a>
                            </li>
                            <li class="dropdown-pick-item pick-custom sdl-toggle" @click.prevent="toggleCalendarPicker">
                                <a href="#">
                                    <span class="dropdown-pick-label">{{ $t('common.custom') }}</span>
                                    <span class="dropdown-pick-icon"><i class="icon-icon-right icon-b"></i></span>
                                </a>
                                <ul class="dl-submenu">
                                    <li>
                                        
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-picker block-calendar">
                    <div class="block-picker-wrapper block-pick-start-sub">
                        <ul class="dropdown-pick-list">
                            <li class="dropdown-pick-item item-custom sdl-back sdl-toggle" @click.prevent="toggleCalendarPicker">
                                <a href="#" class="item-close-custom">
                                    <span class="dropdown-pick-label"><i class="icon-icon-left icon-b"></i> {{ $t('common.custom') }}</span>
                                </a>
                            </li>
                        </ul>
                        <date-picker :language="getLang" :inline="true" :monday-first="iso"  :value="convertedCurrentDate" @selected="selectedDate"/>
                    </div>
                </div>
            </div>
        </div>
        

        <input type="date" v-if="isMobile" class="form-control input-control mobile-date"
            :value="getStartDate()" :data-date="getStartDate()" @change="changeStartDate" :max="maxDate">
    </div>
</template>

<script>
import DropdownCalendar from '@/components/ui/common/DropdownCalendar'
import DatePicker from '@/plugins/vuejs-datepicker/src/components/Datepicker'
import { mapGetters } from 'vuex'
import moment from 'moment'
import * as language from '@/plugins/vuejs-datepicker/dist/locale'

import appUtils from '@/utils/appUtils'

export default {
    name: 'DropdownStart',
    props: ['date', 'eventName', 'isMobile'],
    components: {DropdownCalendar, DatePicker},
    computed : {
        ...mapGetters(['iso', 'lang']),
        convertedCurrentDate () {
            return moment(this.date, 'X').toDate()
        },
        convertDisplayInput () {
            let currentStartDate = parseInt(moment(this.date, 'X').startOf('day').format('X'))
            let dateFormat = null
            this.listDropdown.forEach(dateItem => {
                if (dateItem.seconds === currentStartDate) {
                    dateFormat = dateItem.label
                }
            })

            if (dateFormat === null) {
                dateFormat = moment(this.date, 'X').format('MMM DD, YYYY')
            }
            return dateFormat
        },
        listDropdown () {
            return this.getListDropdown()
        },
        maxDate () {
            return moment().format('YYYY-MM-DD')
        },
        getLang () {
            try {
                if (language && language[this.lang]) {
                    return language[this.lang]
                }
                return language.en
            } catch(error) {
                return language.en
            }
        },
        styleOfDropdown() {
            let _height = 0
            let status = this.showDropdown

            if (this.isShowDatePicker)
                _height = $('.block-pick-start-sub').height()
            else
                _height = $('.block-pick-start-main').height()

            return {height: _height+'px'}
        }
    },
    data () {
        return {
            showDropdown: false,
            isShowDatePicker: false,
        }
    },
    methods: {
        getListDropdown () {
            return appUtils.getListDropdown(this.$i18n, this.lang)
        },
        hideDropdown() {
            this.isShowDatePicker = false
            this.showDropdown = false
        },
        getStartDate() {
            return appUtils.getStartTime(this.date).format('YYYY-MM-DD')
        },
        changeStartDate(event) {
            let value = event.target.value

            let newDate = moment(value, 'YYYY-MM-DD').toDate()
            this.$bus.$emit(this.eventName, newDate)
        },
        toggleDropdown() {
            this.showDropdown = !this.showDropdown
        },
        toggleStartDateDropdown () {
            this.isShowDatePicker = !this.isShowDatePicker
            this.$bus.$emit('toggleStartDateDropdown', this.isShowDatePicker)
        },
        selectedDate (date) {
            this.$bus.$emit(this.eventName, date)
            this.hideDropdown()
        },
        getClassOfDate(date) {
            let currentDateX = parseInt(moment(this.convertedCurrentDate).format('X'))
            let result = []
            if (date.seconds === currentDateX)
                result.push('active')

            return result
        },
        getBlockHeight() {
            let listDom = ['.block-pick-main', '.block-pick-sub']
            listDom.forEach(dom => {
                let _height = $(dom).height()
                $(dom).closest('.block-picker').css({height: _height + 'px'})
            })
        },
        toggleCalendarPicker() {
            this.isShowDatePicker = !this.isShowDatePicker
        }
    },
    mounted () {
        this.$bus.$on(this.eventName, (date) => {
            this.isShowDatePicker = false
        })

        $(window).on('click', (e) => {
            let target = $(e.target)
            let parent = this.$el
            let isClickInside = target.closest(parent).length

            if (!isClickInside) {
                this.hideDropdown()
            }
        })

        setTimeout(() => {
            this.getBlockHeight()
        }, 200)
    }
}
</script>

<style>
    .mobile-date {
        line-height: 35px
    }
</style>
