<template>
    <div class="fake-input-control fake-dropdown sdl-menu" @keyup.esc="hideDropdown()" id="menustart">
        <a class="form-control input-control sld-trigger" href="#" @click.prevent="toggleDropdown">
            <div class="input-label-wrapper">
                <span class="fake-label" v-text="getLabelText()"></span>
                <span class="icon-dropdown">
                    <i class="icon-icon-down icon-b"></i>
                </span>
            </div>
        </a>
        <ul class="dropdown-pick-list dropdown-pick-calendar bg-white box-shadown-1 sdl-menu-content sdl-menu-single" 
            v-if="isShowDropdown" 
            :class="[isShowDropdown ? 'sdl-menuopen' : '']"
        >
            <li class="dropdown-pick-item" v-for="(text, value) in options" 
                :key="value" :value="value" :class="getClassActive(value)"
                @click.prevent="selectInput(value)"
                >
                <a href="#">{{ $t(text) }}</a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'DropdownInput',
    props: ['options', 'selectIndex', 'eventName'],
    data () {
        return {
            selectedValue: null,
            isShowDropdown: false,
            defaultEventName: 'selectedFakeInput'
        }
    },
    methods: {
        selectInput (value) {
            let eventName = this.eventName ? this.eventName : this.defaultEventName
            this.$bus.$emit(eventName, parseInt(value))
            this.toggleDropdown()
        },
        getClassActive (value) {
            let result = []
            if (parseInt(value) === parseInt(this.selectIndex)) {
                result.push('active')
            }

            return result
        },
        getLabelText () {
            let labelText = this.options[this.selectIndex]
            if (!labelText) {
                labelText = 'Please select'
            } else {
                labelText = this.$t(labelText)
            }
            return labelText
        },
        toggleDropdown () {
            this.isShowDropdown = !this.isShowDropdown
        },
        hideDropdown () {
            this.isShowDropdown = false
        }
    },
    mounted () {
        $(window).on('click', (e) => {
            let target = $(e.target)
            let parent = this.$el
            let isClickInside = target.closest(parent).length

            if (!isClickInside) {
                this.hideDropdown()
            }
        })
    }
}
</script>