<template>
    <div class="dropdown-repeat-list fake-input-control fake-dropdown sdl-menu sdl-repeat-menu dropdown-list-bg-check" id="dropdown-repeat" @keyup.esc="hideDropdown()">
        <a class="form-control input-control sld-trigger" href="#" @click.prevent="toggleDropdown()">
            <div class="input-label-wrapper">
                <span class="fake-label input-display-text" v-text="getCurrentRegularlyText(regularly, lang)"></span>
                <span class="icon-dropdown">
                    <i class="icon-icon-down icon-b"></i>
                </span>
            </div>
        </a>
        <div class="sdl-menu-content" :class="[showDropdown ? 'sdl-menuopen' : '']" :style="styleOfDropdown">
            <div class="wrapper" :class="[showChildPicker ? 'show-calendar' : '']">
                <div class="block-picker">
                    <div class="block-picker-wrapper block-pick-main">
                        <div v-for="(group, key) in dropdownData" :key="key" class="group-list">
                            <li v-for="(groupItem, key) in group" :key="key" :class="[groupItem.class]">
                                <a class="dropdown-item dropdown-item-parent"
                                    v-if="!groupItem.childs"
                                    href="#" 
                                    :class="isActiveRegularly(groupItem.value)" 
                                    @click.prevent="selectRegularly(groupItem.value)">{{ groupItem.label }}</a>
                                <a class="dropdown-item dropdown-item-parent item-open-custom"
                                    v-if="groupItem.childs"
                                    @click.prevent="toggleChildPicker"
                                    href="#" 
                                    :class="isActiveRegularly(groupItem.value)">
                                    <span class="dropdown-pick-label">{{ groupItem.label }}</span>
                                    <span class="dropdown-pick-icon"><i class="icon-icon-right icon-b"></i></span>
                                    </a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="block-picker block-select-multi">
                    <div class="block-picker-wrapper block-pick-multi">
                        <div class="group-list">
                            <li class="dropdown-pick-item sdl-back sdl-toggle">
                                <a href="#" class="dropdown-item item-close-custom" @click.prevent="toggleChildPicker">
                                    <span class="dropdown-pick-label"><i class="icon-icon-left icon-b"></i> {{ $t('common.custom') }}</span>
                                </a>
                            </li>
                            <li v-for="(childItem, key) in dropdownData[0][3].childs" :key="key"><a class="dropdown-item"  :class="isActiveRegularly(childItem.value)" href="#"  @click.prevent="selectRegularly(childItem.value, true)">{{ childItem.label }}</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import appUtils from '@/utils/appUtils'
import {mapGetters} from 'vuex'
import {regularly} from '@/configs'
import moment from 'moment'
import {habitMixins} from '@/utils/mixins'

export default {
    name: 'DropdownRepeat',
    props: ['regularly', 'eventName'],
    mixins: [habitMixins],
    computed: {
        ...mapGetters(['lang']),
        regularlyOfHabit () {
            let regularlyList = []
            if (this.regularly.indexOf('weekDays-') >= 0) {
                let dayOfHabit = this.regularly.replace(/weekDays-/g, '')
                dayOfHabit = dayOfHabit.split(',').sort()

                dayOfHabit.forEach(day => {
                    regularlyList.push('weekDays-' + day)
                })
                _.forIn(this.flatRegularlyList, (r) => {
                    if (r.value.indexOf('weekDays-') < 0)
                        return
                        
                    let tmpDays = r.value.replace(/weekDays-/g, '')
                    tmpDays = tmpDays.split(',').sort().join(',')

                    if (tmpDays === dayOfHabit.join(','))
                        regularlyList.push('weekDays-' + tmpDays)
                    
                })
            } else if (this.regularly === regularly.daily) {
                this.dropdownData[0][3].childs.forEach(day => {
                    regularlyList.push(day.value)
                })
                regularlyList.push(regularly.daily)
            } else {
                regularlyList = [this.regularly]
            }

            return regularlyList
        },
        dayOfWeekSelected () {
            let regularlyList = []
            if (this.regularly === regularly.daily) {
                this.dropdownData[0][3].childs.forEach(day => {
                    regularlyList.push(day.value)
                })
            }
            else if (this.regularly.indexOf('weekDays-') >= 0) {
                let dayOfHabit = this.regularly.replace(/weekDays-/g, '')
                dayOfHabit = dayOfHabit.split(',').sort()
                dayOfHabit.forEach(day => {
                    regularlyList.push('weekDays-' + day)
                })
            }

            console.log('regularlyList: ', regularlyList)
            return regularlyList
        },
        weekDaysList () {
            moment.locale(this.lang)
            return moment.weekdays()
        },
        styleOfDropdown() {
            let css = {}
            if (this.showChildPicker) {
                let _height = $(this.$el).find('.block-pick-multi').height()
                css = {
                    height: _height+'px',
                    overflow: 'hidden',
                    overflowY: 'hidden'
                }
            } else {
                css = {
                    height: '250px',
                    overflow: 'hidden',
                    overflowY: 'auto'
                }
            }

            return css
        },
        flatRegularlyList () {
            return this.flatRegularly(this.lang, 'full')
        }
    },
    data () {
        return {
            showDropdown: false,
            showChildPicker: false,
            storeDayOfWeek : [],
            dropdownData: [
                [
                    {label: this.$i18n.t('common.everyday'), value: 'daily'},
                    {label: this.$i18n.t('common.weekdays'), value: 'weekDays-mon,tue,wed,thu,fri'},
                    {label: this.$i18n.t('common.weekends'), value: 'weekDays-sat,sun'},
                    {
                        label: this.$i18n.t('common.custom'),
                        value: 'weekDays',
                        class: 'sdl-toggle',
                        childs: [
                            {label: this.getWeekDays(0, this.lang, this.iso), value: 'weekDays-mon'},
                            {label: this.getWeekDays(1, this.lang, this.iso), value: 'weekDays-tue'},
                            {label: this.getWeekDays(2, this.lang, this.iso), value: 'weekDays-wed'},
                            {label: this.getWeekDays(3, this.lang, this.iso), value: 'weekDays-thu'},
                            {label: this.getWeekDays(4, this.lang, this.iso), value: 'weekDays-fri'},
                            {label: this.getWeekDays(5, this.lang, this.iso), value: 'weekDays-sat'},
                            {label: this.getWeekDays(6, this.lang, this.iso), value: 'weekDays-sun'},
                        ]
                    }
                ],
                [
                    {label: this.$i18n.tc('plurals.day.per.week', 1, {num: 1}), value: 'weekly-1'},
                    {label: this.$i18n.tc('plurals.day.per.week', 2, {num: 2}), value: 'weekly-2'},
                    {label: this.$i18n.tc('plurals.day.per.week', 3, {num: 3}), value: 'weekly-3'},
                    {label: this.$i18n.tc('plurals.day.per.week', 4, {num: 4}), value: 'weekly-4'},
                    {label: this.$i18n.tc('plurals.day.per.week', 5, {num: 5}), value: 'weekly-5'},
                    {label: this.$i18n.tc('plurals.day.per.week', 6, {num: 6}), value: 'weekly-6'},
                ],
                [
                    {label: this.$i18n.tc('plurals.interval.day', 2, {num: 2}), value: 'dayInterval-2'},
                    {label: this.$i18n.tc('plurals.interval.day', 3, {num: 3}), value: 'dayInterval-3'},
                    {label: this.$i18n.tc('plurals.interval.day', 4, {num: 4}), value: 'dayInterval-4'},
                    {label: this.$i18n.tc('plurals.interval.day', 5, {num: 5}), value: 'dayInterval-5'},
                    {label: this.$i18n.tc('plurals.interval.day', 6, {num: 6}), value: 'dayInterval-6'},
                    {label: this.$i18n.tc('plurals.interval.day', 7, {num: 7}), value: 'dayInterval-7'},
                ]
            ],
            openChild: null,
            childDropdown: null
        }
    },
    methods: {
        setRepeat(_regularly) {
            this.$bus.$emit('setRegularly', _regularly)
        },
        isActiveRegularly (_regularly) {
            let classList = []
            if(this.regularlyOfHabit.indexOf(_regularly) >= 0) {
                return ['active']
            } else if (this.regularly.indexOf('weekDays-') >= 0) {
                let dayCurrent = _regularly.replace(/weekDays-/g, '')
                dayCurrent = dayCurrent.split(',').sort().join(',')

                if (this.regularlyOfHabit.indexOf('weekDays-' + dayCurrent) >= 0)
                    return ['active']

                return []
            }
            return []
        },
        hideDropdown () {
            this.showDropdown = false
            this.showChildPicker = false
        },
        selectRegularly (_regularly, clickChild = false) {
            if (clickChild) {
                let daysOfChildSelected = this.regularlyOfHabit
                let newRegularly = Object.assign([], this.dayOfWeekSelected)
                let indexIfExists = newRegularly.indexOf(_regularly)
                if (this.dayOfWeekSelected.length < 0) {
                    newRegularly.push(_regularly)
                } else if (indexIfExists >= 0) {
                    newRegularly.splice(indexIfExists, 1)
                } else if (indexIfExists < 0) {
                    newRegularly.push(_regularly)
                }

                let newRegularlyStr = newRegularly.join(',')
                newRegularlyStr = newRegularlyStr.replace(/weekDays-/g, '')
                newRegularlyStr = newRegularlyStr.indexOf(',') === 0 ? newRegularlyStr.substr(1) : newRegularlyStr
                newRegularlyStr = newRegularly.length === 7 ? regularly.daily : 'weekDays-' + newRegularlyStr

                this.$bus.$emit(this.eventName, newRegularlyStr)
            } else {
                this.$bus.$emit(this.eventName, _regularly)
                this.hideDropdown()
            }
        },
        openChildDropdown (groupItem) {
            if (this.openChild === groupItem) {
                this.openChild = null
                this.childDropdown = null
            } else {
                this.openChild = groupItem
                this.childDropdown = groupItem
            }
        },
        getListCustom() {

        },
        toggleDropdown() {
            this.showDropdown = !this.showDropdown
        },
        toggleChildPicker() {
            this.showChildPicker = !this.showChildPicker
        }
    },
    mounted () {
        $(window).on('click', (e) => {
            let target = $(e.target)
            let parent = this.$el
            let isClickInside = target.closest(parent).length

            if (!isClickInside) {
                this.hideDropdown()
            }
        })
    }
}
</script>

<style>
.sub-menu.dropdown-box {
    position: relative;
    top: 0;
    left: 0;
    transform: 0;
    visibility: visible;
    opacity: 0;
}
</style>
