<template>
    <div class="fake-input-control fake-dropdown mb-3 dropdown-reminder" @keyup.esc="hideReminder()">
        <a class="form-control input-control" href="#" @click.prevent="toggleDropdown($event, reminder)">
            <div class="input-label-wrapper">
                <span class="fake-label">{{ reminder.key | displayManagerHabitHour }}</span>
                <span class="icon-dropdown icon-delete">
                    <i class="icon-icon-trash"></i>
                </span>
            </div>
        </a>
        <div class="dropdown-body dropdown-box" v-if="isShowDropdown">
            <div class="dropdown-input">
                <input type="text" v-mask="'##:##'"
                placeholder="__:__"
                class="form-control input-control input-date-picker" 
                @keyup.enter="setReminderHour(inputHour)"
                @keyup.esc="hideReminder"
                v-model="inputHour">
            </div>
            <div class="dropdown-pick-list">
                <div class="dropdown-pick-item" @click.prevent="setReminderHour(hour)" v-for="(hour, key) in suggestHours" :key="key">{{ hour }}</div>
            </div>
            <div class="dropdown-footer">
                <div class="dropdown-pick-item dropdown-item-delete" @click.prevent="deleteReminder(reminder)">
                    <i class="icon-icon-trash"></i>
                    {{ $t("common.delete.this.reminder") }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { VueMaskDirective } from 'v-mask'
export default {
    name: 'DropdownReminder',
    props: ['options', 'selectIndex', 'eventName', 'reminder'],
    data () {
        return {
            selectedValue: null,
            defaultEventName: 'selectedFakeInput',
            isShowDropdown: false,
            suggestList: [],
            inputHour: null,
            mask: {
                mask: '00:00',
                lazy: false
            },
        }
    },
    directives: {
      mask: VueMaskDirective
    },
    computed: {
        suggestHours () {
            return this.changeSuggest(this.inputHour)
        }
    },
    methods: {
        selectInput (value) {
            let eventName = this.eventName ? this.eventName : this.defaultEventName
            this.$bus.$emit(eventName, parseInt(value))
        },
        getClassActive (value) {
            let result = []
            if (parseInt(value) === parseInt(this.selectIndex)) {
                result.push('active')
            }

            return result
        },
        getLabelText () {
            let labelText = this.options[this.selectIndex]
            if (!labelText) {
                labelText = 'Please select'
            }
            return labelText
        },
        toggleDropdown (event, reminder) {
            let current = event.target
            let isDelete = $(current).closest('.icon-delete')

            if (isDelete.length) {
                this.deleteReminder(reminder)
            } else {
                this.isShowDropdown = !this.isShowDropdown
                if (this.isShowDropdown) {
                    this.inputHour = this.reformatHour(this.reminder.key)
                    this.changeSuggest()
                }
                this.setPositionDropdown()
                setTimeout(() => {
                    this.setPositionDropdown()
                }, 10)
            }
        },
        hideReminder () {
            this.isShowDropdown = false
        },
        onAccept (evt) {
            let newData = this.changeSuggest(evt.detail.value)
            this.suggestList = newData
        },
        changeSuggest (value) {
            let _value = value
                _value = _value === null || _value === undefined || _value.length < 0 ? '00:00' : _value

            let valueRaw = value ? value : '__:__'
            let replaceRaw = valueRaw.replace(/[_:]/g, '')
            let hourResult = []
            let _prefix = parseInt(replaceRaw)
            if (
                (replaceRaw.length === 1 && _prefix > 2) ||
                (replaceRaw.length === 2 && _prefix > 23) ||
                (replaceRaw.length === 3 && _prefix > 235) ||
                (replaceRaw.length === 4 && _prefix > 2359)
            ) {
                return []
            }

            //generate hour
            if (replaceRaw.length <= 0) {
                console.log('gen hour 0')
                for (let tmp = 0; tmp < 24; tmp++) {
                    let _hour = tmp < 10 ? '0' + tmp : tmp
                    hourResult.push(`${_hour}:00`)
                }
            } else if (replaceRaw.length == 1) { // generate hour exactly
                console.log('gen hour 1')
                let max = _prefix === 0 || _prefix === 1 ? 10 : 4
                for (let tmp = 0; tmp < max; tmp++) {
                    let _hour = parseInt(_prefix + '' + tmp)
                    _hour = _hour < 10 ? '0' + _hour : _hour
                    hourResult.push(`${_hour}:00`)
                }
            } else if (replaceRaw.length == 2) { // generate minute 10
                console.log('gen hour 2')
                let _hour = _prefix < 10 ? '0' + _prefix : _prefix
                let minute = 0
                do {
                    let tmpMinute = minute < 10 ? '0' + minute : minute
                    hourResult.push(`${_hour}:${tmpMinute}`)
                    minute += 10
                } while(minute <= 50)
            } else if (replaceRaw.length == 3) { // generate minute 5
                console.log('gen hour 3')
                let times = valueRaw.split(':')
                
                if (times[0].length == 1) {
                    let _hour = parseInt(times[0])
                    let _min = times[1]
                    if (_hour <= 0) {
                        for (let tmp = 0; tmp < 10; tmp++) {
                            hourResult.push(`0${tmp}:${_min}`)
                        }
                    } else if (_hour == 1) {
                        for (let tmp = 10; tmp < 20; tmp++) {
                            hourResult.push(`${tmp}:${_min}`)
                        }
                    } else if (_hour == 2) {
                        for (let tmp = 20; tmp < 24; tmp++) {
                            hourResult.push(`${tmp}:${_min}`)
                        }
                    }
                } else {
                    let _hour = times[0]
                    let _min = parseInt(times[1])

                    if (_min <= 0) {
                        for (let tmp = 0; tmp < 10; tmp++) {
                            hourResult.push(`${_hour}:0${tmp}`)
                        }
                    } else if (_min < 6) {
                        for (let tmp = (_min*10); tmp < ((_min + 1) * 10); tmp++) {
                            hourResult.push(`${_hour}:${tmp}`)
                        }
                    }
                }
                
            } else {
                hourResult.push(valueRaw)
            }

            this.suggestList = hourResult
            return hourResult
        },
        deleteReminder (reminder) {
            this.isShowDropdown = false
            this.$bus.$emit('deleteReminder', reminder)
        },
        reformatHour(value) {
            let splits = value.split(':')
            let hour = parseInt(splits[0])
            let minute = parseInt(splits[1])
            hour = hour < 10 ? '0' + hour : hour
            minute = minute < 10 ? '0' + minute : minute
            return `${hour}:${minute}`
        },
        setReminderHour (hour) {
            let valueRaw = hour
            let replaceRaw = valueRaw.replace(/[_:]/g, '')

            let splits = valueRaw.split(':')
            let _hour = parseInt(splits[0])
            let _minute = parseInt(splits[1])
            if (_hour > 23 || _minute > 59 || replaceRaw.length < 4) {
                return false
            }

            this.inputHour = hour
            this.$bus.$emit('saveReminder', hour, this.reminder.key, 'from dropdown reminder input')
            this.hideReminder()
        },
        setPositionDropdown () {
            let dropdown = $(this.$el).find('.dropdown-body')
            if (dropdown.length <= 0) {
                return false
            }
            let windowHeight = window.innerHeight
            let dropdownHeight = dropdown.offset().top + dropdown.height()
            
            let classList = dropdownHeight >= windowHeight ? 'dropdown-bottom' : 'dropdown-top'
            
            dropdown.removeClass('dropdown-bottom dropdown-top').addClass(classList)
        }
    },
    mounted () {
        console.log('mounted', this.reminder, this.inputHour)
        if (this.inputHour === null) {
            this.inputHour = this.reformatHour(this.reminder.key)
        }
        this.changeSuggest()

        $(window).on('click', (e) => {
            let target = $(e.target)
            let parent = this.$el
            let isClickInside = target.closest(parent).length

            if (!isClickInside) {
                this.hideReminder()
            }
        })

        $(window).on('resize', () => {
            this.setPositionDropdown()
        })
    }
}
</script>

<style>

</style>
