<template>
    <div class="dropdown-calendar-pick" :class="classStyle">
        <div class="wrapper">
            <div class="pick-main-dropdown dropdown-box">
                <!-- <ul class="dropdown-pick-list">
                    <li class="dropdown-pick-item" v-for="(item, key) in listDropdown" :key="key" :class="getClassOfDate(item)">
                        <a href="#" @click.prevent="selectedDate(item.date.toDate())">
                            <span class="dropdown-pick-label">{{ item.label }}</span>
                            <span class="dropdown-pick-format">{{ item.dateFormat }}</span>
                        </a>
                    </li>
                    <li class="dropdown-pick-item pick-custom">
                        <a href="#" @click.prevent="isShowCalendar = !isShowCalendar">
                            <span class="dropdown-pick-label">Custom...</span>
                            <span class="dropdown-pick-icon">
                                <svg viewBox="0 0 7 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Web-Sidebar" transform="translate(-216.000000, -74.000000)" fill="currentColor" stroke="currentColor">
                                            <g id="Sidebar">
                                                <g id="Group" transform="translate(28.000000, 60.000000)">
                                                    <path d="M193.853576,24.0517347 C194.048808,24.2686635 194.048808,24.6203746 193.853576,24.8373034 C193.658345,25.0542322 193.341811,25.0542322 193.14658,24.8373034 L189.1466,20.3927844 C189.052742,20.2886729 189,20.1473611 189,20 C189,19.8526389 189.052742,19.7113271 189.1466,19.6072156 L193.14658,15.1626966 C193.341811,14.9457678 193.658345,14.9457678 193.853576,15.1626966 C194.048808,15.3796254 194.048808,15.7313365 193.853576,15.9482653 L190.207095,20 L193.853576,24.0517347 Z" id="Path" transform="translate(191.500000, 20.000000) scale(1, -1) rotate(180.000000) translate(-191.500000, -20.000000) "></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                        <ul class="dl-submenu">
                            <li class="dropdown-pick-item">
                                <a href="#">
                                    <span class="dropdown-pick-label">111</span>
                                    <span class="dropdown-pick-format">222</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
                <!-- <div class="calendar-pick-dropdown">
                    <date-picker :inline="true" :monday-first="mondayFirst" :value="convertedCurrentDate" @selected="selectedDate"/>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import DatePicker from '@/plugins/vuejs-datepicker/src/components/Datepicker'

export default {
    name: 'CalendarPick',
    props: ['isShowDatePicker', 'mondayFirst', 'convertedCurrentDate', 'classStyle', 'eventName', 'listDropdown'],
    components: {DatePicker},
    computed: {
        
    },
    data () {
        return {
            isShowCalendar: false
        }
    },
    mounted () {
        this.$bus.$on('toggleStartDateDropdown', (status) => {
            
            // this.isShowCalendar = status
            // let menu = $(this.$el).find('.pick-main-dropdown')
            // let transEndEventName = 'transitionend.dlmenu'
            // let animEndEventName = 'animation.dlmenu'

            // if (status) {
            //     menu.addClass( 'dl-menuopen dl-menu-toggle' ).on( 'transitionend', function () {
            //         $( this ).removeClass( 'dl-menu-toggle' )
            //     } )
            //     // $(this.$el).find('.pick-main-dropdown').removeClass('slideInDown slideOutUp inactive active').addClass('slideInDown active')
            // } else {
			// 	let onTransitionEndFn = function() {
			// 		menu.off( transEndEventName )
			// 	}

            //     menu.removeClass( 'dl-menuopen' ).addClass( 'dl-menu-toggle' )
            //     onTransitionEndFn.call()
            // }
        })

        
    },
    destroyed () {
        this.$bus.$off('toggleStartDateDropdown')
    },
    methods: {
        selectedDate (date) {
            this.$bus.$emit(this.eventName, date)
            this.isShowCalendar = false
        },
        getClassOfDate(date) {
            let currentDateX = parseInt(moment(this.convertedCurrentDate).format('X'))
            let result = []
            if (date.seconds === currentDateX)
                result.push('active')

            return result
        }
    }
}
</script>