<template>
  <div class="fake-input-control fake-dropdown mb-3 dropdown-reminder dropdown-reminder-new" @keyup.esc="hideReminder()">
    <input
      type="text"
      class="form-control input-control input-timepicker"
      :value="inputValue"
      @click.prevent="handleClickReminder"
      @input="handleInputReminder"
      @change="handleChangeData"
      @focus="handleFocusReminder"
    >
    <span class="icon-dropdown icon-delete" @click.prevent="deleteReminder(reminder)">
        <i class="icon-icon-trash"></i>
    </span>
    <div class="dropdown-body dropdown-box" v-if="isShowDropdown">
      <div class="dropdown-pick-list">
        <div
          class="dropdown-pick-item"
          @click.prevent="setReminderHour(hour.real)"
          v-for="(hour, key) in suggestList"
          :data-time="parseInt(hour.second)"
          :key="key"
        >{{ hour.label }}</div>
      </div>
      <div class="dropdown-footer">
        <div
          class="dropdown-pick-item dropdown-item-delete"
          @click.prevent="deleteReminder(reminder)"
        >
          <i class="icon-icon-trash"></i>
          {{ $t("common.delete.this.reminder") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "DropdownReminderNew",
    props: ["options", "selectIndex", "eventName", "reminder"],
    data() {
        return {
            selectedValue: null,
            defaultEventName: "selectedFakeInput",
            isShowDropdown: false,
            newHourInput: null,
        };
    },
    computed: {
        suggestList() {
            return this.generateTimeList()
        },
        inputValue() {
            let hour = this.getInputTime(this.reminder.key)
            this.newHourInput = hour
            return hour
        }
    },
    methods: {
        hideReminder() {
            this.isShowDropdown = false;
        },
        deleteReminder(reminder) {
            this.isShowDropdown = false;
            this.$bus.$emit("deleteReminder", reminder);
        },
        setReminderHour(hour) {
            this.newHourInput = this.getInputTime(hour)
            this.$bus.$emit(
                "saveReminder",
                hour,
                this.reminder.key,
                "from dropdown reminder input"
            );
            this.hideReminder();
        },
        setPositionDropdown() {
            let dropdown = $(this.$el).find(".dropdown-body");
            if (dropdown.length <= 0) {
                return false;
            }
            let windowHeight = window.innerHeight;
            let dropdownHeight = dropdown.offset().top + dropdown.height();

            let classList =
                dropdownHeight >= windowHeight ? "dropdown-bottom" : "dropdown-top";

            dropdown.removeClass("dropdown-bottom dropdown-top").addClass(classList);
        },

        handleClickReminder(e) {
            let position = e.target.selectionStart;

            if (position >= 0 && position <= 2) {
                e.target.setSelectionRange(0, 2);
            } else if (position >= 3 && position <= 5) {
                e.target.setSelectionRange(3, 5);
            } else {
                e.target.setSelectionRange(6, 8);
            }

            this.scrollToHour()
        },
        handleChangeData(e) {
            let _value = e.target.value;

            let result = this.getInputTime(_value);

            if (result) {
                let timeMode = ((/a/i).test(result) ? 1 : 0) + ((/p/i).test(result) ? 2 : 0);
                let timeArray = result.replace(/[^0-9\:]/g, "").split(":");
                let hour = parseInt(timeArray[0])
                    hour = timeMode >= 2 ? hour + 12 : hour

                let newHour = `${hour}:${timeArray[1]}`
                this.setReminderHour(newHour)
            } 
        },
        handleInputReminder(e) {
            let _value = e.target.value;
            this.newHourInput = _value
            this.scrollToHour()
        },
        getInputTime(time) {
            let timeMode = ((/a/i).test(time) ? 1 : 0) + ((/p/i).test(time) ? 2 : 0);
            // 0 = none, 1 = AM, 2 = PM, 3 = BOTH.
            if (timeMode > 2) {
                return null
            }

            let maxHours = 24
            let timeArray = time.replace(/[^0-9\:]/g, "").split(":");

            let hour = timeArray[0] ? timeArray[0].toString() : timeArray.toString();
            let minute = timeArray[1] ? timeArray[1].toString() : "";

            // adaptive time parsing
            if (hour.length > 4) {
                hour = hour.slice(0, -2);
            }

            if (hour.length > 2) {
                minute = hour.slice(-2);
                hour = hour.slice(0, -2);
            }

            if (minute.length > 2) {
                minute = minute.slice(0, -2);
            }

            hour = parseInt(hour, 10);
            hour = hour > maxHours ? maxHours - 1 : hour
            hour = isNaN(hour) || hour == null ? 0 : hour
            if (hour > 12) {
                // Force PM.
                timeMode = 2;
                hour -= 12;
            }
            if (hour === 0) {
                // hour = 12; // AM or PM, reset to 12.  0 AM = 12 AM.  0 PM = 12 PM, etc.
                return null
            }
            hour = hour < 10 ? `0${hour}` : hour

            minute = parseInt(minute, 10);
            minute = minute > 59 ? 59 : minute
            minute = isNaN(minute) || minute == null ? 0 : minute
            minute = minute < 10 ? `0${minute}` : minute

            if (!timeMode)
                timeMode = 1

            let meridian = timeMode === 1 ? "AM" : "PM";
            let result = `${hour}:${minute} ${meridian}`
            
            return result
        },
        handleBlurReminder(e) {
            this.handleToggleDropdown()
        },
        handleFocusReminder(e) {
            this.handleToggleDropdown()
        },
        handleToggleDropdown(event) {
            this.isShowDropdown = !this.isShowDropdown
            this.setPositionDropdown()
            setTimeout(() => {
                this.setPositionDropdown()
            }, 10)
        },
        generateTimeList(mode,  hour, minute, step) {
            let listSuggest = []
            let timeModes = ['AM', 'PM']
            timeModes.forEach(timeMode => {
                let suggestChild = []
                for (let i = 1; i <= 12; i++) {
                    let hour = i < 10 ? `0${i}` : i
                    let realHour = timeMode == 'AM' ? parseInt(hour) : parseInt(hour) + 12
                    let obj = {
                        label: `${hour}:00 ${timeMode}`,
                        real: `${realHour}:00`,
                        mode: timeMode.toLowerCase(),
                        second: parseInt(realHour * 60 * 60)
                    }

                    let objHalf = {
                        label: `${hour}:30 ${timeMode}`,
                        real: `${realHour}:30`,
                        mode: timeMode.toLowerCase(),
                        second: parseInt(realHour * 60 * 60 + 30 * 60)
                    }
                    suggestChild.push(obj)
                    suggestChild.push(objHalf)
                }
                
                suggestChild.unshift(suggestChild.pop())
                suggestChild.unshift(suggestChild.pop())
                listSuggest = listSuggest.concat(suggestChild)
            });

            return listSuggest
        },
        scrollToHour() {
            let currentHour = this.newHourInput
            let seconds = this.getSecondFromHour(currentHour)
            let row = this.findRow($(this.$el).find('.dropdown-pick-list'), seconds)

            let parent = $(this.$el).find('.dropdown-pick-list')
            
            if (row && row.length) {
                parent.scrollTop(parent.scrollTop() + $(row).position().top - $(row).outerHeight())
            }
        },
        getSecondFromHour(time) {
            let _time = this.getInputTime(time)
                _time = !_time ? this.newHourInput : _time

            let _number = _time.replace(/[^0-9]/g, "")
            let _prefix = _time.replace(/[^AM|PM|am|pm]/g, "")

            let currentHour = parseInt(moment().format('hh'))
            let currentMinute = parseInt(moment().format('mm'))
            let currentTimeMode = moment().format('A')

            let minute = parseInt(_number.slice(3, 5))
            let hour = parseInt(_number.slice(0, 2))

            _prefix = _prefix ? _prefix : currentTimeMode
            let addHour = _prefix.toLowerCase() == 'am' ? 0 : 12
                addHour = hour > 12 ? 12 : addHour

            
            minute = isNaN(minute) || minute == null || minute == undefined ? currentMinute : minute
            minute = minute > 60 ? 59 : minute

        
            hour = isNaN(hour) || hour == null || hour == undefined ? currentHour : hour
            hour = hour > 24 ? 23 : hour
            hour = hour > 12 ? hour - 12 : hour
            hour += addHour

            if (minute > 45) {
                minute = 0
                hour += 1
            } else if (minute > 15) {
                minute = 30
            } else if (minute < 15) {
                minute = 0
            }
            
            return hour * 60 * 60 + minute * 60
        },
        findRow(list, value) {
            var out = false;
            list.find(".dropdown-pick-item").each(function(i, obj) {
                var jObj = $(obj);
                if (jObj.data("time") == value) {
                    out = jObj;
                    return false;
                }
            });

            return out;
        }
    },
    mounted() {
        $(window).on("click", e => {
            let target = $(e.target);
            let parent = this.$el;
            let isClickInside = target.closest(parent).length;

            if (!isClickInside) {
                this.hideReminder();
            }
        });

        $(window).on("resize", () => {
            this.setPositionDropdown();
        });
    }
};
</script>

<style>
</style>
