<template>
    <div class="main__slider--item" v-if="dataStock"> 
        <a href="#"> 
            <div class="main__slider--name"> 
                <div class="main__slider--name-link"> 
                    <p class="main__slider--abr">{{ dataStock.symbol }}</p> 
                    <p class="main__slider--full-name">{{ dataStock.name }}</p> 
                </div> 
            </div> 
        </a> 
        <div class="main__slider--btns"> 
            <a href="#sell" class="button-main ln-auto">Sell</a> 
            <a href="#buy" class="button-main ln-auto">Buy</a> 
        </div> 
        <a href="#">
            <div class="main__slider--chart"> 
            </div> 
            <div class="main__slider--price"> 
                <div class="main__slider--full-price buy"> 
                    <span class="table-tools__price" :class="getClass">{{ parseFloat(dataStock.current).toFixed(2) }}</span> 
                </div> 
                <div class="main__slider--price-change grow-up" v-text="displayText"></div> 
            </div> 
        </a>
    </div>
</template>

<script>
export default {
    name: 'DataItem',
    props: ['dataStock'],
    computed: {
        displayText() {
            let prefix = ''
            let change = parseFloat(this.dataStock.change).toFixed(2)
            if (change > 0) 
                prefix = '+'

            return prefix + change
        },
        getClass () {
            let prefix = ''
            let change = parseFloat(this.dataStock.change).toFixed(2)
            if (change > 0) 
                prefix = 'positive-price'
            else if (change < 0)
                prefix = 'negative-price'

            return [prefix]
        }
    }
}
</script>
