.block-section
    margin-bottom: 50px
    &:last-child
        margin-bottom: 0
    .block-section-head
        font-weight: $fz-semibold
        font-size: 17px
        color: $color-streak
        border-bottom: solid 1px $color-border-blue-light
        padding-bottom: 10px

    .block-section-body
        padding-top: 15px
    
    .block-form
        label
            font-weight: $fz-medium
            font-size: 13px
            @include color-streak(.5)
            letter-spacing: 0
            text-transform: uppercase
            padding-left: 5px

        .form-check-inline
            label
                color: $color-streak
                font-size: 16px
                text-transform: inherit
                font-weight: $fz-regular

    