.selectOptions
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    cursor: pointer
.box-habit
    border: solid 1px $color-border-blue-light
    border-radius: 3px
    background: $white
    .box-title
        padding: 15px 20px
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: solid 1px $color-border-blue-light
        .title-name
            font-weight: $fz-medium
            font-size: 17px
            color: $color-streak
            letter-spacing: 0
            line-height: 20px
        .title-small
            font-weight: $fz-regular

        .title-option
            text-decoration: none
            user-select: none
            *
                user-select: none
            .option-value
                font-weight: $fz-medium
                font-size: 13px
                color: $color-blue-light
                letter-spacing: 0
                position: relative
                text-decoration: none
            
            .icon-dropdown
                display: inline-block
                svg
                    width: 15px

            .dropdown
                display: inline-block

    .box-toolbox
        border-bottom: solid 1px $color-border-blue-light
        .list-toolbox
            display: flex
            align-items: center
            padding-top: 10px
            padding-bottom: 10px
            justify-content: center
            *
                user-select: none
            .toolbox-item
                display: inline-block
                margin: 0 20px
                text-align: center
                white-space: nowrap
                span
                    font-weight: $fz-medium
                    font-size: 13px
                    letter-spacing: 0
                    text-align: center
                    @include color-streak(.5)
                    border-radius: 3px
                    padding: 5px 15px
                    transition: all ease-in-out 200ms
                    cursor: pointer
                &.active, &:hover
                    span
                        color: $white
                        background: $color-blue-app

    .box-body, .box-footer
        .wrapper
            padding: 20px
    .box-footer
        border-top: solid 1px $color-border-blue-light

    .box-body
        .wrapper.wrapper-empty
            padding: 60px 20px 60px 13px !important
            .empty-text
                text-align: center !important
                font-size: 17px
                font-weight: 400
                @include color-streak(.3)
        .wrapper.wrapper-chart
            padding: 40px 10px 5px 6px

.calendar-item
    display: inline-block
    width: 14.285714285714286%
    text-align: center
    font-weight: $fz-regular
    font-size: 12px
    color: $color-streak
    letter-spacing: 0
    text-align: center
    opacity: .4
    padding-top: 15px 
    padding-bottom: 15px
    text-transform: uppercase
    user-select: none
    margin-bottom: 10px
    a.item-wrapper.day-item-wrapper
        display: inline-block
        width: 100%
        height: 100%
    &.item-day
        font-weight: $fz-regular
        font-size: 15px
        color: $color-streak
        letter-spacing: 0
        text-align: center
        opacity: 1
        padding: 0
        cursor: pointer
        margon-bottom: 20px
        &.item-disabled
            cursor: not-allowed
            opacity: 0.2
            background: none
            border-radius: 0

    &.pick-item
        background: $color-blue-light
        color: $white
        &.pick-middle
            border-radius: none
        &.pick-first
            border-radius: 1000px 0 0 1000px
        &.pick-last
            border-radius: 0 1000px 1000px 0
        &.pick-single
            border-radius: 1000px
            background: none
            span.item-content
                display: inline-block
                width: 100%
                background: url('/assets/images/bg-item-day.svg')
                background-position: center
                background-size: contain
                background-repeat: no-repeat
        &.pick-fail
            background: none
            border-radius: 1000px
            span.item-content
                display: inline-block
                width: 100%
                background: url('/assets/images/circle-weekday-fail.svg')
                background-position: center
                background-size: contain
                background-repeat: no-repeat
        &.pick-skip
            background: none
            border-radius: 1000px
            span.item-content
                display: inline-block
                width: 100%
                background: url('/assets/images/circle-weekday-skip.svg')
                background-position: center
                background-size: contain
                background-repeat: no-repeat
        &.item-disabled
            cursor: not-allowed
            opacity: 0.2
            background: none !important
            border-radius: 0 !important
            color: $color-streak

@media (min-width: 1024px)
    .selectOptions
        display: none
                
            