.btn
    &.btn-blue-app
        background-color: $color-blue-app
        color: $white
        transition: all ease .2s
        &:hover
            color: $white
            @include bg-blue-app(.8)

    &.btn-radius-3
        border-radius: 0

    &.btn-save-dialog
        font-weight: $fz-semibold
        font-size: 17px
        color: $white
        letter-spacing: 0
        text-align: center
        transition: all ease .2s
        height: 100%
        border-radius: 0

    &.btn-color-blue
        color: $color-blue-app
    &.btn-color-red
        color: $color-delete

    &.btn-setting
        font-weight: $fz-medium
        font-size: 13px
        letter-spacing: 0
        background-color: $color-topbar-hover
        transition: all ease .2s
        &:hover
            background-color: #edf0fb

@media (min-width: 1024px)
    .btn
        &.btn-radius-3
            border-radius: 3px

