.dialog-habit
    position: fixed
    top: 0
    left: 0
    z-index: 1050
    width: 100%
    height: 100%
    overflow: hidden
    overflow-y: auto
    background: rgba(0, 0, 0, 0.3)
    .dialog-habit-wrapper
        min-height: calc(100% - 3.5rem)
        max-width: 1140px
        margin: auto
        display: flex
        align-items: center
        min-height: calc(100% - 1rem)
        position: relative
        width: auto

    .dialog-content
        position: relative
        z-index: 9999
        display: flex
        flex-direction: column
        width: 100%
        pointer-events: auto
        background-color: #fff
        outline: 0
        height: 100vh
        width: 100vw
        border: none
        padding: 22px 32px 28px 30px

    .bg-habit-dialog
        position: absolute
        top: 0
        left: 0
        z-index: 1040
        width: 100vw
        height: 100vh
        background-color: rgba(0, 0, 0, .3)

    .dialog-habit-head
        display: flex
        align-items: center
        justify-content: center
        position: relative
        padding-top: 10px
        padding-bottom: 10px
        border-bottom: solid 1px $color-boder-habit-item
        .title-name
            font-weight: $fz-medium
            font-size: 18px
            color: #3E3F42
            text-align: center
        .btn-close
            width: auto
            padding: 0 5px
            height: 100%
            color: $color-streak
            text-align: center
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            top: 0
            left: 10px
            font-size: 14px
            cursor: pointer
            transition: all ease .2s
            i
                font-size: 13px

    .dialog-habit-body
        height: calc(100vh - 100px)
        overflow: hidden
        overflow-y: auto
        padding: 0 15px
    
    .dialog-habit-footer
        height: 50px


@media (min-width: 1024px)
    .dialog-create-habit
        position: fixed
        top: 0
        left: 0
        z-index: 1050
        width: 100%
        height: 100%
        overflow: hidden
        overflow-y: auto
        background: rgba(0, 0, 0, 0.3)
        .dialog-habit-body
            height: auto
            overflow: inherit
        .dialog-habit-wrapper
            min-height: calc(100% - 3.5rem)
            max-width: 661px
            margin: auto
            display: flex
            align-items: center
            min-height: calc(100% - 1rem)
            position: relative
            width: auto
            .dialog-content
                position: relative
                z-index: 9999
                display: flex
                flex-direction: column
                width: 100%
                pointer-events: auto
                background-color: #fff
                background-clip: padding-box
                border-radius: .3rem
                outline: 0
                height: auto
        .bg-habit-dialog
            position: absolute
            top: 0
            left: 0
            z-index: 1040
            width: 100vw
            height: 100vh
            background-color: rgba(0, 0, 0, .3)

        .dialog-habit-head
            display: flex
            align-items: center
            justify-content: space-between
            padding: 0
            border-bottom: none
            .title-name
                font-weight: $fz-semibold
                font-size: 24px
                color: $color-streak
            span.btn-close
                width: 30px
                height: 30px
                border-radius: 1000px
                @include bg-color-streak(.5)
                color: $white
                font-size: 16px
                position: relative
                &:hover
                    @include bg-color-streak(.9)

        .dialog-habit-body
            padding: 0

        .btn.btn-add-habit
            font-size: 17px
            padding: 0