.dropdown
    a
        text-decoration: none

    .dropdown-menu
        border: none
        padding: 0
        background: $white
        box-shadow: 0 1px 4px 0 rgba(84,92,119,0.30)
        margin-top: 0
        a
            font-weight: $fz-medium
            font-size: 15px
            color: $color-streak
            letter-spacing: 0
            padding: 15px
            min-width: 300px
            border-bottom: solid 1px $color-border-blue-light
            cursor: pointer
            &.active, &:hover
                color: $color-blue-app
                background: none
            &.active
                background: url(/assets/images/check.svg) no-repeat
                background-position: center right 15px

.dropdown-list-bg-check
    .dropdown-item
        &.active
            background-image: url(/assets/images/check.svg)
            background-repeat: no-repeat
            background-position: center right 15px
