.empty-stage {
    display: flex;
    align-items: center;
    justify-content: center;

    .stage-info {
        margin-top: 40px;
    }

    .stage-title {
        font-weight: $fz-semibold;
        font-size: 22px;
        line-height: 29px;
        color: $color-streak;
        letter-spacing: 0;
        text-align: center;
    }
    .stage-desc {
        font-weight: $fz-regular;
        font-size: 17px;
        @include color-streak(.5);
        letter-spacing: 0;
        text-align: center;
        line-height: 27px;
        margin: auto;
        max-width: 80vw;
        margin-top: 5px;
    }


    .stage-thumb {
        text-align: center;
    }
    .img-stage {
        max-width: 50vw;
        width: 350px;
        display: inline-block;
    }

    .btn-actions {
        margin-top: 25px;
    }
}
#app {
    &.Journal, &.Progress {
        &.emptyPage {
            .row-app {
                .main-app {
                    height: 100vh;
                    padding: 0;
                    margin-top: 0;
                }
                .main-content {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &.Journal {
        &.emptyToday {
            .row-app {
                .main-app {
                    height: 100vh;
                    padding: 0;
                    margin-top: 0;
                }
                .main-content {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .empty-stage {
        .stage-desc {
            max-width: 350px;
        }
        // .img-stage {
            // width: 450px;
            // max-width: 450px;
        // }
    }
}

@media (min-width: 1200px) {
    .empty-stage {
        // .img-stage {
            // width: 500px;
            // max-width: 500px;
        // }
    }
}