.custom-form
    .form-group
        margin-bottom: 25px
    .label-control
        @include color-streak(.5)
        text-transform: uppercase
        font-weight: $fz-medium
        font-size: 13px
        line-height: 15px
        padding-left: 10px
        padding-right: 10px
        // padding-bottom: 3px
        margin-bottom: 8px
    .icon-tooltip
        font-size: 18px

    .form-control.input-control
        @include bg-body(1)
        border: none
        min-height: 60px
        font-size: 17px
        font-weight: $fz-medium
        @include color-streak(1)
        text-decoration: none
        padding-left: 20px
        &::placeholder
            font-weight: $fz-medium
            font-size: 17px
            @include color-streak(.3)
            letter-spacing: 0
        &:disabled, &[readonly]
            background-color: $color-bg-body
            border-color: $color-bg-body
            @include color-streak(.5)
            cursor: not-allowed

    .fake-input-control
        position: relative
        
        a
            text-decoration: none
        .input-label-wrapper
            display: flex
            width: 100%
            height: 100%
            align-items: center
        .input-display-text
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
        .input-icon
            font-weight: bold

    .fake-dropdown
        user-select: none
        *
            user-select: none
        .input-label-wrapper
            justify-content: space-between

        .dropdown-body
            position: absolute
            width: 100%
        .dropdown-list-border
            .dropdown-item
                border-bottom: solid 1px $color-border-blue-light
                &:last-child
                    border-bottom: none
        .group-list
            border-bottom: solid 1px $color-border-blue-light
            list-style: none
        li
            position: relative
            // display: inline-block
            width: 100%
            &.divider
                border-bottom: solid 1px $color-border-blue-light
            &.has-child
                > a
                    background: url("/assets/images/sidebar/right-arrow.svg") no-repeat
                    background-position: center right 15px
                &:hover
                    .sub-menu
                        opacity: 1
                        transform: translate3d(0, 0, 0)
                        visibility: visible
        .sub-menu
            position: absolute
            top: 0
            left: 100%
            min-width: 250px
            padding: 0
            margin: 0
            opacity: 0
            visibility: hidden
            transition: all ease 200ms
            transform: translate3d(-100px, 0, 0)
        .dropdown-item
            font-weight: $fz-medium
            font-size: 15px
            @include color-streak(1)
            letter-spacing: 0
            display: inline-block
            width: 100%
            min-height: 35px
            vertical-align: middle
            cursor: pointer
            padding-top: 10px
            padding-bottom: 10px
            &:hover, &.active
                @include blue-app(1)
                @include bg-blue-app(.03)
            &.item-open-custom
                display: flex
                align-items: center
                justify-content: space-between
            &.item-close-custom
                display: flex
                align-items: center
                justify-content: space-between
                padding-left: 15px
                border-bottom: solid 1px $color-border-blue-light