<template>
    <div class="habit-list">
        <!-- <ul class="habit-list-of-day"> -->
        <transition-group :name="transitionGroup" tag="ul" class="habit-list-of-day" id="dashboard-habit-list">
            <li class="habit-item" v-for="(habit, key) in habits" :key="habit.key" :data-id="habit.key">
                <a href="javascript:void(0)" @click.prevent="selectHabit($event, habit)">
                    <span class="area-click-status">
                        <span class="icon-status" :class="getIconClass(habit)">
                            <img src="/assets/images/habit/icon-done-white.svg" alt="" class="img-fluid icon-complete" v-if="getHabitStatusByDay(habit.content, currentDate) === habitStatus.done">
                            <img src="/assets/images/habit/icon-skip-white.svg" alt="" class="img-fluid icon-skip" v-if="getHabitStatusByDay(habit.content, currentDate) === habitStatus.skip">
                            <img src="/assets/images/habit/icon-fail-white.svg" alt="" class="img-fluid icon-failed" v-if="getHabitStatusByDay(habit.content, currentDate) === habitStatus.fail">
                        </span>
                    </span>
                    <span class="habit-information">
                        <span class="habit-name" v-text="habit.content.name"></span>
                        <habit-current-status :habit="habit" :currentDate="currentDate" :key="habit.key"/>
                    </span>
                    <span class="habit-actions" v-if="deviceType === deviceTypes.pc">
                        <span class="action-item item-skip">
                            <span class="icon-action">
                                <svg viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-690.000000, -150.000000)" fill="currentColor" stroke="currentColor" stroke-width="0.7">
                                            <g id="Group-23" transform="translate(672.000000, 85.000000)">
                                                <g id="Group-22" transform="translate(0.000000, 49.000000)">
                                                    <g id="arrow-1-right" transform="translate(19.000000, 17.000000)">
                                                        <path d="M7.90686063,0.219640887 C7.6341828,-0.0732136292 7.19208469,-0.0732136292 6.91940685,0.219640887 C6.64672902,0.512495404 6.64672902,0.98730639 6.91940685,1.28016091 L10.6157243,5.24998584 L0.807499729,5.24998584 C0.421816798,5.24998584 0,5.58577862 0,6 C0,6.41422138 0.421816798,6.75001416 0.807499729,6.75001416 L10.6157243,6.75001416 L6.91940685,10.7198391 C6.64672902,11.0126936 6.64672902,11.4875046 6.91940685,11.7803591 C7.19208469,12.0732136 7.6341828,12.0732136 7.90686063,11.7803591 L12.7952457,6.53026001 C12.9263357,6.38970928 13,6.19893796 13,6 C13,5.80106204 12.9263357,5.61029072 12.7952457,5.46973999 L7.90686063,0.219640887 Z" id="Path"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            {{ $t('common.skip') }}
                        </span>
                        <span class="action-item item-fail">
                            <span class="icon-action">
                                <svg viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Journal" transform="translate(-692.000000, -194.000000)" fill="currentColor" stroke="currentColor">
                                            <g id="Group-23" transform="translate(672.000000, 85.000000)">
                                                <g id="Group-22" transform="translate(0.000000, 107.000000)">
                                                    <g id="Group-7" transform="translate(21.000000, 0.000000)">
                                                        <g id="delete-symbol-1" transform="translate(0.000000, 3.000000)">
                                                            <path d="M6.48058005,5.49154343 L10.8070108,1.16511269 C11.0675538,0.89535263 11.0638276,0.466555501 10.7986361,0.201363929 C10.5334445,-0.063827643 10.1046474,-0.0675537742 9.83488731,0.192989213 L5.50845657,4.51941995 L1.18202583,0.192989213 C0.912265772,-0.0675537742 0.483468643,-0.063827643 0.218277071,0.201363929 C-0.0469145008,0.466555501 -0.0506406319,0.89535263 0.209902355,1.16511269 L4.53633309,5.49154343 L0.209902355,9.81797417 C0.0311824824,9.99058759 -0.0404934143,10.246202 0.0224233527,10.4865719 C0.0853401198,10.7269418 0.273058237,10.9146599 0.513428095,10.9775766 C0.753797954,11.0404934 1.00941241,10.9688175 1.18202583,10.7900976 L5.50845657,6.46366691 L9.83488731,10.7900976 C10.1046474,11.0506406 10.5334445,11.0469145 10.7986361,10.7817229 C11.0638276,10.5165314 11.0675538,10.0877342 10.8070108,9.81797417 L6.48058005,5.49154343 Z" id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>    
                            </span>
                            {{ $t('common.fail') }}
                        </span>
                    </span>
                </a>
            </li>
        </transition-group>
        <!-- </ul> -->
    </div>
</template>

<script>
    import { checkHabit, habitMixins } from '@/utils/mixins'
    import { habitStatus, deviceTypes, eventNames, timeOfDayPath, labelTimeOfDayPath, timeOfDay } from '@/configs'
    import moment from 'moment'
    import _ from 'lodash'
    import { mapGetters } from 'vuex'
    import HabitCurrentStatus from '@/components/includes/dashboard/HabitCurrentStatus'

    export default {
        name: 'HabitList',
        props: {
            transitionGroup: {default: 'habit-list'},
            habits: {
                type: [Object, Array],
                default: []
            },
            currentDate: {
                type: [Object],
                default: moment()
            },
        },
        components: {
            HabitCurrentStatus
        },
        data () {
            return {
                habitStatus: habitStatus,
                deviceTypes: deviceTypes,
                itemMenu: JSON.stringify({
                        complete: {name: this.$i18n.t('common.complete'), className: "context-item context-item-complete"},
                        skip: {name: this.$i18n.t('common.skip'), className: "context-item context-item-skip"},
                        fail: {name: this.$i18n.t('common.fail'), className: "context-item context-item-fail"},
                        edit: {name: this.$i18n.t('common.edit'), className: "context-item context-item-edit"},
                        archive: {name: this.$i18n.t('common.archive'), className: "context-item context-item-archive"}
                    })
            }
        },
        computed: {
            ...mapGetters(['user', 'deviceType', 'currentTimeOfDay']),
            habitRefer: {
                get() {return this.$store.getters.habitRefer},
                set (name) {this.$store.dispatch('setHabitDetailRefer', name)}
            },
        },
        mixins: [checkHabit, habitMixins],
        methods: {
            initData () {
                let currentScene = this

                let itemMenu = JSON.parse(currentScene.itemMenu)
                let newItemMenu = $('.itemMenu').val()
                console.log('itemMenu: ', itemMenu, newItemMenu)
                $('.habit-list-of-day').contextMenu({
                    selector: '.habit-item', 
                    className: 'context-habit-list',
                    callback: function (key, options, e) {
                        let currentItem = $(this)
                        let habitId = currentItem.attr('data-id')
                        let habit = _.findLast(currentScene.habits, (obj) => {return obj.key === habitId})
                        if (!habitId || !habit)
                            return false;
                        currentScene.processContextMenu(habit, key)
                    },
                    items: {
                        complete: {name: this.$i18n.t('common.complete'), className: "context-item context-item-complete"},
                        skip: {name: this.$i18n.t('common.skip'), className: "context-item context-item-skip"},
                        fail: {name: this.$i18n.t('common.fail'), className: "context-item context-item-fail"},
                        edit: {name: this.$i18n.t('common.edit'), className: "context-item context-item-edit"},
                        archive: {name: this.$i18n.t('common.archive'), className: "context-item context-item-archive"}
                    },
                    events: {
                        show : function(options){
                            console.log('show', this)
                            this.addClass('habit-item-selected')
                        },
                        hide : function(options){
                            console.log('hide', this)
                            this.removeClass('habit-item-selected')
                        },
                        activated : function(options){
                            console.log('activated: ', this)           
                        }
                    }
                });
            },
            selectHabit (evt, habit) {
                let isToggleStatus = $(evt.target).closest('span.area-click-status')
                let isClickAction = $(evt.target).closest('span.habit-actions')
                let currentStatus = this.getHabitStatusByDay(habit.content, this.currentDate)
                
                if (isToggleStatus.length) {
                    let statusToggle = currentStatus > 0 ? habitStatus.none : habitStatus.done
                    this.$bus.$emit(eventNames.mainAppSetHabitStatus, habit.content, habit.key, statusToggle)
                } else if (isClickAction.length) {
                    this.habitActionProcess(evt, habit)
                } else {
                    this.$bus.$emit(eventNames.loaderIsLoading)
                    this.$bus.$emit('setCurrentHabit', habit, true)

                    let _timeOfDay = labelTimeOfDayPath.hasOwnProperty(this.currentTimeOfDay) ? labelTimeOfDayPath[this.currentTimeOfDay] : labelTimeOfDayPath[timeOfDay.anyTime]
                    console.log(timeOfDayPath, _timeOfDay)
                    this.habitRefer = {name: 'Journal', params: {time: _timeOfDay}}
                }
            },
            habitActionProcess (evt, habit) {
                let _target = $(evt.target)
                if (_target.hasClass('item-skip')) {
                    this.$bus.$emit(eventNames.mainAppSetHabitStatus, habit.content, habit.key, habitStatus.skip)
                } else if (_target.hasClass('item-fail')) {
                    this.$bus.$emit(eventNames.mainAppSetHabitStatus, habit.content, habit.key, habitStatus.fail)
                } else if (_target.hasClass('item-note')) {
                    this.$bus.$emit('setCurrentHabit', habit, true)
                }
            },
            getIconClass (habit) {
                let classList = []
                let _status = this.getHabitStatusByDay(habit.content, this.currentDate)
                if (_status === habitStatus.none)
                    classList.push('habit-item-none')
                if (_status === habitStatus.done)
                    classList.push('habit-item-done')
                if (_status === habitStatus.skip)
                    classList.push('habit-item-skip')
                if (_status === habitStatus.fail)
                    classList.push('habit-item-fail')
                return classList
            },
            processContextMenu (habit, type) {
                let habitId = habit.key
                let validStatus = {'complete': habitStatus.done, 'skip': habitStatus.skip, 'fail': habitStatus.fail}
                if (validStatus[type]) {
                    this.$bus.$emit(eventNames.mainAppSetHabitStatus, habit.content, habit.key, parseInt(validStatus[type]))
                } else if (type === 'edit') {
                    this.$bus.$emit('setCurrentHabitEdit', habit)
                } else if (type === 'archive') {
                    this.$bus.$emit(eventNames.mainAppSetArchiveHabit, habit.key, !habit.content.isArchived)
                }
            }
        },
        mounted () {
            this.$bus.$on('mainAppChangeLang', (lang) => {
                this.$nextTick(() => {
                    this.initData()
                })
            })
        }
    }
</script>
<style>
    .habit-list-move {
        transition: transform .32s !important;
    }

    /* .habit-list-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    } */

    .habit-list-enter-active,
    .habit-list-leave-active,
    .habit-list-move {
        transition: .32s cubic-bezier(0.59, 0.12, 0.34, 0.95);
        transition-property: opacity, transform;
    }
    .habit-list-leave-active {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    .habit-list-leave-to {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: center top;
    }
</style>