.detail-habit-panel
    .col-habit-6
        flex: 0 0 50%
        max-width: 50%
    .col-habit-12
        flex: 0 0 100%
        max-width: 100%
    .col-habit-6, .col-habit-12
        position: relative
        padding-left: 7.5px
        padding-right: 7.5px
    .detail-wrapper
        display: flex
        flex-wrap: wrap
        padding-left: 7.5px
        padding-right: 7.5px
        padding-top: 15px
    .habit-detail-bock
        margin-bottom: 15px
    
    .detail-column
        height: auto
        
    .col-streak
        .streak-wrapper
            height: 100%
            border: solid 1px $color-border-blue-light
            border-radius: 3px
            padding: 9px 18px 20px 21px
        .streak-number
            font-weight: $fz-semibold
            font-size: 60px
            color: $color-blue-app
            line-height: 71px
            text-align: left
            margin-bottom: 13px

        .streak-title
            font-weight: $fz-medium
            font-size: 17px
            color: $color-streak
            line-height: 20px
            margin-bottom: 4px
            
        .streak-desc
            font-weight: $fz-regular
            font-size: 15px
            @include color-streak(.3)
            line-height: 20px
        &.col-consecutive
            .streak-wrapper
                background: $white url('/assets/images/flame.svg') no-repeat
                background-position: right bottom
        &.col-target
            .streak-wrapper
                background: $white url('/assets/images/bg-target.svg') no-repeat
                background-position: right bottom

    .col-detail-left, .col-detail-right
        flex: 0 0 100%
        max-width: 100%

    .habit-row
        &.habit-row-flex
            display: flex
            flex-wrap: wrap

@media (min-width: 1024px)
    .habit-detail
        .detail-habit-panel
            .detail-column
                height: calc(100vh - 65px)
            .col-detail-left
                flex: 0 0 58.3333333333%
                max-width: 58.3333333333%
            .col-detail-right
                flex: 0 0 41.6666666667%
                max-width: 41.6666666667%
        &.has-notes
            .detail-habit-panel
                height: calc(100vh - 50px)
                overflow: hidden
                overflow-y: auto
                .col-detail-left, .col-detail-right
                    flex: 0 0 100%
                    max-width: 100%
                .detail-column
                    height: auto
                    overflow: auto

@media (min-width: 1250px)
    .habit-detail
        &.has-notes   
            .detail-habit-panel  
                .col-detail-left
                    flex: 0 0 58.3333333333%
                    max-width: 58.3333333333%
                .col-detail-right
                    flex: 0 0 41.6666666667%
                    max-width: 41.6666666667%