.habit-calendar
    *
        user-select: none
    .box-habit-calendar
        .box-title
            height: 54px
            padding-left: 10px
        .box-body
            .wrapper
                padding: 0 5px