.dropdown-calendar-picker {
    .sdl-menu-content {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.item-open-custom, .item-close-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-open-custom {padding-right: 15px;}
.item-close-custom {
    padding-left: 15px;
    border-bottom: solid 1px $color-border-blue-light
}

.sdl-menu-content {
    height: auto;
    position: absolute;
    left: 0px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(84, 92, 119, 0.3);
    overflow: hidden;
    opacity: 0;
	pointer-events: none;
	// -webkit-transform: translateY(10px);
	// transform: translateY(10px);
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 999;
    top: 100%;
    width: 100%;
    &.sdl-menu-single {
        display: block
    }
    &.has-backdrop {
        background: rgba(0, 0, 0, .2);
        position: fixed;
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        // transform: translate3d(0, 0, 0);
        transition: all ease .3s;
        &.show-calendar {
            transform: translate3d(-250px, 0, 0);
        }
    }

    .block-picker {
        flex: 0 0 100%;
        max-width: 100%;
        background: #fff;
        &.block-calendar {
            display: none;
        }
    }
}

// .sdl-menu-toggle {
// 	transition: all 0.3s ease;
// }
.sdl-menuopen {
	opacity: 1;
    pointer-events: auto;
    // transition: all 0.3s ease;
	// -webkit-transform: translateY(0px);
	// transform: translateY(0px);
}

.dropdown-start {
    .sdl-menu-content {
        .wrapper {
            width: 100%;
            &.show-calendar {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
    .block-picker {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.topbar-date-dropdown {
    .sdl-menu-content {
        display: flex;
        flex-wrap: nowrap;
        top: 50px;
        width: 100vw;
        .wrapper {
            &.show-calendar {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
}

.sdl-repeat-menu {
    .sdl-menu-content {
        .wrapper {
            width: 100%;
            &.show-calendar {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
}

@media (min-width: 1024px) {
    .sdl-menu-content {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
        position: absolute;
        .wrapper {
            width: auto;
        }
        .block-picker {
            &.block-calendar {
                display: block;
            }
        }
        &.has-backdrop {
            background: none
        }
    }
    
    .topbar-date-dropdown {
        .sdl-menu-content {
            top: 38px;
            width: 320px;
            // .block-picker {
            //     flex: 0 0 250px;
            //     max-width: 250px;
            // }
            &.has-backdrop {
                position: absolute;
                left: 0;
                background: none;
            }
        }
    }
}