#app
    .row-app
        display: flex
        margin-right: -15px
        margin-left: -15px
        .sidebar-app
            width: 270px
            max-width: 270px
            height: 100vh
            position: fixed
            top: 0
            left: 0
            transition: all ease 200ms
            transform: translate3d(-100vw, 0, 0)
            z-index: $z-sidebar
            &.active
                transform: translate3d(0, 0, 0)
        .main-app
            width: 100%
            margin-top: 50px
    .sidebar-backdrop
        background: rgba(0, 0, 0, .1)
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 100%
        min-height: 100vh
        z-index: $z-sidebar-backdrop

@media (min-width: 1024px)
    #app
        .row-app
            display: flex
            flex-wrap: wrap
            .sidebar-app
                transform: translate3d(0, 0, 0)
            .main-app
                width: calc(100% - 270px)
                margin-left: 270px