.note-habit-panel
	height: calc(100vh - 100px)
	background: $white
	border-left: solid 1px $color-border-blue-light
	position: relative
	.note-bar-wrapper
		height: 100%
	.note-head
		font-weight: $fz-medium
		font-size: 17px
		color: $color-black-app
		border-bottom: solid 1px $color-border-blue-light
		padding: 0 15px
		line-height: 50px
		display: none

	.note-type-message
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		.note-type-wrapper
			width: 100%
			height: 100%
			position: relative
		textarea
			outline: none
			box-shadow: none
			border-radius: 0
			border: none
			border-top: solid 1px $color-border-blue-light
			resize: none
			height: 80px
			font-weight: $fz-regular
			font-size: 15px
			line-height: 18px
			&::placeholder
				@include color-streak(.3)
		.send-note
			font-weight: $fz-semibold
			font-size: 15px
			color: $color-blue-app
			cursor: pointer
			position: absolute
			bottom: 10px
			right: 15px
			user-select: none

	.note-content
		height: calc(100% - 74px)
		overflow: hidden
		overflow-y: auto
		.note-list
			list-style: none
			margin: 0
			padding: 5px 0
			.note-item
				border-bottom: solid 1px $color-border-blue-light
				padding: 10px 15px
				.note-time
					font-weight: $fz-medium
					font-size: 13px
					@include color-streak(.5)
					letter-spacing: 0
					margin-bottom: 6px
					user-select: none
					span.note-delete
						display: inline-block
						width: 15px
						float: right
						cursor: pointer
						svg
							fill: currentColor
							@include color-streak(.5)
				.note-content-input
					font-weight: $fz-regular
					font-size: 17px
					color: $color-streak
					letter-spacing: 0
					line-height: 25px
					border: none
					box-shadow: none
					outline: none
					overflow: hidden
					overflow-wrap: break-word
					resize: none
					height: auto
					padding: 0

		&.note-list-empty
			display: flex
			align-items: center
			justify-content: center
			.note-list
				text-align: center
				padding-left: 10px
				padding-right: 10px
			.img-empty-note
				display: inline-block
				margin-bottom: 20px
			.empty-title
				font-weight: $fz-semibold
				font-size: 17px
				color: $color-streak
				letter-spacing: 0
				text-align: center
				line-height: 22px
			.empty-note-desc
				font-weight: $fz-regular
				font-size: 15px
				@include color-streak(.5)
				letter-spacing: 0
				text-align: center
				line-height: 24px
				max-width: 75%
				margin: auto

@media (min-width: 1024px)
	.HabitDetail
		.note-habit-panel
			height: calc(100vh - 50px)
			.note-head
				display: block
		.note-content
			height: calc(100% - 142px)

