.main-sidebar
	height: 100vh
	border-right: solid 1px $color-border-blue-light
	background-color: $bg-sidebar
	*
		user-select: none
	.sidebar-wrapper
		position: relative
		min-height: 100%
	.sidebar-content
		ul
			list-style: none
			padding: 0
			a
				font-weight: $fz-medium
				font-size: 15px
				color: $white
				line-height: 18px
				text-decoration: none
				width: 100%
				padding: 11px 15px
				display: inline-block
				transition: color ease-in-out 200ms, background-color ease-in-out 200ms
			li
				&.has-sub-menu
					position: relative
					> a
						background-image: url('/assets/images/sidebar/right-arrow-white.svg')
						background-repeat: no-repeat
						background-position: center right 15px
				&:last-child
					border-bottom: none
				&:hover, &.active
					> a
						background-color: $bg-sidebar-active-item
						.icon-sidebar
							color: $white
				&.link-more
					font-weight: $fz-semibold
					font-size: 13px
					color: rgba(255, 255, 255, .3)
					letter-spacing: 0
					text-transform: uppercase
					&:hover, &.active
						a
							background: none
							// color: rgba(255, 255, 255, .9)
					a
						font-weight: $fz-medium
						text-transform: uppercase
						font-size: 13px
						color: rgba(255, 255, 255, .3)
						letter-spacing: 0

				.icon-sidebar
					margin-right: 10px
					color: rgba(255, 255, 255, .5)

				&.item-profile
					border-radius: 3px
					padding: 13px 10px
					cursor: pointer
					.profile-avatar
						width: 42px
						height: 42px
						border-radius: 3px
						overflow: hidden
						flex: 0 0 42px
						max-width: 42px
						margin-right: 10px
					.user-display-name
						font-weight: $fz-semibold
						font-size: 15px
						color: $white
					.user-display-email
						font-weight: $fz-medium
						font-size: 13px
						color: rgba(255, 255, 255, .5)
					.user-display-email, .user-display-name
						width: 100%
						white-space: nowrap
						overflow: hidden
						text-overflow: ellipsis
						display: inline-block
					.user-informations
						max-width: calc(100% - 52px)
						flex: 0 0 100%
						display: flex
						flex-direction: column
						align-items: center
					.item-profile-wrapper
						position: relative
					.profile-content
						background-image: url(/assets/images/sidebar/icon-down.svg)
						background-repeat: no-repeat
						background-position: center right 8px
						background-size: 13px
						background-color: $bg-sidebar-profile
						display: flex
						align-items: center
						border-radius: 3px
						padding: 8px 25px 8px 10px
						

					.dropdown-profile
						position: absolute
						top: calc(100% + 5px)
						left: 0
						background: $white
						min-width: calc(100% + 20px)
						border-radius: 3px
						box-shadow: 0 1px 4px 0 rgba(84,92,119,0.30)
						z-index: $z-index-dropdown-profile
						overflow: hidden
						padding: 5px 0
						a
							color: $color-streak
							font-size: 15px
							line-height: 18px
							white-space: nowrap
							&:hover, &.active
								color: $white
								background-color: $bg-sidebar-active-item
							&.profile-item-premium
								background-color: $color-bg-body
								border-color: $color-bg-body
								@include color-streak(.5)
								&:hover, &.active
									background-color: $color-bg-body
									border-color: $color-bg-body
									@include color-streak(.5)

		.sidebar-nav
			> li
				// padding: 0 15px
				// margin-bottom: 5px
				// > a
				// 	border-radius: 3px
				&:hover, &.menu-active
					.sidebar-sub-nav
						transform: translate3d(0, 0, 0)
						opacity: 1
						display: block
				&.menu-hide
					.sidebar-sub-nav
						display: none

		.sidebar-sub-nav
			min-width: 250px
			overflow: hidden
			transition: all ease-in-out 300ms
			position: absolute
			top: 0
			left: 100%
			background-color: $bg-sidebar
			z-index: 99
			box-shadow: 0 1px 4px 0 rgba(84,92,119,0.30)
			transform: translate3d(-200px, 0, 0)
			opacity: 0
			display: none
			a
				white-space: nowrap
			li.active
				a
					background-image: url(/assets/images/check.svg)
					background-repeat: no-repeat
					background-position: center right 15px

	.sidebar-footer
		width: 100%
		position: absolute
		bottom: 0
		left: 0
		padding: 15px 30px
		border-top: solid 1px $color-border-blue-light
		background: $white
		z-index: 999
		height: 70px
		.wrapper
			display: flex
			align-items: center
			justify-content: space-between
			width: 100%
		.user-info
			.display-name
				font-weight: $fz-medium
				font-size: 15px
				color: $color-black-app
				letter-spacing: 0
				line-height: 18px
			.display-email
				font-weight: $fz-medium
				font-size: 13px
				color: $color-black-app
				opacity: .5
				letter-spacing: 0

		.user-upgrade
			.upgrade-link
				font-weight: $fz-medium
				font-size: 13px
				color: $color-blue-app
				letter-spacing: 0
				text-align: right

// for tablet
@media (min-width: 720px)
	.main-sidebar
		width: 100%

// for large screen
@media (min-width: 1024px)
	.main-sidebar
		width: 100%
