@import '../includes/topbar/calendar-pick'
@import '../includes/topbar/calendar-cp'

.app-topbar
	background: $white
	border-bottom: solid 1px $color-border-blue-light
	position: fixed
	top: 0
	left: 0
	background: #fff
	z-index: $z-topbar
	width: 100%
	*
		user-select: none
	a
		text-decoration: none
	.habit-nav-link-dark
		color: $color-streak
		text-decoration: none

	.topbar-title
		font-weight: $fz-medium
		font-size: 18px
		color: $color-streak
		text-align: center
		white-space: nowrap
		text-overflow: ellipsis
		text-decoration: none
		overflow: hidden

	.toggle-bar
		color: $color-black-app
		position: absolute
		top: 0
		left: 0
		display: flex
		align-items: center
		height: 100%
		padding-left: 21px
		font-size: 18px
		cursor: pointer

	.topbar-wrapper
		display: flex
		align-items: center
		justify-content: space-between
		padding-left: 11px
		padding-right: 11px
		height: 50px
		&.toggle-bar-mobile
			justify-content: space-around
			.toggle-bar
				display: flex

	.topbar-date
		.topbar-label-date
			border-radius: 3px
			&:hover, &.active
				background: $color-topbar-hover
				color: $color-blue-app
				.icon-select
					color: $color-blue-app
					fill: currentColor
			.icon-select
				font-size: 13px
				color: $color-status-fail
				transition: all ease-in-out 300ms
				margin-left: 3px
			span.date-dropdown
				font-weight: $fz-medium
				font-size: 18px
				color: $color-status-fail
				cursor: pointer
				padding: 4px 10px
				display: inline-block
				&:hover
					color: $color-blue-app

	.topbar-nav
		ul
			list-style: none
			margin: 0
			li
				display: inline-block
				a
					padding: 0 10px
					font-family: $fz-medium
					font-size: 14px
					color: $color-black-light
					line-height: 28px
					text-decoration: none
				&.item-upgrade
					a
						color: $color-blue-app
				svg
					width: 10px

	//dashboard
	//.topbar-date
	.topbar-timeofday
		position: absolute
		top: 0
		left: 0
		height: 100%
		display: flex
		align-items: center
		z-index: 200
		padding-left: 11px
		.topbar-timeofday-wrapper
			color: $color-blue-app
			font-weight: $fz-medium
			font-size: 14px
			@include bg-blue-app(.05)
			padding: 6px 8px
			border-radius: 3px
			cursor: pointer
			transition: all ease 200ms
			&:hover
				@include bg-blue-app(.15)
		span.icon
			font-weight: 500
		span.icon i
			font-weight: 500
			margin-right: 5px

	.left-topbar
		&.left-topbar-date
			position: absolute
			width: 100%
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			left: 0
			top: 0
			z-index: 150
		.topbar-habit-nav
			.habit-nav-link
				font-weight: $fz-medium
				font-size: 18px
				line-height: 21px
				color: $color-streak
				text-decoration: none
				svg
					width: 16px
					fill: currentColor
					color: $color-streak
				
	.right-topbar
		position: absolute
		top: 0
		right: 0
		height: 100%
		display: flex
		align-items: center
		z-index: 200
		padding-right: 11px
		.btn-edit-habit
			font-weight: $fz-medium
			font-size: 14px
			color: $color-blue-app
			display: inline-block
		.btn-new-habit
			background: $color-blue-app
			color: $white
			text-align: center
			text-decoration: none
			display: flex
			align-items: center
			justify-content: center
			border-radius: 1000px
			width: 28px
			height: 28px
			transition: all ease 200ms
			span
				display: inline-block
				font-weight: $fz-medium
				font-size: 13px
				letter-spacing: 0
				svg, img
					width: 13px
					height: 13px
			span.text-label
				display: none
				margin-left: 5px

	.topbar-wrapper-detail
		.detail-back, .detail-edit
			flex: 0 0 100%
			max-width: 25px
			text-align: center
		.detail-name
			flex: 0 0 100%
			max-width: calc(100% - 100px)

		.detail-pc-title
			flex: 0 0 100%
			max-width: calc(100% - 200px)
			text-align: left
		.detail-pc-edit
			width: auto
			white-space: nowrap
			width: 200px
			text-align: right
			display: flex
			align-items: center
			justify-content: flex-end
			.btn-habit-detail
				font-weight: $fz-medium
				font-size: 14px
				color: $color-blue-app
				text-decoration: none
				padding: 0 18px
				border-right: solid 2px $color-border-blue-light
				&.hide-notes
					padding-right: 0
					border-right: none
					font-size: 20px
					line-height: 0



@media (min-width: 1024px)
	.app-topbar
		left: 270px
		width: calc(100% - 270px)
		.topbar-timeofday
			display: none

		.topbar-title
			.icon-icon-back
				margin-left: 6px
			span.back-label
				margin-left: 8px

		.left-topbar
			&.left-topbar-date
				position: relative
				display: inherit
				width: inherit
				height: inherit
		// 	display: inherit

		.right-topbar
			.btn-new-habit
				padding: 7px 16px
				border-radius: 3px
				width: auto
				height: auto
				span.text-icon
					margin-right: 3px
				span.text-label
					display: inline-block

		.topbar-wrapper
			&.toggle-bar-mobile
				justify-content: space-between
				.toggle-bar
					display: none