.dropdown-common {
    .dropdown-pick-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .dropdown-pick-item, .dl-back {
            font-weight: $fz-medium;
            font-size: 15px;
            @include color-streak(1);
            letter-spacing: 0;
            display: inline-block;
            width: 100%;
            min-height: 35px;
            vertical-align: middle;
            cursor: pointer;
            line-height: 35px;
            &.pick-custom {
                border-top: solid 1px $color-border-blue-light;
            }
            a {
                display: flex;
                justify-content: space-between;
                padding: 5px 20px;
                transition: all ease-in-out 200ms;
                text-decoration: none;
                position: relative;
                outline: none;
                font-weight: $fz-medium;
                font-size: 15px;
                color: $color-streak;
                letter-spacing: 0;
            }
            &:hover, &.active {
                a {
                    @include bg-blue-app(.05)
                }
                a, a span {
                    color: $color-blue-app
                }
            }
        }
    }
}
