$loading-bg: #F8F9FA
$loading-text: #545C77



@keyframes rotate 
    100%
        transform: rotate(360deg)

@keyframes dash 
    0% 
        stroke-dasharray: 1,200
        stroke-dashoffset: 0
    
    50% 
        stroke-dasharray: 89,200
        stroke-dashoffset: -35
    
    100% 
        stroke-dasharray: 89,200
        stroke-dashoffset: -124
  
@keyframes color 
    0% 
        stroke: $color-blue-light
    
    40% 
        stroke: $color-blue-light
    
    66% 
        stroke: $color-blue-light
    
    80%, 90% 
        stroke: $color-blue-light
  
@keyframes placeHolderShimmer
    0%
        background-position: -468px 0
    100%
        background-position: 468px 0

.animated-background
    animation-duration: 1.25s
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    animation-name: placeHolderShimmer
    animation-timing-function: linear
    @include bg-body(.1)
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%)
    background-size: 1000px 104px
    position: relative
.animated-sidebar
    animation-duration: 1.25s
    animation-fill-mode: forwards
    animation-iteration-count: infinite
    animation-name: placeHolderShimmer
    animation-timing-function: linear
    @include bg-body(.1)
    background: linear-gradient(to right, rgba(246, 246, 246, .1) 8%, rgba(240, 240, 240, .3) 18%, rgba(246, 246, 246, .1) 33%)
    background-size: 1000px 104px
    position: relative


#app.loading
    overflow: hidden
    height: 100vh !important
    .load-block
        opacity: 1
        visibility: visible
.load-block
    position: fixed
    z-index: 99999
    background: #fff
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    transition: all ease 200ms
    .loading-wrapper
        width: 100%
        height: 100%
        display: flex
    .block
        @include bg-body(.1)
        border-radius: 2px
        width: 100%
        margin-bottom: 10px
    .block-sz-1
        height: 45px
    .block-sz-half
        width: 80px
        height: 20px
        margin-top: 26px

    .loading-sidebar
        padding: 15px
        width: 270px
        height: 100vh
        padding-top: 26px
        display: none
        background: $bg-sidebar
        flex: 0 0 100%
        max-width: 270px
    .loading-right-panel
        width: 100%
        height: 100vh
        overflow: hidden
        .right-panel-wrapper
            width: 100%
            height: 100%

    .loading-topbar
        padding: 10px 12px
        flex: 0
        .block-sz-half
            margin: 0
            width: 112px
            height: 27px
    .loading-main-content
        background: $loading-bg
        width: 100%
        height: 100%
        flex: 1
        .loading-main-content-wrapper
            display: flex
            align-items: center
            justify-content: center
            height: 100%
            text-align: center

        .loading-title
            font-weight: $fz-semibold
            font-size: 20px
            color: $loading-text
            text-align: center
        .loading-desc
            opacity: 0.5
            font-weight: $fz-light
            font-size: 20px
            color: $loading-text
            text-align: center
            line-height: 26px
            max-width: 60%
            position: relative
            margin: auto
        .loading-content
            background: $loading-bg
            z-index: 10
            position: relative
            padding: 0 20px
            font-size: 16px
        .loading-divider
            position: absolute
            display: block
            width: 100%
            height: 50%
            border-bottom: solid 1px #ccc
            left: 0
            top: 0

.loader-circle 
    width: 46px
    height: 46px
    display: inline-block


.circular-loader 
    animation: rotate 2s linear infinite
    transform-origin: center center
    width: 100%
    height: 100%

.loader-path 
    stroke-dasharray: 150,200
    stroke-dashoffset: -10
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite
    stroke-linecap: round

@media (min-width: 1024px)
    .load-block
        .loading-sidebar
            display: inline-block
